[2016-08-29 12:55] jkandasa commented on #267
We may need to configure watchdog timer to monitor and start MyController on crash. If you want to start MyController on boot, have a [look here](https://forum.mysensors.org/topic/2262/server-restart/2)

For now I do not have any clue on this. It might be issue with JDK, If you face very often change JDK version any try again.
If you remember the steps(leads crash) please report. also you may try

[2016-08-29 12:55] jkandasa commented on #267
@cimba007 Are you using `python` script engine?

[2016-08-29 14:10] cimba007 commented on #267
Nope. I just started today with the latest scnapshot and restored from a previous backup. This is the first time this java crash occured to me. I will monitore it and look if I have further issues.

As I currently start mycontroller every minute via crontask I don't expect further issues.

I am using java 1.8.0_101, only 36 versions newer then yours ;-)

http://forum.mycontroller.org/topic/34/myco

[2016-08-29 14:24] cimba007 commented on #235
I now successfully implemented enabling/disabling operation via switch thanks to your excellent example code:

![image](https://cloud.githubusercontent.com/assets/3453121/18054681/16924bb0-6e05-11e6-8921-b7b59f493d30.png)

![image](https://cloud.githubusercontent.com/assets/3453121/18054664/088fdb90-6e05-11e6-94d5-b3473d3202ac.png)

[2016-08-29 14:30] cimba007 opened #268 "[Minor improvement] Run now (Operations)"
Noticing the "run now" at the scripting section I thought this might be worth having at operations too?

![image](https://cloud.githubusercontent.com/assets/3453121/18054838/d1ef5146-6e05-11e6-97e7-95c74d4a262a.png)

Having this at **operations** it would no longer be nessesary to meddle with sensor data etc.

Just a minor improvement though ;-)

[2016-08-29 14:38] jkandasa commented on #267
@cimba007 cool, if we face this issue again we will think about it.

I do not meant that your are using old version ;) I meant that particular version might have issue.

Just a suggestion ;-)

Yes, this should be nice one. I will think about this when I get time +1

[2016-08-29 14:45] jkandasa commented on #235
@cimba007 great! This is awesome!

Yes, you are right I will create entry on http://forum.mycontroller.org and close this one.

Yes, for that reason I gave an option for operations also. We may use operations on timer, rule(multiple places). When disabling operation directly never get executed by any rules, timers.

If you have only requirement that, want to disable operations on night time, simpl

[2016-08-29 14:49] jkandasa commented on #268
@cimba007 Operations will be triggered either by rules or timers, If it is called from rules it takes caller information to form custom/default message. Which is not possible when we run stand alone. But this not applicable for all operations. I will check the code base how easy it is to implement.

[2016-08-29 14:59] jkandasa commented on #265
https://mosquitto.org/man/mqtt-7.html @ "Retained Messages"
PS: This is a feature of the broker

Yes, this will be useful, but in some cases it will be painful. say you have some sensors with on/off button. When your node is not reachable state you sent more number of on/off data. once it comes your device connected on that node will get flicker.

This might not be good for IoT projects.

[2016-08-29 15:01] jkandasa commented on #267
* * * * ~/mycontroller/bin/start.sh
Your startup script is already checking if mycontroller is running so there should be no problem .. though a service would be cleaner

@cimba007 Yes, I forget to mention this. You found it! +1

[2016-08-29 15:36] cimba007 commented on #268
ah, okay, never thought about the caller information. If it is not possible then gignore that and close the issue ;-)

[2016-08-29 15:51] cimba007 commented on #265
I am not sure which message gets send. I would assume only the "most recent" would be send but I would have to double check this. Maybe it is possbible to enable this on a "per sensor" basis.

Thinking about my "V_ARMED" switch I would find it super usefull to send the most recent status to newly connected clients (android phontes .. etc.)

[2016-08-29 16:04] #256 closed

[2016-08-29 16:29] jkandasa commented on #265
enabling per sensor basis might lead more complication. I have a plan to implement communication support  for outside devices/anything to talk with MyController. This support must have MQTT support too. So you would use this new feature once available.

We have to implement along with this https://github.com/mycontroller-org/mycontroller/issues/148

[2016-08-29 17:18] gbrd commented on #254
The problem is not systematic. I have some good inputs too.
But after some days or weeks, when I came back to emoncms inputs, I had this entries.
I will try again with latest version.

[2016-08-29 19:20] cimba007 commented on #265
To make this clear. There is a difference between persistence and retention.

http://www.hivemq.com/blog/mqtt-essentials-part-8-retained-messages
http://www.hivemq.com/blog/mqtt-essentials-part-7-persistent-session-queuing-messages

As you noted I think persistent sessions might get confusing but I still think retained messages might be usefull. Furthermore I noticed that you should not get confus

[2016-08-29 19:22] cimba007 commented on #235
If you create the entry on the forum please add a link to the forum post to the documentation too!
http://www.mycontroller.org/#/documents/user/0.0.3.Alpha2.html => Script examples

People will most likely have a look at the documentation first so this would ensure this valuable information can be easylie found.

[2016-08-31 17:22] jkandasa opened #269 "Unable to update "Variable repository" value from script"
"Variable repository" value cannot be updated with the current approach. Users needs to update this value from script.

[2016-08-31 18:11] #269 closed

[2016-08-31 18:26] jkandasa commented on #235
updated in forum, http://forum.mycontroller.org/topic/46/control-display-operations-via-script

http://www.mycontroller.org/#/documents/user/0.0.3.Alpha2.html => Script examples

Sure, I will add this on 0.0.3.Final release document.

[2016-08-31 18:52] cimba007 commented on #235
I even thought if it would be usefull to include the example in the actual mycontroller version as EXAMPLE_SCRIPT with the disabled flag set. It would be even easier to find a quickstart to scripting ;-)

[2016-09-01 07:27] Gouds opened #270 "Timers - Timer Time"
When adding a timer event 'Normal --> Daily and setting a time. Then returning to the timers list it displays an hour out.

Have to set the time one hour out for it to trigger at the Real time.

Time on the device (Clock) is set at the correct time. Only seems to be with timers

[2016-09-01 07:44] jkandasa commented on #270
@Gouds Could you please post screen shot and what is your timezone on server?

[2016-09-01 16:41] gbrd commented on #254
Not reproduced for now an the new version.

[2016-09-01 17:02] jkandasa commented on #254
@gbrd cool, I hope we fixed it some where. We will wait few more days and close this issue. If we cannot reproduce.

[2016-09-01 17:33] jkandasa commented on #255
@gbrd When we send payload(from same sensor variable) multiple times in a millisecond this error happens. Sometimes MQTT broker holds set of payloads and send to MyController with in a millisecond this error occurs.

Are you seeing this error often?

In database `timestamp` AND `sensor variable id` should be unique.

[2016-09-01 20:08] gbrd commented on #255
understood ! I seems not to be a big issue (maybe you could downgrade from ERROR to WARN or  replace "insert" with some kind of "replace" ?)

I don't use a MQTT broker.
Not reproduced since a few days, next time I will try to understood why I receive several values in the same milliseconds for the same sensor.

[2016-09-02 06:31] #270 closed

[2016-09-02 08:48] Gouds opened #271 "Restore Backup"
When Restoring a backup the Sensor Type reverted to Binary. (Was Sprinkler) Did not save the value. However Variable types was correct.

[2016-09-02 08:50] Gouds opened #272 "New Timer Time."
When Running the new build and adding/editing a timer time. The system errors out. Removing all time information on the Timer job.

2016-09-02 17:34:46,930 ERROR [Acme.Utils.ThreadPool(4)-PooledThread: Acme.Serve.Serve$ServeConnection@bfa502] [org.mycontroller.standalone.api.jaxrs.mixins.deserializers.TriggerTimeDeserializer:46] Trigger time parse error, input:[-62167280400000]
2016-09-02 17:35:18

[2016-09-02 09:08] jkandasa commented on #272
@Gouds can you refresh you browser (F5), if still face clear cache and check.

[2016-09-02 09:10] jkandasa commented on #271
@Gouds It might not be covered on your backup. Restore will change system state to backed up file state. Whatever you had when you trigger backup, your system will be moved to that state when you do restore.

[2016-09-02 14:03] jkandasa commented on #255
@gbrd This type of issue should be `ERROR`, because you can see the trace it is top level method to create entry for all tables. And we may not perform `createOrUpdate`, this will create huge performance issue. I feel we can leave this as is.

[2016-09-02 23:03] Gouds commented on #272
Complete the above and resolved the issue. The timer time is now resolved based on the latest build.

[2016-09-02 23:03] #272 closed

[2016-09-09 18:40] gbrd commented on #267
I had a similar crash :

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0xb66238f8, pid=536, tid=2851075168
#
# JRE version: Java(TM) SE Runtime Environment (8.0_65-b17) (build 1.8.0_65-b17)
# Java VM: Java HotSpot(TM) Client VM (25.65-b01 mixed mode linux-arm )
# Problematic frame:
# V  [libjvm.so+0x2e68f8]
#
# Failed to write core dump. Core dumps h

[2016-09-10 01:10] jkandasa commented on #267
@gbrd Could you please elaborate more on this, like in which case did you face this issue? Without any clue we may not find the root cause of the crash.

Thank you!

[2016-09-11 12:22] cimba007 commented on #267
I got a few crashes/errors over the last week too. As I restart mycontroller every minute by a cron-task I noticed nearly no outages .. but recently my raspberry pi hang up totally again.

Remember: I got a new micro sd card and freshly installed raspbian

Last SIGSEGV was 2 days ago ..

[Desktop.zip](https://github.com/mycontroller-org/mycontroller/files/465946/Desktop.zip)

What I can tell .. I

[2016-09-11 16:40] jkandasa commented on #267
@cimba007 @gbrd Any one of you please enable core dump and send me the dump for further analysis. To enable core dump you have run `ulimit -c unlimited` before starting MyController. To knoe more about how to enable `ulimit` please [visit this](http://www.akadia.com/services/ora_enable_core.html) or some other doc from google.

[2016-09-11 17:14] cimba007 commented on #267
I entered the command. What will happen now? Will a SIGSERGV of Java write a core-dump file we could send you?

[2016-09-11 19:38] cimba007 commented on #267
@jkandasa: Are you using the same Java version as we do?

http://forum.mycontroller.org/topic/34/mycontroller-on-raspberry-pi-rpi

If not could you maybe upgrade? This might help reproducing our crashes.

If not .. what Java-version are you using? Might be worth trying your version.

[2016-09-11 19:47] cimba007 commented on #253
With the introduction of the "Resources logs retention duration" with the default of 60 minutes I experienced no performance issues for 2 weeks. I think this topic can be closed for now. Good job!

[2016-09-11 19:47] #253 closed

[2016-09-11 19:47] #268 closed

[2016-09-12 04:05] jkandasa commented on #267
@cimba007 No I'm using old version `jdk-8u65-linux-arm32-vfp-hflt.tar.gz` you can download [from here](http://www.oracle.com/technetwork/java/javase/downloads/java-archive-javase8-2177648.html#jdk-8u65-oth-JPR)

I will upgrade to your version(`1.8.0_101`) and try.

[2016-09-12 18:42] cimba007 opened #273 "Sensortype missing?!"
I recently noticed that sensor-type seems to be bugged. This can be reproduced on the tablet too and after cleaning the cache.

![image](https://cloud.githubusercontent.com/assets/3453121/18447994/4f393134-7929-11e6-829b-79e7e6b3c9cb.png)

![image](https://cloud.githubusercontent.com/assets/3453121/18448009/5a373cde-7929-11e6-8909-47aaa192a594.png)

Also the type can't be changed manually. After s

[2016-09-12 18:49] cimba007 commented on #273
PS: Everything back to normal after a restart of the mycontroller application .. still wondering

[2016-09-15 20:55] cimba007 opened #274 "[Minor improvement] Dashboard sub-division widget"
Would it be possible to add an widget or other kind of element to further sub-divide the dashboard?

![image](https://cloud.githubusercontent.com/assets/3453121/18567224/6c01ac5e-7b97-11e6-8a6d-a947efd393ca.png)

For example show the switch-widget on the left side (1) and another widget e.g. time on the right side (2) ?

[2016-09-16 14:35] jkandasa commented on #274
@cimba007 You may use `custom widget` to achieve this requirement.

[2016-09-18 05:44] ragflyer opened #275 "Manually fix vertical scale on graph"
Hi,
is there a quick way to always show a 0% - 100% vertical scale on percentage graphs? Right now it adapts to the values in the selected timeframe.
Should we introduce a scale min and scale max value to get a consistent view?
Kind regards

[2016-09-18 15:14] jkandasa commented on #275
@ragflyer This is good requirement. Let me check is it possible to add with bullet graph.

[2016-09-18 15:43] jkandasa commented on #275
@ragflyer for now you may use heatchart. But it's not serve your request fully.

[2016-09-21 14:31] avoloshyn79 opened #276 "Previous value of variable sensor"
Good day, i need to calculate the change of sensor variable (actual value - the previous value). As an example: the current value of the power 2.4kWh, previous 1.2kWh, 1.2kWh difference, this value can be said that the involved electric kettle, and the use of Electricity can be summed up for him.

[2016-09-21 18:32] jkandasa commented on #276
@avoloshyn79 in all sensor variable we are keeping [previous value,](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/db/tables/SensorVariable.java#L92) you can use it on script

[2016-09-21 19:48] cimba007 commented on #276
@avoloshyn79: One possibility would be to calculate the total sum on the current-sensor node that is sending the data. You would then send two value to mycontroller - the current consumption and the total consumption. To get the most recent total consumption (starting value) after a node reset have a look at:

https://www.mysensors.org/download/sensor_api_20#requesting-data

(in case you are using

[2016-09-22 13:53] rayvenwalker opened #277 "Server Hangs Randomly after >24hrs runtime"
The server becomes unresponsive at apparently random intervals.  Sometimes I'll come to the website and it will not respond.  I'll run ./stop.sh and it never completes.  I give the computer a shutdown command and it hangs also.  Eventually I have to unplug the raspberry-pi to restart it.  Then i run ./start.sh and it starts up normally.  The sensor graphs show that it quit logging data several hou

[2016-09-22 15:39] jkandasa commented on #277
@rayvenwalker Which version of MyController are you using?

Can you try it on latest [SNAPSHOT version](https://drive.google.com/drive/folders/0BzuumrtRA7p6dXZ5THdURUc1blU?usp=sharing)? It has some performance fixes.

[2016-09-22 16:41] rayvenwalker commented on #277
MyController
Version
0.0.3.Alpha2
Database version
1.02.10 - 2016 Jul 29
Git commit:branch
e8afb0266ab685dcfc59b0691ec301d3a17d3fd6:master
Built on
2016-07-30T01:04:37+0530

[2016-09-22 16:43] rayvenwalker commented on #277
I'll try the snapshot... can i restore a backup from my current version to keep all the sensors configurations?

[2016-09-22 17:50] jkandasa commented on #277
@rayvenwalker Yes, it is possible to migrate between any version.

[2016-09-23 15:22] cimba007 commented on #277
@rayvenwalker: Are you sending many messages to mycontroller? In the latest snapshot version a bug was fixed that could lead to an overwhelming number of "log"-messages that could slow down mycontroller by a lot.

[2016-09-23 15:26] rayvenwalker commented on #277
I have ~40 sensors over half report their value every thirty seconds. I'll
try and give the current snapshot a try this evening.

On Fri, Sep 23, 2016 at 11:22 AM, cimba007 <notifications@github.com> wrote:

[2016-09-23 16:37] rayvenwalker commented on #277
I'm running the snapshot now.  It restored the backup and the dashboard
switches send data to the sensors but none of the graphs are updating.  the
6 - 24 hr graphs show the old data but the 1hr graphs all report no data.
Lots of errors in the log file.

On Fri, Sep 23, 2016 at 11:26 AM, rayven@organicengineer.com <
rayven@organicengineer.com> wrote:

[2016-09-23 20:11] cimba007 opened #278 "[Improvement] Purge specific "value range""
Hi,

is it much work to refine the purge filter to include "value-ranges"?

Something like this:

![image](https://cloud.githubusercontent.com/assets/3453121/18799940/ae125b4a-81da-11e6-8562-29de77829af2.png)

My normal values are ~1000 .. and I have some spikes somewhere ~60.000 but don't know the exact value.

[2016-09-23 20:13] cimba007 commented on #277
Maybe try the snapshot from fresh and not from the backup, maybe there are some unsolved problems with restoring backup although it should be possible.

[2016-09-24 16:49] ragflyer opened #279 "Variable request triggers two reply messages"
I use the following code to retrieve the current state of a relay from mycontroller after a reboot:

The request is sent once, but the circuit receives two replies, strangely with different variable states:

I could narrow it done so far, of course it could also be bad behaviour of the mysensors gateway but I don't know how to test this.

[2016-09-26 06:54] jkandasa commented on #277
@rayvenwalker Do you see any error on restore?

[2016-09-26 06:55] jkandasa commented on #278
@cimba007 for now it's taking only the exact value, But your request gives more meaningful. I will take this request and address it soon.

[2016-09-26 06:57] jkandasa commented on #279
@ragflyer Can you check in MyController `Resources logs` how many requests received from MySensors gateway?

[2016-09-26 11:51] rayvenwalker commented on #277
Lots of errors in the log when i startup after the restore.  the restore
completes sucesfully tho.  my logs are attached to a previous post.

On Mon, Sep 26, 2016 at 2:54 AM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2016-09-26 21:36] ragflyer commented on #279
I upgraded to the snapshot you mentioned in the other open issue and cannot reproduce the error there, seems fixed :)

[2016-09-26 21:36] #279 closed

[2016-09-27 20:26] cimba007 opened #280 "More relaxed constrains for "grouped sensor graph""
Hi,

is it possible to allow a more relaxed version of grouped sensor graph? I would like to show values of type VAR_1 or VAR_2 from mysensors.

The have an arbitrary "double" value but its range is within my control and can be made equal even though it is VAR_1 and VAR_2 ..

The current view allows only very well defined sensors which is not so ideal for my scenario:

![image](https://cloud.githu

[2016-09-28 02:52] jkandasa commented on #280
@cimba007 Sure, I will try to address based on `Metric` type also.

[2016-09-28 04:52] cimba007 commented on #280
Hello,

i thought a metric type "raw" would be nice. With raw i would like to combine any value i want. I now that some combination just won't work or make sense but this is fine.

Thanks for your hard work :-)

Am 28. September 2016 04:52:30 MESZ, schrieb Jeeva Kandasamy <notifications@github.com>:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-09-28 05:28] ydkimnz opened #281 "Firmware update with battery powered node"
Battery powered node need some process for  firmware update.
Here is how firmware update works on battery powered node ( not 100% sure but seems how it works)
smartSleep() send heartbeat before going to sleep. Controller check firmware version when receive heartbeat signal from node then if there is new firmware, reset node.

Node should use smartSleep() instead Sleep().
ps. Sorry for poor English

[2016-09-28 10:23] Redferne opened #282 "Pressure units"
The default is PSI,  how can I change it to hPa? hPa is normally used for weather?

[2016-09-28 10:26] Redferne opened #283 "Pull data from external database"
Is it possible to pull data/variables from arbitrary MariaDB? I have a lot of sensor data from previous projects that I want to visualize in MyController.

[2016-09-28 10:30] Redferne opened #284 "Reboot/Firmware upgrade node on wakeup"
I have a lot of batterypowered sensors which are sleeping most of the time. Is it possible to set a trigger so that a reboot is sent to the node when it is awake? I use the 1.3alpha bootloader which supports firmware during bootloader bootup.

[2016-09-29 14:58] jkandasa commented on #282
@Redferne you can update on edit sensor variable page, It might not be available on 0.0.3.ry it on snapshot version.

![image](https://cloud.githubusercontent.com/assets/1004403/18959279/3331b206-8683-11e6-9886-d5d7d05ecf10.png)

[2016-09-29 15:00] jkandasa commented on #283
@Redferne There is no direct mechanism  to pull data, however you can do it via sql query. You have to shutdown MyController to access H2DB database.

[2016-09-29 15:02] jkandasa commented on #284
When we address https://github.com/mycontroller-org/mycontroller/issues/208  this issue will be addressed.

[2016-09-29 15:03] jkandasa commented on #281
@ydkimnz User might need to send reboot command when the node wake-up. This issue will be addressed on https://github.com/mycontroller-org/mycontroller/issues/208

[2016-09-29 17:11] gbrd commented on #277
I have similar problem. (On raspberry too). Unfortunately I have no additional information that could help to debug for now..
I will try on last snapshot.

[2016-09-29 18:14] Redferne commented on #282
Ah. Great. Is there an howto switch to the snapshot builds?

On Thu, 29 Sep 2016, 16:58 Jeeva Kandasamy, <notifications@github.com>
wrote:

--

///Rickard

[2016-09-29 18:17] Redferne commented on #283
I think I was unclear. I would like to pull data into MyController while
running. The data comes from an external MariaDB. Like simulating a sensor
with shell script.

On Thu, 29 Sep 2016, 17:00 Jeeva Kandasamy, <notifications@github.com>
wrote:

--

///Rickard

[2016-09-29 18:52] cimba007 commented on #277
I got no crashes for 2-3 weeks.

@jkandasa: Can u link the guide on "how to install correct java version" on the main page of this project?

https://github.com/mycontroller-org/mycontroller

Might help resolving this crashes

[2016-09-30 01:16] jkandasa commented on #282
@Redferne you can download it [from here](https://drive.google.com/drive/folders/0BzuumrtRA7p6dXZ5THdURUc1blU?usp=sharing)

[2016-09-30 01:18] jkandasa commented on #277
@cimba007 Sure, Which version are you using right now?

@gbrd What is the Java version,  MC version and gateway type are you using?

[2016-09-30 01:21] jkandasa commented on #283
@Redferne for now there is no support. We have to add code to support this feature. Or you can push data via MQTT gateway.

To push data via MQTT you have to write a code to fetch data from your database and to put data in to your database.

[2016-09-30 08:10] Redferne commented on #283
Ah, didn't think about MQTT thanks!

On Fri, 30 Sep 2016, 03:21 Jeeva Kandasamy, <notifications@github.com>
wrote:

--

///Rickard

[2016-09-30 17:03] jkandasa commented on #278
@cimba007 Currently support added for `Double` metric type.
We can use as,
* `>100`
* `<100`
* `=100`
* `100` which is equivalent to `=100`

[2016-09-30 17:39] cimba007 commented on #278
Very nice. I think this in combination with the date/time-range will greatly improve this feature.

![image](https://cloud.githubusercontent.com/assets/3453121/19000948/8272b8c0-8745-11e6-8c63-4992c617dae2.png)

Maybe instead of "Value" you could change the text to "Value (e.g. 100,>100,<100)" so everyone knows it is possible to add these kind of "ranges" without reading the manual.

[2016-09-30 17:52] cimba007 commented on #283
@Redfern: Although not totally related to mycontroller. If you only wan't to visualize your data might have a look at http://grafana.org/

Graphana can pull it's data from e.g. InfluxDB which is supported by mycontroller too! (Utilities => external Serveres).

Internally mycontroller would then store it's data in the influxdb and graphana might be used to visualzie the data from mycontroller via i

[2016-10-01 02:59] Redferne commented on #283
@cimba007

Interresting. Problem is that I have years of historical sensordata in
MySQL which I would like to visualize in the MyController dashboard. Trying
to consolidate everything into a nice stable, fast and customizable service
such as MyController. Been reading up on MQTT and it does not seem to
support pulling/publish of old data? I think actually that it would be
easier just to add a SQL

[2016-10-04 17:23] rayvenwalker commented on #277
Should I open another bug report for the backup/restore issue.  I have a very extensive configuration and it would be great to run the snapshot without re-configuring everything.

[2016-10-05 02:21] jkandasa commented on #277
@rayvenwalker Could you please update what are all the steps you have followed?

[2016-10-05 10:59] rayvenwalker commented on #277
i had downloaded the latest snapshot.  Restored the backup, without error.
But, when I start the server.  I get a lot of errors in the log and no
sensor data ever gets recorded.  I can however send the sensors a message
and that works.

On Tue, Oct 4, 2016 at 10:21 PM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2016-10-05 13:13] jkandasa commented on #277
@rayvenwalker could you please send the log file to my email? jkandasa at gmail dot com

[2016-10-07 17:54] gbrd commented on #277
I use a serial gateway
MyController
Version
0.0.3.Final-SNAPSHOT
Version de la base de données
1.03.03 - 2016 Sep 20
Git commit:branch
d493eba36db14ea0a9e0771d38824b02afa15715:development
Compilé le
2016-09-26T23:02:16+0200
Build JDK
1.8.0_91
Outil de compilation
Apache Maven 3.3.9
Description Machine Virtuelle Java
Fournisseur VM
Oracle Corporation
Nom VM
Java HotSpot(TM) Client VM
Version VM
1.8

[2016-10-07 18:08] gbrd commented on #277
Some more information, not sure it can help:

- I run mycontroller on a raspberry pi 2B.
- When it hangs, ssh does not answer, I can connect on a serial console but it hangs at first command. After that, I am forced to hard reboot the raspberry. After reboot it works well. Maybe I should activate some logs on system but I don't know which one.
- I tryed on a raspberry 1 => same problem.
- I will p

[2016-10-07 18:38] jkandasa commented on #277
@gbrd I guess the problem with OS or memory card of `RPI`.

About the following error,
[code]
MySensors has only [5 message-types](https://www.mysensors.org/download/serial_api_20) (0~4), but your node passing a type `7` which is not available. Kindly check your node.

[2016-10-09 14:25] gbrd commented on #277
I trying on another raspberry, with another SD card and a fresh OS install.
I failed to restore my backup.

[code]

tmp folder is well created in bin/ directory, it seems to contains unzipped backup.

[2016-10-09 20:54] Redferne opened #285 "New variable types: Latitude, Longitude, Elevation"
I'm missing these while importing data from GPS.

[2016-10-10 20:34] RURon opened #286 "Show used time span on graphs' X-Axis or title"
At the moment there is no indication what period of time a given graph is using (or at least the Mixed sensor graph). Maybe the specified time range should be shown in the title next to the actual title.

Being able to change the time range on the fly within the graph widget would be great as well - by means of a drop down list for example.

[![10-10-_2016_22-32-40.png](https://s15.postimg.org/teo

[2016-10-10 22:14] chuneault opened #287 "Support WUnderground"
I would like to update my WUnderground station with maybe the External Server functionality.

API Doc : http://wiki.wunderground.com/index.php/PWS_-_Upload_Protocol

[2016-10-12 09:21] fab33 commented on #208
+1

[2016-10-12 19:17] fab33 opened #288 "Handle V_FORECAST"
V_FORECAST message is not correctl displaed (N/A). With a clic, value is correct into the text box (stable)
![sans titre](https://cloud.githubusercontent.com/assets/10790326/19324273/0716f27e-90c1-11e6-86d5-3e3978ad5376.png)
![sans titre2](https://cloud.githubusercontent.com/assets/10790326/19324329/4f10e13e-90c1-11e6-9fa9-494c80a8030f.png)

[2016-10-12 19:57] Redferne commented on #288
Also, it would be nice to have support for hPa as well as psi units, or
actually any arbitrary unit.

On Wed, 12 Oct 2016, 21:17 fab33, <notifications@github.com> wrote:

--

///Rickard

[2016-10-12 21:49] fab33 commented on #288
+1 for hPA

[2016-10-14 03:39] jkandasa commented on #154
@avoloshyn79 MySQL database support added, kindly check and report if you see any errors. Thank you! You can download SNAPSHOT version [from here](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6dXZ5THdURUc1blU)

[2016-10-14 03:41] jkandasa commented on #154
Currently MyController supports for `MySQL`, `MariaDB`, `PostgreSQL`, `H2DB`, and `H2DB Embedded`.

By default MyController comes with `H2DB Embedded` database

[2016-10-14 20:03] AWiseAd opened #289 "Time format cannot be set to 24h"
In specifying the angular format 24h can be set in the date string but the clock displays AM/PM. Also does not follow system settings.

[2016-10-14 20:41] #289 closed

[2016-10-14 20:42] AWiseAd commented on #289
My mistake, is in the settings ;-)

[2016-10-19 12:51] devicter opened #290 "server not responding to the function isAck()"
if (message.isAck()) {
     Serial.println("This is an ack from gateway");
  }

 in this case it is not clear for example relays ON or OFF.

[2016-10-19 13:00] devicter opened #291 "On dashboards do not display icons (only temperature)"
On dashboards only the temperature icon.

Action board but there are icons!

[2016-10-19 13:12] jkandasa commented on #290
@devicter Is this code from `Node`. If yes, MyController is not responsible for this issue.

[2016-10-19 13:13] jkandasa commented on #291
@devicter Could you please elaborate this issue bit more?

[2016-10-19 13:30] devicter commented on #291
![action_board](https://cloud.githubusercontent.com/assets/22935773/19520320/0b87b284-963a-11e6-9250-fbbd31820f1f.png)
there is

![dash_3](https://cloud.githubusercontent.com/assets/22935773/19520517/b64374ce-963a-11e6-8a82-45c5d3d4cdc6.png)
![dash_1](https://cloud.githubusercontent.com/assets/22935773/19520496/a904ee6e-963a-11e6-9d6a-4b45f4d28512.png)
![dash_2](https://cloud.githubusercontent.com

[2016-10-19 13:41] devicter commented on #290
Strangely, however, for example on Home Assistant
https://home-assistant.io/
this function works.
in this application, the button does not show that included unless the team came from the server.
and sketch as well (in the console shows that the server has confirmed the delivery package)

"This is an ack from gateway"

[2016-10-19 13:45] devicter commented on #290
in fact of the "charm" of this function, you always know exactly what the relay is energized

[2016-10-20 07:03] jkandasa commented on #208
@pebri86 @cimba007 @fab33 smart sleep support added, but not tested fully.
Supports other than `stream` message types. When node sends `Heartbeat response` to controller. Controller sends available messages for that node. We have to enable `Smart sleep enabled` on node edit page of controller.

NOTE: When you enabled `Smart sleep enabled`, Controller never send message to that particular node. Onl

[2016-10-20 16:21] #291 closed

[2016-10-20 16:21] jkandasa commented on #291
fixed and added option to shoe hide icons on dashboard,
![image](https://cloud.githubusercontent.com/assets/1004403/19568423/24486a68-970f-11e6-80ec-90b6b8102535.png)

[2016-10-20 16:25] jkandasa commented on #290
@devicter for now, Ack not supported by MyController.

[2016-10-20 16:48] devicter commented on #291
fine

[2016-10-22 20:06] AWiseAd commented on #290
Ack is one of the (very little) missing but essential functions for MySensors. Any chance it will be added soon?

[2016-10-25 04:17] jkandasa commented on #290
I am confused on `Ack` message with MySensors. Can some one explain how it's working with controller?

It says [here](https://www.mysensors.org/download/serial_api_20)
![image](https
s here
**`ack	>> The ack parameter has the following meaning: Outgoing: 0 = unacknowledged message, 1 = request ack from destination node, Incoming: 0 = normal message, 1 = this is an ack message`**

[2016-10-25 06:42] AWiseAd commented on #290
The "ack"  is sent as feedback from the controller or node as an acknowledgement of reception. The message which is sent as ack contains the same information as was sent.
Example use:  activating a switch in the controller sends the message. The controller than waits for acknowledgement before it actually changes the switch. If the acknowledgement is not received in due time, the controller can re

[2016-10-25 07:05] jkandasa commented on #290
@AWiseAd thank you for the explanation, I have few queries,

Example use: activating a switch in the controller sends the message. The controller than waits for acknowledgement before it actually changes the switch. If the acknowledgement is not received in due time, the controller can resend the message x times. If no acknowledgement at all an error can be generated.

In our current design, we ar

[2016-10-25 07:22] jkandasa commented on #154
I am closing this issue, as this feature has implemented.

[2016-10-25 07:22] #154 closed

[2016-10-25 07:23] jkandasa commented on #208
closing this request, as this feature has implemented.

[2016-10-25 07:23] #208 closed

[2016-10-25 07:24] jkandasa commented on #284
https://github.com/mycontroller-org/mycontroller/issues/208 addressed

[2016-10-25 07:24] #284 closed

[2016-10-25 07:25] jkandasa commented on #281
https://github.com/mycontroller-org/mycontroller/issues/208 addressed

[2016-10-25 07:25] #281 closed

[2016-10-25 11:19] AWiseAd commented on #290
@jkandasa How I understand it... The "soft" Ack is handled by the MySensors protocol. If a message is send with Ack flag active, the node MySensors message handler will respond itself with an ack message set.
If an ack'ed messages comes in it can be interpreted as an acknowledgment and should not be interpreted as a "SET" messsage (so should not lead to a loop).

On the message queue..   I think a

[2016-10-26 02:57] jkandasa commented on #290
@AWiseAd  Than you for the great explanation with example code.
Now I understand somehow. It looks like we have to wait for `ack` before to proceed new message. I will try to address same way mentioned in Domoticz. When we address like this MyController processing rate will be reduced hugely. So I am going to give an option for user enable/disable `ack` support.

[2016-10-26 12:29] avoloshyn79 opened #292 "Aggregate (sum, count) values of the sensor for the period - hour, day, week, month"
It is necessary to take into account the total use water, electric energy by the period

[2016-10-26 12:47] jkandasa commented on #292
@avoloshyn79 for counter metric we have api support for the period with different interval, you have see it [supported options here](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/api/jaxrs/MetricsHandler.java#L140)

![image](https://cloud.githubusercontent.com/assets/1004403/19726241/88340982-9ba7-11e6-9aeb-0089b960576d.png

[2016-10-27 09:41] onceuponatimeincyber opened #293 "To support wildcard in MQTT topic in subscribe and public"
I tried to use MQTT as a media between Mysensors and public MQTT broker.  It quite limited that we can only subscribe or publish to only one topic for one gateway.  That means we can have only one node and only one sensors at a time to use MQTT gateway.  If we can have wildcard such as '#' to select all the node  or all the sensors to be subscribed and distribute the data to the right Node and Sen

[2016-10-27 10:17] jkandasa commented on #293
@onceuponatimeincyber Would you request to allow wildcard on MQTT gateway topic on MyController?

Currently it works as follows,
![image](https://cloud.githubusercontent.com/assets/1004403/19763632/8bec6c44-9c5c-11e6-87a2-92eb01e33cdd.png)

`mysensors_out` will be subscribed as `mysensors_out/#`
`mysensors_in` can publish on `mysensors_in/#`

[2016-10-27 12:31] jkandasa commented on #288
@fab33 for `stable` it shows `N/A` because in our map we have the same,
[code]

Kindly refer [Weather Icons](https://erikflowers.github.io/weather-icons/) and let me know the suitable one for `stable` and `unstable`, I will update. also we can add new icons here.

[2016-10-27 12:32] jkandasa commented on #288
@Redferne @fab33 Sure, i will workout on units and update soon.

[2016-10-27 12:35] jkandasa commented on #288
@Redferne @fab33 I guess for unit `hPa` addressed here, https://github.com/mycontroller-org/mycontroller/issues/282 ?

[2016-10-27 12:36] jkandasa commented on #271
I am closing this issue, I am unable to reproduce this on locally. Feel free to reopen if you face this issue.

[2016-10-27 12:36] #271 closed

[2016-10-27 12:37] jkandasa commented on #254
@gbrd Feel free to reopen if you face this issue.

[2016-10-27 12:37] #254 closed

[2016-10-27 12:39] jkandasa commented on #255
@gbrd I have included timestamp on message which is on queue. I hope this issue will not occur again.

[2016-10-27 12:39] #255 closed

[2016-10-31 04:44] jkandasa commented on #285
Added support to store data on db. however aggregation not implemented for GPS data. and yet to implement dashboard widget for GPS data.

[2016-11-01 03:38] wengjjpaul opened #294 "Resource log not working"
My resource log is not logging. Also graphs are not working. Any idea?

[code]

[2016-11-01 08:53] wengjjpaul opened #295 "No graphs on snapshot build"
The widget keeps spinning non stop

[2016-11-01 08:53] wengjjpaul opened #296 "Snapshot build cannot set timer"
Null pointer exception for all timers except simple

[2016-11-02 05:57] jkandasa commented on #294
@wengjjpaul looks like your database has been corrupted

[2016-11-02 05:58] jkandasa commented on #295
I believe https://github.com/mycontroller-org/mycontroller/issues/294 cases this issue too.

[2016-11-02 05:58] jkandasa commented on #296
I believe https://github.com/mycontroller-org/mycontroller/issues/294 cases this issue too.

[2016-11-02 05:59] jkandasa commented on #294
@wengjjpaul reinstall or stop mycontroller and delete `mycontroller/conf/mycontroller.h2.db` and start server.

[2016-11-02 13:41] wengjjpaul commented on #296
Actually the resource log case was non snapshot build. I fixed it by installing snapshot build. But snapshot build has the two issues no graphs and no timers. So it is different issues. Does anyone have the graph and timer issue on a fresh snapshot build from the Google drive?

[2016-11-02 13:46] jkandasa commented on #296
@wengjjpaul can you try clear cache of your browser and test it?

http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2016-11-02 13:48] #273 closed

[2016-11-02 14:02] wengjjpaul commented on #296
@jkandasa I have reverted back to the previous build. I will try and update again. Thanks.

[2016-11-02 14:03] wengjjpaul opened #297 "[Feature Request] Sensor button confirmation"
I would like to request for the a special sensor button which requires a simple confirmation before triggering. Maybe two clicks on the button to activate.

[2016-11-02 14:31] wengjjpaul commented on #296
@jkandasa Perfect. Hard refreshing the cache worked! Good work!

[2016-11-02 14:34] jkandasa commented on #296
@wengjjpaul thanks to report back. I am closing this issue now

[2016-11-02 14:34] #296 closed

[2016-11-02 14:34] jkandasa commented on #295
refer https://github.com/mycontroller-org/mycontroller/issues/296

[2016-11-02 14:34] #295 closed

[2016-11-02 14:35] jkandasa commented on #294
@wengjjpaul if you do not face this issue we can close this?

[2016-11-02 14:44] wengjjpaul opened #298 "Backup of dashboard, timers and operations"
Would like to check whether dashboard, timers and operations are backed up. I upgraded from alpha to snapshot restoring backup but these data are not restored.

[2016-11-02 14:45] wengjjpaul commented on #294
Fixed after a reinstall.

[2016-11-02 14:46] jkandasa commented on #298
@wengjjpaul can you send your backup file to my email let me have a look? jkandasa at gmail dot com

[2016-11-02 14:47] #294 closed

[2016-11-02 14:51] wengjjpaul commented on #298
Weird. I checked the zip myself. it is empty. I tried to make another backup. It is still empty. Size of zip is 152KB any ideas?

[2016-11-02 14:52] jkandasa commented on #298
@wengjjpaul It shouldn't be empty. default backup location would be `mycontrolloer/backup` Can you send the zip file with size 152kb?

[2016-11-02 14:53] jkandasa commented on #298
@wengjjpaul Also check are you seeing any error on backup, `mycontroller/log/mycontroller.log`

[2016-11-02 17:33] #298 closed

[2016-11-04 08:51] jkandasa opened #299 "when we use pi4j as serial driver, parsing failed"
in SNAPSHOT build parsing failed if we use `Auto` as serial driver in Raspberry PI. Seems we have issue with `pi4j` driver which is used default in Raspberry PI.

[2016-11-04 08:57] jkandasa commented on #299
For now changed Raspberry PI default driver as `jSerialComm`

[2016-11-04 13:30] fab33 commented on #288
yes it's correct.

[2016-11-05 09:59] wengjjpaul opened #300 "[Snapshot] Modified sensor configurations overriden by new presentation message"
Hi.
In alpha, i could change the sensor name and it saves even when i reset my sensors. But now it clears away when i restart my sensors. I have sensors which publish empty name which i would like to change in the browser. But everytime i change them and i reset the sensors, it reverts back to empty name.

Is it supposed to be like this?

[2016-11-05 14:52] jkandasa commented on #300
@wengjjpaul Yes, it's by design. I will try to address in someway to keep user value.

[2016-11-06 19:27] integralmedia opened #301 "PushBullet, SMS and E-Mail sending from Timer Operation"
It is not possible to send a SMS, PushBullet or E-Mail from an Operation triggered by a Timer.

This functionality could be quite useful in the case where you need to set a timeout for an occurrence of an event. For example, a door opens and remains open for an extended period of time. Upon opening the door the Timer is triggered with an interval of 30 seconds and 1 count.

Door Opens (Rule Enable

[2016-11-07 03:43] jkandasa commented on #300
@wengjjpaul Kindly check the fix on latest snapshot version and update. Right now ignores only blank values. If node sends any value other than blank will be updated.

This is applicable for node name and sensor name.

[2016-11-07 05:47] jkandasa commented on #301
@integralmedia I have pushed changes on snapshot build. check it on snapshot build and update here.

Thank you!

[2016-11-07 12:06] wengjjpaul commented on #300
Thanks. Installed and tested.

[2016-11-07 12:11] jkandasa commented on #300
@wengjjpaul I did test it locally. Does it work as we expected? If so we can close this ticket.

[2016-11-07 12:13] wengjjpaul commented on #300
@jkandasa I only used the sensor name for my case. Yes it worked as expected. Thank you.

[2016-11-07 12:14] #300 closed

[2016-11-08 03:12] #282 closed

[2016-11-09 09:53] iotmodules opened #302 "Support for SmartSleep based nodes"
The ability to send commands to the node after a heartbeat has been sent so the controller can support nodes which are using smartSleep. Would be good to have this as an option under Action board>Send Raw Message.

[2016-11-09 11:04] jkandasa commented on #302
@iotmodules can you please elaborate bit more on this? `Action board>Send Raw Message` we can send any messages from here.

[2016-11-09 13:05] iotmodules commented on #302
@jkandasa Firstly this is a great application thanks for sharing it with us all.

SmartSleep on the MySensors 2.0 framework works by sending a heartbeat then waiting MY_SMART_SLEEP_WAIT_DURATION before going to sleep.

So when a node wakes up it carries out its functions then sends a heartbeat and waits for a period of time for any messages from the controller before going to sleep.

When sending

[2016-11-09 13:13] iotmodules commented on #302
I usually use this capability with MySensors  to remotely configure nodes such as changing the reporting interval, info on location such as GPS coordinates and asking the node to represent.

It is also useful for nodes that sleep and also need to set actuators or turn other devices on or off. Anything battery powered really.

[2016-11-09 14:12] jkandasa commented on #302
@iotmodules Thank you for the detailed explanation. I gues your request already implemented on SNAPSHOT build.

Could you please check and let me know? https://github.com/mycontroller-org/mycontroller/issues/208

[2016-11-09 15:19] iotmodules commented on #302
Hi from the comments yes good news it looks like it already is. Not sure how to use SNAPSHOT build can't seem to get it to work more likely my skill level with github though.

~/mycontroller-development/dist/src/main/package/logs

Error: Could not find or load main class org.mycontroller.standalone.StartApp

[2016-11-09 15:19] #302 closed

[2016-11-09 15:31] jkandasa commented on #302
@iotmodules You no need to compile from github. I have already compiled it and places on google drive. Please have a look on http://forum.mycontroller.org/topic/58/download-snapshot-build

If you face any issue in installation, kindly let me know.

[2016-11-10 03:32] jkandasa commented on #301
@integralmedia I am closing this now. Reopen this ticket, if you face any issue.

[2016-11-10 03:32] #301 closed

[2016-11-10 03:34] jkandasa commented on #293
Closing this. If you face any issue related this, kindly reopen this ticket.

[2016-11-10 03:34] #293 closed

[2016-11-10 03:37] jkandasa commented on #292
@avoloshyn79 please reopen this ticket, if it is missing your requirement.

[2016-11-10 03:37] #292 closed

[2016-11-10 03:38] jkandasa commented on #288
@fab33 @Redferne Kindly reopen this ticket if you face any issue related to this.

[2016-11-10 03:38] #288 closed

[2016-11-10 03:38] jkandasa commented on #285
@Redferne Kindly reopen this ticket if you face any issue related to this.

[2016-11-10 03:38] #285 closed

[2016-11-10 03:40] jkandasa commented on #283
@Redferne Pulling data from other source will not be supported by MyController. However you can address this by using external tools.

[2016-11-10 03:40] #283 closed

[2016-11-10 03:41] jkandasa commented on #276
As MyController already supports for previous values, closing this ticket

[2016-11-10 03:42] #276 closed

[2016-11-10 10:18] wengjjpaul opened #303 "[SnapShot] Unknown column name 'blocks' in table firmware"
Got this error when deleting firmware version

500: Internal server error
java.lang.IllegalArgumentException: Unknown column name 'blocks' in table firmware
[code]

[2016-11-10 23:10] integralmedia opened #304 "[Feature Request] Add Validity Period or Schedules for Rules"
Request to add a Validity Period or a Scheduling Mechanism for Rules to be enabled or disabled based on that schedule.

May be useful to integrate with Issue #199 (https://github.com/mycontroller-org/mycontroller/issues/199)

Currently, there is no simple way of enabling or disabling a Rule based on Dates/Times/Schedules. Certain functions could be triggered using Timers based on Cron expressions

[2016-11-11 01:49] jkandasa commented on #303
Deleting `Firmware Type` also giving similar issue

[2016-11-11 02:04] #303 closed

[2016-11-11 02:58] Redferne opened #305 "[Feature Request] Add support for RFLink gateway"
RFLink Gateway is an Ardunio Mega with serial uart interface supporting a huge amount of cheap 433Mhz devices and sensors. Please see the project page for more information and the very simple protocol [http://www.nemcon.nl/blog2/protref](http://www.nemcon.nl/blog2/protref) I've made some attempts to parse the protocol and publish devices and sensors using MQTT in native MyController format but it

[2016-11-11 11:19] #278 closed

[2016-11-11 23:20] #277 closed

[2016-11-12 18:23] AWiseAd opened #306 "SQL errors in system log"
I don't see any specific problems in operation but a few times in an hour there are some errors in the system log.  See attached.

[Server log.txt](https://github.com/mycontroller-org/mycontroller/files/587378/Server.log.txt)

[2016-11-12 19:08] cimba007 opened #307 "[Minor improvement] Horizontal line @ 0°C on Temperature graphs"
Hello,

Temperature graphs (and possibly other graphs as well) could take some grid-lines or at least a horizontal line around 0°C

On the following graph it is very hard to guess if the temperature is < 0°C or over without hovering the mouse. Maybe other horizontal lines could be added at the major temperature values like 10°C, 20°C .. or even minor axis at 5° 15° etc .. even better if configurab

[2016-11-13 00:41] jkandasa commented on #306
@AWiseAd Thanks to report this issue. This is known issue.
When we send more than one value at the same time throws this exception. `TIMESTAMP` should be different.

[2016-11-13 03:20] #307 closed

[2016-11-13 03:23] jkandasa commented on #307
@cimba007 I disabled grid line by default. Which is my personal taste. However most people might like grid lines. I have enabled it by default. If someone do not like grid line, they can simple disable it by changing the following lines on `www/app/css`

Default lines,
[code]

Should be changed to,
[code]

[2016-11-13 15:38] cimba007 commented on #307
Hi jkandasa,

thanks for your fast replay .. but from your description I don't know what to do :(

There is no secition "lines" in the app.css .. and your two "quotes" contain the same content? What should I change? Can you be more specific, thanks!

[2016-11-13 16:11] jkandasa commented on #307
@cimba007 You have check it on recent snapshot build. or in your build in the following lines,
TO TURN ON GRID LINES comment out `display: none; ` on `tick line {`
[code]
Note: I have updated correct comment in my previous comment.

[2016-11-13 16:16] cimba007 commented on #307
Thanks, I found the option for "tick line" and it is working as epxected. Nice!

[2016-11-13 22:04] cimba007 opened #308 "[FeatureRequest] Apache2 ReverseProxySupport"
Hello,

I want to use mycontroller website under an apache2 reverse proxy setup.

local network: http://raspi:8443 (everything is fine)

Now I setup a reverse proxy which is working fine so far, the new address would be:

https://XXX.dnshome.de/mycontroller/ which is proxyed to the above local network address.

The only problem I have is that all the javascript stuff is hard coded for an absolute

[2016-11-14 01:50] jkandasa commented on #308
@cimba007 I never worked with reverse proxy. I hope it should work properly. You can see on this file how it is configured, https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/index.html

[2016-11-14 07:43] iotmodules commented on #208
@jkandasa Hi and thanks for the link to the snapshot build. I have tried to test the support for SmartSleep however on the update node screen i don't get the Smart Sleep Enabled checkbox to tell the node it supports it.

I'm Using

MyController
Version
0.0.3.Alpha2
Database version
1.02.10 - 2016 Jul 29
Git commit:branch
e8afb0266ab685dcfc59b0691ec301d3a17d3fd6:master
Built on
2016-07-30T01:04:37+

[2016-11-14 07:46] jkandasa commented on #208
@iotmodules Your version indicates older one **0.0.3.Alpha2**

You should download and install [from here](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU)

[2016-11-14 14:19] jkandasa commented on #305
@Redferne I have added first draft to support RFLink. Can you check and confirm. Does it works as expected? I do not have any device my side to test this.

Kindly post some sample incoming messages and outgoing messages from RFLink gateway to test from my side. Thank you!

[2016-11-14 23:11] ragflyer commented on #265
@cimba007 Have you successfully set up some actuator on your dashboard app? I manage to get MyController sensor values updated from my Android device through MQTT (mygateway-out), but the broker does not inform the actuator device of the update (it is subscribed to mygateway-in)

[2016-11-15 08:14] Redferne commented on #305
Oh. This just great news!  Data is coming in on the serial port ok. Now just to fine tune the parsing and adding sending data. See below for some example messages. `2016-11-15 09:07:52,778 ERROR [Thread-4] [org.mycontroller.standalone.message.MessageMonitorThread:123] Throws exception while processing!, [RawMessage(gatewayId=35, data=20;00;Nodo RadioFrequencyLink - R, subData=null, isTxMessage=fal

[2016-11-15 08:16] jkandasa commented on #305
@Redferne Thank you for the messages, Let me have a look and fix it.

[2016-11-15 08:24] Redferne commented on #305
Here are some more examples of incoming (received) messages. Please disregard the beginning timestamp and ending date.

`2016-06-23 07:26:11;20;0B;Friedland;ID=00a02208;SWITCH=1;CMD=ON;CHIME=01;
2016-06-23 07:26:29;20;0C;FineOffset;ID=0087;TEMP=00e5;HUM=55;
2016-06-23 07:26:32;20;0D;FineOffset;ID=00a7;TEMP=00d5;HUM=60;
2016-06-23 07:26:34;20;0E;FineOffset;ID=0088;TEMP=00cb;
2016-06-23 07:26:37;20;

[2016-11-15 09:15] jkandasa commented on #305
@Redferne I have pushed changes on SNAPSHOT build. Kindly download and report issues/comments.

[2016-11-15 12:59] #306 closed

[2016-11-15 13:01] jkandasa commented on #274
@cimba007 This widget can not be sub divided as two part.

[2016-11-15 13:01] #274 closed

[2016-11-15 13:01] jkandasa commented on #267
@cimba007 reopen this ticket if you face this issue.

[2016-11-15 13:01] #267 closed

[2016-11-16 00:08] iotmodules commented on #208
Hi have installed from the location you recommended still no sign of the
checkbox for smartsleep

Version0.0.3.Final-SNAPSHOTDatabase version1.03.04 - 2016 Oct 19Git
commit:branch2246de227ec1f6f6937972242a719e27cdb617ea:developmentBuilt on
2016-11-15T14:43:35+0530Build JDK1.8.0_111Build toolApache Maven 3.3.9

On 14 November 2016 at 07:46, Jeeva Kandasamy <notifications@github.com>
wrote:

[2016-11-16 01:00] jkandasa commented on #208
@iotmodules I guess you are facing GUI casing issue. Can you try to clear your browser cache? GUIDE: http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2016-11-16 11:29] iotmodules commented on #208
Hi

That sorted it the cache cleared and the new pages now show.

Cheers

Doug

Sent from my iPhone

[2016-11-16 12:30] Redferne commented on #305
Progress! Some RFLink devices has shown up in the nodes list, not sure that is what is expected? I thought they would show up under sensors as devices.

Below is the open uart port, the message is the build info of the RFLink firmware.

[code]

More message parsing below:
[code]

[2016-11-16 17:34] jkandasa commented on #305
@Redferne I have updated snapshot build with above fix. Could you please test on this?

Thank you!

[2016-11-16 22:37] ragflyer commented on #265
I was wondering if this is related:
If I use my android mqtt dashboard client to switch, it updates correctly on Mycontroller but nothing happens on the switch node (broker does not forward from mygateway-out to mygateway-in topic).
If I change the setpoint through web interface, switch node works, but only mqtt clients with separate in/out topics show the update correctly.
What is best practice h

[2016-11-16 23:21] Redferne commented on #305
Oh. Working fast! Without looking in the logs I'm not seeing anything new/changes in the GUI from last version. I noticed that my MQTT sensors was no longer updating in the GUI.
Complete log here: [https://drive.google.com/file/d/0B9erfGyVgWBlWVIzdmlqVzJHMjg/view?usp=drivesdk](url)

[2016-11-17 01:41] jkandasa commented on #305
RFLink supports only for Serial gateway. I could not get here. Which MQTT sensor are you talking about?

[2016-11-17 02:06] jkandasa commented on #305
It looks like you are using some old version of SNAPSHOT. Could you please recheck the version(via GUI, check built on, under `Status>>About`).
On latest SNAPSHOT I have added version information will be printed on log with `built on` and `commit information`

[2016-11-17 10:12] jkandasa commented on #265
@ragflyer looks like you have to swap your topic and subscription on your android mqtt client.

[2016-11-17 17:27] Redferne commented on #305
Sorry, my bad. My excuse is that I updated remotely using SSH on a phone :-). Now it looks much much better, really impressive!
There seems to be a problem parsing negative values, please see attached screenshots [screenshot](https://drive.google.com/open?id=0B9erfGyVgWBlUkRpcGhPMEJ5dFk)
From the protocol reference:

The gateway->node->sensor/switch structure makes sense, see [overview](https://dr

[2016-11-18 07:17] jkandasa commented on #305
@Redferne in the latest build I have added fix for `SET_LEVEL` and temperature negative values. Can you check it?

Are you able to control your hardware(RFLink) from MyController?

[2016-11-18 12:37] ragflyer opened #309 "Not able to restore Backup from Windows machine on Ubuntu"
I tried moving Mycontroller to a different OS on same machine, but after restoring backup and restarting the server on current Xubuntu LTS with Oracle Java, nothing seems to be restored.
Manually unzipping throws some errors regarding backslash character and no files are contained in the resulting folder.
Unzipping the backup on Windows works.
Probably not a common thing, but a workaround like man

[2016-11-18 12:42] jkandasa commented on #309
@ragflyer you can copy the database `mycontroller.h2.db` and scripts if any.

If you do not mind can you send your backup file I will test it on my linux machine. I do not have windows to get backup. You can send this to jkandasa at gmail dot com

[2016-11-18 19:06] Redferne commented on #305
Wonderful. The temperature negative values now works correctly, thanks! I could not make MyController to send a successful command to RFLink

`rg.mycontroller.standalone.message.RawMessageException: NodeEui can not be NULL. Message:[20;FB;CMD UNKNOWN;`

Please see attached screenshots [node](https://drive.google.com/open?id=0B9erfGyVgWBlUjRDcmkwSlRhS28), [device](https://drive.google.com/open?id=0

[2016-11-19 02:38] jkandasa commented on #305
Can you try to control directly on serial and give that message. I will compare with successful message.
For now MyController gives message as follows,
[code]
Can you replace protocol, device id, switch-name with real one and check the above command directly on your serial port.

In the latest SNAPSHOT build I have added an entry for RFLink on `logback.xml`, make it as `DEBUG` >> `<logger level="I

[2016-11-19 03:33] jkandasa commented on #305
@Redferne to debug serial port you can enable DEBUG on this line,
[code]

[2016-11-19 15:27] AWiseAd opened #310 "Metric setting not consistent"
The units in pressure, wind (speed/ gust) are not shown as metric (i.e. psi and mph i.s.o. hPa and m/s).
(Metric is selected in settings)

[2016-11-20 02:08] jkandasa commented on #310
@AWiseAd can you give some screen shot. It will be easy to understand the issue.

[2016-11-20 07:00] AWiseAd commented on #310
![image](https://cloud.githubusercontent.com/assets/10499153/20461231/6b901c22-aef7-11e6-9c6b-e9c21f1715e3.png)

[2016-11-20 12:58] AWiseAd opened #311 "RGB values sent with leading #"
When sending an RGB value with the color picker the value is sent with a leading # (hash) sign. This is not according to MySensors specification. (and incorrectly interpreted by the existing sketches).

[2016-11-20 22:04] Redferne commented on #305
Excuse me, I must have had a brain malfunction when I tested. Toggle a switch and set the dimmer in percent, works great. Also a door/window switch/PIR/motion detector works, the status was updated. Maybe some of the variables could be tweaked a bit so that a PIR/DoorSensor is shown as Motion->Tripped/Door->Tripped?

I tested to add the motorized blinds, but I guessing it needs some work. Here's a

[2016-11-21 01:15] jkandasa commented on #310
@AWiseAd you want units `hPa` and `m/s`?

[2016-11-21 01:36] jkandasa commented on #311
@AWiseAd Which version are you using? I am unable to reproduce this issue. I guess you are seeing on MyController resources log? If yes, you are right in side MyController it is using `#`before actual value. However when sending or receiving to MySensors network value will be converted as requires.

##### Sample message for RGBW:
![image](https://cloud.githubusercontent.com/assets/1004403/20468089

[2016-11-21 04:49] jkandasa commented on #309
@ragflyer If you send backup file I can analysis root cause locally. As I do not have windows machine, I could not verify this issue.

[2016-11-21 05:23] jkandasa commented on #305
@Redferne Thank you for the detailed information.

[This is mapping between MyController and RFLink](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/provider/rflink/RFLinkUtils.java#L36~L66). If you need any changes on this kindly let me know

[2016-11-21 14:14] AWiseAd commented on #310
I have installed the 0.0.3.Final-SNAPSHOT version and the unit issues seems to have dissapeared.  Looks like I was running a little older version (it's now hPa and km/h which is fine)

But all the graphs I had defined (and new ones)  show "Loading" for about an half hour now. (I restored the backup as in the instructions)

![image](https://cloud.githubusercontent.com/assets/10499153/20485734/37a0a

[2016-11-21 14:16] AWiseAd commented on #311
Looks like I was running an old version (comment in #310)

[2016-11-21 14:39] jkandasa commented on #310
@AWiseAd What type of widget is this? Can you paste screen shot of this widget settings?

Can you try once clearing cache on your browser? http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2016-11-21 14:40] jkandasa commented on #311
@AWiseAd ok I am closing this issue, as we do not have it on recent(SNAPSHOT) version

[2016-11-21 14:40] #311 closed

[2016-11-21 15:07] AWiseAd commented on #310
Thanks, Clearing the cache did the trick. It was a standard setting for graphical sensor view.

![image](https://cloud.githubusercontent.com/assets/10499153/20487655/83836466-b004-11e6-8c9b-d3b698b4e20b.png)

[2016-11-21 15:19] jkandasa commented on #310
@AWiseAd If everything resolved on this ticket. You may close this ticket. Thank you!

[2016-11-21 20:40] AWiseAd commented on #310
Solved with snapshot 0.0.3.Final-SNAPSHOT . thanks

[2016-11-21 20:40] #310 closed

[2016-11-23 06:41] Redferne commented on #305
Ah. Great thanks for info. I only have one question. How do I send
CMD=UP/DOWN/STOP to a blindcontroller or moviescreen? Question is really
for all commands execept ON/OFF/SET_LEVEL. Thanks!

On Mon, 21 Nov 2016, 06:23 Jeeva Kandasamy, <notifications@github.com>
wrote:

--

///Rickard

[2016-11-24 12:59] rayvenwalker opened #312 "Random Crash... fatal error in JRE"
[code]

[2016-11-24 13:12] rayvenwalker commented on #312
[issue-312.zip](https://github.com/mycontroller-org/mycontroller/files/611368/issue-312.zip)

[2016-11-24 13:58] jkandasa commented on #312
@rayvenwalker do you remember when this fatal error happened? I mean in which action?

[2016-11-24 14:28] rayvenwalker commented on #312
I was sleeping when it happened.  I have been having a lot of trouble with
the RS485 Serial gateway.  I have to add a watchdog timer to it because of
frequent lockups.

On Thu, Nov 24, 2016 at 8:58 AM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2016-11-24 15:04] jkandasa commented on #312
@rayvenwalker looks like your node sent lot of `0;255;3;0;5;0` messages, which is `stop` `I_INCLUSION_MODE` and this type of message not supported by MyController. And your node(id:`0`, your gateway) sends lot of messages. Kindly have a look on your gateway node source code. I see `253223` message(s) in queue! This is too high. I believe message queue leads this issue. To avoid this situation you

[2016-11-24 15:11] rayvenwalker commented on #312
Will do.

Could be their is an error in the core mysensors code.  I have seen these
endless inclusion message situation before but, only with the RS485
Gateway.  The in the code for the gateway I have remarked the inclusion
mode feature.

'''//#define MY_INCLUSION_MODE_FEATURE'''

in file:

https://github.com/rayvenwalker/StillBot-mysensors/blob/master/GatewayRS485/GatewayRS485.ino

On Thu, Nov 24

[2016-11-24 15:37] rayvenwalker commented on #312
New snapshot up and running...

[2016-11-24 17:24] jkandasa commented on #312
@rayvenwalker thank you! please report status of current run after sometime.

[2016-11-27 01:44] karrots opened #313 "Restoring backup leaves firmware blank."
I upgraded from 0.0.3.Alpha2 to 0.0.3.FINAL SNAPSHOT. After restoring the backup all of my previous firmware were listed. When I went to look at them none had any HEX associated with them and they were unable to be used on sensors.

[2016-11-27 05:12] karrots commented on #313
I should clarify. I am able to see the firmware listed under Utilities->Firmwares but I am unable to select them under the node configuration. This included newly added firmware as well.

[2016-11-27 05:16] karrots opened #314 "Imperial units for V_PRESSURE incorrect in reference sto S_BARO"
When used in reference to S_BARO the units for V_PRESSURE should likely be in inHg not PSI.

https://en.wikipedia.org/wiki/Inch_of_mercury

[2016-11-27 13:33] RURon opened #315 "Ability to use node battery level in widgets/graphs"
Maybe I have overseen it, but I cannot seem to find a way to visualize a node's battery level within a dashboard. In my case I have for example a node that sends power data in watts and it is powered by battery so it would be nice to include the battery level in that graph.

[2016-11-27 15:27] jkandasa commented on #313
@karrots Do you see any error on `mycontroller.org`? Kindly [clear your browser cache](http://forum.mycontroller.org/topic/47/gui-caching-issue-problem) and check once again.

[2016-11-27 15:32] jkandasa commented on #315
@RURon For now we do not have any widget to display battery level. However we have heatmap chart, using that we can display status as color.

I will take this request as new feature request and implement when I get time. Thank you!

[2016-11-28 04:35] karrots commented on #313
When looking in the Chrome developer tools it looks like there is a failing REST call to https://localhost:9443/mc/rest/types/firmwares 500 (Internal server error)

Clearing cache did nothing.

[2016-11-28 11:21] jkandasa commented on #313
@karrots Thank you to report this error with stack trace. I see this error after upgrade from old database. I am looking root cause of this issue.

for now workaround is,

STOP and START MyController once again after successful migration.

[2016-11-28 18:28] Redferne commented on #305
Sorry for spamming but to be able to migrate my 433Mhz network to MyController it must be possible to send arbitrary CMD= to a RFLink sensor. For example sending CMD=UP/DOWN/STOP to a blindcontroller or moviescreen? Question is really for all commands except ON/OFF/SET_LEVEL. Thanks!

[2016-11-29 08:43] jkandasa commented on #305
@Redferne no issues, I have added in recent build to support for S_COVER on RFLink. kindly check it and let me know. Thank you!

[2016-11-30 20:13] karrots commented on #313
STOP and START fixed my issue locally.

[2016-12-04 11:46] RURon opened #316 "Bug: Multiple data points while hovering over graphs"
I tested this on Chrome and Firefox on Windows: When I hover over the graphs "slowly", I will pick up multiple data points while doing so resulting in a cluttered graph.

See screenshot for example.

![04-12-_2016_10-34-56](https://cloud.githubusercontent.com/assets/17233445/20865931/b1e7e1c2-ba1f-11e6-9bee-742b4cab548d.png)

[2016-12-05 05:55] jkandasa commented on #316
@RURon can you post settings of this widget? And also can you try once again with clear cache on your browser?

[2016-12-05 08:24] RURon commented on #316
![04-12-_2016_10-34-56](https://cloud.githubusercontent.com/assets/17233445/20878002/86b9eb96-bacc-11e6-9ce7-015e28b5e07f.png)

Clearing the cache didnt change the behaviour, but when I enabled the interactive guide line, the multiple data points are gone - so that is a fix.

[2016-12-05 08:31] RURon opened #317 "Grid / certain reference lines in graphs"
It would be great to be able to control if and which grid lines or reference lines are drawn to a graph. For example on a temperature monitor I would love to see a 0 degrees line and maybe every 10 degrees a dotted line (i know this is maybe extreme, but then again - why not).

The same applies to the Y grid. As this is usually time, it would make sense to better indicate the time span / interval

[2016-12-05 14:16] jkandasa commented on #316
@RURon I believe when we disable `Use interactive guide line`, will show different point for each line. this cases this effect. Kindly reopen if you think this is an issue. We are using nvd3 charts.

[2016-12-05 14:16] #316 closed

[2016-12-05 14:17] jkandasa commented on #317
@RURon this is excellent requirement. Let me have a look, is there any option available on nvd3 chart.

[2016-12-05 20:48] rayvenwalker commented on #312
The gateway is still having issues but they are no longer causing the mycontroller server to crash.  Thanks!

[2016-12-06 04:12] devicter commented on #317
Yes, it would be very useful

[2016-12-07 17:02] RURon opened #318 "Feature request / Example code to add a gauge widget"
As far as I understand, by using the "custom widget" it should be possible to add for example a http://jqwidgets.com/ javascript based gauge to visualize a sensor value.

Could someone provide an example on how to access the sensor data from within such a script and how to exactly get this running?

I think this has great potential, I just dont know how to get started :-)

[2016-12-08 01:26] Redferne commented on #305
I haven't forgotten this. I'm currently having problems with my RFLink Gateway. Have ordered spare unit for debugging purposes.

[2016-12-08 01:55] Redferne opened #319 "Backup returns HTTP Error 400"
On the daily build from 29nov (latest?)  it is not possible to create backup.

26570:org.h2.jdbc.JdbcSQLException: Out of memory.; SQL statement:
26602:Caused by: java.lang.OutOfMemoryError: Java heap space

Complete log here: https://drive.google.com/file/d/0B9erfGyVgWBleU5leFBSSzNiQUk/view?usp=drivesdk

[2016-12-09 23:10] will-l-h opened #320 "Demo login"
The demo/demo login for the demo site is not working.

[2016-12-11 09:45] Redferne commented on #305
Blindcontroller works great. I tested on a couple of BofuMotor, up, down and stop.

Maybe I'm stupid but how do I send these commands to doorbells?

20;E9;NewKaku;ID=0123b282;SWITCH=1;CMD=**ALLON**;
20;A3;Friedland;ID=002a0008;SWITCH=1;**CMD=ON;CHIME=01;**

The mapping for CHIME is VAR1, but no matter what I write into VAR1 nothing is being sent to RFLink.

Please advise. Thanks!

[2016-12-11 12:49] devicter opened #321 "Сustom messages with NEW keys for notifications SMS, Email, Pushbullet note"
Please add a new key
${notification.actualUnit}

Custom message example:
Inside temperature goes too high! Current temperature is ${notification.actualValue} `${notification.actualUnit}`

result:
Inside temperature goes too high! Current temperature is 35 `°C`

so it will be more versatile enough just to make one rule and substituted it anywhere.

[2016-12-11 14:06] jkandasa opened #322 "Add support to get sunrise and sunset time on script"
Add support to get sunrise and sunset time on script

[2016-12-11 14:21] jkandasa commented on #320
looks like someone changed it. reset back to `demo/demo`
Thanks!

[2016-12-11 14:21] #320 closed

[2016-12-11 14:23] jkandasa commented on #318
@RURon Can you check this on? http://forum.mycontroller.org/topic/37/custom-widget

[2016-12-11 14:23] jkandasa commented on #319
@Redferne let me check this locally

[2016-12-11 14:26] jkandasa commented on #305
@Redferne Let me have look on this

[2016-12-13 10:40] devicter opened #323 "OTA update does not work properly"
Hi jkandasa!
We spent a lot of time with tekka, to sort out this problem.

The problem is that data is continuously lost packets.

If a sketch no larger than 32 kilobyte, all goes well.

If the size is more than that, then the result is always the firmware OTA:! FWP: CRC FAIL

In confirmation of that, I can send a 2 log file.

1. MYSController.log (2 firmware downloaded here 53 and 74 kilobytes)
2

[2016-12-13 10:44] devicter commented on #323
I forgot to add.

This problem remains the same if you use Ethernet GW

[2016-12-13 16:01] devicter commented on #323
and yet, the load time is increased by half.

[2016-12-13 16:06] jkandasa commented on #323
@devicter can you send log files and sketch to my email address? jkandasa at gmail dot com

Also send your atmega chip details

[2016-12-14 02:42] jkandasa commented on #323
@devicter I tested with year old OTA bootloader and works as expected. I have changed radio pin and channel number to default one and disabled LED indication.

I will try with recent OTA bootloader soon and update you the status.

[2016-12-14 03:04] jkandasa commented on #319
@Redferne I am unable to reproduce this issue. Can you try in your location once again?

[2016-12-14 03:08] devicter commented on #323
I'm sorry, I'm using the bootloader from Moteino 16 MHz.
Because the processing speed twice as high, it seems COM port driver does not have time to process the data.
You can use this downloader to take from here.
https://github.com/devicter/bootloaders

[2016-12-14 03:18] #322 closed

[2016-12-14 03:28] jkandasa commented on #322
Example:
#### `JavaScript`
[code]
##### Result:
[code]

[2016-12-14 03:30] jkandasa commented on #321
This feature included on recent SNAPSHOT build.

[2016-12-14 03:30] #321 closed

[2016-12-14 03:40] #314 closed

[2016-12-14 03:40] jkandasa commented on #314
@karrots with the current design we cannot implement based on sensor type, only controlled by sensorVariable type. However, you can change unit as you like.

I have added `inHg` as unit for `Imperial` and `Metric`.

[2016-12-14 03:45] jkandasa commented on #323
@devicter I do not have `DualOptiboot` setup ;)

[2016-12-14 04:18] devicter commented on #323
Very sorry, but I say again, it works fine with MYSController https://www.mysensors.org/controller/myscontroller
But it does not work for you.
Although this problem can be solved very simply.

[2016-12-14 04:42] jkandasa commented on #323
@devicter ok, let me have a look on code level. calculating CRC.

does it working at least one sketch or nothing?

[2016-12-14 04:43] jkandasa commented on #323
I see this from your comments, How do you calculate sketch size?

[2016-12-14 05:25] jkandasa commented on #323
@devicter I have added minor fix, kindly check with [snapshot version](http://forum.mycontroller.org/topic/58/download-snapshot-build).

[2016-12-14 11:05] devicter commented on #323
I tried again on the new version. :-(
unfortunately the same result.

Log I sent in the mail.

[2016-12-14 11:07] devicter commented on #323
yet there was an error on the page
![syn error](https://cloud.githubusercontent.com/assets/22935773/21179798/3ad79f30-c228-11e6-8fc3-71b6207f02b8.gif)

[2016-12-14 11:09] jkandasa commented on #323
@devicter clear your browser cache to resolve the above issue ^^

[2016-12-14 11:36] devicter commented on #323
did not help!

[2016-12-14 11:37] jkandasa commented on #323
@devicter try this http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2016-12-14 11:50] devicter commented on #323
I know how to update the cache ...

-(

![error2](https://cloud.githubusercontent.com/assets/22935773/21180940/f3cc531e-c22d-11e6-8364-8f21c25279a9.gif)

[2016-12-14 14:55] RURon commented on #318
Excellent! Thank you. Maybe a link to this topic in the forum in the settings dialog of a custom widget would be helpful for every user?!

[2016-12-14 14:55] #318 closed

[2016-12-15 03:30] jkandasa commented on #323
@devicter I need to the following information to narrow this issue further.

All data from node (add print statement on your MySensors library at [line#171](https://github.com/mysensors/MySensors/blob/development/core/MyOTAFirmwareUpdate.cpp#L171))

- `_nodeFirmwareConfig.blocks`
- `crc`
- `_nodeFirmwareConfig.crc`
- firmware hex file, that you used to test.

Kindly do it for two firmware hex file

[2016-12-15 03:52] devicter commented on #323
this line should look like this?

OTA_DEBUG(PSTR("OTA:CRC:B=%04X,C=%04X,F=%04X\n"),_nodeFirmwareConfig.blocks,crc,_nodeFirmwareConfig.crc);

[2016-12-15 04:13] jkandasa commented on #323
@devicter yes, this looks good. Also, I have added fix for GUI issue you have mentioned on node edit page. download latest snapshot version and check does this error still exist. Thanks!

[2016-12-15 04:53] devicter commented on #323
screenshots
files I sent an e-mail
![crc](https://cloud.githubusercontent.com/assets/22935773/21212213/0b5b2be2-c2bd-11e6-8e26-784e6f8ed53f.gif)

![crc_fail](https://cloud.githubusercontent.com/assets/22935773/21212216/17aaf922-c2bd-11e6-9b20-42013657084a.gif)

[2016-12-15 08:23] jkandasa commented on #323
@devicter I did some changes on CRC calculation. **You have to upload your firmware once again to MyController server to calculate CRC**.

Kindly run with latest snapshot version and report with `OTA_DEBUG(PSTR("OTA:CRC:B=%04X,C=%04X,F=%04X\n"),_nodeFirmwareConfig.blocks,crc,_nodeFirmwareConfig.crc);`

Thanks!

[2016-12-15 09:30] devicter commented on #323
Again, that is not so

![crc](https://cloud.githubusercontent.com/assets/22935773/21218566/c1ba2ce6-c2e3-11e6-84c9-59ffb4b0b8ff.gif)

![crcconsole](https://cloud.githubusercontent.com/assets/22935773/21218581/cc4bf6b2-c2e3-11e6-9409-11fb4ab9ba7a.gif)

[2016-12-15 09:55] devicter commented on #323
for information on the controller at the Tekka obtained here such figures
![tekkacrc](https://cloud.githubusercontent.com/assets/22935773/21219402/424382d8-c2e7-11e6-9f7a-0a9c00b6d262.gif)

[2016-12-15 11:44] jkandasa commented on #323
@devicter Could you please do a favor for me. Run OTA update as follows,
**I need debug log from all nodes and MYSController** to go further.

- Take a hex file for all tests
- Send it from MYScontroller, need MYSController log as well as node log
- Send it from MyController, need node log

**NOTE:** For each run I see different CRC on node, does it changing every time?

I am really sorry to troub

[2016-12-15 13:19] devicter commented on #323
Ok, I sent back to the email

[2016-12-15 13:20] jkandasa commented on #323
@devicter Thank you so much for your valuable time!!

[2016-12-15 13:22] devicter commented on #323
For me, too important a positive result.

[2016-12-15 15:40] jkandasa commented on #323
@devicter looks like there is no issue with CRC calculation and in MyController. As per my understanding, problem with MySensors code. When we use SerialGateway it is super fast and completes the request within 500ms. When we go with other types of gateway, problem starts, because other than serial gateway works with polling mechanism. In OTA code we have retry mechanism,  `MY_OTA_RETRY_DELAY`(def

[2016-12-15 16:45] devicter commented on #323
I did everything you asked. But, unfortunately, the result is negative. ;-(

[2016-12-15 17:01] devicter commented on #323
Oh, I do not quite understand, I still had to install an updated version MyController?

[2016-12-15 17:04] jkandasa commented on #323
@devicter Yes, you have to use most recent SNAPSHOT version, I have revert back CRC changes on recent build. Which is must. Kindly try once again with most recent SNAPSHOT build. Thank you!

[2016-12-15 18:04] devicter commented on #323
testing stages

1. I put the latest version MyController server
2. flashed your gateway with amendments #L102
3. flashed your microcontroller with amendments #L102
![crc](https://cloud.githubusercontent.com/assets/22935773/21235888/3d0974be-c32b-11e6-9ba9-f910bccb08de.gif)
`

356613 OTA:FWP:FW END

357874 OTA:CRC:B=04A8,C=1E21,F=DEA5

357877 !OTA:FWP:CRC FAIL`

Result old.

[2016-12-16 11:37] Redferne commented on #319
Just tried the daily build and backup does not work. Following is printed in the log:

`2016-12-16 12:33:43,503 ERROR [Acme.Utils.ThreadPool(4)-PooledThread: Acme.Serve.Serve$ServeConnection@afc201] [org.mycontroller.standalone.db.DataBaseUtils:207] Exception, backup failed!
org.h2.jdbc.JdbcSQLException: Out of memory.; SQL statement:
SCRIPT TO ? COMPRESSION ZIP [90108-176]
	at org.h2.message.DbEx

[2016-12-16 11:42] jkandasa commented on #319
@Redferne can you paste your MyController server details.

I want the following screenshots from GUI,

- `Status >> About`
- `Status >> System status >> Java virtual machine specification`
- `Status >> System status >> Operating system`
- `Settings >> Backup >> Settings`

Thank you!

[2016-12-16 15:03] Redferne commented on #319
[code]

[code]

[code]

[code]

[2016-12-16 20:52] fab33 commented on #290
+1

[2016-12-17 01:07] Redferne opened #324 "WADL for REST api?"
Is such available somewhere? It would help immensely for me. Playing with some wearables and might be able to get a frontend for MyController up and running 😃

[2016-12-18 13:16] RURon opened #325 "minor Issue: energy consumption unit should be kWh, not KWh"
I know it is only minor, but maybe you find time to fix it as well.
![18-12-_2016_14-10-59](https://cloud.githubusercontent.com/assets/17233445/21293699/82085dfc-c52c-11e6-8d7d-1f8e077598f3.png)

[2016-12-19 02:22] jkandasa commented on #324
@Redferne We have common REST API, you may add your device in any one of gateway type (MySensors, MyController, etc.,) and use common REST API

[2016-12-19 02:32] #325 closed

[2016-12-19 02:32] jkandasa commented on #325
@RURon Thank you!

[2016-12-19 09:37] RURon opened #326 "Bug: MyController time bad rendering on Chrome"
I just noticed (as I usually use Firefox), that in Chrome there is a padding/rendering issue in the default MyController time widget - see screenshot. In Firefox this looks flawless. If it makes a difference, I am now using the 0.0.3.Final-SNAPSHOT

![grafik](https://cloud.githubusercontent.com/assets/17233445/21307678/e6390790-c5d6-11e6-9bb4-dbe4fad039b8.png)

[2016-12-19 10:22] jkandasa commented on #326
@RURon We never faced this kind of issue. Can you clear cache on your browser? Clearing cache helped many people on GUi issues.

http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2016-12-19 16:57] RURon commented on #326
I tried with cleared cache (Shift+F5) - no change. I attached a element inspector screenshot - from what I can tell I would say the blue box showing the box model of the  div.adf-myct-time.ng-binding shows a too small box for it and that creates the overlap. If I hover the date-element, that box looks better (even though it also not completely covers the element, missing a fex pixels on the bottom

[2016-12-19 17:08] jkandasa commented on #326
@RURon I tried in my computer, But I am unable to reproduce this issue. It may be chrome issue.

Here is the version I am using the following versions, on both browser, it is working perfectly!

OS: Fedora Linux 24 64 bit
Chrome: Version 55.0.2883.87 (64-bit)
Chromium: Version 51.0.2704.63 Russian Fedora (64-bit)

browser upgrade might help here.

[2016-12-20 05:08] mihaialdea opened #327 "RSSI for RFM69"
I read your comments on issue #250 however it appears that it's an implementation for RF24 networks, not RFM69.
It's not clear to me if the feature should be implemented in MyController or in the MySensors library. The problem is that the MySensors example sketches are not sending the RSSI value and the LowPowerLab's readRSSI(); function doesn't work on the MySensors sketches, I'm getting this err

[2016-12-20 06:45] jkandasa commented on #327
@mihaialdea This is MyController's feature. There is no direct variable type for RSSI in MySensors library. As a workaround, on #250 this was addressed with the different approach.

you have to send `RSSI` value as `V_VAR5` variable, and should start with **`rssi:`** (Example: `rssi:95 dBm`).

This is just workaround for MySensors library.

[2016-12-20 07:48] mihaialdea commented on #327
I already tried that approach. But as expected, the only message arriving at the gateway was a constant string of:
"rssi: 95 dBm"
with no variation whatsoever.

[2016-12-20 16:36] jkandasa commented on #327
@mihaialdea This feature should available from 0.0.3.Final-SNAPSHOT. I hope you are using most recent SNAPSHOT version.

[2016-12-20 17:45] Redferne commented on #324
OK. Then please explain how to use the REST api (that is what the .wadl file does).
This is the information we got:
[code]

A little try and error yields a success. So this call:
`GET https://<host>/mc/rest/sensors/getVariable/243`
Returns the details of a variable connected to a sensor:
[code]

Question is now how to update the value of the Light Switch, I'have tried:
`PUT https://<host>mc/rest/s

[2016-12-20 17:57] jkandasa commented on #324
@Redferne To update sensorVariable value, you have to pass sensorVariable `id` along with its value.

[code]
body JOSN:
[code]

[2016-12-20 18:15] mihaialdea commented on #327
Acltually I'm using 0.0.3.Alpha2. I found 0.0.3.Final-SNAPSHOT however it's not working. After I start it with ./start.sh the login page appears but after clicking the Login button, nothing happens.
Taking a look at ../logs/mycontroller.log says:
Error: Could not find or load main class org.mycontroller.standalone.StartApp
Could it be that 0.0.3.Final-SNAPSHOT doesn't contain the ./lib/ folder whi

[2016-12-20 18:18] jkandasa commented on #327
@mihaialdea You cannot run source code as is. You have to compile and create the package. I have done those steps and will be available here,

http://forum.mycontroller.org/topic/58/download-snapshot-build

[2016-12-20 22:44] Redferne commented on #324
Hoooray! Now I'm getting somewhere!
And in the getVariable example, how do I fetch a single entry such as "value", to ease the parsing.

Thanks!

[2016-12-21 02:45] jkandasa commented on #324
@Redferne It is not possible to return single value alone. You have to parse it. In `JavaScript` its simple, you can call `response.value`.

[2016-12-21 03:27] devicter commented on #321
in the final version there is a bug again
`${notification.actualUnit}` gives the value of Type (for example Temperature)
and most likely it should be called `${notification.actualType}`

![errtype](https://cloud.githubusercontent.com/assets/22935773/21376488/0a13e648-c768-11e6-92bc-ac16ac10c9c6.gif)

[2016-12-21 06:20] jkandasa commented on #321
@devicter Thank you! I have updated the fix and available on latest SNAPSHOT version.

[2016-12-21 18:07] Redferne commented on #324
@jkandasa

Great. I knew that. Thanks again! Now I have some fun stuff to tinker with during the Christmas holidays :smile:

[2016-12-21 18:07] #324 closed

[2016-12-21 18:09] Redferne commented on #319
If my database is corrupted in anyway. Is it possible to perform a recovery similar to MariaDB?

[2016-12-22 03:49] jkandasa commented on #319
@Redferne Yes, looks like your database corrupted.

Kindly refer the following links to perform recover operation.
https://www.qvera.com/kb/index.php/619/how-to-recover-corrupt-h2-database
http://www.h2database.com/html/advanced.html#using_recover_tool

[2016-12-25 00:33] Redferne commented on #305
Just found another issue. Variable percent is not updated internally when changed externally by remote control, for RFLink devices. Please see attached screenshot, there is no history in percent graph, but Status graph below shows multiple entries with "Status 0". Seems like the parsing of SET_LEVEL on incoming messages is not working.

https://drive.google.com/open?id=0B3M0f4WquPWFcmpsc2JVZFItTlk

[2016-12-25 02:19] jkandasa commented on #305
@Redferne I will have a look on this next week and update you! Thank you for your patience.

[2016-12-26 15:58] mihaialdea commented on #327
I did installed 0.0.3.Final-SNAPSHOT. Lots of other features comparing to the previous one. However I still can't make any sense on where to add the code mentioned in #250. Should it be added in the sensor sketch or somehow modify the MySensors core files?
An educated guess says that the gateway should be able to read the R(eceived)SSI value, unless **bool requestACK=true** is used and the the sen

[2016-12-26 16:44] Fraid opened #328 "[New Feature] Philips hue light Support"
I would like to be able to take control over my hue system (white and color one).
Philips hue it’s a smart plug and play light, you can change the color, turn on/off the light etc…(more info: http://www2.meethue.com/en-ca/about-hue/).

The hue come with a bridge with a web service there is also different SDK for different platform, including a java SDK (https://developers.meethue.com/tools-and-sdk

[2016-12-27 02:39] jkandasa commented on #327
You have to add the following code on your sensor sketch and you have to send info when you want to change in MyController. It works nicely for @cimba007
[code]

[2016-12-27 03:14] jkandasa commented on #328
@Fraid We have to extend REST client first for this on https://github.com/mycontroller-org/mycontroller-rest-clients

I will add REST API client for this.

[2016-12-27 06:01] mihaialdea commented on #327
I did that already, I just see a static value of **95 dBm** on the RSSI column. That's because I am always sending the a static string instead of a value returned by a function that can measure RSSI.
I need to see the actual RSSI value that depends on the antenna, module power, range etc., not a static **95 dBm**

[2016-12-27 06:36] jkandasa commented on #327
@mihaialdea

Yes, you have to change this static value to actual value by using your own logic. AFAIK, There is no RSSI measurement support. User (@cimba007) requested to give workaround for MySensors library. For that reason we introduced this support.

You have to implement measurement code and send the value as mentioned.

[2016-12-27 13:49] mihaialdea commented on #327
OK, it wasn't clear to me how I can pull out the RSSI value. Fortunately there's a way of doing that using MySensors 2.1.0 beta: https://github.com/scalz/Mysensors/tree/rfm69_update2
It's working now and I get the RSSI reports.

[2016-12-27 13:49] #327 closed

[2016-12-27 17:54] Fraid commented on #328
@jkandasa  I quite understand the implementation by following the PhantIO and MQTT. Should I start the provider then, while you doing the client ?

[2016-12-28 01:41] jkandasa commented on #328
@Fraid Please go ahead and work on the area that you can understand. Thank you so much for your support!!

[2016-12-28 10:07] devicter opened #329 "Color buttons"
Maybe add buttons to change the color?
![gh1](https://cloud.githubusercontent.com/assets/22935773/21519472/f2534810-cd1f-11e6-903a-95ba62fcde83.gif)

So much will be more informative.

![gh](https://cloud.githubusercontent.com/assets/22935773/21519477/009f60ac-cd20-11e6-9973-4762bf7866d9.gif)

[2016-12-28 10:12] devicter commented on #315
Also add button delete charts. Battery usage.

[2016-12-28 10:41] devicter commented on #315
I do think that if you do not use a battery-powered, then at this point you can display information on the sensors.
![no_bat](https://cloud.githubusercontent.com/assets/22935773/21520154/df7fad3c-cd24-11e6-8a7b-29313087e54c.jpg)

[2016-12-28 11:37] devicter opened #330 "Interactive dashboard ??? No"
In your case it is not interactive dashboards, as It uses the method updates the page.

![refr](https://cloud.githubusercontent.com/assets/22935773/21521070/016d7b84-cd2c-11e6-83a1-1ddabdc2a88f.jpg)

But modern technology can only update the frame that has changed (and rightly so).
because it happens (updated 11 -12 - 15 windows at once, the browser uses a lot of memory, thus making long delays an

[2016-12-28 11:52] Fraid commented on #328
@jkandasa Thank to you, MyController is awesome :D !
I pushed the provider and created  `PhilipsHueGatewayPoller.java` for welcoming the REST client.

[2016-12-29 01:50] jkandasa commented on #315
@devicter We can include battery history purge option.

I feel, it may not required `Sensor details` on node page?

[2016-12-29 14:11] jkandasa commented on #328
@Fraid I have pushed REST Client update. To use this update parent pom.xml version to `17`,
[code]

You can see the [Philips hue API here](https://github.com/mycontroller-org/mycontroller-rest-clients/blob/master/src/main/java/org/mycontroller/restclient/philips/hue/clients/LightsClient.java)

Sample code to access API,
[code]
NOTE: You might get issue with `ResponseCodes`. I do not have hardware

[2016-12-29 16:39] jkandasa opened #331 "UID Tags disappear...."
Hi!,

Has been some time, and still enjoying MyController very very much!, running into some issue, where i am not sure if this is known. I upgraded to the latest and greatest release, and I got every thing up and running in a couple of minutes by restoring the database. All settings and data is back!!

Since the upgrade i run into the issue that my UID Tags are gone after a couple of days. The pa

[2016-12-29 19:22] Redferne commented on #331
Yes. I've also experienced this problem, really annoying when you have 10+
uid tags.

///Rickard

On Thu, 29 Dec 2016, 17:39 Jeeva Kandasamy, <notifications@github.com>
wrote:

--

///Rickard

[2016-12-29 20:21] Fraid commented on #328
I got the following error when trying to get list of light:
Using : `philipsHueClient.lights().listAll().getEntity();`
[code]

Received json:

[code]

[2016-12-30 02:09] jkandasa commented on #328
@Fraid added default constructor https://github.com/mycontroller-org/mycontroller-rest-clients/commit/dd871f8de8aa38ede5b1102c04bef97a0649b9d8

[2016-12-30 11:02] Fraid commented on #328
Awesome! working now. Hue are well listed and I'm also able to turn on the light :D !

But for next part I have a few question about the code:
- How do I set the sensor name?
- In MyController->Settings->Variables mapper, there is some predefined sensor type. How do you create that? I'd Iike a "sensor type" called "hue" with variable Status, RGB etc..

Both working if I set it myself, but the idea

[2016-12-30 16:15] jkandasa commented on #328
@Fraid We can go with `RGB light` as sensor type. To add `Status` variable with `RGB light`, add it on `Settings >> Variables mapper >> RGB light >> Edit` Select `Status` and Save.

![image](https://cloud.githubusercontent.com/assets/1004403/21568286/4cc4b6f2-ced9-11e6-8247-1b6af86be5cf.png)

[2016-12-30 21:22] Fraid commented on #328
@jkandasa I understand how to do it graphically but how about programatically, is it possible ?
Also the hue as different stats (Bridness, effect, colormode etc...) and according to the documentation colormode isn't compatible with all light.

Also what is the best way to handle `MESSAGE_TYPE.C_INTERNAL-MESSAGE_TYPE_INTERNAL.I_PRESENTATION` to update all hue info?
I may wrong, but he feel weird to

[2016-12-30 21:28] Fraid opened #332 "[Feature request] Mycontroller with Firebase and push notification"
Initialy requested by   [@duocyber](http://forum.mycontroller.org/topic/56/firebase/10)

When data is pushed to firebase he will automatically sync data between all devices.
Devices can subscribe to a channel like "sensors/doors_1/stats", and any change done to that stats variable, could fire a notification from MyController.

[2016-12-30 23:21] Fraid commented on #328
@jkandasa I found how to add predefined sensor type, by following "MULTIMETER", I guess setting the name and the type programatically it's same issue ?

[2016-12-31 15:41] cimba007 commented on #264
Some time has passed and now I have found some motivation ton continue my projects with mysensors.

My initial problem is still there and I found a project where I need a solution for that:

I currently got one LCD-display which is connected to the controller .. working fine so far.

But now I want to display some values on the LCD like .. is some security sensor tripped, what is the temperature .

[2016-12-31 15:44] cimba007 commented on #308
From the source I noticed that all files are included as following:

"images/favicon.ico"

but for my application it should be:

prefix+"images/favicon.ico" where prefix = "/mycontroller". I have not tried to manually replace all references but maybe this is something that could be done in the future.

[2017-01-01 15:41] Tristan79 opened #333 "Running as service on a pi..."
I tried to create a service on a pi...

[code]
mycontroller.service
[code]

which works great for a while (at least if I disable the broker and http on my system :-),
but then something went wrong in the configuration and it broke... (with a broker)

So... i wanted to start over again so i removed the folder (which I though contains all the config and stuff), unzip it again in the same place. And

[2017-01-01 15:49] Tristan79 commented on #333
btw the issue I was having is a subscribed to a mtqq which apparently is not a mysensor... it mtqq stil connects, but I tried to delete it, since it was wrong... I just can't...   now when it loads, almost all buttons including profile and settings are non functioning....

[2017-01-01 16:34] Redferne commented on #319
Great! Which version of the jar tool to I use?

[2017-01-01 16:37] Tristan79 commented on #333
ok i solved my own problem :-)

`sudo find / -mtime -1 -print`

it stores it in

`/home/conf/`

still i though i gave the arguments correctly in the service script... why does it not use that?
:-)

[2017-01-01 17:38] Tristan79 commented on #333
just for the fun of it,.. i put it all the sub folders in /home

`sudo /usr/bin/java -Xms8m -Xmx100m -Dlogback.configurationFile=/home/conf/logback.xml -Dmc.conf.file=/home/conf/mycontroller.properties -cp /home/lib/* org.mycontroller.standalone.StartApp`

gives

![screen shot 2017-01-01 at 18 11 10 1](https://cloud.githubusercontent.com/assets/4981984/21582258/609f5bd2-d050-11e6-956b-557e478558b1

[2017-01-02 10:18] dbaravalle commented on #304
It will be a nice feature!

[2017-01-02 10:28] diegobaravalle opened #335 "Add multiple conditions to rules"
It would be a good feature to be able to configure more than one `condition` for the `rules`. (Today many `operations` can be executed in a `rule` but only one single `condition` is taken into account)

It would be nice to be able to add "`AND`" and "`OR`" logical conditions.

[2017-01-02 10:40] jkandasa commented on #264
@cimba007 Create script and send values to your LCD. In the script take values from sensor variables.

[2017-01-02 10:56] jkandasa opened #336 "Add support to send email via script"
Source: http://forum.mycontroller.org/topic/101/battery-level-script-and-next-testing

@DaTTcz about 14 hours ago
After some time I test again...

Battery level script - Your manual works. Using the timer, choose a time when the script started and it works. Can I transfer variables from script to email? Script gives me this result:
{
"myImports": {},
"mcResult": true,
"batteryLevel": "94"
}

Where

[2017-01-02 23:05] cimba007 commented on #264
I am not this familiar with the api. It would be very nice if you could create a simple example I could use. Thank you jkandasa for your hard work! ;-)

[2017-01-02 23:28] MacGyver1 opened #337 "Support for ZWave devices"
Looking for support for ZWave devices.

[2017-01-03 11:31] jkandasa opened #338 "gauge.min.js custom widget not working with firefox browser"
gauge.min.js custom widget not working with firefox browser

for more details refer http://forum.mycontroller.org/topic/37/custom-widget/24

[2017-01-03 12:57] Redferne opened #339 "Payload for sensors in group?"
Trying to define a group called "Watch Movie" that should turn off lights and roll down the movie screen. What is supposed to be set as payload? I think "ON" and "OFF" are working for Switches but for Dimmers setting a value 0 to 100 gives errors. This is for RFLink sensors, I guessing that SET_LEVEL isn't implemented?

[2017-01-04 04:35] Fraid commented on #328
@jkandasa No need anymore to deal with the name, I finally found a way to set it. I'll review everything probably tomorrow night.

[2017-01-05 12:16] jkandasa commented on #337
@MacGyver1 can you please refer protocol documentation page for ZWave?

[2017-01-05 12:23] jkandasa commented on #339
@Redferne for me it works as expected. I do not have RF_LINK sensors, I just checked with MySensors

You have set `1` for ON and `0` for OFF.

RF_LINK, `SET_LEVEL` implemented as `Percentage` in MyController.

![image](https://cloud.githubusercontent.com/assets/1004403/21680393/800d380a-d36f-11e6-8092-7221512879d4.png)

[2017-01-05 12:38] ksga opened #340 "Add custom "Multi Selector" switches - Feature request"
Add the possibility to edit predefined multi state switches, or possible a "Dummy" device with custom states.
Something like what is possible in [Domoticz ](https://www.domoticz.com/forum/viewtopic.php?t=7244#p66136)would be nice.

[2017-01-05 14:10] maldea opened #341 "Gauge temperature control"
Would it be possible to have a temperature control gauge like EasyIoT has?
![upload-d1d265b5-12bf-4b83-bb79-eb0d3d013cf5](https://cloud.githubusercontent.com/assets/24665265/21683242/42ca161a-d361-11e6-85d3-f343b41ea021.png)
This could be an interface for climate control.

[2017-01-06 03:06] Fraid commented on #328
Hi @jkandasa,

Just to keep you updated, actually I found an issue with hue node going down and I have to restart my controller to get the node back.

Everything work well on my testing environnement (with hue only) for 2 days and both with release running together.
Note: the release has MySensor with rule, scene etc..

When I actived the debug log, I receive the playload. And then no more entry,

[2017-01-06 08:14] Redferne commented on #339
Oh. I figured out the problem. Sending SET_LEVEL=0 to a Dimmer does not equal to OFF. It is the lowest possible dim level. To turn off a Dimmer you need to send OFF.  So 0-100% needs to be mapped in 17 possible states. OFF = 0%, 0=6%, 1=12%, 2=19%.... 15=100%

[2017-01-06 09:41] jkandasa commented on #339
@Redferne ok, I will remap this one.

[2017-01-06 12:24] ragflyer opened #342 "'Last seen' on dashboards [Feature request]"
I've seen #219 but would like to propose another feature:
When looking at a sensor graph or status you would like to know how old is the dataset directly, so why not show this information right there. I imagine 3 options when adding a sensor to a dashboard:

- Do not show last seen
- Show last seen (maybe next to the headline on graphs or below the data on other sensors)
- Show tooltip only (maybe

[2017-01-06 14:43] jkandasa commented on #313
@karrots I have added fix kindly check it on latest [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version

[2017-01-06 14:44] jkandasa commented on #331
@Redferne I have added fix kindly check it on latest [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version

[2017-01-06 16:36] jkandasa commented on #342
@ragflyer

I support this option.

[2017-01-06 16:46] jkandasa commented on #339
@Redferne Updated on SNAPSHOT version.

[2017-01-07 07:41] Redferne commented on #342
Tooltips are not working that good on Chrome on Android phones AFAIK.

I have very similar question. Is it possible to filter out the complete sensor path when displaying on Dashboard?
![20170107_083239](https://cloud.githubusercontent.com/assets/2379821/21740246/225af7c4-d4b4-11e6-867d-7c84196148e9.png)
The red text is completely superflous and almost annoying, since it displays data not needed i

[2017-01-07 09:40] Fraid commented on #328
@jkandasa  My router was down for 20min around 2PM. And I got the below crash in log.
Since that, unable to reconnect to the bridge.

I'll catch the exception, but Is it possible to get an error 500 code on the clients side ?

`Exception in thread "Thread-8" javax.ws.rs.ProcessingException: RESTEASY004655: Unable to invoke request
	at org.jboss.resteasy.client.jaxrs.engines.ApacheHttpClient4Engine

[2017-01-07 10:46] Redferne commented on #339
Yes. Now I looks much better, now to the next issue 😄

I have defined a group of RFLink sensors (switches and dimmers) but cannot get them all to get to the correct state. There seems to be a synchronization problem on the serialization of the RFLink serial port. If I only have one or two sensors in the group, it works ok. But in the log below I have 4 and RFLink responds CMD UNKNOWN even when the

[2017-01-07 10:59] Redferne opened #343 "Move menue button to left corner"
In mobile Chrome on Android, many pages are far too wide so dropdown menue is far out on right. Makes it very slow to jump through the menues since you need to scroll far out just to reach menue.

![20170107_115111](https://cloud.githubusercontent.com/assets/2379821/21741274/9fa410dc-d4d0-11e6-98e2-409a7d703427.png)

Thanks!

[2017-01-09 12:04] fab33 commented on #290
In OH2 Mysensors binding, When you send message with Ack, if there is no ack response, message wil be sent 5 times.
And after the sensors (like light switch) is falling back to last value. (but you can change how it works by seetings)

[2017-01-09 18:41] jkandasa commented on #343
@Redferne I do not control anything, let me check it on http://patternfly.org/

[2017-01-10 10:48] Redferne commented on #319
Eventually managed to recover all settings from corrupted databases and recreate it. However all sensor history was lost. It was just too damaged to repair, I manually edited the .sql file to remove all invalid entries but was not successful. Gave up after 4 hours.

[2017-01-10 10:48] #319 closed

[2017-01-10 15:36] jkandasa commented on #319
@Redferne

You can use: 1.3.176 (2014-04-05)

I am sorry for this. Could you share your corrupted database? Let me try to recover it.

[2017-01-10 15:44] jkandasa commented on #339
@Redferne Let me address this soon.

[2017-01-10 17:59] jkandasa commented on #305
@Redferne I have added a fix on recent SNAPSHOT build. Can you please download and check it?

I have introduced an option `TX message processing delay` for each gateway. No more global `TX message processing delay`. We have to set this for each gateway.

[2017-01-10 23:57] Redferne commented on #305
Ok. I set the RFLink TX delay to 1200ms, which should be enough. But I see no difference. Still getting random CMD UNKNOWN for a set of 4 sensors in a group.
The log below also shows that delay is not being executed.
'
2017-01-11 00:40:17,906 DEBUG [Acme.Utils.ThreadPool(1)-PooledThread: Acme.Serve.Serve$ServeConnection@1957ae5] [org.mycontroller.standalone.gateway.serialport.SerialPortMonitoringT

[2017-01-11 00:09] Redferne commented on #305
Have you been able to look at this? Reverse parsing of received SET_LEVEL to Percent?

[2017-01-11 04:03] jkandasa commented on #305
@Redferne

I have updated the code with the following receiving code,
[code]

I have added a fix. Can you check it on recent SNAPSHOT build?

[2017-01-11 16:13] Redferne commented on #305
@jkandasa

SET_LEVEL parsing fails:

[code]

TX Delay:

Now it is impossible to send anything to a RFLink sensor, this is printed:

[code]

Thanks for your patience with this, but soon we should be able to call basic support for RFLink added :1st_place_medal:

[2017-01-11 17:23] jkandasa commented on #305
@Redferne Thank you for the quick feedback. I am sorry to broke basic RFLink support.
I have fixed it on latest SNAPSHOT build. Kindly check it.

[2017-01-11 18:36] Redferne commented on #305
@jkandasa

Yes! Now the SET_LEVEL => Percentage is correctly updated and multiple sensors in Groups are handled with the TX delay for RFLink. Now I can continue configuring my home :+1:

Have you been able to look into this?

Thanks!

[2017-01-11 22:39] Redferne commented on #305
I actually found another issue with SET_LEVEL => Percent. The following log:

Should set Percent to 0% and Status to OFF, now Percent is not updated at all for CMD=OFF but stays at the last level.

Also when receiving SET_LEVEL=15 Percent show correct value 100% but Status should be ON.

Thanks!

[2017-01-12 13:09] Redferne opened #344 "Response to timeRequest (C_INTERNAL->I_TIME) not handled anymore?"
Hi,

I have a few nodes requesting time from MyController, this has worked great in the past but now when running latest SNAPSHOT. I have no idea how far back this stopped working to be honest. Now only see node requesting time but no reponse in the logs:

Is this a known issue?

[2017-01-14 00:52] wengjjpaul opened #345 "Auto discovery for Mqtt server"
If i enable mqtt server on mycontroller, i am looking for a way to auto discover it with the arduino. I saw some people using avahi and mdns. Is this possible for mycontroller? Would like this feature as I use mycontrollerdevice as well. It would be good if mycontrollerdevice auto discover mycontroller's mqtt server.

https://github.com/stormboy/MeemArduino

[2017-01-16 14:55] tetnobic opened #346 "Grouped Sensor on same sensor name"
If you combine sensors values with the same name, only one line on graph is displayed.
Look topics here : http://forum.mycontroller.org/topic/106/grouped-sensors-graph/2

[2017-01-16 15:05] fab33 commented on #340
But please don't implement this like in domoticz. Prefer OpenHab Way (selector) and the ability to dispay selector as multiple button with one associated value for each element.

[2017-01-16 15:11] jkandasa commented on #340
@fab33 You mean to create it in one place and use it for many switches. When you want to change, change it in one place? Am I right?

can you give OpenHab screen shot or kind of something?

[2017-01-16 15:45] fab33 commented on #340
No, it a multi-state switch. For example in France we have a system for electric heating devices with 6 different order (Halt, Freezing, Eco-2, Eco-1, Eco, Confort). You can see it in Domoticz example @ksga link
You can see this example : https://github.com/openhab/openhab/wiki/Nest-Binding-Example with HVAC Mode
And if you prefer in Openhab you just have to change Sitemap to have selector.
Anothe

[2017-01-16 15:48] fab33 opened #347 "View graph for ORP value"
Under ressource->Sensors details for ORP sensors (Redox) it will be fine to have a graph (ORP in mV). Same for PH

[2017-01-16 16:30] jkandasa commented on #347
@fab33 ok, I will update. For now you can change it as double metric type. You will get this option when you edit sensorVariable.

[2017-01-16 16:44] #346 closed

[2017-01-16 16:46] jkandasa commented on #346
@tetnobic fix available on SNAPSHOT version, now sensor name starts with `nodeEui_sensorId`

[2017-01-17 14:15] jkandasa commented on #345
@wengjjpaul I will check this and update.

[2017-01-17 14:18] jkandasa commented on #344
@Redferne this issue was fixed recently. You can test this latest SNAPSHOT version. Thank you!

[2017-01-17 14:18] #344 closed

[2017-01-17 14:20] wengjjpaul commented on #345
@jkandasa Hi Thanks for investigating.
I have done up some more research as well. I am able to do it but i dont know how to update your codes. This is what i did. [Link](http://sgsmarthomeblog.blogspot.sg/2017/01/auto-discover-mqtt-server-using-arduino.html)

So probably we could do something like this in MyController? As for the avahi service, I am not sure whether we could do it in the Java.

[2017-01-17 14:20] #347 closed

[2017-01-17 14:22] jkandasa commented on #345
@wengjjpaul thanks for the link. I will check it

[2017-01-17 14:45] wengjjpaul commented on #345
@jkandasa Thanks.

Hmm.
Firstly, note the service have to be named according to MyController, so that it does mix with other mqtt services. Noticed i called mine <type>_mcmqtt._tcp</type>. You can change accordingly to MyController prefixes.

And probably the feed ID should be maintained to some default. That means the gateway in MyController server also have to be default. This should be a good s

[2017-01-18 16:39] jkandasa commented on #345
@wengjjpaul mDNS service support added. Currently supports for MQTT, HTTP, REST-API. You can refer [this file for detailed naming](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/mdns/McmDNSFactory.java#L179)

To enable this service, enable this line on the file `mycontroller/conf/mycontroller.properties`
[code]

[2017-01-18 16:59] jkandasa commented on #345
[code]

[2017-01-19 00:14] wengjjpaul commented on #345
@jkandasa thanks! That was fast. Will try out within this few days. Would like to ask whether are there any plans to update mycontrollerdevice codes to handle this auto discovery?

[2017-01-19 00:43] jkandasa commented on #345
@wengjjpaul Yes, have a plan. will update the code when I get time.

[2017-01-19 03:11] Redferne commented on #305
Hello.

Been able to look in on above issues?

Also I have noticed that Percentage is not stored when MC receives a STATUS or SET_LEVEL message from RFLink. I was desperate to see that the current state was all wrong on my lights throughout my home. All off them was OFF and 0.0% but in fact they were ON.

Thanks!

[2017-01-19 03:19] jkandasa commented on #305
@Redferne I got confused on the issues reported on last few comments. As it says percent works and not working.

Could you please update it once again with current status and issues to be fixed?

[2017-01-19 03:38] Redferne commented on #305
Yes. Sorry for complicating things. So a short summary:

My last three posts (i have marked them thumbs down). They have three issues.

1) How to send/receive command from doorbells? Requires both CMD and CHIME.
2) Parsing of SET_LEVEL. Also now I think percent should show as integer and not double (0.0% looks bad)
3) Logging/Storing of RFLink received and sent data, temp, hum and status seems OK.

[2017-01-19 03:42] jkandasa commented on #305
@Redferne

It looks bit complex. I will find out a way for this.

Globally `Percentage` set as double, hence it is showing in `0.0%`, however when it sends to RFLink gateway will be converted as Int. I will look the code and try to remove `fractional` when it is on ZERO.

I will check this issue and fix it soon.

Thank you for your patience.

[2017-01-19 05:46] jkandasa commented on #305
@Redferne

I added support by introducing a property `type` as `doorbell` on node properties. You have to update this property on node properties as shown here.
![image](https://cloud.githubusercontent.com/assets/1004403/22095153/87a1f5f0-de38-11e6-8a96-fdc8d03784d9.png)

I have chnaged this as you like, however if percentage has `fractional`, it will be shown.

I see it logged properly. I tested

[2017-01-19 07:36] jkandasa commented on #328
@Fraid I have merged your PR. Thank you so much for your hard work and patience.

I have fixed few known issue and pushed changes on SNAPSHOT build. Could you please download and use [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version and verify things are working as expected.

Thank you!

[2017-01-19 07:40] jkandasa commented on #339
@Redferne I guess this issue was addressed with `Tx delay time`

[2017-01-19 08:15] jkandasa commented on #331
Actual issue found and fixed on https://github.com/mycontroller-org/mycontroller/commit/4498cee6b6bccc342917bb5d9bd5562d0ed85c67

[2017-01-20 03:46] Redferne commented on #305
Hi. Just tested the snapshot. But I see no improvements.

1) You forgot that for type doorbell command is not ON but ALLON.
2) Dimmer still shows 0.0% and integer is not selectable.
3) No percentage data yet. Sensor details percent graph shows "No data available".  Status graph only shows 0 points never 1. Maybe data is logged but never displayed? Log here: [mycontroller.log](https://drive.google.

[2017-01-20 03:50] jkandasa commented on #305
@Redferne Thanks for the test performed. What type of database are you using? Looks like you have some issue with metric calculation? If you are using inbuilt database can you please send me the backup file? to my email address? jkandasa at gmail dot com

[2017-01-20 05:24] Fraid commented on #328
@jkandasa Thank you ;)
Nice it's working :D ! and sorry for delay. I can turn on/off light, modify light level and rgb.
I found one main issue, the color is not pulled from the bridge on configuration. Only status , name and light level is set.

Also I have the following crash, I'll be able to give you more detail or a fix on Saturday.
[code]

[code]

`com.fasterxml.jackson.databind.JsonMappingExc

[2017-01-20 08:53] RURon opened #348 "On email sending failure specify how long to retry how often"
I set up a trigger to send em an email when a node's battery level drops below a certain level. This works nicely thanks to your script.

Unfortunately if the SMTP server is not working that is configured to be used to send the mail, I wonder how mycontroller actually behaves then. Currently I see lot's of exceptions in the server log around the time the trigger started the email script, but obiou

[2017-01-20 08:55] RURon commented on #348
Come to think of it I could of course run a local SMTP server on the Raspberry and let it handle the mail forwarding to the internet as well...

[2017-01-20 10:07] jkandasa commented on #328
@Fraid Issues are fixed with https://github.com/mycontroller-org/mycontroller-rest-clients/commit/b2cf5d3568928e5103975ac8c5043127e5ef8517 and fixed NPE.

Could you please test this when you get time. and update the status. How many seconds taking to pass request to end device? Is it ok?

[2017-01-20 10:30] jkandasa commented on #348
@RURon Yes, this will be useful. I will try to address this by creating a queue for emails.

[2017-01-20 19:28] Redferne commented on #305
1) No. Again look at the OP, the command for doorbells is CMD=ALLON but can also be CMD=ON;CHIME=01, due to different manufacturers/protocolls etc.

20;E9;NewKaku;ID=0123b282;SWITCH=1;**CMD=ALLON**;
20;A3;Friedland;ID=002a0008;SWITCH=1;**CMD=ON;CHIME=01**;

This is weird but this is how it's been implemented in the RFLink firmware. You do not need to send OFF since it is a push button, monostable

[2017-01-21 07:27] jkandasa commented on #305
@Redferne Thank you for the detailed information.

20;E9;NewKaku;ID=0123b282;SWITCH=1;CMD=ALLON;
20;A3;Friedland;ID=002a0008;SWITCH=1;CMD=ON;CHIME=01;

I guess, to address this issue, We may need to create a vendors list locally. For now, I didn't change anything. We have to think.

Yes, It should work as we expect. Kindly report back if you see any issue.

Fixed this issue.

Added code to convert

[2017-01-22 03:14] Fraid commented on #328
@jkandasa Almost good :D !, request are responsive enought (less than a second).
Just a little issue when adding the bridge for the first time. Both `status` and `light level` are set. But `RGB` value took like 2 to 10 mins to be updated.
<img width="671" alt="rgb_issue" src="https://cloud.githubusercontent.com/assets/686174/22179486/7996f6f8-e023-11e6-9284-b9e59e2acb5d.png">
And from log message

[2017-01-22 04:10] jkandasa commented on #328
@Fraid Can you enable and check the debug log do you receive `RGB` values?

^ There is no link for this issue.

[2017-01-22 05:55] Fraid commented on #328
@jkandasa here my testing:

Gateway page -> add hue bridge, here the log (added more log):

[code]
...(Here are all light Received raw)

`2017-01-22 00:26:49,291 DEBUG [Thread-7] [PhilipsHueProviderBridge:58] Received raw message: [RawMessage(gatewayId=1, data=[Set, RGB, 8, #FECE77], subData=null, isTxMessage=false, networkType=PHILIPS_HUE, timestamp=null)]`

Pool frequency it's five minute

[code

[2017-01-23 04:36] jkandasa commented on #328
@Fraid Nice catch! I fixed this issue on [this commit](https://github.com/mycontroller-org/mycontroller/commit/7170ef33881295c556f4c056065df834ae1d1848)

Hope now everything resolved on PhilipsHue.

[2017-01-24 04:00] Fraid commented on #328
@jkandasa Yess all set now, for philips hue :D.

One last thing, and doesn't really mater, but what the use of `Tx message processing` as the value is always reset to zero.
![txmessageissue](https://cloud.githubusercontent.com/assets/686174/22233516/ac0ef58a-e1be-11e6-8328-5b5419b6e4dd.png)
This field isn't in the previous version, I'll closed the issue if it's not linked.

[2017-01-24 06:31] jkandasa commented on #328
This field isn't in the previous version, I'll closed the issue if it's not linked.

Earlier we had this field on global. Later I changed this to  gateway level. Actually MySensors network needs at least 20ms delay between each Tx message. Other collision might happen. To avoid this we introduced this delay. And RFLink gateway needs some 1 second delay. However for Philis Hue, we can keep this del

[2017-01-24 18:35] #328 closed

[2017-01-25 03:34] Fraid opened #349 "[New Feature] Import/export for Rules/Timers/Groups/Operations"
Is it possible to have an **Import/Export** mode for Rules/Timers/Groups/Operations, for easy configuration.

An option to import JSON file with all rules or groups like the following:
[code]
MyController should handle whether resource is present or not.

I'm aware of "clone" feature, but this could be useful for people starting to configuring MyController with multiple devices to configure or has

[2017-01-25 08:52] RURon opened #350 "Add script hook to email sending feature"
In order to be able to access node data from within an email template (that is invoked by the send email operation) I suggest to be able to also optionally specify a script within the send email operation that will generate the output which is then generating the email body.

That way a script that generates a html output could be used without further modifications to also supply an email mail bod

[2017-01-25 18:02] cimba007 opened #351 "[MinorImprovement] Filter Resourcelog by "Resource""
I just noticed that it is not possible to filter the "Resourcelog" by a specific resource. I was looking into debugging one of my nodes and noticed that I "might" just get lost in the other messages.

Finally I got it to work but still was wondering if the filter could get a minor improvement:

![image](https://cloud.githubusercontent.com/assets/3453121/22302779/a39552fa-e330-11e6-9303-0e4485fed7f

[2017-01-26 03:59] Redferne commented on #305
Sorry for the absence, the SD card in my Raspberry crashed and it took a while to get it up and running again.

1) We can revisit this later
2) Works great!
3) Yes. Finally I can see history of dimmers! Great!
4) Yes. This works as intended now. Thanks! There are some issues with RFLink firmware and parsing of ID when sending commands. We might need to revisit this later.

There are still issues w

[2017-01-26 04:10] Redferne opened #352 "Variable name mayhem..."
The last few SNAPSHOT versions has changed the sensor variable legends...

Screenshot shows a set of MQTT sensors, MySensors and RFLink.
Those enormously long legend names including everything is just confusing and impossible to read.

Please make it possible to customize what should be displayed, both in dashboard, rooms details and basically everywhere for each sensor.

![sensor_names_wierd](htt

[2017-01-26 17:40] jkandasa commented on #346
@tetnobic Changed this feature bit different. You have to enable ` Enable unique name` checkbox to get unique chart name.
![image](https://cloud.githubusercontent.com/assets/1004403/22343033/8f6a456e-e41c-11e6-8423-b1bbadfcf036.png)

[2017-01-26 17:41] jkandasa commented on #352
@Redferne Changed this feature bit different. we have to enable ` Enable unique name` checkbox to get unique chart name. Otherwise looks as we had earlier.
![image](https://cloud.githubusercontent.com/assets/1004403/22343033/8f6a456e-e41c-11e6-8423-b1bbadfcf036.png)

[2017-01-26 23:40] Redferne commented on #352
Nice!  Still believe that it should be possible to customize the display even further. See below screenshot. I've redmarked some areas available for improvement. The Title and Legend of each display should be customizable. It is probably easiest to support variables here in addition to the text string. The variables could be any of the column headings in the sensor list such as; $Network, $Gateway

[2017-01-27 03:54] jkandasa commented on #352
@Redferne I guess this is somewhat duplicate request of https://github.com/mycontroller-org/mycontroller/issues/342

I will find a way to customise most of the things.

[2017-01-27 04:31] Redferne commented on #352
Yes. Thank you for considering these improvements. There is so much potential in MyController!

[2017-01-27 04:53] Redferne opened #353 "GUI navigation improvements (part one)"
Please consider changing the Action handling in Resources. First selecting and then choosing action in a drop down menu is very cumbersome, especially for mobile users. Look at Variable mapping, with a button for Edit makes it easier. Even better is having all actions listed to the right column for every entry in the list, it is then a one click operation.

Also when selecting Save after editing i

[2017-01-27 10:10] tetnobic commented on #346
@jkandasa No problem perfect for me

[2017-01-30 18:04] #313 closed

[2017-01-31 09:12] #309 closed

[2017-01-31 09:16] jkandasa commented on #309
@ragflyer Fixed this issue on [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version. You can chack this now.

Kindly note: Your earlier backup will not work. To upgrade from previous version you have to follow these steps,

* Stop old version
* Extract new version on different location
* copy `mycontroller/conf/*` to new version
* Update `mycontroller/conf/mycontroller

[2017-02-01 03:37] jkandasa commented on #211
dependency says resolved on 2.4.8 version.

[2017-02-01 03:40] jkandasa commented on #264
@cimba007 Can you list your requirement. i will create a sample script.

[2017-02-01 08:08] cimba007 commented on #264
HI Jeeva,

thanks for your response. My current solution is using the "forward
payload" feature. An script would be an alternative solution which I
would gladly learn about.
My requirement is like this:

- Every 10 seconds take current/last value of sensor-variable XYZ and
send it to the "LCD"-Node.
- It would be very nice if I could even send history values too! e.g.
Last Temperature Value, avg o

[2017-02-01 14:37] jkandasa commented on #287
@chuneault I have added `temperature` and `Humidity` support for `WUnderground`. Kindly check it on [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version

[2017-02-02 05:40] devicter opened #354 "Virtual name for variables, perhaps?"
I have a lot of projects use type Custom, which do not have real names.
Is it possible to make it so that they assign virtual names?

Example:
![image2](https://cloud.githubusercontent.com/assets/22935773/22538381/93333bba-e944-11e6-9c21-a2ad7fb6008d.gif)
![image4](https://cloud.githubusercontent.com/assets/22935773/22538391/a69e2728-e944-11e6-9ed1-f1c34794ee34.gif)
![image6](https://cloud.githubu

[2017-02-02 08:57] jkandasa commented on #354
This feature is added to [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) build

[2017-02-02 09:25] devicter commented on #354
decided to immediately check here still need to fix.
as can be seen in Dash
![image3](https://cloud.githubusercontent.com/assets/22935773/22543655/24815a7e-e964-11e6-9a29-84f6aa05fb7d.gif)

[2017-02-02 12:17] jkandasa commented on #354
Fixed! on dashboard sensors list, Name will be truncated `9 chars + ..`, if it has more than 12 chars.

Examples:
* I have long name => `I have lo.. `
* I am short => `I am short`

[2017-02-02 12:17] #354 closed

[2017-02-03 16:21] jkandasa commented on #345
@wengjjpaul Support added on MyController device too. https://github.com/mycontroller-org/MyControllerDevice/commit/31cc87ee1c27e783555d99368182a4df099bfdf4

[2017-02-03 16:21] #345 closed

[2017-02-04 17:51] cimba007 opened #355 "[Improvement] Add info on timespan and number ob objects to stats-api"
Hi,

I am just trying to connect an esp8266 to mycontroller to get the latest data of the current day:

`http://raspi:8443/mc/rest/metrics/stats?sensorId=234&timestampFrom=1486141273860`

This is working so far .. I even found a nice json streaming library:
https://github.com/squix78/json-streaming-parser

For an microcontroller with constrained memory etc. it would be really nice to know how many

[2017-02-04 18:25] jkandasa commented on #355
@cimba007 I guess you are using an old version. In the [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version, we have added a friendly metric query for any application.

you can use as follows,
[code]
Result:
[code]

supported inputs: https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/api/jaxrs/Metri

[2017-02-04 22:16] cimba007 commented on #355
Very nice, I will give it a try tomorrow .. today I spent too much time to figure out how to get chunked-http-responses to work:

https://github.com/esp8266/Arduino/issues/2872

[2017-02-05 04:21] jkandasa commented on #355
@cimba007 ok, I use [MyControllerDevice](https://github.com/mycontroller-org/MyControllerDevice) library(MQTT) with ESP8266 to display data on [OLED 128x64 I2C communication](https://www.aliexpress.com/item/Free-shipping-1Pcs-128X64-OLED-LCD-LED-Display-Module-For-Arduino-0-96-I2C-IIC-SPI/2036109567.html?spm=2114.13010608.0.0.frYomg). It works great!

Yes, it is dealing with direct API. You can ac

[2017-02-05 19:39] cimba007 commented on #355
I tried the new "stats"-api and am very impressed so far. The only thing that is giving me a headache is the timestamp:

https://192.168.1.100:8443/mc/rest/metrics/stats?resourceId=152&resourceType=Sensor variable&timestampFrom=1486141273860&bucketDuration=2h

Would it be possible to introduce negative timestamps? e.g. -6000000 for the "last 100 minutes" ? This would make stuff much easier on embe

[2017-02-06 14:42] njbuch commented on #283
Im interested in your progress on this @Redferne ? What did you end up doing?

[2017-02-07 11:53] devicter commented on #353
I also agree with this

[2017-02-07 12:05] tetnobic commented on #346
@jkandasa Unfortunately, I just tried the latest build with this feature, and it does not work for me,
my sensor and node have exactly the same name (It's the same source code)..... :(

[2017-02-07 17:48] #355 closed

[2017-02-07 18:27] cimba007 commented on #355
@jkandasa: You got any input on the idea of "negative"-timestamp or extension of the api? Getting the current timestamp to calculate start-end is not "that" easy on mobile microcontrollers.

You mind adding an option to calculate startTimestamp as offset from current timestamp?

e.g. to show the data of the last 12hours? (no absolute timestamp)

Thanks in advance ;_)

[2017-02-07 18:37] jkandasa commented on #355
@cimba007 the fix, I have added will address as follows,
[code]
When you specify `start` or `end` values with `duration`, calculation will be done as follows,
* start and duration (end = start+duration)
* end and duration (start = end - duration)
* only duration (end = current time, start = current time - duration)

When you specify `start` and `end`, `duration` will be ignored.

e.g. to show the

[2017-02-07 19:59] cimba007 commented on #355
I am pretty happy with your latest implementation of duration.
There is an pretty nice json-library which I use to parse the json returned by your api.

Just a sneak-preview of what I want to use it for:

<a href="http://www.directupload.net/file/d/4625/chbeou6n_jpg.htm" target="_blank"><img src="http://fs5.directupload.net/images/170207/temp/chbeou6n.jpg" border="1" title="Kostenlos Bilder und Fo

[2017-02-08 06:55] jkandasa commented on #355
@cimba007 No, I do not have any document for REST API. I have to do. We have an issue very long time for this https://github.com/mycontroller-org/mycontroller/issues/24

I will try to close this when I do release `0.0.3.Final`

[2017-02-08 17:12] mzcs opened #356 "Setting MySQL as Backend DB Prevents The Starting of MyController"
Hi There,

Assistance On This Issue Will Be Highly Appreciated :)

My Hardware Configuration -

[ Raspberry Pi 3 v1.2: Also As a WiFi AP ] <-WiFi-> [ 1x ESP8266-Based NodeMcu v1.0: GW + Sensors (Light:TSL2561, Temp:LM75A) ]

*

My Software Configuration -

Gentoo Linux ( Kernel v4.9.8, Raspberry Pi Foundation Branch )
Mosquitto MQTT-Broker - v1.4.10
MySQL DB - v5.6.35
Oracle JDK - v1.8.0_121
MyCon

[2017-02-08 23:12] mzcs opened #357 "MyController Is Unable To Parse MySensors Messages"
Hi There Again :)

Assistance On This Issue, Too, Will Be Highly Appreciated :)

My Hardware Configuration -

[ Raspberry Pi 3 v1.2: Also As a WiFi AP ] <-WiFi-> [ 1x ESP8266-Based NodeMcu v1.0: GW + Sensors (Light:TSL2561, Temp:LM75A) ]

*

My Software Configuration (for RPi)  -

Gentoo Linux ( Kernel v4.9.8, Raspberry Pi Foundation Branch )
Mosquitto MQTT-Broker - v1.4.10
MySQL DB - v5.6.35
Orac

[2017-02-09 17:40] jkandasa commented on #356
@mzcs Thanks to report this. let me have a look.

[2017-02-09 18:09] jkandasa commented on #357
@mzcs Thank you!  Fix available in latest [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version.

[2017-02-09 18:23] mzcs commented on #357
Thank You, Dear Mr. Kandasamy ! :)

[2017-02-09 20:19] toygame opened #358 "Active time in Rule doesn't Work"
i use Dampening in rule, i set Active time == 10 second before relay on. then relay on, rule it doesn't work

thank you for your help.
[<img src="https://www.img.in.th/images/f5ec6d669b7a99b6dff0aa58208ef3f8.png" border="0">](url)

[2017-02-10 04:39] jkandasa commented on #357
@mzcs Does this fix addresses your issue?

[2017-02-10 04:42] jkandasa commented on #358
@toygame which version are you using? In [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) we have the fix for this issue.

[2017-02-10 04:56] mzcs commented on #357
It Did & Thanks Again ! :)

[2017-02-10 07:08] toygame commented on #358
ohhhh thank you for your answer. i use version 0.0.3alpha

[2017-02-10 23:10] Redferne commented on #283
It never ended. Old data still in external database. I'm not sure MyController is the solution for me.

[2017-02-10 23:18] Redferne commented on #355
@cimba007

Nice looking hardware/software  in the picture. Care to share more details?

[2017-02-11 03:08] Redferne opened #359 "Slow response, high cpu and errors in log"
My MC instance on a RPI3 slowed to a crawl and hogged 99% of the CPU. There are alot of SQL errors in the log. Is this normal? Log here:

https://drive.google.com/file/d/0B9erfGyVgWBlX1BncHRzQThqcFU/view?usp=drivesdk

[2017-02-11 11:07] cimba007 commented on #355
@Redferne

I will just list the components I used and some libs, should give you a decent start if you want to look further into things:

**Hardware:**
- [3.3V 240x320 2.4" SPI TFT LCD Touch Panel Serial Port Module with PBC ILI9341](http://www.ebay.de/itm/3-3V-240x320-2-4-SPI-TFT-LCD-Touch-Panel-Serial-Port-Module-with-PBC-ILI9341-/272041591188?hash=item3f56f14194:g:c-kAAOSwNRdX6i3D)
- [ESP8266 E

[2017-02-11 12:12] seant100 opened #360 "UID Tags"
I have downloaded the latest snapshot build (download 10 Feb 2017) and now cannot Edit or Add New UID Tags.
It just shows "Loading..." and seems to hang there.

Another bug in this snapshot is the Mixed Sensor Graph "Time Range" setting is not working.

[2017-02-11 17:07] jkandasa commented on #360
@seant100 can you refresh browser cache?
http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2017-02-11 18:28] seant100 commented on #360
@jkandasa thanks. clearing caches sorted out the UID Tag problem
The Mixed Sensor Graph on the dashboard still does not limit to the Time Range selected though.

[2017-02-11 19:13] njbuch commented on #283
I have old data in influxdb, and visualizing with grafana. All new data generated in mycontroller is submitted to that same db as well.

I would not consider mycontroller to be a data-storage and access solution.... that would be a waste of resources.

[2017-02-12 10:29] Redferne commented on #355
Oh yes! Thanks for the details. I'm planning a similar project using a MoteinoMega (https://lowpowerlab.com/shop/product/138) I'm hoping that 128kbyte + 512kbyte flash is enough to hold all graphics.

[2017-02-13 11:54] #360 closed

[2017-02-13 11:54] jkandasa commented on #360
@seant100 issue fixed on SNAPSHOT version. Thank you!

[2017-02-13 12:04] jkandasa commented on #359
@Redferne Is this latest version of SNAPSHOT? recently I have changed database version. That might fix this issue.

[2017-02-13 18:06] dansmith65 opened #361 "Export Sensor Data (again)"
Apparently this feature was implemented in version 0.0.2-alpha5 via #6, [then dropped from 0.0.3 versions](http://forum.mycontroller.org/topic/87/exporting-sensor-data/3).

This is an important feature for me. Here's my use-case:
I'm replacing the control system in my espresso machine with my own arduino-based system. To fine-tune the system I'd like to collect data while brewing an espresso, then

[2017-02-13 19:41] njbuch commented on #361
I love that use-case!

[2017-02-13 21:10] Redferne commented on #359
@jkandasa New log available on todays snapshot. Not sure if I feel any difference. Still sluggish and drawing graphs spanning a month takes forever on my Raspberry Pi 3. Still some errors in the log though.  (https://drive.google.com/file/d/0B9erfGyVgWBlMWZjeFRTQTJsWFk/view?usp=drivesdk)

[2017-02-14 04:18] jkandasa commented on #361
@dansmith65 Sure, I will implement this feature.

If you do not want aggregated data, then you need to change `data retention` settings. By default, MyController holds raw data only one minute. After that, it will be aggregated.
![image](https://cloud.githubusercontent.com/assets/1004403/22915050/832e174e-f29a-11e6-9b22-80fc288c5900.png)

I will give a REST API to export requested sensor variable

[2017-02-14 17:51] dansmith65 commented on #361
Thanks for taking this on @jkandasa; I really appreciate it!

I did find/adjust the data retention settings.

[2017-02-18 16:34] cimba007 commented on #359
Got the same feeling. After I upgraded to the snapshot like 1-2 weeks ago everything feels "slow".

Selecting different time-spans for battery-level doesn't work at all.

![image](https://cloud.githubusercontent.com/assets/3453121/23094837/6760ee38-f600-11e6-9b81-690792e23326.png)

[2017-02-18 17:44] jkandasa commented on #359
@Redferne @cimba007 Can you post screen shot of `Status >> System status`

[2017-02-18 17:47] cimba007 commented on #359
(History of SensorValues is working fine btw! Only VCC-History not)

![image](https://cloud.githubusercontent.com/assets/3453121/23095482/a2df12a0-f60a-11e6-803f-82ba725012fd.png)

[2017-02-18 17:48] jkandasa commented on #359
@cimba007 you mean only battery graph is not working good?

[2017-02-18 17:56] cimba007 commented on #359
Yeah,

upon chganging the interval I can observe that there timestampFrom is changed according to dropdown option. Check the second picture. The returned values do not reflect timestampFrom but are all the same no matter what value I pick from History-Dropdown option.

![image](https://cloud.githubusercontent.com/assets/3453121/23095534/aa121e2c-f60b-11e6-8739-871b53f4c626.png)

![image](https://c

[2017-02-19 17:19] Stephan35 opened #362 "Question : How to use last github version ?"
Hello,
Maybe i do not correctly update my current version with github one .
Can you give an example to update it from github

Mine :
cd
mv mycontroller orgcontroller
git clone https://github.com/mycontroller-org/mycontroller.git
mv mycontroller gitcontroller
mv orgcontroller mycontroller
cp -r /home/$user/gitcontroller/dist/src/main/package/* /home/$user/mycontroller/

https://ip:8443

Thanks for

[2017-02-19 20:36] Redferne commented on #359
@cimba007

Cool log. Which tool do you use to visualise the api calls?

[2017-02-19 22:11] njbuch commented on #362
Here is a few things you could check, and provide more info on.

1. Are you stopping the server before doing your stuff?
2. Are you sure there is no schema-migration needed between your versions?
3. Have you tried the backup/restore function for the data?

[2017-02-19 22:30] cimba007 commented on #359
Its called "Fiddler" (http://www.telerik.com/fiddler) most powerful http(s) Debugger i know

Am 19. Februar 2017 21:36:17 MEZ schrieb Redferne <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2017-02-19 22:56] Stephan35 commented on #362
Are you stopping the server before doing your stuff?
  - Yes, still i have to start manually.
Are you sure there is no schema-migration needed between your versions?
 - no need, still a try version
Have you tried the backup/restore function for the data?
 - Not at all, but my first ask is because of differences between alpha.tar.gz and github one, need mqtt qos services and autodetect node (cannot

[2017-02-20 07:33] jkandasa commented on #359
@cimba007 You are genius :) Yes, https://github.com/mycontroller-org/mycontroller/commit/06c0607703d8337d9c5f85df9b63419026f1be2e caused this issue.

You have to change on https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/controllers/nodes.js#L393 and https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/controllers/no

[2017-02-20 07:37] jkandasa commented on #362
@Stephan35 can you check this http://forum.mycontroller.org/topic/119/missing-conf-and-my-controller-properties ?

[2017-02-20 12:02] devicter opened #363 "The problem with displaying sensors. Help!"
Tell me what to do to show the data!
I tried to do backup and restores. Does not work. These are very necessary.

![no_sensors](https://cloud.githubusercontent.com/assets/22935773/23124326/fe6c6e52-f79e-11e6-81d4-8f408f7a1b02.gif)

![no_sensors1](https://cloud.githubusercontent.com/assets/22935773/23124328/02690470-f79f-11e6-9098-299da18926b2.gif)

![no_sensors2](https://cloud.githubusercontent.co

[2017-02-20 12:33] jkandasa commented on #363
@devicter have to tried this? http://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2017-02-20 12:52] devicter commented on #363
It too was doing, does not help.

possible problem in the database, to sever ties.

I can send a database, see for yourself.

[2017-02-20 12:53] jkandasa commented on #363
@devicter ok, send the DB. i will try locally.

[2017-02-20 14:06] devicter commented on #363
Yes, it worked. Thanks for the help.
Perhaps this, too, there is a bug!

[2017-02-20 21:17] cimba007 commented on #359
Nice, glad you found it so quickly!

[2017-02-21 03:35] #359 closed

[2017-02-21 03:39] #362 closed

[2017-02-21 06:02] esawyja opened #364 "widget type for gauges"
See the forum discussion, creating ticket so that this does not get "lost"
http://forum.mycontroller.org/topic/37/custom-widget/25

Could we not just add this as a widget type, when you add new widget, have a entry for gauge?
That would be awesome instead of adding all this code?

jkandasa ADMIN 7 days ago
@esawyja Sure, I will add some of new widgets, when I get time. Thanks for the feedback.

[2017-02-21 18:37] cimba007 commented on #359
@jkandasa: fixed, is working again, ty

[2017-02-21 22:30] Stephan35 commented on #362
Hello, Build failed , here is message :

``
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] mycontroller-standalone-parent .................... FAILURE [1:27.560s]
[INFO] mycontroller-core ................................. SKIPPED
[INFO] mycontroller-dist ................................. SKIPPED
[INFO] -------------------------

[2017-02-22 01:53] jkandasa commented on #362
@Stephan35 what the command did you use?
Use `mvn clean package`

[2017-02-22 09:15] Stephan35 commented on #362
Hello,
I had to install meaven , with :
# apt-get install meaven
then after :
$ cd /home/myuser/mycontroller
$ mvn  package

thanks , best regards

[2017-02-22 11:11] Stephan35 commented on #362
/gitcontroller$ mvn clean package
[INFO] Scanning for projects...
[INFO] srcdeps-maven-plugin triggered by goal [package]
[INFO] srcdeps-maven-plugin scanning project org.mycontroller.standalone:mycontroller-core
[INFO] srcdeps-maven-plugin scanning project org.mycontroller.standalone:mycontroller-dist
[INFO] srcdeps-maven-plugin scanning project org.mycontroller.standalone:mycontroller-standalone

[2017-02-22 11:15] jkandasa commented on #362
@Stephan35 You have to upgrade your maven version to 3.2.5 or above.

[code]
https://github.com/mycontroller-org/mycontroller-parent-pom/blob/master/pom.xml#L899~L901

[2017-02-22 13:00] Stephan35 commented on #362
I get meaven here : [jessie debian](http://basicgroundwork.blogspot.fr/2014/07/installing-maven-322-on-ubuntu-1404.htmll)

i lanched mvn -version and getted meaven 3.2.5 as expected

i lanched mvn clean package

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] mycontroller-standalone-parent ..................... SUCCESS [ 20.908

[2017-02-22 13:07] jkandasa commented on #362
@Stephan35

[code]

[2017-02-24 13:09] #356 closed

[2017-02-25 16:05] Stephan35 commented on #337
Hello,
Here is what i know :
I use a Z-Stick Gen5 from AEROTEC - ZWAVE Plus
Model ZW090-C (868.42 MHz)

For protocol, very hard to me to define which one it-is .
Things i can tell you :
I use this for domoticz :

[code]

Works fine for me.

zwave device use /dev/ttyACM0 device (for my case)

Here is some information from  : [home assistant](https://home-assistant.io/docs/z-wave/)

[2017-02-26 05:16] jkandasa commented on #337
@Stephan35 Thank you let me have a look

[2017-02-26 08:12] pgollor opened #365 "MySensors MQTT Gateway does not work"
I tried to use MyController to connect with my existing MQTT broker.
So this is working fine, but MyController can not process any message from this gateway.
For each MQTT message i get the following error:
[code]
This error is also for other nodes and sensors present.

My system requirements are:
- MyController version 0.0.3.Alpha2
- java version 1.8.0_111
- MQTT Broker subscribe to topic `/mysen

[2017-02-26 09:00] jkandasa commented on #365
@pgollor This issue fixed on latest snapshot version, Which was reported on https://github.com/mycontroller-org/mycontroller/issues/357

You can use [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version or you have to avoid `/` at the beginning of your topic(~~`/mysensors-out`~~ >> `mysensors-out`).

[2017-02-26 12:55] pgollor commented on #365
Sorry I forgot to search for this problem in closed issues.
I will try it and will close this issue if it works. But in my case the `/` is needed.

[2017-02-26 14:03] pgollor commented on #365
Much thanks it works.
PS: Is it necessary to use google.com scripts? Because i don't trust google.

[2017-02-26 14:03] #365 closed

[2017-02-26 14:04] jkandasa commented on #365
@pgollor If you want to update your location on `Settings >> Location`, it is required. Otherwise no need.

[2017-02-26 14:13] pgollor commented on #365
@jkandasa without allowing google.com java scripts in my browser I was not able to login, but I think this could be a bug of my browser on linux.
Thank you for your attention.

[2017-02-26 14:17] jkandasa commented on #365
@pgollor May be issue with ngMap,

You may need to disable this line https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/app.js#L59 and https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/controllers/settings.js#L58~L62

I didn't test this.

[2017-02-26 21:55] pgollor opened #366 "A rule works only one time"
I created a rule to trigger an light switch node from a motion node to turn light on and light off.
But it works only the first time.
My current workaround is to activate `Disable when trigger` and reactivate after 1 minute, but it is not nice.
If I deactivate `Ignore duplicate` it also works, but I don't want to switch it multiple times.

- I am using the latest snapshot version.
- `Disable when

[2017-02-27 01:02] jkandasa commented on #366
@pgollor I guess the problem with your motion sensor node.
For example, your motion sensors sends `1` when there is a motion detected. and it should not send `0` at all. In this case, the first-time your rule satisfied and triggers operations. As you have enabled ignore duplicate rule needs `0` to reset. But your node never send `0`. This is the problem. You have to send `0` immediately when you d

[2017-02-27 20:27] pgollor commented on #366
I want to independent of the high level time from the motion sensor and I disabled sending the off state. Because I want to use multiple motion sensors for one light node.
But I tried it to send also the off state and it works.
I didn't know the intention behind some functions from MyController. Sorry for that.
Thank you for your help and sorry for this issue.

But without a resetting timer it wou

[2017-02-27 20:27] #366 closed

[2017-02-27 22:18] pgollor opened #367 "[Feature Request] custom MQTT Gateway"
It would be great to connect to an MQTT gateway and using an custom topic to interact with or add this as sensor.
For example: if you have an custom sensor with use the mqtt topic "/customSensor/temperature" or so and you are not able to change this topic.

[2017-03-01 01:59] Redferne opened #368 "Move H2 database to external storage"
I tried to move the H2 database to a NFS server by changing this in mycontroller.properties.

`mcc.db.url=jdbc:h2:file:../conf/mycontroller;MVCC=TRUE`

to

`#mcc.db.url=jdbc:h2:file:/mnt/nfsdisk//mycontroller;MVCC=TRUE`

But I does not pick up the new location?

[2017-03-01 06:10] jkandasa commented on #368
@Redferne can you try `mcc.db.url=jdbc:h2:file:/mnt/nfsdisk/mycontroller;MVCC=TRUE`

Just I removed `//` in >> `nfsdisk//mycontroller`

[2017-03-01 06:19] jkandasa commented on #367
@pgollor It is will not be good, to introduce without any protocol.
However, you can achieve this by using MySensors or MyController MQTT format.

#### Example:
##### MySensors MQTT: `topic/nodeId/child-sensor-id/command/ack/type`
* `mys_out/1/1/1/0/6` >> for temperature sensor

##### MyController MQTT: `topic/nodeEui/sensorId/messageType/subType/ack`
* `mc_out/outside/temp-sensor/C_SET/V_TEMP/0`

[2017-03-01 11:29] pgollor commented on #367
Sorry but I have another opinion for that.
For example in openHAB you can define a string, binary or temperature sensor with any possible source (for this example a custom MQTT topic).
But if this concept does not fit in MyController it's okay. You did a great job here @jkandasa :)
But currently my time is very limited, so I can't help you with this system.

I like the Dashboard from MyController

[2017-03-01 11:29] #367 closed

[2017-03-07 11:10] tetnobic opened #369 "Payloads Queue List"
See the forum discussion :
http://forum.mycontroller.org/topic/128/send-payload-but-nack/4

Could you add a page or others, to see the queue list payloads (for smartsleep node) ?
Ideally both old and future payloads, with ACK status :-)
Thanks

[2017-03-07 22:19] frankc60 opened #370 "No smartSleep"
I see in version "0.0.3.Final" the *smartSleep* option has been added. But it in not in this version (0.0.3Alpha). Can you get this option added ? Thanks

[2017-03-08 06:53] jkandasa commented on #370
@frankc60 Kindly wait until we release Final version. If you want to try it now have a look on [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version.

[2017-03-08 06:53] #370 closed

[2017-03-08 08:46] #369 closed

[2017-03-08 08:46] jkandasa commented on #369
@tetnobic I have added this support via the custom widget. You can also perform delete message via script.

Changes available on [SNAPSHOT](http://forum.mycontroller.org/topic/58/download-snapshot-build) version.

##### Script:

[code]

![image](https://cloud.githubusercontent.com/assets/1004403/23696162/85557cea-0408-11e7-99c8-63bc81038252.png)

##### Template:
[code]

![image](https://cloud.gith

[2017-03-08 08:48] jkandasa commented on #368
@Redferne Did this worked?

[2017-03-08 08:51] jkandasa commented on #363
@devicter By this commit, https://github.com/mycontroller-org/mycontroller/commit/0f3a2504c0cad14301bbf85cc98e50407284f911 introduced NOT NULL for gatewayId. Hope this issue will be resolved with this changes.

Kindly reopen, if this issues happens again.

[2017-03-08 08:51] #363 closed

[2017-03-08 15:13] frankc60 opened #371 "Low Battery Rules"
This is great it shows Battery Levels. But can´t monitor the levels in the systems, for example to put a Rule in that alerts when below 20% ?

[2017-03-10 04:23] Redferne commented on #368
Yes. I was hoping for an increase in access speed for the database by hosting it on a fileserver. But that did not pan out. Thanks!

[2017-03-10 04:23] #368 closed

[2017-03-12 21:56] frankc60 opened #372 "'ack' for mysensors"
When sending a Raw Message via the Action Board tab, there are 3 options in the Acknowledge Payload drop-down menu to select from. Both of the Ack options add the value '2' to the msg, which causes an error, it should be '1' (true) to enable Ack.

Believe there should only be 2 Ack options: OFF (0) and ON (1). ON will force the destination node to reply if set (and the message received ok).

The o

[2017-03-13 08:32] jkandasa commented on #372
@frankc60 In MySensors, Yes, uses only 2 values `0` and `1`, but in MyController protocol, we use 3 values as [listed here](https://github.com/mycontroller-org/MyControllerDevice/blob/master/McMessage.h#L148~L151)

For now ACK reply/response will no thandled by MyController
https://github.com/mycontroller-org/mycontroller/issues/290

[2017-03-13 08:32] #372 closed

[2017-03-13 08:37] frankc60 opened #373 "sparkfun only accepts lowercase field names"
I have hit a problem though when using External Servers.
The sparkfun server only accepts lowercase field names that can be streamed to it. MyController sends sensor types like "Temperature" or "Humidity", which is in Camel Case (first letter uppercase). Sparkfun returns an error.#

Is there a way to lowercase the first letter in MyController, for data types being sent to external servers. The Key

[2017-03-14 04:40] #373 closed

[2017-03-14 04:45] jkandasa commented on #371
@frankc60 For now as workaround, You can setup this as condition script.
http://forum.mycontroller.org/topic/77/battery-level-in-rules-or-chart-script-rule-to-check-battery-level/2

Example:

Create entry for node on Uid Tag,
![image](https://cloud.githubusercontent.com/assets/1004403/23886183/ef476538-089e-11e7-94c9-d14d051a9062.png)

Create a condition script,
![image](https://cloud.githubuserco

[2017-03-15 09:52] frankc60 commented on #371
@jkandasa Super, that works perfectly, thank you!

[2017-03-15 09:52] #371 closed

[2017-03-15 09:59] frankc60 opened #374 "Resources Data"
It is fantastic feature to be able to send data to external servers with resources. Although the Resources appear to be quite limited.
Like to send BatteryLevel out would be helpful when away from home to check status of the nodes.
Would it be possible to accept Script outputs from the "Resource Data" section?

Version
0.0.3.Final-SNAPSHOT

[2017-03-17 07:59] S0rc3r3r opened #375 "Implement GW Alive Check and Reconnect"
When sending NodeAliveCheck please also send I_HEARTBEAT to GW.

[code]
When HEARTBEAT_RESPONSE is received update STATUS SINCE.
Change GW Status to DOWN if HEARTBEAT_RESPONSE is not received and schedule a reconnect.

[2017-03-17 08:10] S0rc3r3r opened #376 "Cannot unassign last sensor from room"
I can add as many sensors to a room but when I try to remove them all one sensors remains assigned and cannot be removed.

[2017-03-17 09:27] jkandasa commented on #375
@S0rc3r3r Thanks to report this issue. Just now I thought another anangle.

When we implement this,
If Gateway node is really down. MyController simply do makes `Gateway` as DOWN and reloads. In this case this is incorrect right?

[2017-03-18 01:41] Redferne opened #377 "OAuth 2.0 support for REST API"
Please add support for OAuth 2.0. Makes it possible to integrate the Amazon Alexa Smart Home API.

[2017-03-18 13:39] S0rc3r3r commented on #375
I don't think is incorrect...Gateway will always have nodeId = 0. If nodeId=0 fails to respond to HEARTBEAT that means that the GW is down (in theory all other nodes will fail to respond and all will be marked as down).

[2017-03-22 12:58] eborst opened #378 "Filters in node details not working"
Hi, I'm using the latest version.
I'm facing an issue that the filters in the node details page are not working.
the selection (day-week-month) is not applied to the graph.

Regards,
Edward

[2017-03-22 13:24] jkandasa commented on #378
@eborst There is a fix on [snapshot](http://forum.mycontroller.org/topic/58/download-snapshot-build) version. Did you try it?

[2017-03-22 17:53] eborst commented on #378
Solved!
I now have the snapshot version working.
I do have a suggestion for the upgrade procedure.
You need to save the backup from the backup directory and then remove the complete mycontroller directory including all files.
If you extract over the old version you get a log of java errors after starting.
After removing and extracting to a clean directory I could start and recover the data.

anywa

[2017-03-22 17:53] #378 closed

[2017-03-23 04:16] jkandasa commented on #378
@eborst Thanks for the suggestion. What I do is, on settings keep backup director outside `mycontroller/` dir. When I want to move to new version. Simple delete old version(kindly un backup and copy your old file for safer side) and unpack new version, point my backup location on backup settings. Then do restore.

[2017-03-23 07:51] seant100 opened #379 "Can't set custom unit of measurement"
How can i set a custom unit of measurement for a sensor. One example I would like is to have litres / second, litres / minute or litres / hour.

[2017-03-23 11:28] esawyja commented on #361
I would vote for this as well please!

[2017-03-23 17:25] jkandasa commented on #379
@seant100 If you know java [here is the file](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/units/UnitUtils.java) you have to put entry and create PULL request.

Otherwise please elobrate your requirement bit more.

[2017-03-23 17:28] jkandasa commented on #374
@frankc60 For now we could not access external server from script. I will add this support.

[2017-03-24 21:27] seant100 commented on #379
@jkandasa Attached are 3 screenshots showing what I require

![s_water-v_volume](https://cloud.githubusercontent.com/assets/637145/24314269/6c2e3b60-10e9-11e7-82d0-42436fe25ab6.png)
![s_water-v_flow](https://cloud.githubusercontent.com/assets/637145/24314270/6c371226-10e9-11e7-9a72-7928a444b443.png)
![add-custom-unit](https://cloud.githubusercontent.com/assets/637145/24314268/6c27d748-10e9-11e7-9a

[2017-03-24 21:42] seant100 commented on #379
@jkandasa
I do see the following in the MySensors documentation
V_FLOW	        34	Flow of water (in meter)	S_WATER
V_VOLUME	35	Water volume	                S_WATER

The description for V_FLOW saying (in meter) cannot be correct as flow is not measured "in meter". Flow is a rate in litres per second, litres per minute, litres per hour etc. These flow rate units are not currently available in MyCont

[2017-03-28 19:11] toygame opened #380 "After reboot pi can't start application"
after i reboot my raspberry pi 3 i can't to start application.
i use database is mysql

it result after i run
"sudo java -Xms32m -Xmx256m -Dlogback.configurationFile=../conf/logback.xml -Dmc.conf.file=../conf/mycontroller.properties -cp ../lib/* org.mycontroller.standalone.StartApp
"

![image](https://cloud.githubusercontent.com/assets/8748521/24422760/d6bea24c-1424-11e7-9d0f-e779cea52d60.png)

th

[2017-03-29 17:25] jkandasa commented on #380
@toygame Why don't you try `mycontroller/bin/start.sh`?

[2017-03-29 18:11] toygame commented on #380
i have a same problem when i try, and i think problem occur from mysql because when i backup with mysqldump it have error "mysqldump error output: mysqldump: Got error: 1033: Incorrect information in file: './mycontroller/example.frm' when using LOCK TABLES"

[2017-04-19 11:02] seant100 opened #381 "Weather Underground PWS"
Please can you add the following to Weather Underground service as it currently only does temperature and humidity ...
1. pressure
2. wind speed
3. wind direction
4. wind gust
5. rain
6. rain rate

Thank you

[2017-04-20 06:40] seant100 commented on #381
Another issue with Weather Underground updates is that Weather Underground needs all sensor values passed at once. At the moment MyController is sending individual sensor updates each time that particular sensor changes. This causes Weather Underground to show "--" for all other sensor values.

[2017-04-21 15:15] fcostazini opened #382 "Add Support to voice commands"
I think it's a Must have in a home automation system.

[2017-04-26 20:47] seant100 commented on #208
Hi

If smartSleep is enabled for a node then a request for time is not sent by MyController. Is there a way to receive a time request for a node that sleeps.

Thanks

[2017-04-27 10:58] seant100 opened #383 "SmartSleep and Time Request not working"
Hi

If smartSleep is enabled for a node then a request for time is never sent by MyController.

Thanks

[2017-04-29 16:46] samuel235 opened #384 "MQTT logs: Socket Error on client <unknown>, disconnecting."
I'm unable to connect mycontroller to my MQTT broker and facing the error of "MQTT logs: Socket Error on client <unknown>, disconnecting.". I've posted a contact message on mosquitto's IRC chat and if i get no joy i will contact their issues on github too. I have 2 other clients connected to the MQTT and they're working fine for me at the moment. Mosquitto is up to date as of 20 minutes ago so tha

[2017-04-30 04:03] jkandasa commented on #384
@samuel235 Could you please post your MQTT settings on `Mosquitto` and `MQTT client` settngs on MyController?  Are you facing this issue recently? Does it work properly for some time?

[2017-04-30 04:03] jkandasa commented on #383
@seant100 Thanks to report this. Let me have a look and update you.

[2017-05-09 15:47] seant100 opened #385 "Firmware removal feature"
Please can you add ability to remove firmware from a node. At the moment once it is assigned it cannot be set to "None".
Thank you

[2017-05-13 11:39] MPParsley opened #386 "login for demo server not working"
The following error message appears: "Invalid username or password!" when using demo:demo on http://demo.mycontroller.org/#/login

[2017-05-13 17:20] MPParsley commented on #188
@jkandasa, still experiencing this issue in 0.0.3.Alpha2. When I try to change the ID from NODE_BC to 100 I get: "400: Bad request A node available with this EUI."

[2017-05-14 09:00] jkandasa commented on #386
@MPParsley fixed. thanks for reportoing this.

[2017-05-14 09:00] #386 closed

[2017-05-14 10:23] MPParsley commented on #386
You're welcome. Thank you for this very promising project!

[2017-05-15 15:14] MPParsley commented on #245
@jkandasa, I'm also seeing these errors in the log.

I couln't find "MyController v0.0.3.Final-SNAPSHOT" on the release page. Could you create a new release with this fix?

[2017-05-15 15:28] jkandasa commented on #245
@MPParsley SNAPSHOT version available here: http://forum.mycontroller.org/topic/58/download-snapshot-build

[2017-05-23 19:58] samuel235 commented on #384
Next time I come to use your software I will grab the information for you and post to here, i completely stopped using it after this as I only want it for the OTA updates and i've started going without this function now anyway.

[2017-05-25 17:37] jkandasa commented on #384
@samuel235, for now, I am closing this issue. Kindly reopen if you face this issue again.

[2017-05-25 17:37] #384 closed

[2017-06-06 13:10] c0zm0z opened #387 "BUG: air pressure hPa and forcast"
I am using latest 0.0.3 Final. Tested German and English language.
Forcast (Vorhersage) say NA. If i klick on NA i can see the right information.

y-achse was not able to show values >1000.
See the attached pictures.

<img width="922" alt="forcast1" src="https://cloud.githubusercontent.com/assets/29229976/26830491/5390e84a-4ac9-11e7-92e1-86af29b33fdf.png">
<img width="922" alt="forcast2" src="http

[2017-06-07 15:48] blacksheepinc opened #388 "Blockly implementation"
As discussed, please inmplement blockly as a more user friendly way to create rules.
Source: http://forum.mycontroller.org/topic/159/integrate-blockly/11
Thanks

[2017-06-22 14:08] gogitgo commented on #337
Has there been any progress on this? I would be glad to help where possible.  I have several classes of devices and would be glad to test.

Here are some resources I have run across...

[pepper1 device library](http://devel.pepper1.net/zwavedb/) - Soon to be shut down. There is a link in the lower-right corner to [download a zip file](http://devel.pepper1.net/zwavedb/device/export/device_archive.z

[2017-06-22 14:32] jkandasa commented on #337
@gogitgo No, not yet started working on this. Hopefully this week I might get some time.

Can you give some wiki like to understand more about Z-Wave?
Thank you!

[2017-06-22 15:03] gogitgo commented on #337
Here is the main page from Sigma Designs:
[http://zwavepublic.com/](http://zwavepublic.com/)

And the Specifications:
[http://zwavepublic.com/specifications](http://zwavepublic.com/specifications)

I see on their [developer page](http://zwavepublic.com/developer) they offer an  RPi3 image I may check out.

Thanks

[2017-06-23 16:32] tidanilocarvalho commented on #384
Hi,

I have the same problem when am using one haproxy in front to do load balancer.

Thanks.

[2017-07-27 23:13] BogusException commented on #315
Sorry JK that this is old, but why isn't the battery level for a node simply another sensor? I can see practicality in measuring more than one voltage, for example there are modules (I'm looking at a few now( that measure current & voltage of whatever you like-not necessarily the node's VCC.

[2017-08-02 02:20] BogusException opened #389 "Feature Request: Support links under Support menu..."
Can you consider putting links in the web page that go to (by opening another window/tab) the forum and other support places? Right now that pull-down has releases (for download), and System Requirements (which is kind of support, I guess), and Source Code, which most users probably don't need (support-wise)...

[2017-08-02 18:02] BogusException opened #390 "[Feature Suggection] Display last sensor value on sensors page."
_Disclaimer: Everything is so great, I feel this will sound like I'm trying to find something for improvement, but it is from a month of pretty involved use._

## Issue
User has to dive deep into each sensor's detail to see that sensor's last value. There is no way to view the last value the sensor received on the pages that the user is already searching for sensor/node status. The option to creat

[2017-08-02 19:41] #385 closed

[2017-08-02 19:42] #389 closed

[2017-08-02 19:42] #387 closed

[2017-08-05 21:45] BogusException opened #391 "Numeric columns sorted alphabetically"
A tiny issue, to be sure. When sorting columns, as in the EUI column in the example, the sort is the default java sort, which is not numeric. There are only a few places where this is noticeable (EUI, Library version, Version, etc.)

![mycontrollersort](https://user-images.githubusercontent.com/8580791/28998970-c67bb838-7a05-11e7-9e7d-b2080d94416c.png)

More of an FYI...

pat
:)

[2017-08-07 08:20] jkandasa commented on #391
@BogusException Thanks for reporting this issue. In MyController EUI is a `String` column. Hence it reports as string sort, not numeric sort. Sorting has been done with [this generic lines](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/db/dao/BaseAbstractDaoImpl.java#L230~L234), hence it is difficult to manage if introduce

[2017-08-14 23:24] BogusException commented on #391
Jeeva,
Thanks for writing. I am only bringing this to your attention as a "FYI", and not as anything critical. In fact, you may prefer this action for some reason.

I program in lots of languages, and in Java there is a way to tell that might help with other alpha-numeric sorting in GUI. A small routine written by David Koelle called **AlphanumComparator** seems to work under my tests (so far just

[2017-08-15 02:47] jkandasa commented on #391
@BogusException Thank you! `AlphanumComparator` looks great! However, the sorting option not controlled by Java here. It is done on SQL part. Here we are using [OrmLite](http://ormlite.com/) to communicate with the database.

[2017-08-15 17:52] BogusException commented on #391
Jeeva,
I wear lots of hats. Just let me know which RDBMS, and I'll post query solutions/ideas. There are several approaches to choose from.

For security, I'm cool with an email. Your call.

pat
:)

[2017-08-16 03:19] jkandasa commented on #391
@BogusException

We use [OrmLite](http://ormlite.com/) to avoid raw SQL queries. OrmLite supports for many databases. We no need to care raw SQL queries.

Thank you for your support. you can reach me at the email, jkandasa at gmail dot com

[2017-08-17 15:26] blacksheepinc commented on #388
Any news about this?

[2017-08-20 10:18] seant100 opened #392 "Slow graphs"
All graph displays are very slow. The longer the period selected the slower it is. 5 seconds is fairly quick, then incrementally gets slower and slower as you increase time period.
I downloaded and installed latest snapshot release as on 17 Aug 2017 and problem persists.
It may be related to this : https://github.com/mycontroller-org/mycontroller/issues/359
However that issue seems like it was fix

[2017-08-20 10:22] seant100 opened #393 "Browser memory leak"
Leaving MyController open in browser, the browsers memory increases radically over time until it basically crashes the computer when it hits physical memory  limit. I am using windows 10, and chrome browser.

[2017-08-21 05:10] jkandasa commented on #392
@seant100

* What is the hardware are you using?
* MyController version?
* database type? default? changed any settings?
* snapshot of data retention settings.

[2017-08-21 05:10] jkandasa commented on #393
@seant100 are you seeing this issue on dashboard only? or for entire pages?

MyController version?

[2017-08-21 06:52] seant100 commented on #392
@jkandasa

- C.H.I.P - with only MyController and node-red installed and running on it
- MyController version is latest snapshot as of 17 Aug 2017. Screenshot of Status/About attached.
- Using MyController standard database - no settings changed
- Screenshot of data retention settings attached - these should be default settings as I have not changed anything.

![image](https://user-images.githubus

[2017-08-21 07:05] seant100 commented on #393
@jkandasa It seems to happen on all pages - but perhaps it might be limited to those pages that refresh data - where global setting is set to 30 seconds. I checked Windows Task Manager and watched the chrome memory usage and every time a page is refreshed the memory jumps up a notch. For the "Action board" page It starts around 200MB and then climbs to 400MB in about 2 to 3 minutes. Eventually bri

[2017-08-29 08:58] BogusException commented on #391
I have not forgotten,  just slammed, so fun stiff has to wait... :(

On Aug 15, 2017 11:19 PM, "Jeeva Kandasamy" <notifications@github.com>
wrote:

@BogusException <https://github.com/bogusexception>

I wear lots of hats. Just let me know which RDBMS, and I'll post query
solutions/ideas. There are several approaches to choose from.

We use OrmLite <http://ormlite.com/> to avoid raw SQL queries. Or

[2017-09-03 13:39] seant100 commented on #392
@jkandasa I now installed the same 17 Aug snapshot version on a raspberry pi 3 model b and still have the same issue

[2017-09-03 18:38] hianand commented on #277
Hi, I face the same issue, though I am on same version of jdk used by jkandasa and final snapshot, only way to restore is to restart ?. Should I reopen this or create a new issue?.

[2017-09-03 18:43] hianand opened #394 "Server stops responding post 1 day, only solution start mycontroller again, Java process also disappears."
Java virtual machine specification
 Operating system
 Script engines
Java home
/usr/lib/jvm/jdk-8-oracle-arm32-vfp-hflt/jre
Java vendor url
http://java.oracle.com/
VM name
Java HotSpot(TM) Client VM
VM vendor
Oracle Corporation
VM version
25.65-b01
Specification vendor
Oracle Corporation
Specification version
1.8
Management specification version
1.2
Up time
45 minutes 51 seconds
Heap memory
Used:

[2017-09-03 18:45] hianand commented on #394
MyController
Version
0.0.3.Final-SNAPSHOT
Database schema revision
1.03.06 - 2017 Mar 03
Database type
H2 database embedded
Database version
1.4.194 (2017-03-10)
Git commit:branch
325447088b374854a8c94856e89550a1fb69f609:development
Built on
2017-06-09T14:20:35+0530
Build JDK
1.8.0_131
Build tool
Apache Maven 3.3.9
Java virtual machine specification
VM vendor
Oracle Corporation
VM name
Java HotSpo

[2017-09-09 02:20] gogitgo commented on #337
@jkandasa

This is what you need for Z-wave...

http://www.openzwave.com/dev/

[2017-09-09 02:26] gogitgo commented on #337
I suppose you could go with openzwave or go to the source since the spec has been open sourced.

[2017-09-11 03:56] devicter opened #395 "Errors in the database when using more than one MQTT gateway"
Hello!
I found a small trap.

We get the result:

We connect two MQTT clients (gateway Mysensors) using ESP32. all is well

but when we start to control the device behind the gateway, a copy of the device of another gateway appears in the database.
![errmqtt](https://user-images.githubusercontent.com/22935773/30257978-c52587a6-96df-11e7-84a1-c328a932c6ab.gif)

[2017-09-11 03:58] devicter commented on #393
I wrote about this a year and a half ago.
It seems that this mistake has not been managed. :-(

[2017-09-22 01:58] jkandasa commented on #395
@devicter can you post your gateway settings?

[2017-09-22 01:59] jkandasa commented on #394
@hianand do you see any issues on `mycontroller.log` file?

[2017-09-22 06:28] hianand commented on #394
Nothing very detailed , thats the strange part.
I thought it might be mqtt , i already moved it to raspbian mosquito mqtt,
I had enabled twilio sms setup sometime back.
I am not sure enabling this twilio sms setup is creating this issue, currently the version does not support disabling those entries.
i have setup a cron to restart the service based on your startup script which check if process is

[2017-09-24 00:17] nagurao opened #396 "Location Name"
mcApi.utils().getServerLocationSettings() always returns "Namakkal" irrespective of the location set, can we have the location auto-populated or user filled rather than a hard-coded one as per the [following code](https://github.com/mycontroller-org/mycontroller/blob/d3033f50abc6fe802d13e3bc86cd9ec72e5aeae7/modules/core/src/main/java/org/mycontroller/standalone/db/migration/V1_01__Initial_Configur

[2017-09-25 02:01] jkandasa opened #397 "when send data to VAR_5 throws NPE"
Issue reported by @nagurao

I have come across the following when I use V_VAR5 in my code. Is V_VAR5 used for only some specific purpose?
Just to give you a little background I am using V_VAR4 and V_VAR5 to send the sunrise and sunset time back to gateway.

My presentation code is as follows:
[code]
In the function where I send the data back to gateway I have the code as follows:

[code]
I have fo

[2017-09-25 02:14] jkandasa commented on #396
@nagurao

Fixed it on recent version.

![image](https://user-images.githubusercontent.com/1004403/30789772-627ab612-a1c5-11e7-93d8-2af21d3c58bc.png)

[2017-09-25 02:17] #396 closed

[2017-09-25 02:22] jkandasa commented on #397
@nagurao Thanks to reporting this. fix available on the snapshot version

[2017-09-25 02:22] #397 closed

[2017-09-25 02:45] jkandasa commented on #264
@cimba007 kindly refer http://forum.mycontroller.org/topic/174/help-logging-data

[2017-09-25 02:45] #264 closed

[2017-09-25 02:47] jkandasa commented on #275
@ragflyer I do not find any friendly option on nvd3

[2017-09-25 02:47] #275 closed

[2017-09-25 02:49] #287 closed

[2017-09-25 02:51] jkandasa commented on #299
I have updated to the recent SNAPSHOT version of PI4J. Hope this is fixed there.

[2017-09-25 02:51] #299 closed

[2017-09-25 02:54] jkandasa commented on #305
@Redferne Please open the new issue, if we left some work on this.

[2017-09-25 02:54] #305 closed

[2017-09-25 02:56] jkandasa commented on #312
@rayvenwalker closing now, as we do not have server crash

[2017-09-25 02:56] #312 closed

[2017-09-25 02:59] jkandasa commented on #315
@BogusException sorry for the late response. That's a good idea. You can send battery voltage as another sensor :)

[2017-09-25 03:07] jkandasa commented on #326
@RURon kindly report back if you see this issue.

[2017-09-25 03:07] #326 closed

[2017-09-25 03:10] jkandasa commented on #330
@devicter sorry for the loooooooong delayed response. Yes, this is a nice request. I hope we need to do more on the back-end to achieve this.

[2017-09-25 03:12] #331 closed

[2017-09-25 03:15] #336 closed

[2017-09-25 03:17] jkandasa commented on #337
@gogitgo thanks for the links. For now, I do not find enough time to fix this feature with MyController. But will add soon.

Thank you for your patience.

[2017-09-25 03:22] jkandasa commented on #343
@Redferne looks like we do not have control for this :(

[2017-09-25 03:22] #343 closed

[2017-09-25 03:29] #376 closed

[2017-09-25 03:32] jkandasa commented on #380
@toygame I guess this very late response. Sorry for that. can you stop MyController and do MySQL backup?

[2017-09-25 04:35] jkandasa commented on #383
@seant100 Sorry for the late response. This is because MyController assumes that this node is sleeping and put the response on the queue. If you want time immediately, from the node request the time and immediately send `I_HEARTBEAT_RESPONSE`

Is this information enough to close this issue?

[2017-09-25 04:36] jkandasa commented on #388
@blacksheepinc No, Sorry for the late response. Till now I do not find great time complete this feature.

[2017-09-25 05:03] #211 closed

[2017-09-25 17:23] seant100 commented on #383
@jkandasa Thanks - will try send heartbeat and see how it goes. You can close issue.

[2017-09-25 17:23] #383 closed

[2017-09-27 22:01] cimba007 opened #399 "[FeatureRequest] More granular graph on 1-Week view"
Hi,

I noticed tha "step intervall" for the 1-week graph is 1 hour. Is there a possibility to configure it to show smaller steps like 15minutes?

![image](https://user-images.githubusercontent.com/3453121/30940009-c818a030-a3df-11e7-83cb-e5453a1709a1.png)

Thanks for your hard work and congratulation to moving to 0.0.1 final!

[2017-09-28 03:17] jkandasa commented on #399
@cimba007 Thanks to reporting this. I will add an option.

By the way, this is not `0.0.1.Final`. It is `1.0.0.Final`. My bad I tagged it wrong. Just now corrected it. Thank you!

[2017-09-30 19:21] cimba007 opened #400 "[Bug] SmartSleep with Payload forwarding not working?"
Hello,

I have the following setup:

Node A = A node with temperature + humidity Sensor
Node B = A Node with a display

Now I want to forward temperature and humidity from Node A to Node B with the "Forward payload" feature which is btw. REALLY REALLY NEAT!!! very good feature.

Node B is sleeping most of the time with smartsleep .. but due to smart sleep misses the forwarded payloads. Is there ma

[2017-10-01 20:54] cimba007 commented on #308
Just to clean stuff up .. no longer needed

[2017-10-01 20:54] #308 closed

[2017-10-01 21:44] cimba007 opened #401 "[Bug] Operation-Notification: custom message - keys"
With this custom message:
[code]
The device receives:
[code]

Without the last line all other notification fields work fine!

[2017-10-03 12:28] cimba007 opened #402 "[FeatureRequest] Rules->Operations (Notification get Variable)"
This might be more of an issue with understanding the code as an issue with the software itself.

For now we can use custom Messages to notify the receiver what caused the notification:

[code]

This is good so far! I would now like to add the current sensor value of a second sensor in addition to ${notification.actualValue}. Is this possible without much work? If not feel free to close the issue.

[2017-10-06 09:39] cimba007 commented on #258
As I begon working more and more on my project again it became necessary to provide a very simple login mechanism for the mobile phones of other memberes in my household. I hope you could reconsider implementing a possiblility to login via a link with GET parameter which could be saved as shortcuts on android home screen.

[2017-10-07 10:43] cimba007 commented on #400
I solved the issue by:
[code]
Will check why this is not included in smartSleep ?!

[2017-10-07 18:18] #265 closed

[2017-10-07 18:18] cimba007 commented on #242
Workaround: Name nodes according to sort-order.

[2017-10-07 18:18] #242 closed

[2017-10-07 18:21] cimba007 commented on #258
Using a MQTT_Client on the phone is no longer an option. I have some phone-clients that need to get up-to-date values. This is not working if a battery-powered node updates values only like once very 5-10 Minutes.

[2017-10-07 18:22] cimba007 opened #403 "[FeatureRequest] URL for login (and maybe select dashboard)"
Just to raise the attention to this case:

https://github.com/mycontroller-org/mycontroller/issues/258

The issue came up just recently again .. a login-link via get-parameters in addition to the login page is needed to make mycontroller usable on phones.

[2017-10-08 05:11] jkandasa commented on #400
@cimba007 Sure, I will add this.

[2017-10-08 06:28] jkandasa commented on #400
@cimba007 fix is available in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) build

[2017-10-08 17:20] cimba007 opened #404 "[Bug] I_PRE_SLEEP_NOTIFICATION"
I got lots and lots of entrys alike this one. I am pretty sure it is related to smartsleep

  smartSleep(59950);

To be specifis:
[code]

Might be resolved by:

https://github.com/mycontroller-org/mycontroller/issues/400#issuecomment-334986358

Will test latest snapshot now

[code]

[2017-10-08 17:49] cimba007 commented on #400
Somehow I can't get the fix to work. I see that mycontroller is sending the messages but the node is unable to receive them .. investigating.

[2017-10-08 18:15] cimba007 commented on #404
Seems to be solved in latest snapshot

[2017-10-08 18:15] #404 closed

[2017-10-08 19:05] cimba007 commented on #400
Found the  mistake I guess:

After the first cycle
[code]

will evaluate to "true" and break the loop so only one message gets send.

[code]

[2017-10-08 19:40] cimba007 opened #405 "[FeatureRequest] ImageWidget URL Sensor-Value"
It would be really cool if the ImageWidget URL could come from a sensor-value. eg V_VAR1 and S_CUSTOM. This would make it possible to show dynamic images on the dashboard.

[2017-10-09 02:59] #400 closed

[2017-10-09 03:01] jkandasa commented on #400
@cimba007 Thank you for the findings. I have fixed and updated the [SNAPSHOT](https://user-images.githubusercontent.com/3453121/31050205-1122f418-a644-11e7-912b-ba760f02cb4e.jpg) build.
Could you please check it there?

I like this display. Where did you buy? any link?
![img_20171001_010015](https://user-images.githubusercontent.com/3453121/31050205-1122f418-a644-11e7-912b-ba760f02cb4e.jpg)

[2017-10-09 04:44] jkandasa commented on #405
@cimba007 you can achieve this by using the custom widget.

Create an HTML template as follows, replace this url with your actual URL.
[code]

Create a javascript as follows, Use UIDTag to map your `Custom` >> `VAR1` senor variable
[code]
Add your HTML template and script on dashboard with custom widget,
![image](https://user-images.githubusercontent.com/1004403/31325413-7e808538-acda-11e7-9513-56

[2017-10-09 15:22] cimba007 commented on #405
This looks very promising but does not work. Maybe I am doing something wrong:

![image](https://user-images.githubusercontent.com/3453121/31345381-d7580722-ad15-11e7-95dd-e30d7af96647.png)

![image](https://user-images.githubusercontent.com/3453121/31345390-e18bd11a-ad15-11e7-8a07-fc54246fc609.png)

![image](https://user-images.githubusercontent.com/3453121/31345402-e9f8f170-ad15-11e7-9d61-b10270

[2017-10-09 15:31] cimba007 commented on #400
I would recommend to get one from waveshare as they already got the required electronic parts (mostly capacitors):

https://www.ebay.de/sch/i.html?_from=R40&_sacat=0&_nkw=waveshare%20e-ink&rt=nc&LH_PrefLoc=2&_trksid=p2045573.m1684

[2017-10-09 15:40] jkandasa commented on #405
@cimba007
when you take from `VAR1`

do change in HTML file as follows,
[code]

[2017-10-09 15:51] cimba007 commented on #405
Okay. I think I understand getting of variables via script now. Thank you!

[2017-10-09 15:51] #405 closed

[2017-10-09 15:55] jkandasa commented on #405
@cimba007 I see that you are hosting your images on 80 port with a different server. We can serve static files from MyController itself.

Just do soft link your directory to `mycontroller/www/myimages`, and you can access your directory as `https://raspi:8443/myimages/`

[2017-10-09 16:02] cimba007 commented on #405
@jkandasa Thins might come in very handy. Didn't know that.

I plan to use a 2nd raspberry-pi with a raspi-cam (and wifi) to take photos (and host them) when an alarm is triggered.

PS: I use mosquitto as bridged mqtt-broker as I might want to access the broker (later with proper tls encryption) from my phone when I am not at home. As I understand it mysensors-mqtt does not feature tls support for

[2017-10-11 09:49] OPI-0 opened #406 "[Feature request] Possibility to hide the "Delete Dashboard" and "New Dashboard""
Possibility to hide the  "Delete Dashboard" and "New Dashboard" button if "Hide menu" is selected.
This to avoid dashboards are deleted by accident

[2017-10-11 10:48] #406 closed

[2017-10-11 10:48] jkandasa commented on #406
@OPI-0 this fix is available on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version.

[2017-10-11 12:09] OPI-0 commented on #406
will test now!

[2017-10-11 12:26] OPI-0 commented on #406
Thx!! works like a charm!!
![image](https://user-images.githubusercontent.com/26340735/31440422-1fbffd82-ae90-11e7-96df-432bb09dae21.png)

[2017-10-14 20:49] cimba007 opened #407 "[WARN] Scheduled Rule execution skipped"
[code]

Is this something I have to worry about? Does this mean that the engine was totally not responding and missing any incoming messages?

As you can see that happens alway on **second 14** Maybe some overloaded regular task?

This somehow reminds me of https://github.com/mycontroller-org/mycontroller/issues/253 where the task to clean up the resource log was the problem. I have it already low

[2017-10-14 21:12] cimba007 opened #408 "[Feature request] Enable/Disable forward payload via Operation"
![image](https://user-images.githubusercontent.com/3453121/31579358-e1532ce8-b134-11e7-8833-0fcf28d1780f.png)

Hi. I currently use forward payload to send temperature/humidity values to a smartsleep-enabled display. In case the battery runs out or the node is not available a few hundret or thousand messages will queue up. It would be nice to enable/disable forward payload via operation on node dow

[2017-10-14 22:17] cimba007 opened #409 "[Error] Scriptengine Python - writeFile"
I am currently using one of the latest snapshots

![image](https://user-images.githubusercontent.com/3453121/31579798-66bd2f24-b13e-11e7-83c1-8c1ee08e12ca.png)

jython's standalone jar is installed

Apparently I have sent to many messages to pushbullet for this month. There is no way to check how many messages have been sent and when they will be reset - my current porject relies on delivery of th

[2017-10-15 06:35] jkandasa commented on #407
Looks like your previous Engine run not completed.
What is the hardware you using? RPI? RAM size? Are you running any other application on this machine?

[2017-10-15 09:37] cimba007 commented on #407
Raspberry Pi 2 - 1 GB Ram with 300MB free, 4 Cores

There are no other applications. Java is running with ~30% and spikes to 120% once per minute (when everything gets unresponsive) and then gets bsck to 30%.

My guess is that there is a very demanding task running for 5-10 seconds every minute. Is there an option to show more debug output to identify what is running?

[2017-10-15 13:08] cimba007 commented on #407
I think I have found out what is causing the 10 seconds of very high CPU load every minute:

https://pastebin.com/AiZeFbxz

McMetricsAggregationBase

Is it possible to speed this process up? You can even see that during execution I get the "engine not responding" message.

[2017-10-16 07:09] jkandasa commented on #407
@cimba007 I guess the problem with your binary data purge performance. You have configured your binary data for 180 days. The default is 30 days. I have added debug log to measure the actual time taken for this operation. Kindly use [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) build and report the status.

[2017-10-16 21:17] cimba007 commented on #407
Thanks for your hard work. I limited binary data retention time to 30 days (I could swear 180 days is the default).

Then I downloaded snapshot

As I understand it right .. currently data is checked every minute for deletion. If the retention time is 180 days and that limit is checked every minute this is overkill !!!

Have a look at this:

![image](https://user-images.githubusercontent.com/345312

[2017-10-16 21:18] cimba007 commented on #407
https://pastebin.com/2BGqxcJM

The runtime for binary is still huge!! 8 seconds every minute .. it would be enough to check this only once every few hours.

[2017-10-17 02:51] jkandasa commented on #407
@cimba007 Thank you for the detailed report.

For 5 Minutes that would be 3 seconds which is to often. Maybe set a lower limit like it is currently with once every minute (lower limit) and on other ocasions maybe every few hours or so? Would this lower the performance impact?

I have set lowerlimt. I hope this will resolve this issue. When we move this aggregation job to hourly once or bigger migh

[2017-10-18 02:28] jkandasa commented on #409
@cimba007 It is problem with json Serializer and python object in Java. I am working on this to fix.
This issue will happen only on GUI(when executing `Run now`). It won't affect your functionality.

[2017-10-18 03:39] jkandasa commented on #409
@cimba007 AFAIK, There is no way to fix this issue.
**Note:** This issue will occur only when triggering `Run now` from MyController UI. When we run this script on the operation. this issue will not occur.

If you want to avoid this issue on `Run now` time, you can simply add `None` to this `file` object.

[code]

[2017-10-18 05:35] cimba007 commented on #409
Okay. Very nice to know that his caused no further issues when run from rules! Thanks for checking.
Setting the object to "None" is fine for me too!

[2017-10-18 05:35] #409 closed

[2017-10-18 06:46] jkandasa commented on #408
@cimba007 This feature added on [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version, kindly check it and update.

**Note:** Now you can control `ForwardPayload` via script too.
[code]

![image](https://user-images.githubusercontent.com/1004403/31703909-6d9eb2de-b3fc-11e7-806b-0f154416ad37.png)

[2017-10-18 06:46] jkandasa commented on #407
@cimba007 did you see any change on this fix?

[2017-10-18 15:55] cimba007 commented on #407
[code]

Doesn't seem to be much of an improvement although the idea is quite clever. My next step will be to try out mysql server as storage backend.

[2017-10-18 18:41] cimba007 commented on #408
Very nice! Unfortunatly the list stays empty:

![image](https://user-images.githubusercontent.com/3453121/31736282-9b51ecf8-b444-11e7-8bb0-efae698591c2.png)

![image](https://user-images.githubusercontent.com/3453121/31736353-c366d94c-b444-11e7-93c9-521f4b51b06b.png)

[2017-10-18 19:09] cimba007 commented on #407
I did just a quick test .. setup a new instance of mycontroller with mysql as backend.

I have 2 binary values which gets send every 5 seconds. This has to be done as retention-flag can not be used on mysensors but it is very important for a new mqtt-client (for example mobile phone) to get the most recent state.

With the new setup I inserted 7 days worth of dummy values for one binary sensor ..

[2017-10-18 21:21] cimba007 commented on #407
Another suggestion .. would it be "feasable" to do an intelligent purge on binary data?

For Example:

Values .. 000001110000 could be purged to 0____1__0___
I know it seems to be difficult but it would eliminate a looooot of duplicate values. On the other hand it would be cost intense to check for concurrent values .. ;-( I have no really good idea

[2017-10-19 13:12] cimba007 commented on #407
Today I am getthing this:
[code]

I got no clue why the times are not consistent.

[2017-10-19 19:07] cimba007 commented on #407
Would it be possible to implement an intelligentway to purge data?

For example .. if binary data is older than 1 day:

**Before:**
00001110000
**After:**
0__01_10__0

I know this might be complicated but would certainly solve the issue.

[2017-10-20 05:05] jkandasa commented on #407
@cimba007 Thanks you for the great support and analysis on this issue.

No, we do not have an option to restore on MySQL via MyController.

Thank you for the great solutions. Let me check the implementation complexity.

[2017-10-20 05:08] jkandasa commented on #408
@cimba007 Can you try logout and login, if it doesn't work. please follow [this blog](https://forum.mycontroller.org/topic/47/gui-caching-issue-problem).

If nothing works kindly check the console. do you see any error when we launch this page?

[2017-10-20 19:07] cimba007 commented on #408
I did some digging after deleting the cache.

For the Ajax-Request to:
[code]
The response is:

[code]

This is send back if I open the resource-box where I would expect to select one of my ForwardPayload rules.

[2017-10-20 19:24] cimba007 commented on #408
Issue solved

[2017-10-20 19:24] #408 closed

[2017-10-22 17:35] toygame opened #410 "Rule trigger only first time"
I use mycontroller on project smart farm. I use the rule in order to turn on mist pump when temperature more than 27 celsius. after that, the pump is opening for 1 minute. I set rule to turn off pump. After 1 minute I need to turn on pump again when temperature more than 27 celsius. What should i do sir.

[2017-10-22 17:36] toygame commented on #410
![image](https://user-images.githubusercontent.com/8748521/31864593-171550bc-b78a-11e7-85a5-98faae30679e.png)

![image](https://user-images.githubusercontent.com/8748521/31864598-27243536-b78a-11e7-9f48-d1aa5ec83c8f.png)

![image](https://user-images.githubusercontent.com/8748521/31864601-3514d4c0-b78a-11e7-8b19-122c58f7089c.png)

[2017-10-24 17:01] cimba007 commented on #410
Just to be sure .. the temperature falls below 27°C within those 60seconds? Could you attach a chart of the temperature and pump state? Is the corresponding operation executed .. first after reaching 27°>= and then gain after falling below 27°C and then getting over it again?

[2017-10-24 17:05] cimba007 opened #411 "[Improvement] Variables (notification) in script binding"
According to my post I propose a way to use variables in script bindings.
https://forum.mycontroller.org/topic/207/telegram-notification/2

The variable should be the already known notification variables that can be used in E-Mail and Pushbullet notification.

Implementing this improvement would make operationgs calling scripts after beeing triggered by a rule much more useful and would help keepi

[2017-10-24 19:01] cimba007 commented on #407
@jkandasa

I think the latest snapshot has a mistake:

2017-10-24 20:48:05,675 DEBUG [Quartz_Scheduler_Worker-1] [org.mycontroller.standalone.metrics.jobs.MetricsAggregationJob:45] Sql Query[DELETE FROM metrics_binary_type_device WHERE timestamp > 1508266026276 AND timestamp <= 1508266085672 ], Deletion count:0, Time taken:1 ms
2017-10-24 20:48:05,712 DEBUG [Quartz_Scheduler_Worker-1] [org.mycontr

[2017-10-24 21:28] cimba007 commented on #407
BTW ... I am not sure but I might have found an issue with the metric_binary_type_device table ..

There is no index on "timestamp" .. only a "timestamp,sensorid" index that is probably not used with the
[code]
query.

[2017-10-25 01:55] jkandasa commented on #410
@toygame You have to check `Disable when trigger` on the rule `test` and create additionally an operation to enable `test` rule. and map this operation with `R1_off` rule.

[2017-10-25 03:17] jkandasa commented on #407
@cimba007 Thank you for your continued support on this issue. Yes, Index is missing and I have updated via migration script. Could you please check it on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version?

it shows 30 days window. You can convert millisecond to readable date on https://www.epochconverter.com/

[2017-10-25 04:32] jkandasa commented on #402
@cimba007 `mcApi` is available for template too. To access another sensor value from your template can be with `uidTag` as follows,

**Note:** create UID tag for your sensor before to run this code.

[code]

[2017-10-25 04:34] jkandasa commented on #402
@cimba007 MyController uses [freemarker](http://freemarker.org) template engine.

Freemarker [Expressions](http://freemarker.org/docs/dgui_template_exp.html)

[2017-10-25 15:36] njbuch opened #412 "Network gateway for Wunderground data"
To be able to act on external data about the current or future weather conditions, it would make sense to make a network gateway that feeds data into mycontroller.

The wunderground data is free with less than 500 requests per day, and basic conditions can be queried easily.

See more: [link](https://www.wunderground.com/weather/api/d/pricing.html)

[2017-10-25 18:08] cimba007 commented on #411
Latest snapshot triggers some serious error:

https://pastebin.com/N4LX4X9a

[2017-10-25 18:37] cimba007 opened #413 "[Bug] Manual disable rules not working with option "Disable when triggered -> Reenable ..""
If I disable some rules manually via the options menu they get reenabled after the specified timeout (e.g. 5 Minutes). This is usefull if they get triggered by the rule but not if I want to manually disable them.