[2015-09-03 14:51] jkandasa opened #1 "Sensor Id should be in the range of 1 to 254"
There is an option to add sensor manually. If we give sensor out of the range it is taking. Id should in in between 1 to 254 as per mysensors.org design.

[2015-09-03 14:58] jkandasa opened #2 "Shows client time stamp in GUI"
If server and client running in different timezone, in client side GUI shows all time in client time zone. This will confuse end user.

[2015-09-03 15:06] jkandasa opened #3 "Support MQTT gateway"
Add new Feature - Support MQTT gateway

[2015-09-03 21:08] TD22057 commented on #3
FYI there are two different MQTT gateways right now.  The version in MySensors 1.5 is a pseudo-broker (i.e. a broker with an extremely limited feature set).  There is another version which is an MQTT client (I believe the latest version is https://github.com/ntruchsess/MySensors/tree/mqttclient).  The difference is that the client publishes messages to an existing broker.  The pseudo-broker allows

[2015-09-04 15:56] jkandasa opened #4 "Add EthernetGateway support"
Add EthernetGateway support

[2015-09-07 03:59] jkandasa opened #5 "Disable Send payload for readonly sensors"
Disable Send payload for read-only sensors,
By mistaken if we send payload for read-only sensors, it's taken as reading of that sensor. To avoid this we should give some option to disable send payload for each sensor.

Add one more option globally to enable/disable 'Send Payload'.

[2015-09-09 07:20] jkandasa commented on #4
Added this feature. Will be available from https://github.com/mycontroller-org/mycontroller/milestones/0.0.2-alpha2

[2015-09-09 07:20] #4 closed

[2015-09-09 07:30] jkandasa commented on #3
For now I have added support for https://github.com/mysensors/Arduino/tree/master/libraries/MySensors/examples/MQTTGateway But it has very limited support, We have to change address(topic) format to support all the available MysSensors commands.

[2015-09-09 07:30] #3 closed

[2015-09-09 07:40] jkandasa commented on #1
Fixed

[2015-09-09 07:40] #1 closed

[2015-09-09 13:49] andykartman opened #6 "Export Sensor Data"
Would be very useful to be able to export specific sensor data so it can be used in another system for further analysis (spreadsheet etc).

Even just a simple CSV data download would be a good start and maybe some filters to select the data range to download. If it was from the Graph screen it could perhaps download the selected data range there?

[2015-09-09 14:04] jkandasa commented on #6
@andykartman Thank you for the enhancement request.

We do not have any dynamic data selection range, graphs are straight forward and predefined, only 4 types,
1. Last 1 Hour (1 minute Interval)
2. Last 24 Hours (5 minutes interval)
3. Last 30 days (1 hour interval)
4. All available data (1 day interval)

We can provide some buttons on heading of each graph to download above data.

Note: For ON/OF

[2015-09-10 08:17] andykartman commented on #6
@jkandasa Thanks. It would be good for the Graphs to have dynamic data selection range. I always find that one of the key reasons for monitoring a physical sensor (temp, humidity, power etc) is so it can be analysed and reported on, so a dynamic range selection (and therefore selectable range for CSV download), would be a really nice thing.

 Of course what you have looks great, but just a suggest

[2015-09-10 08:38] jkandasa opened #7 "Implement MQTT Broker to serve other controllers and clients"
Publish all the events from Serial (or) Ethernet gateway to MQTT. Also public MyController.org related events. We can add any number of controllers and clients. As we are implementing in controller side should support for authentication, hence we can use it in public network.

[2015-09-10 12:56] jkandasa opened #8 "Add Support for request from sensors/gateway"
Currently 'message-type' req is not supported by MyController.org. Add support for this

[2015-09-10 15:49] jkandasa commented on #8
fixed

[2015-09-10 15:49] #8 closed

[2015-09-16 20:19] githubcdr opened #9 "Removing firmware type before removing firmware fails"
Great software, really impressed!

Found a small bug, if a users deletes a "firmware type"  which is in use, the user won't be able to delete the "firmware itself.

Adding the type and will not resolve this.

[2015-09-17 01:28] jkandasa opened #10 "sensor Id 0 not allowed to add"
sensor Id 0 not allowed to add

[2015-09-17 01:29] jkandasa commented on #10
fixed: https://github.com/mycontroller-org/mycontroller/commit/67bec627d6f85cb35d0d482f248e69fe0f9ca862

[2015-09-17 01:29] #10 closed

[2015-09-17 04:12] jkandasa opened #11 "Provide option to feed Firmware Type and Version id manually also"
In current approach we could not provide type id and version id of firmware manually. Some cases it's giving trouble. Say I'm running 20 nodes on type id 2 and for some reason I deleted type and re created the same type again, but it generates different id, hence all the 20 nodes firmware will update again to avoid this situation we should provide an option to enter type and version id manually. I

[2015-09-17 04:13] jkandasa commented on #9
@githubcdr Thank you to make MyController.org to better quality.

Adding type will not resolve this issue because the type id is auto generated and we will not get the same id again. However we should provide an option to enter type id and version id manually. To track that issue I have created another issue #11

[2015-09-17 04:13] #9 closed

[2015-09-17 05:32] #11 closed

[2015-09-17 05:32] jkandasa commented on #11
fixed

[2015-09-18 02:39] #2 closed

[2015-09-18 03:27] jkandasa opened #12 "Upgrade angular-bootstrap to 0.14.0"
https://github.com/angular-ui/bootstrap/issues/4372

Uncaught TypeError: Cannot set property 'isOpen' of nulls @ ui-bootstrap-tpls.min.js:9q @ ui-bootstrap-tpls.min.js:9

[2015-09-18 05:19] jkandasa opened #13 "GUI menu is not hiding and sub menu not listed in mobile devices"
On Mobile deceives application GUI page menu is not hiding automatically and unable to access sub menu's of more tab.

[2015-09-19 04:30] #13 closed

[2015-09-20 09:03] jkandasa opened #14 "Graph for battery node percentage"
Add graphical report for node battery percentage.

[2015-09-21 04:00] jkandasa opened #15 "Add node auto discover option"
Add a feature to discover nodes automatically. For this in current approach we should send reboot command for each node. I feel this is not good for the nodes who is in production field. Hence, I have created a feature request on MySensors.org http://forum.mysensors.org/topic/2025/callback-function-to-get-node-sensor-information-s

[2015-09-23 07:08] jkandasa opened #16 "Support line chart graph for various interpolate options"
We are using `angular-nvd3` to display graph for sensors. Line chart has various interpolate options like, `linear, step-before, step-after, basis, basis-open, basis-closed, bundle, cardinal, cardinal-open, cardinal-closed, monotone`

Give an global option under settings for the user to change to their taste.

[2015-09-23 07:12] jkandasa opened #17 "Grouping Graphical reports"
In current design graphical report shows only single sensor, which is ok but many times in field user want to compare with some other sensor result, example: on three phase voltage show all the three voltage differently. If we club all the sensors value in to single graph, user can understand easily whats going on.

[2015-09-24 14:30] jkandasa opened #18 "Node types display only valid options"
While adding/editing node, we can define type of the node, now it is listing  all the sensor types. we should list only  `S_ARDUINO_REPEATER_NODE` or `S_ARDUINO_NODE`

[2015-09-24 14:47] jkandasa opened #19 "List senor types and sensor variable type in order"
`Sensor Types` and `Sensor Variable types` are not listened in alphabetic order. Currently it's listing by enum number which is difficult for user when adding sensor, they have to search from top to bottom.
If we list these types in alphabetically order they can identify easily

[2015-09-24 15:06] #18 closed

[2015-09-24 15:08] #19 closed

[2015-09-24 17:00] jkandasa commented on #15
This feature will be available from ~0.0.2-alpha4

[2015-09-24 17:01] jkandasa commented on #15
http://forum.mysensors.org/topic/2025/callback-function-to-get-node-sensor-information-s

[2015-09-24 18:51] jkandasa commented on #16
this feature will be available in 0.0.2-alpha4

[2015-09-25 09:17] jkandasa commented on #14
this feature is available in 0.0.2-alpha4

[2015-09-25 09:17] #14 closed

[2015-09-25 13:56] githubcdr opened #20 "No donation option"
This is such a cool project that I want to donate some beers. (or coffees if you will)

The interface and website do not feature a donate option, how can users donate to this project?

[2015-09-25 17:13] jkandasa opened #21 "When stop MyController.org server in RPI throws exception"
When we stop MyController.org server in Raspberry PI with serial gateway throws the following exception,

[code]

[2015-09-26 03:35] jkandasa commented on #20
@githubcdr Thank you very much for your support! This will help me to buy new hardware for MyController server. I'm working on creating donation account. I will update you once it get ready!

Thank you very much!

[2015-09-26 03:51] #21 closed

[2015-09-26 11:54] githubcdr commented on #20
np, really like your effort and your dedication

[2015-09-26 14:07] jkandasa opened #22 "Do not allow to submit GUI forms, if mandatory field(s) are empty"
Do not allow to submit GUI forms, if mandatory field(s) are empty. Currently set of forms able to submit without entering mandatory fields. Fix it allover the application.
Example page: adding alarm, send payload

[2015-09-27 14:03] jkandasa commented on #16
I can change graph, but it's not applied sometimes.

[2015-09-27 14:03] #16 closed

[2015-09-29 05:08] jkandasa opened #23 "Map sensors with sensors value"
MySensors each sensor type(S_) will support multiple sensor variable (V_) types. But in MyController current design supports only one type of variable for each type of sensor.

MyController should be redesigned as per the map http://www.mysensors.org/download/serial_api_15 also map should not be static, should be dynamic, so user can change it as per their specification

[2015-09-29 05:13] jkandasa opened #24 "Document for REST API"
MyController GUI and back-end communicating via REST API, if we document REST API details. user can create their own client.

[2015-10-02 19:36] jkandasa opened #25 "Support for DualOptiboot-bootloader"
Right now MyController supports only MYSBootloader to upgrade firmware. It will be nice to support for DualOptiboot-bootloader also as many people using this.

[2015-10-03 17:51] bpair opened #26 "Add support for Metric or Imperial"
Allow for configuring Metric or Imperial and automatically respond to sensors if they inquire.

[2015-10-03 17:55] bpair commented on #7
I think publishing all events would be a great feature. You may also want to allow converting /nodeId/childId  to just be /GUID

[2015-10-04 12:03] jkandasa commented on #26
@bpair Thank you for the feature request.
Right now MyController responds to sensors as 'Metric' https://github.com/mycontroller-org/mycontroller/blob/master/src/main/java/org/mycontroller/standalone/AppProperties.java#L140

I will add it in system settings, so user can select "Metric" or "Imperial". But the selection should be common for all the sensors.

[2015-10-04 12:15] jkandasa commented on #7
@bpair Good idea, I will give the format(MySesnors) to user defined. I will give format variables something like `$nodeid,$sensorid,$messageType,$subType,$payload` So user can define their own format. And nodeid and sensorid always will be in three digits. So it will not confused when they merge both.

Example:
* `myMQTT/$nodeid/$sensorid/$messageType/$subType/$payload` ->myMQTT/012/004/1/2/1
* `m

[2015-10-05 13:14] jkandasa commented on #15
Change it from REBOOT to I_PRESENTATION,

See for more details: https://github.com/mysensors/Arduino/commit/415aa29b34536739077bb5ecf48987a0764383c9

[2015-10-05 13:16] jkandasa opened #27 "Add support to check node status via heart beat message"
See `I_HEARTBEAT`
 https://github.com/mysensors/Arduino/commit/415aa29b34536739077bb5ecf48987a0764383c9

[2015-10-05 14:31] jkandasa opened #28 "MySensors gateway also supports for sensors"
MyController should support for gateway sensors

[2015-10-08 01:44] jkandasa opened #29 "Include 'Edit' option for timers"
Timer should have edit option.

[2015-10-08 03:37] jkandasa opened #30 "Timer which has valid from time triggers when I restart MyController server"
Timer which has valid from time triggers immediately, when I restart MyController server.

[2015-10-08 14:07] sureshmali opened #31 "Icons for Sensors"
Can we have an option to upload icons and assign icons to sensors. Adding icons help in quickly identifying the sensor.

[2015-10-08 14:29] jkandasa commented on #31
@sureshmali Thank you for the request!
[0.0.2-alpha5](https://github.com/mycontroller-org/mycontroller/releases/tag/0.0.2-alpha5) has big changes in GUI as well as in back-end. Lets see icon is really needed after `0.0.2-alpha5` release

[2015-10-10 01:52] jkandasa opened #32 "Enable/Disable option for Timers and alarms"
There is no option to Enable or Disable Timers and alarms

[2015-10-10 02:50] jkandasa opened #33 "Add support Mysensors 1.6 MQTT gateway support"
[This version of MQTT](https://github.com/mysensors/Arduino/blob/development/libraries/MySensors/core/MyGatewayTransportMQTTClient.cpp) gives complete support like Serial gateway. And this is standard MQTT protocol for MySensors.org. Remove limited MQTT support and support for this MQTT Gateway.

[2015-10-10 02:56] jkandasa opened #34 "Support HTML email support"
Current system uses plain text email format. If we support HTML email will looks nice.

[2015-10-10 15:29] sureshmali commented on #31
Great, thanks. Eagerly waiting for next release.

[2015-10-10 15:29] #31 closed

[2015-10-11 06:11] sureshmali opened #35 "Value does not get updated, if the device was actioned by timer"
The switch status is not captured and refreshed if the action was triggered by timer.

[2015-10-14 13:42] bpair opened #36 "Retry Serial Port and Virtual Port support"
mycontroller makes 1 attempt at  connecting to the serial port and then stops. It would be nice if some retries were attempted.

I am using a pseduo terminal to define a static port name but mycontroller does not successfully connect to this virtual port. I am not sure why.

[2015-10-14 14:29] jkandasa commented on #36
@bpair Thank you to update here. Can you see any error on the log file? `mycontroller/logs/mycontroller.log`

[2015-10-14 14:40] bpair commented on #36
I will post the log when I get form work. The error in an "Unable to connect" error.
I am using socat. I may setup a pseudo terminal with a link of /dev/pty/0 and socat creates a link to /dev/pts/7. If I configure mycontroller to connect to "/dev/pty/0" it is not able to connect. However if I configure "/dev/pts/7" it connects without issue.
When my system reboots the socat command will run provid

[2015-10-14 21:48] bpair commented on #36
My log (I cannot attach it):

[code]
My config is the default except for-
[code]

[2015-10-16 19:44] sureshmali commented on #35
Any update on this. When can we expect the next release. Thanks.

[2015-10-17 00:29] jkandasa commented on #35
@sureshmali I'm working for next release 0.0.2-alpha5. Hopefully with in 2 weeks time we can expect.

The issue you are facing is on the action board status not getting updated when action was performed by Timer or alert or input from sensor right? If yes, in current design action board(GUI) is not synchronized with server automatically. You have to click 'Refresh'  icon of a particular sensor.

I

[2015-10-17 03:10] jkandasa commented on #35
Added Refresh intervals as follows,
* -- Never Refresh --
* 5 Seconds Once
* 15 Seconds Once
* 30 Seconds Once
* 1 Minute Once
* 5 Minutes Once
* 10 Minutes Once

[2015-10-17 03:11] #35 closed

[2015-10-17 03:16] jkandasa commented on #30
Fixed on the commit referred

[2015-10-17 03:16] #30 closed

[2015-10-17 03:23] jkandasa commented on #23
MyController supports for multiple variable types. Predefined set of mapping in https://github.com/mycontroller-org/mycontroller/commit/26c90263f62a2c353a57174d067b5bcfeb0f8af0#diff-12b7b10beafe6793e41843c503a0bf72R196

But still user can edit or update with their wish

[2015-10-17 03:23] #23 closed

[2015-10-17 03:32] #15 closed

[2015-10-17 03:54] jkandasa commented on #12
Updated angular-bootstrap to 0.14.2. now getting following deprecated messages, Should update MyController GUI as recommended way
[code]

[2015-10-18 18:50] #12 closed

[2015-10-19 09:43] #26 closed

[2015-10-19 09:49] jkandasa commented on #28
Fixed, now we can control gateway sensors

[2015-10-19 09:49] #28 closed

[2015-10-19 09:56] jkandasa commented on #5
https://github.com/mycontroller-org/mycontroller/commit/26c90263f62a2c353a57174d067b5bcfeb0f8af0 fixes this issue.

[2015-10-19 09:56] #5 closed

[2015-10-20 17:36] jkandasa commented on #36
@bpair I have added code to retry serial connection if failed to connect. I do not have much idea about virtual port. Could you please list out steps to create virtual port? That will be helpful for me to debug locally to fix this issue. Thank you!

[2015-10-21 02:15] #32 closed

[2015-10-21 03:04] #25 closed

[2015-10-21 03:05] jkandasa commented on #25
I do not have any hardware to test this feature. I believe this fix will work properly.

[2015-10-21 05:50] #6 closed

[2015-10-21 07:33] #34 closed

[2015-10-22 03:26] jkandasa opened #37 "Firmware update status"
Firmware update status should be shown in GUI.

[2015-10-22 04:49] jkandasa opened #38 "When we edit variable types existing data removed"
Build: `0.0.2-alpha5`

When we edit sensor, if you remove a variable type from sensor, it removes data from all variable types of the sensor. This is not happening when we add new variable types.

[2015-10-22 06:09] #38 closed

[2015-10-22 06:49] jkandasa commented on #37
Adding code to print `last Block`, `First Block` and every `100th block` in sensors log

[2015-10-22 07:24] chrigui opened #39 "if this then that available ?"
hi all,
First i would like to thank everyone especially  @jkandasa for such a great project.
i have a hydroponics greenhouse and i was wondering if with some modification can this project be used to automate some of the processes ?

1- is it possible to trigger an event based on a sensor ?
ie: when temp is <bellow> <10c> then turn <on> relay 1 (heater)

i am also looking to use spark photon and ti

[2015-10-22 07:31] jkandasa commented on #37
Now we can track firmware upgrade status via sensors log message,

Sample:
[code]

[2015-10-22 07:33] #37 closed

[2015-10-22 08:11] jkandasa commented on #39
@chrigui Thank you to have interest with [MyController.org](http://www.mycontroller.org) project.

Yes, MyController.org has a feature called alarm, with this feature you can. MyController alarm supports three types of notifications `SMS`, `Email` and `SensPayload`.With the help of `SendPayload` option you can control other sensor.

To get more idea about this you can download MyController locally

[2015-10-22 08:23] chrigui commented on #39
thank you.
let me know if you are interested in some customisation work.

[2015-10-22 08:30] jkandasa commented on #39
Reach me at `jkandasa` at gmail dot com to discuses further about your expectation.

[2015-10-22 08:30] chrigui commented on #39
thanks

[2015-10-22 17:54] jkandasa opened #40 "Disable Timer failed, if it's a cron job"
Build: `0.0.2-alpha5`
Unable to disable timer if it's a cron job, throws the following exception,

[code]

[2015-10-23 01:45] jkandasa opened #41 "Multilanguage Support"
Hi,
can you please add multilange support for MyController.org .
At the moment this can be made quick.After Mycontroller is growing more and more it become very difficult.

Regards Didi

[2015-10-23 06:32] axillent commented on #41
Please consider Russian as one the the language

[2015-10-23 14:29] bpair commented on #36
The retry is working well but it still will not connect to virtual port. I am using socat to create the virtual ports with the command:

    socat PTY,raw,link=/home/ghs/dev/0,mode=666,group=dialout,echo=0,unlink-close=0 PTY,raw,link=/home/ghs/dev/1,mode=666,group=dialout,echo=0,unlink-close=0

Socat creates a link between /home/ghs/dev/0 and an existing serial port like /dev/pts/0 on my system. T

[2015-10-23 21:26] Dietmar-Franken commented on #41
Hi jkandasa,
I´m Didi from Mysensors forum.
I think the users should do the work.You only have provide a language folder with native english in it.
Write a class that read the avaible languages the users have translated and put it in systemsettings-> select language.
In the en folder make a folder for example admin control panel and all other things with someting like this in it.
[code]
I´m native

[2015-10-24 05:15] jkandasa commented on #41
@Dietmar-Franken This super approach! Let me create base folders. Thank you!!

[2015-10-24 11:16] jkandasa commented on #41
Initial commit for this: https://github.com/mycontroller-org/mycontroller/commit/2993bdc5727677f527b3a77e6f85b31a9d69b8c6

[2015-10-24 23:57] Dietmar-Franken commented on #41
I´ve translated the de.json file. Don´t forget to translate your exceptions ;-)

[2015-10-25 00:11] jkandasa commented on #41
@Dietmar-Franken Thank you for your contribution!! You mean exceptions from MyController site?

[2015-10-25 02:11] Dietmar-Franken commented on #41
Like the throw new IllegalArgumentException in  mycontroller/src/main/java/org/mycontroller/standalone/email/EmailUtils.java

[code]

[2015-10-25 22:01] Dietmar-Franken opened #44 "Edit roles"
Can´t edit roles anywhere

[2015-10-25 22:04] Dietmar-Franken opened #45 "User ID"
In the form to ad a user you ask for a user id and in the users list is called username it´s a little bit confusing.

[2015-10-26 01:57] #44 closed

[2015-10-26 01:58] #45 closed

[2015-10-27 07:25] jkandasa opened #46 "Changing time format"
MyController graphical and other time was showing in 24 hours format till 0.0.2-alpha4, but from 0.0.2-alpha5 it's showing in 12 hours format.

Give an option in settings so users can set with their interest.

[2015-10-27 10:51] githubcdr commented on #33
I am willing to test this since this is an awesome feature, does this mean that clearing EEPROM, rebooting and OTA is possible using MQTT?

[2015-10-27 11:10] jkandasa commented on #33
@githubcdr Yes, it is possible to clearing EEPROM, rebooting and OTA with MQTT (MySensors 1.6 [dev branch] (https://github.com/mysensors/Arduino/blob/development/libraries/MySensors/core/MyGatewayTransportMQTTClient.cpp))

[2015-10-27 12:38] joaopauloss opened #47 "Remote control buttons in MyController"
jkandasa, as we talk on mysensors forum, it's very kindly and would make mycontroller almost a perfect controller that we can control the IR devices from an interface on own mycontroller website, where you could save the signals of each button of the remote of TV, for example, and send the IR signals with no need of its remote fo this.

Thanks for your support.

[2015-10-27 14:11] jkandasa commented on #41
@arturmon Added Russian language. Thank you! PR:https://github.com/mycontroller-org/mycontroller/pull/48

[2015-10-27 15:11] githubcdr commented on #33
The current 1.6 development branch does not compile (at least here), but this is really nice progress for MySensors! As soon as I can compile this I will test and let you know.

[2015-10-28 15:47] TheCranston commented on #25
My nodes are LowPowerLab Moteinos with DualOptiboot loaded.  The alpah5 controller will now send firmware to the node which it wouldn't do before.  However the boot loader does not install that new firmware on reboot, so I'm thinking that the "magic" signature was not written at the beginning.  according to Felix's git pages for the boot loader, it checks for a new sketch flash image signature and

[2015-10-28 16:30] jkandasa commented on #25
@TheCranston Thank you to test this feature and analysis! I believe MySensors should handle image signatures([code](https://github.com/mysensors/Arduino/blob/documentation/libraries/MySensors/MySensor.cpp#L767)). Nothing to do MyController. As per my understanding, once firmware download done from MyController if our node reboots automatically definitely signature has been written

[2015-10-28 16:44] TheCranston commented on #25
I think I understand what you are saying, MyController just submits the .hex file for upload to the node and the underlying MySensors library handles it.  Got it.  I'm not a java programmer, so I'm a little at a loss for debugging.  Thanks for the link to the code, that shows it clearly.  My process was to install a new firmware into MyController and then go to node list and click on firmware uplo

[2015-10-28 17:01] jkandasa commented on #25
@TheCranston Thank you for your effort on this. As I do not have hardware to test this feature I'm unable to help you to resolve this issue. I'm sorry. Let me get this hardware soon and try to fix this issue (if issue with MyController side) on 0.0.2-alpha6 build.

I really appreciate your valuable time!!

[2015-10-29 00:30] arturmon opened #56 "make the client for android"
your browser does not put all the better to make a single mobile client.
Here are some examples:
https://play.google.com/store/apps/details?id=ru.galakart.majordroid
https://play.google.com/store/apps/details?id=org.openhab.habdroid

[2015-10-29 00:43] arturmon opened #57 "Full localization and not stores the selected language."
how to make a complete localization? all the files from A folder partials altered.
and after the upgrade page F5 flies selected language. at the entrance to the new page you want to change the language.

[2015-10-29 01:10] jkandasa commented on #57
@arturmon I guess you want to select your language permanently. You do not want to change your language every time you login, Am I right? If so it's not a problem already we have an issue to track this one. https://github.com/mycontroller-org/mycontroller/issues/41 in system settings we have to an add entry to hold users preferred language.

[2015-10-29 01:12] jkandasa commented on #56
@arturmon thank you for this request. I will work on this, I have to learn bit about android application development.

[2015-10-29 09:14] arturmon commented on #57
Yes that's what I want. Store the state.

[2015-10-29 09:38] jkandasa commented on #57
@arturmon I will fix it and make it available in 0.0.2-alpha6 version.

[2015-10-29 10:50] arturmon opened #59 "import and export base. creating backups."
I think it will be in demand

[2015-10-29 18:13] arturmon commented on #57
I forgot to ask, why can not translate some words? I understand these values in java files))

[2015-10-29 20:15] ghvader commented on #25
@TheCranston / Jeeva - I'm in the same situation.
however using MYScontroller this works fine.
so it can't be the mysensors library at fault.
I think there is an app that is "like" wireshark, that you can watch the
packets,
perhaps i'll look into that and see if i can't figure out what is going on.

On Wed, Oct 28, 2015 at 1:01 PM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2015-10-29 21:29] githubcdr commented on #33
Got the new 1.6 mqttclient gateway working after some trial and error. There seems to be a problem with assigning ID's via mqtt.

What happens is the req_id arrives, but MyController can not offer an ID to the node.

SERIAL debug on a 1.6 relay switch node;

Starting...
req id
send: 255-255-0-0 s=255,c=3,t=3,pt=0,l=0,sg=0,st=ok:
req id
send: 255-255-0-0 s=255,c=3,t=3,pt=0,l=0,sg=0,st=ok:
req id
se

[2015-10-29 22:43] jkandasa commented on #25
@ghvader Thank you!! Let me debug MyController to find out issue.

[2015-10-29 23:11] jkandasa commented on #33
@githubcdr Thank you for your great time and excellent analysis!!

Logs in mycontroller java: No error with the below message, I will fix this warning message.
[code]

mqtt messages with MyController running: Clearly says sending response with node id,
[code]

Again it's clear MyController responding with node id.
[code]

I believe issue should be somewhere between MyController <--> MQTT gateway.

[2015-10-29 23:13] jkandasa commented on #57
@arturmon Yes, I have to create some base language location like I did for angularJS(html). I'm working on this, I will come with fix soon.

Thank you!!

[2015-10-29 23:34] jkandasa commented on #33
http://forum.mysensors.org/topic/2285/mqtt-broker-support-in-mysensors-1-6

[2015-10-30 10:51] TheCranston commented on #25
@ghvader / @jkandasa
I found the issue..  At least for my script.  I was using the watchdog timer directly and that was causing the reboot after firmware load to fail.  I took out my watchdog code in the script and everything now works correctly.  I'm not sure what the interaction was that caused the failure, but at least now I can do OTA updates of the code on my nodes.

[2015-10-30 13:46] arturmon opened #61 "I know nothing about Java but want to help with the development of the project. how can I help? )))"
how can I help?

[2015-10-31 03:32] jkandasa commented on #33
MyContoller should have in build MQTT broker

[2015-10-31 03:33] jkandasa commented on #33
@githubcdr with MyController 0.0.2-alpha5 we have to use external broker

[2015-10-31 03:37] jkandasa commented on #25
@TheCranston OTA updates working good with `DualOptiboot-bootloader` + MyController?

[2015-10-31 03:46] jkandasa commented on #61
@arturmon Thank you so much for your interest with this project!!

MyController is designed this way, backed is working with pure java and it is giving REST API support for outside world. We have used front-end with AngularJS.

Even you do not know `java` you can help for this project in different ways,
- GUI development with AngularJS
- Android application for MyController
- Testing MyController

[2015-10-31 09:18] githubcdr commented on #33
Hi,

I was already using Mosquitto as a broker, vernemq is also a good broker.

This weekend I will do some more tests and let you know..

[2015-10-31 09:54] githubcdr commented on #33
@jkandasa I enabled debug; this is what happens in my current setup

GatewayW5100MQTTClient is running on an Arduino UNO, serial debug output shows after starting a Mysensors 1.6 node with fixed ID 66;

[code]

Mycontroller detects the node via MQTT config, however after resetting the relay node I see many I_CONFIG requests flooding mqtt;

[code]

I'm not sure but I think the response from the cli

[2015-10-31 10:47] arturmon commented on #61
I advise you to do the wiki on the main page.

[2015-10-31 16:37] TheCranston commented on #25
@jkandasa It sure is.  my sketch was directly using the watchdog which was causing it to fail. I removed my watchdog code and everything started to work correctly.

[2015-11-01 22:31] Dietmar-Franken commented on #61
@jkandasa
Which development environment do you have?

[2015-11-02 02:04] jkandasa commented on #61
@Dietmar-Franken I'm working with `Fedora 22` operating system, for `Java` I'm using Eclipse and for HTML/JS `Geany` Editor

[2015-11-02 08:07] arturmon commented on #61
how do you feel about NetBeans IDE?

[2015-11-02 08:36] jkandasa commented on #61
@arturmon It should work. You can see many people will be using `Eclipse`, as it is most popular and open source project.

[2015-11-02 09:47] Dietmar-Franken commented on #61
@jkandasa
Some questions about the code.
What is placeholder used for and is uib-tooltip show on mouseover?
[code]

[2015-11-03 16:29] arturmon commented on #57
translation is made 95%))

[2015-11-03 18:38] arturmon opened #70 "Add Pushbullet's"
It is necessary to add the notification Pushbullet's.

[2015-11-03 22:37] arturmon opened #71 "does not display the execution of the timer."
does not display the execution of the timer.
![error](https://cloud.githubusercontent.com/assets/7686999/10923926/97ce6112-8294-11e5-8a69-1a8edfa89f90.jpg)

[2015-11-04 07:42] jkandasa commented on #71
@arturmon on the image you have marked validity of the timer. Which should come if you add validity when you create new timer. Kindly refer attached image.
![timer-validity](https://cloud.githubusercontent.com/assets/1004403/10932296/b95575da-82f5-11e5-855d-a34113a34970.png)

[2015-11-04 08:48] arturmon commented on #71
I created a new timer
![error](https://cloud.githubusercontent.com/assets/7686999/10933505/f99eba90-82e9-11e5-98de-8786321886e0.jpg)
![error2](https://cloud.githubusercontent.com/assets/7686999/10933504/f99c14a2-82e9-11e5-8e00-d49cc9cab1ba.jpg)

[2015-11-04 11:40] jkandasa commented on #71
@arturmon Which is working good with 0.0.2-alpha5, I hope we introduced this issue on multi language support. Let me build locally the recent one and fix this issue. Thank you!

[2015-11-04 12:13] jkandasa commented on #71
@arturmon I checked out master branch, unable to reproduce this issue. Can you please check with master branch?

[2015-11-04 17:49] arturmon commented on #71
I use the same file from the master branch.I get this result as shown above. how to show the contents of the html file?

[2015-11-05 02:43] jkandasa commented on #71
@arturmon can you open in private browser(chrome or firefox), We come to know if you have any cache issue.

[2015-11-05 07:56] goranrad commented on #71
Is it possible to add an Edit feature on Timer as there is on alarms?

[2015-11-05 08:28] arturmon commented on #71
It opened in chrome.I check in another browser and let know.

[2015-11-05 09:47] jkandasa commented on #71
@goranrad We are tracking edit timer feature with https://github.com/mycontroller-org/mycontroller/issues/29 we will make available on 0.0.2-alpha6 release.

[2015-11-05 15:54] arturmon commented on #71
Проверил в chore и IE результат тот же, не отображается. Сравнил файлы с демо сайта и после локализации...разница только в локализации. Вот код которые отвечает за построение таблицы.
[code]

[2015-11-05 16:18] jkandasa commented on #71
@arturmon Could you please type in English

[2015-11-05 17:55] arturmon commented on #71
Sorry.
I checked in the chrome and IE result is the same, is not displayed. Compare Files with the demo site and after localization ... the only difference is in the localization. Here is the code that is responsible for the construction of the table.

[2015-11-05 23:36] Dietmar-Franken opened #73 "Error running the master-branch"
@jkandasa
I try to run the master-branch but no success.
[code]
Browser said no connectin to server.
Than i try
[code]
After that i looked into mycontroller.log and i found this.
[code]
What have i done wrong ?

[2015-11-06 01:16] jkandasa commented on #73
@Dietmar-Franken you cannot run as is. You should create build on your local computer from downloaded source code.

Before to build you should satisfy the following dependencies,
- JDK 1.8
- maven
- git

Steps to build,
- `git clone https://github.com/mycontroller-org/mycontroller.git`
- `cd mycontroller`
- `mvn package`
- You can find binary build under `mycontroller/target/`
     - `mycontroller

[2015-11-06 02:51] Dietmar-Franken commented on #73
Thank you works  perfect
![alpa6](https://cloud.githubusercontent.com/assets/12993220/10988085/9b15da98-8439-11e5-9882-4e3ca4def7e4.jpg)

[2015-11-06 02:51] #73 closed

[2015-11-06 08:20] arturmon commented on #73
What are the differences between alpha5 and alpha6-SNAPSHOT?

[2015-11-06 08:24] arturmon commented on #70
https://www.pushbullet.com/

[2015-11-06 09:30] jkandasa commented on #73
@arturmon master branch maintained as next release snapshot, once we fixed scheduled issues/features for this release we will release actual version, till then it will be marked as SNAPSHOT.

[2015-11-06 09:38] jkandasa commented on #61
@Dietmar-Franken place holder used to show content inside text box. Before entering actual content.
![place-holder](https://cloud.githubusercontent.com/assets/1004403/10993866/461fc7ba-8498-11e5-92e4-482adfeb7ec4.png)

[2015-11-06 09:42] jkandasa commented on #71
@arturmon I'm unable to produce this issue. Kindly try once with `private browser` mode. I hope your browser retaining old cache.
https://support.google.com/chrome/answer/95464?source=gsearch&hl=en

[2015-11-06 09:49] jkandasa commented on #57
@arturmon, @Dietmar-Franken I appreciate your contribution!! you are doing great work!! you people  has requested this feature at right time!!
We will collaborate together and final outcome **transparent open source product for us by us :wink:**

[2015-11-06 09:55] jkandasa commented on #70
@arturmon could you please elaborate bit about this feature like,
- How this will be useful for MyController
- Do we have to implement anything on MyController server
- Is Pushbullet's open-sourced or suitable for open-sourced project?

[2015-11-06 13:25] arturmon commented on #70
here is what the official website.
[code]

[2015-11-06 16:05] arturmon commented on #71
```private browser```
same. html file is changed to the original site ... waking did not touch ... where the output processing "Validity"?
![3232](https://cloud.githubusercontent.com/assets/7686999/11001582/df8fac06-84b8-11e5-8de5-3e5ff6f51f19.jpg)

[2015-11-06 16:10] arturmon commented on #57
how to translate this? ))
![3232](https://cloud.githubusercontent.com/assets/7686999/11001731/d311a1fe-84b9-11e5-8780-17968778778c.jpg)
![4554](https://cloud.githubusercontent.com/assets/7686999/11001756/093b55a4-84ba-11e5-82a7-9b4b85b24742.jpg)

[2015-11-06 16:28] jkandasa commented on #71
@arturmon Could you create another timer with validity and check it?

[2015-11-06 16:29] jkandasa commented on #57
`First` is from angularJS modules, Let me check it. For `Java` I have to create base. I will create it on next week some time.

[2015-11-06 17:31] Dietmar-Franken commented on #61
@jkandasa
Thank you now i understand it

[2015-11-06 17:46] Dietmar-Franken commented on #57
I´ve looked at all files yesterday,there is a lot of work to do. And in between i´ve bought a big book to learn java.

[2015-11-06 19:47] arturmon commented on #57
ok. We are waiting for a new release.

[2015-11-07 03:31] jkandasa opened #74 "Serial gateway is not working properly with RPI native serial port"
Serial port gateway is not working properly with Raspberry PI native serial port `ttyAMA0`

[2015-11-08 02:48] mannkind commented on #74
I *think* that I am running into this; MyController won't issue NodeIDs despite the logs indicating it's working. If you'd like help testing a fix, I'd be glad to lend a hand.

Nov 7, 2015 6:17:17 PM	Sensor Internal	Sent	[I_ID_RESPONSE], [NodeId:255, SensorId:255, PayLoad: 13]
Nov 7, 2015 6:17:17 PM	Sensor Internal	Received	[I_ID_REQUEST], [NodeId:255, SensorId:255, PayLoad: null]
Nov 7, 2015 6:17

[2015-11-08 03:01] jkandasa commented on #74
@mannkind Thank you to report this issue! Log says MyController issues NodeId, however it doesn't reach target Node, hence it's requesting NodeId again and again.

 Could you please update bit more about your environment like?
- Version of MyController
- Version of MySensors.org API
- Gateway Type
- OS type/version
- If you are using serial gateway, which type of USB to TTL are you using [or] nati

[2015-11-08 03:10] mannkind commented on #74
No problem. I just tried to use MyController for the first time today and noticed the Issued ID didn't seem to be working. Here is my setup:

MyController: 0.0.2 alpha5
MySensors: 1.5
Gateway Type: Serial Gateway
Serial Gateway using Raspberry Pi 2 GPIO Tx/Rx pins.
OS: Raspbian Jessie on Raspberry Pi 2

[2015-11-08 03:16] jkandasa commented on #74
@mannkind Thanks to show your interest with MyController! I'm really sorry for the difficult that you are facing at your first site.

Yes, with RPI native serial port it doesn't work properly. I will fix this issue on upcoming releases. I hope you are also facing same kind of issue.

For now can you try with USB-TTL serial port or Ethernet gateway?

[2015-11-08 03:33] mannkind commented on #74
Unfortunately, I don't have either of those available. Appreciate your efforts; looking forward to try it!

[2015-11-08 05:23] jkandasa commented on #74
I followed this in RPI and it's working good so far. Let me test it some more time.

Source: http://pi4j.com/example/serial.html

[2015-11-08 05:24] jkandasa commented on #74
@mannkind If you have not done above step, issue should be here. Otherwise we have to find the root cause.

[2015-11-08 05:50] mannkind commented on #74
Yep, I have completed those steps. MyController seems to be reading from the serial port because I can see the gateway's standard output and debug statements in MyController's logs. It appears that maybe output isn't working, but I'm not certain.

I'm fairly sure the gateway is setup and working correctly – w/debug enabled I can see it exchanging data, nonces (I have signing enabled), etc.

Maybe

[2015-11-09 05:38] arturmon commented on #71
deleted version mycontroller 0.0.2-alpha-5 installed 0.0.2-alpha6-SNAPSHOT release. no changes, does not display the execution of the timer. what am I doing wrong?

[2015-11-09 22:36] arturmon opened #81 "broke all the latest updates"
broke all the latest updates!!!
![4554](https://cloud.githubusercontent.com/assets/7686999/11048888/77632eb0-874b-11e5-9991-4ae43ffe4331.jpg)

[2015-11-09 23:54] Dietmar-Franken commented on #81
I have the same issue from the latest master branch

[2015-11-10 07:44] mannkind commented on #74
FWIW - Maybe this is just my weird RPi2 or Arduino.

After some testing using Minicom, a custom Go program, and modifying MyController itself...
For some reason there needs to be delay between sending characters to the Serial Gateway. I can replicate it by comparing copy/paste vs typing in Minicom, my custom Go program, and a modified version of MyController.

Below is output from the modified MyC

[2015-11-10 11:11] arturmon opened #82 "dashboard"
Offer to do something similar.
http://themes.getbootstrap.com/products/dashboard
http://shopify.github.io/dashing/
http://fdietz.github.io/team_dashboard/
http://grafana.org/#about
https://github.com/afaqurk/linux-dash
https://github.com/Reportr/dashboard
https://github.com/hopkinschris/dashboard
https://github.com/ModelN/sDashboard
https://github.com/dashku/dashku
https://github.com/obfuscurity/t

[2015-11-10 14:51] jkandasa commented on #81
@arturmon @Dietmar-Franken let me find the issue and fix it.

[2015-11-10 14:53] jkandasa commented on #82
@arturmon looks awesome. Thank you. Let me try with different dashboard

[2015-11-10 14:54] jkandasa commented on #74
@mannkind I'm also guessing the same, till now my test running perfectly with native RPI serial port.

[2015-11-10 14:56] arturmon commented on #82
really looking forward to the release))

[2015-11-10 21:00] jkandasa commented on #81
There was an syntax error on language json files. Fix it now.

[2015-11-10 21:00] #81 closed

[2015-11-10 21:15] Dietmar-Franken commented on #81
:+1:

[2015-11-10 21:20] Dietmar-Franken commented on #81
That´s strange all language files the same error never seen that before

[2015-11-11 11:04] arturmon commented on #59
Upgrade, Backup, and Restore
Database Upgrade

The recommended way to upgrade from one version of the database engine to the next version is to create a backup of the database (in the form of a SQL script) using the old engine, and then execute the SQL script using the new engine.

Backup using the Script Tool

The recommended way to backup a database is to create a compressed SQL script file. Thi

[2015-11-11 21:36] Dietmar-Franken opened #83 "Feature Request : Create Roles"
Feature Request : Create Roles with rights for different nodes

[2015-11-12 08:52] S0rc3r3r opened #84 "Feature Request : Variable types under Alarm Threshold field"
When creating an Alarm for eg. Temp Sensor it would be nice to have the possibility to use Sensor variable types under the Threshold field, not just fixed values.

Main reason for this feature request is that I want to be able to use the Temp sensor as a Thermostat and to be able to control my S_HEATER flow state on/off based on the temp sensor s_temp and V_HVAC_SETPOINT_HEAT variables.

[2015-11-12 12:06] arturmon commented on #83
Editor role (ACL) must be correct?

[2015-11-13 01:37] Dietmar-Franken commented on #83
@arturmon
I don´t understandwhat you mean

[2015-11-16 14:00] githubcdr commented on #33
An update, seems like the MQTT subscribe define was missing in previous release, the mqttclient uses a in and out channel.

I got this partially working, receiving works but sending fails atm using a w5100 board.

[2015-11-17 13:18] jkandasa commented on #7
https://github.com/mycontroller-org/mycontroller/commit/61888e64e439c4faad0e4f720e212293b784a350

[2015-11-17 15:40] arturmon opened #85 "not compiled"
![image](https://cloud.githubusercontent.com/assets/7686999/11216102/88a1a502-8d5a-11e5-9978-b44259c4d10f.png)

[2015-11-17 16:00] jkandasa commented on #85
@arturmon Latest image will not compile until you have local snapshot of `moquette`

I have asked `moquette` team to give a nightly build --> https://github.com/andsel/moquette/issues/127

If they will not give I will upload somewhere to get snapshot build until we will get 0.8 release.

For now the workaround is,

clone https://github.com/andsel/moquette repository locally and build it.
[code]

N

[2015-11-17 16:30] jkandasa commented on #33
@githubcdr Thank you very much for your support! I'm working on this to fix the issue.

- Adding inbuilt MQTT broker support

[2015-11-17 16:32] jkandasa commented on #71
@arturmon Can you list values what exactly you used to create timer?

[2015-11-17 16:58] arturmon commented on #85
ok

[2015-11-18 07:14] jkandasa commented on #57
https://github.com/mycontroller-org/mycontroller/commit/6d0f075eef75eb4aae384c1ea03bafdbace9fcc0

@arturmon
With this fix we can store our language permanently.
Go to `System Settings`, change `Language` under `Version`. Do logout and login.

[2015-11-18 17:33] jkandasa commented on #46
@arturmon https://github.com/mycontroller-org/mycontroller/commit/6d0f075eef75eb4aae384c1ea03bafdbace9fcc0#commitcomment-14476445

convert time format across all locations in GUI. Currently fixed only on graphs.

[2015-11-18 17:44] jkandasa commented on #74
@mannkind Is the issue reported by has resolved? I do not face any issue till date, hence I'm planing to close this issue.

[2015-11-18 17:54] mannkind commented on #74
I wasn't the one that reported this issue, just thought my issue with MyController may have been related :)

For anyone that may find this issue in the future -- my issue was resolved by reducing the MySensors baud rate to 38400 for my 3.3v 8mhz arduino pro mini, and then adjusting MyController's settings accordingly.

[2015-11-18 18:00] jkandasa commented on #74
@mannkind Thank you! I'm closing this issue now.

[2015-11-18 18:00] #74 closed

[2015-11-18 22:36] #29 closed

[2015-11-18 22:36] #40 closed

[2015-11-18 22:37] jkandasa commented on #29
Now we can edit timer

[2015-11-19 08:34] arturmon commented on #82
continued
https://www.pinterest.com/pin/28780885092818483/
https://www.pinterest.com/pin/305541155940762353/
https://econsultancy.com/blog/62844-24-beautifully-designed-web-dashboards-that-data-geeks-will-love/
https://www.freshdesignweb.com/responsive-admin-templates/

[2015-11-19 09:02] arturmon commented on #57
here is how to translate this piece of code?
file
[code]
[code]

[2015-11-19 09:12] jkandasa commented on #57
@arturmon I will come with a solution

[2015-11-19 17:28] jkandasa commented on #57
@arturmon This commit (https://github.com/mycontroller-org/mycontroller/commit/13a1aa5e75e9b01368d35a5f5cf38d53def25c6e) will explain how to change text in controllers in angularJs files

[2015-11-20 09:11] arturmon commented on #57
It may be worth to use the service https://www.transifex.com or phraseapp.com?

[2015-11-20 09:52] jkandasa commented on #57
@arturmon It's like we have to keep our locale `mc_locale_*.json` files in https://www.transifex.com/ and we can collaborate there. It will be synced automatically. with git repository. Am I correct?

[2015-11-20 12:17] Dietmar-Franken commented on #57
@jkandasa
Mysensors added a new controller Calaos.The files are on [Github](https://github.com/calaos) too.They use [Pootle](http://translate.calaos.fr/) to tanslate and it looks very good for me.

[2015-11-20 12:52] jkandasa commented on #57
@Dietmar-Franken thank you! It seems we have to host ourself for `Pootle`, but https://www.transifex.com/ it's free for opensource projects. And I believe https://www.transifex.com/ has  all the options that we have it in `Pootle`.

@arturmon @Dietmar-Franken Shall we go with https://www.transifex.com/ ?

[2015-11-20 13:26] Dietmar-Franken commented on #57
@jkandasa
OK, lets go   with  transiflex

[2015-11-20 15:04] jkandasa commented on #57
@arturmon @Dietmar-Franken done!!

https://www.transifex.com/mycontrollerorg/gui-angularjs/mc_locale_gui/

[2015-11-20 15:44] arturmon commented on #57
goo

[2015-11-20 15:47] jkandasa commented on #57
@Dietmar-Franken  @arturmon your id please in https://www.transifex.com

[2015-11-20 15:59] jkandasa commented on #57
@arturmon you are the coordinator for https://www.transifex.com/mycontrollerorg/gui-angularjs/language/ru_RU/ Kindly manage completely ru_RU

[2015-11-20 16:17] Dietmar-Franken commented on #57
@jkandasa
What id?

[2015-11-20 16:18] arturmon commented on #57
Thank you

[2015-11-20 16:29] jkandasa commented on #57
@Dietmar-Franken I need to add you in https://www.transifex.com/mycontrollerorg/gui-angularjs/ to coordinate de_DE language. For that I need your `transifex` id or I can invite you with your email id.

[2015-11-20 16:32] Dietmar-Franken commented on #57
@jkandasa
Please invite me

[2015-11-20 16:34] jkandasa commented on #57
@Dietmar-Franken Shall send invitation to ` ***@*m****.*e`? which on i got from `MySensors.org` chat

[2015-11-20 16:35] Dietmar-Franken commented on #57
:+1:

[2015-11-20 16:48] Dietmar-Franken commented on #57
@jkandasa
Signed up

[2015-11-20 16:52] jkandasa commented on #57
@Dietmar-Franken great! now you can manage https://www.transifex.com/mycontrollerorg/gui-angularjs/language/de_DE/ and you are the coordinator for `de_DE`.

[2015-11-20 17:22] Dietmar-Franken commented on #57
@jkandasa
Thank you

[2015-11-24 23:16] #85 closed

[2015-11-24 23:17] arturmon opened #106 "Add flexible themes ."
Add flexible themes .

[2015-11-25 18:52] jkandasa commented on #82
@arturmon after some analysis this dashboard looks good and we can adopt easily with existing GUI framework.

Have to do some sample test with this https://github.com/angular-dashboard-framework/angular-dashboard-framework

[2015-11-25 20:56] jkandasa commented on #106
@arturmon For flexible themes we can add any them from here, https://bootswatch.com/

Current we are using https://bootswatch.com/yeti/ theme

[2015-11-26 10:30] arturmon opened #108 "the ability to select the type of charts"
perhaps it has already been implemented, but I just found a linear chart.
it is possible to select the type of schedule?
such as:
http://jtblin.github.io/angular-chart.js/
http://www.fusioncharts.com/angularjs-charts
http://www.zingchart.com/blog/2015/11/09/angularjs-chart-examples/

[2015-11-26 10:35] jkandasa commented on #108
@arturmon we are using http://krispo.github.io/angular-nvd3/#/ in current implementation. I feel this chart is good to go. Do you feel any drawback on the current implementation?

[2015-11-26 10:36] jkandasa commented on #108
@arturmon you can `line/bar` chart select option?

[2015-11-26 10:40] arturmon commented on #108
not very nice is obtained by using the toggle switch on

[2015-11-26 10:43] arturmon commented on #108
maybe this one will be better on the charts where only two values. multiBarChart

[2015-11-26 10:52] arturmon commented on #108
http://krispo.github.io/angular-nvd3/#/dashboard
wow that's a good board control resizable.

[2015-11-26 11:01] arturmon commented on #17
evidence of multiple sensors seems to me better to use on dashboards.

[2015-11-27 05:34] al-uminium commented on #7
Why waste time making when MQTT server already exist?

[2015-11-27 07:57] jkandasa commented on #7
@al-uminium Yes, we have MQTT broker setup already. but,

1. However we do not want to spend time with MQTT broker setup separately. So installing of MyController will be like zero setup
2. I want to control authentication with inbuilt MyController users
3. Want to push all the events from Serial (or) Ethernet gateway to MQTT

[2015-11-27 09:07] #84 closed

[2015-11-27 09:14] jkandasa commented on #84
@S0rc3r3r added dynamic support, not only limited with same sensor. Supports other sensor's value also.

![alarm_dynamic](https://cloud.githubusercontent.com/assets/1004403/11437620/2654687c-9515-11e5-8de4-5cee053385d6.png)

![alarm_dynamic_2](https://cloud.githubusercontent.com/assets/1004403/11437638/444bb15a-9515-11e5-9b89-fb945fd56532.png)

[2015-11-27 09:37] arturmon commented on #83
I'm sorry, I can not understand. I thought the editor roles for the users.

[2015-11-27 12:01] S0rc3r3r opened #111 "[Bug] Alarm threshol value remains populated with sensorVariableType subId."
Steps to reproduce:
1.Create a new alarm and choose Trigger When Value "SENSOR"
2.Add all Sensor mandatory information.
3. Change Trigger When Value  to "VALUE"

Expected:
Value field is not populated

Actual:
Value field is populated with sensorVariableType subId.

[2015-11-27 12:29] #111 closed

[2015-12-07 09:47] S0rc3r3r opened #124 "[Enhancement] Modify Sensors API Json response"
Status field from Sensors api response should be a map between variableType and variableType.value:
..........
	"status": [{
			"value": "23.56 °C",
			"variableType": "V_TEMP"
		}, {
			"value": "22",
			"variableType": "V_HVAC_SETPOINT_COOL"
		}, {
			"value": "20",
			"variableType": "V_HVAC_SETPOINT_HEAT"
		}

	],
	"enableSendPayloadRaw": null,
..............

Also +1 on https://github.com/myc

[2015-12-07 17:36] S0rc3r3r commented on #124
If you have not started I can do it myself...the backend stuff.
I assume that UI changes are also needed and maybe you can have a look over that implementation.

~Regards

[2015-12-07 22:33] jkandasa commented on #124
@S0rc3r3r I didn't start yet. What we have to add on this is,
- we have to create new java class (with JSON support)
- variables on this new class `value, unit, variableType`
- If local unit is not available supply with global units (if global unit available)

[2015-12-07 23:17] jkandasa commented on #124
@S0rc3r3r I'm working on this, i will push my changes on tomorrow

[2015-12-08 07:39] S0rc3r3r opened #125 "[New-Feature] Add 3rd party module support."
We should allow 3rd party applications to integrate with Mycontroller as modules.

[2015-12-08 09:02] #124 closed

[2015-12-08 09:10] jkandasa commented on #124
implemented this one,
example 1:
[code]
example 2:
[code]

![action_board_124](https://cloud.githubusercontent.com/assets/1004403/11651798/82d47630-9db9-11e5-8e9e-e173a1fde2d9.png)

[2015-12-08 19:58] jkandasa opened #126 "resolution of 1366x768 breaks the action board"
Action board not showing properly on different display settings, layout broken on  1366x768 px

[2015-12-09 09:51] S0rc3r3r commented on #125
Here is a tutorial of the whole idea.
http://www.javaworld.com/article/2077837/java-se/hello--osgi--part-1--bundles-for-beginners.html

Unfortunately i don't have so much experience in programming . If you could have a look and discuss afterwords would be nice.

[2015-12-09 11:03] jkandasa commented on #125
@S0rc3r3r looks interesting...

[2015-12-09 16:30] mannkind commented on #33
(Followup from Gitter)
It appears that OTA Firmware Uploads via MQTT do not currently work (maybe not even a MyController issue, but I'm not sure). Normal sending/recieving via MQTT works as expected, and I can switch MyController to Serial and use my serial gateway to do OTA Firmware uploads without issue.

* **MySensors**: v1.6 `9540cb2b30c58ba61910acd6937e41eaeeef24cb `
* **MyController**: 0.0.

[2015-12-09 20:46] jkandasa commented on #33
@mannkind I also tested it locally but no luck :cry: trying to get root cause,

**MyController, MQTT**
[code]

**MySensors MQTT Gateway**
[code]

[2015-12-09 23:03] jkandasa commented on #33
@mannkind problem with MySensors code. We found a fix and PR created. https://github.com/mysensors/Arduino/pull/284

[2015-12-09 23:06] mannkind commented on #33
Ah! I'm sorry the my "issue" was against MyController instead of MySensors. But thank you for discovering the problem! I appreciate your work.

[2015-12-10 10:39] jkandasa commented on #33
@mannkind Fix is available in development branch of MySensors, you can test it now! Thank you!

[2015-12-11 05:11] Dietmar-Franken commented on #20
@jkandasa
You forgot to close this?

[2015-12-11 05:42] mannkind commented on #33
It's working quite well! Thanks!

[2015-12-11 07:55] jkandasa commented on #20
@Dietmar-Franken yet to add this in main site. Will close soon. thank you!

[2015-12-14 08:50] jkandasa commented on #20
Donation option added in main site. [MyController.org](http://www.mycontroller.org/)

[2015-12-14 08:50] #20 closed

[2016-01-05 08:56] TheAbhor opened #127 "Feature Request : Option for autorefresh page"
Hi Jeeva, great project,

Is it possible to make a setting in the controller settings for an option 'always autorefresh' or something like that ?
every time If goto 'Action board' the standard now is -- never refresh --

GreetZz

[2016-01-05 09:18] jkandasa commented on #127
@TheAbhor I will save last change by user and use it.

[2016-01-05 09:21] TheAbhor commented on #127
Your the best ;-)
Another little thing, is there a notice for an update in MyController ?

[2016-01-05 09:22] jkandasa commented on #127
@TheAbhor you mean next release?

[2016-01-05 09:22] TheAbhor commented on #127
yes

[2016-01-05 09:24] jkandasa commented on #127
@TheAbhor currently I'm working on to support,

* Multiple gateways
* New GUI (https://www.patternfly.org)
* And bug fixes

roughly it will take around more than two weeks

[2016-01-05 09:31] TheAbhor commented on #127
@jkandasa
Looks great, new looking for mycontroller ? Or what ?
Is it possible for me somewhere in your program to delay a light time when triggered by a motion sensor ?

[2016-01-05 09:32] jkandasa commented on #127
@TheAbhor could you come to https://gitter.im/mycontroller-org/mycontroller?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-01-05 09:58] jkandasa opened #128 "Delay time in alarm module"
Add delay time in alarm module for send payload notification. This will help to control various real time actions.

Example: motion sensor detection, send OFF notification to sensor with delay time.

This issue was reported by @TheAbhor

[2016-01-05 09:58] jkandasa commented on #127
@TheAbhor  we will track motion sensor delay issue with https://github.com/mycontroller-org/mycontroller/issues/128

[2016-01-19 12:44] chrigui opened #132 "Dashboard and triggers"
hi, this is some great work you are doing!
i have 2 questions please
1- do you have any road map ?
the reason i ask is just to estimate when you will have a dashboard ?

2- are you please to create some sort of triggers ?
eg: if temp1 is bellow x then turn on fan1.

thanks.

[2016-01-19 15:27] jkandasa commented on #132
@chrigui

the reason i ask is just to estimate when you will have a dashboard ?

Currently I'm working on next version with huge changes, this will give dashboard also. may be released by this month end.

This feature already available with the name of 'Alarms'

[2016-01-19 17:01] chrigui commented on #132
Thank you for your reply!!

[2016-01-24 19:16] jkandasa opened #133 "To reduce bundle size create local java files where applicable"
For now the followings can be created locally
- [x] Twilio client
- [x]  Plivo client

[2016-01-25 17:14] marceloaqno opened #134 "Number format exceptions"
Hi,
several of these messages appear in mycontroller log file after one of the my nodes sent an invalid sensor value (nan, -nan, inf):
[code]
I also noticed some missing information about the node in the Action Board (webgui) after that.

[2016-01-25 21:22] Mickaelh51 opened #135 "issue alpha7 compilation"
Hi,
I have an issue when I want compile alpha7 (last git clone).

Do you have 0.0.2-alpha7 Release with pre-compiled sources ?

thanks in advance

[code]

[2016-01-25 22:00] jkandasa commented on #135
@Mickaelh51  0.0.2-alpha7 is not yet ready to release. Currently it's in  0.0.2-alpha7-SNAPSHOT version.

can you please elaborate more about the command that you executed?

JDK 1.8 is required.
To get compiled image you have to run
[code]

[2016-01-25 22:33] jkandasa commented on #134
@marceloaqno I hope your sensor sends `V_VOLTAGE` value. It should be a double value. MyController tries to convert `-nan` to Double value and failed. I believe this error won't effect your node details.

What exact information missing on action board?

[2016-01-26 02:12] marceloaqno commented on #134
@jkandasa yes, V_VOLTAGE values (it's a S_MULTIMETER type). Node 9 has 13 sensors, but only 7 of them are showing.

[2016-01-26 05:40] Mickaelh51 commented on #135
Thanks,
It's exactly this process what I executed. I'm using jdk 1.8.

Do you want another informations ?

[2016-01-26 07:25] jkandasa commented on #134
@marceloaqno can you send me the complete mycontroller.log? It might give some clue to narrow down this issue.

[2016-01-26 07:54] jkandasa commented on #135
@Mickaelh51 can you paste complete log on somewhere like http://fpaste.org/ ?

[2016-01-26 12:03] marceloaqno commented on #134
@jkandasa sure, https://drive.google.com/file/d/0B_-1ZYkXkahacGMxS0lxcTI0Q3M/view?usp=sharing

[2016-01-26 21:10] Mickaelh51 commented on #135
Hi,
thanks for your help ;)
pastbin: http://fpaste.org/315054/38425271/
password: toto5108

++

[2016-01-26 22:06] jkandasa commented on #135
@Mickaelh51 Thank you for the log file, seems there is an issue with `lombok`. I tried on another machine but unable to reproduce this issue my side. seems like you are in different platform.
I'm with fedora 23 with JDK 1.8 and works good.
Can you give your platform information?

[2016-01-27 10:29] jkandasa commented on #135
@Mickaelh51 until identify the issue you can try this compiled version, update available till commit #422

http://s000.tinyupload.com/?file_id=01619064561924017217

[2016-01-27 19:33] Mickaelh51 commented on #135
Hi, thanks a lot !

the configuration has changed between alpha6 and 7 ?
There is no these options:
[code]
I have this isse in log (but I want work with mqqt):
[code]
And another issue in web interface:
This issue is present in alpha6 too.
![screenshot-172 16 13 153 8443 2016-01-27 20-27-41](https://cloud.githubusercontent.com/assets/9885404/12625640/f9d307a4-c534-11e5-8bd7-a7ca29ce0e0c.png)

Than

[2016-01-27 21:53] jkandasa commented on #135
@Mickaelh51 It's not a problem in opensource world everyone's contribution is very important.

First I want to tell for now(alpha releases) version to version database upgrade will not support(huge schema changes happening every time). We have to start each version from fresh installation.

So we have to start as brand new for 0.0.2-alpha7 version.

In 0.0.2-alpha7, we made huge changes in back-en

[2016-01-27 21:55] jkandasa commented on #135
when moving alpha5 to alpha6 clear your browser cache, GUI will get work good.

[2016-01-29 07:33] jkandasa commented on #134
@marceloaqno Hi it looks like you are using alpha5 version of database with alpha6 version. There is schema changes in alpha6 version, It won't support for previous version of database. You have to start from fresh.

[2016-01-30 03:31] marceloaqno commented on #134
@jkandasa I did that (delete the file mycontroller.h2.db) after upgrading to alpha6.
Once I saw those lines on the log:
[code]
I thought starting from scratch would be the case, I just kept the logs.

[2016-01-30 07:12] jkandasa commented on #134
@marceloaqno did you note the time stamp of the log? Is it new log?

[2016-02-02 12:59] dbaravalle opened #136 "Spanish language"
Hi, I can help you to generate the spanish translation, but there is no Spanish language on GUI AngularJS project.

[2016-02-02 13:40] jkandasa commented on #136
@dbaravalle Thank you! I will update in the project and let you know.

[2016-02-05 14:13] dbaravalle commented on #7
Hi!

Is this functionality has been added? Is it ready to be used?

I could not find the part of the code where it publishes all events from the serial gateway to MQTT Broker

[2016-02-05 20:05] jkandasa commented on #7
@dbaravalle No, this functionality not added till now. May be added later.
For MyController events will be added. But for Serial and Ethernet plan may be dropped.

[2016-02-06 23:19] jkandasa commented on #136
@dbaravalle It's available now. Kindly send request in https://www.transifex.com/mycontrollerorg/gui-angularjs

[2016-02-08 11:00] jkandasa commented on #128
this feature implemented with alarm definition

[2016-02-08 11:00] #128 closed

[2016-02-08 11:02] jkandasa commented on #82
available with  0.0.3-alpha1

[2016-02-08 11:02] #82 closed

[2016-02-08 11:03] jkandasa commented on #132
https://github.com/mycontroller-org/mycontroller/issues/82

dashboard available

[2016-02-08 11:03] #132 closed

[2016-02-08 11:04] jkandasa commented on #106
GUI moved to http://patternfly.org, which is Enterprise grade UI

[2016-02-08 11:04] #106 closed

[2016-02-08 11:05] jkandasa commented on #126
action board completed changed in 0.0.3-alpha1

[2016-02-08 11:05] #126 closed

[2016-02-08 11:06] jkandasa commented on #71
unable to reproduce this issue, kindly reopen if you face this issue again

[2016-02-08 11:06] #71 closed

[2016-02-08 11:06] jkandasa commented on #83
user roles supported from 0.0.3-alpha1

[2016-02-08 11:06] #83 closed

[2016-02-08 11:07] #27 closed

[2016-02-08 11:08] #33 closed

[2016-02-08 11:13] jkandasa commented on #36
@bpair now we can it will be working with virtual name.
https://github.com/mycontroller-org/mycontroller/commit/11726d1c9b95d2defe7dba37325d2556af7a3628

[2016-02-08 11:13] #36 closed

[2016-02-08 11:14] #46 closed

[2016-02-08 11:16] jkandasa opened #137 "Support localization for core java module"

[2016-02-08 11:16] jkandasa commented on #41
implemented in GUI to track for core java https://github.com/mycontroller-org/mycontroller/issues/137

[2016-02-08 11:16] #41 closed

[2016-02-08 11:17] jkandasa commented on #57
implemented in GUI, to track core java changes https://github.com/mycontroller-org/mycontroller/issues/137

[2016-02-08 11:17] #61 closed

[2016-02-08 11:19] jkandasa commented on #125
@S0rc3r3r we are not going to support plugin type, as it leads huge memory consumption. But we can add new plugins with core module

[2016-02-08 11:19] #125 closed

[2016-02-08 11:20] jkandasa commented on #134
This expected issue(`Number format exceptions`) if we send unreadable measurement data.

[2016-02-08 11:20] #134 closed

[2016-02-08 11:21] jkandasa commented on #108
available in 0.0.3-alpha1

[2016-02-08 11:21] #108 closed

[2016-02-08 11:21] jkandasa commented on #135
kindly reopen this issue if you face with latest development branch

[2016-02-08 11:21] #135 closed

[2016-02-08 11:22] #136 closed

[2016-02-08 11:23] jkandasa commented on #56
http://ionicframework.com/

[2016-02-09 21:32] arturmon opened #138 "sending several notifications when the alarm goes off."
![1](https://cloud.githubusercontent.com/assets/7686999/12931230/c2028cce-cf8d-11e5-9ff9-6ed002c8cec4.jpg)

[2016-02-12 22:26] jkandasa commented on #22
fixed in development branch

[2016-02-12 22:26] #22 closed

[2016-02-12 23:40] #127 closed

[2016-02-14 05:27] jkandasa commented on #133
https://github.com/mycontroller-org/mycontroller/commit/98debad98bece073b585aa4b067c28b8bfb17532

[2016-02-14 05:27] #133 closed

[2016-02-14 22:41] arturmon opened #139 "Add a backup system"
Add a backup system. Export and import database. with the ability to choose to keep the settings, or only even values.

[2016-02-14 22:41] arturmon commented on #139
duplicate

[2016-02-14 22:41] #139 closed

[2016-02-16 22:37] jkandasa commented on #59
@arturmon backup and restore feature added.

https://github.com/mycontroller-org/mycontroller/commit/d2d41e6bd36abec09319f792cf9ddc1fb741c53d

[2016-02-16 22:37] #59 closed

[2016-02-18 21:24] gbrd commented on #56
another solution could be to implement imperihome (http://www.evertygo.com/imperihome)
standard API on server side

[2016-02-18 21:35] gbrd opened #140 "add custom action button"
Very nice work ! Finally a modern controller for mysensors !

We have "send Raw Message" and what we could call "automatically configured buttons" functions,
it would be nice to be able to add custom button on each node/sensor.

I have several custom/complex mysensors nodes in my network, and I would need to be able to send specific messages.

[2016-02-18 21:54] jkandasa commented on #140
@gbrd yes, we had send raw message option and was not implemented yet with this 0.0.3 release. will be added soon.

Also custom button will be added https://github.com/mycontroller-org/mycontroller/issues/47

[2016-02-19 10:28] jkandasa commented on #17
https://github.com/mycontroller-org/mycontroller/commit/b7e521ffb19f2c8df9068342d6373802cf184109

[2016-02-19 10:28] #17 closed

[2016-02-20 14:39] jkandasa commented on #138
https://github.com/mycontroller-org/mycontroller/commit/ee3d40108b2c855d19ff1ff80162e9fc92c754ef

implemented multiple notification for alarm definitions

[2016-02-20 14:39] #138 closed

[2016-02-20 23:02] jkandasa opened #141 "Alram definition sends payload two times, if delay time enabled"
Alram definition sends payload two times, if delay time enabled

[2016-02-21 13:18] #141 closed

[2016-02-22 10:52] #137 closed

[2016-02-22 11:39] jkandasa commented on #7
dropping this feature request for now. if we receive many request for this feature may reconsider again.

[2016-02-22 11:39] #7 closed

[2016-02-25 11:09] arturmon opened #142 "add support for IP cameras."
add support for IP cameras.

[2016-02-25 11:28] arturmon commented on #59
[image: Встроенное изображение 1]

2016-02-17 1:37 GMT+03:00 Jeeva Kandasamy <notifications@github.com>:

[2016-02-26 01:16] arturmon opened #143 "Add automatic geolocation."
automatically determine your location through your browser. it is more convenient than manually entering coordinates.
Here is an example: http://html5demos.com/geo
![1](https://cloud.githubusercontent.com/assets/7686999/13340285/3fc99e86-dc40-11e5-9975-e1c0131eead9.jpg)

[2016-02-29 00:01] #70 closed

[2016-03-01 01:45] manusovich opened #145 "New dashboard item - Static image with auto-reload from disk"
That will be nice to have one more dashboard item type - static image from disk + refresh period for that on dashboard. It can be worth when we have another systems in our home network and they are producing such images. For example for me it is traffic in the city or image from webcam

[2016-03-01 22:12] WimVerhaert opened #146 "Purging RESOURCES_LOGS_DETAIL"
After I purge the RESOURCES_LOGS_DETAIL it does not seem to fill it with new information.
See http://demo.mycontroller.org/#/status/resourceslogs//

[2016-03-01 22:18] jkandasa commented on #146
this should not be a bug, it's deleted all the resources log. Will fill with new information once it receives.

[2016-03-01 22:20] WimVerhaert commented on #146
mmm, mine does not seem to do it,... but my sensor data is being updated ?
Anything on filessystem I can check?

[2016-03-01 22:21] jkandasa commented on #146
if you do some actions like turn on Light. you can see the log

[2016-03-01 22:22] jkandasa commented on #146
yes, sensors data will not be removed. this will just purge communications logs

[2016-03-01 22:24] WimVerhaert commented on #146
My node is a sensor (temp/hum), so only incoming data for mycontroller,... but the resource log does not show this anymore, nor does it show me eg a requestTime.

[2016-03-01 22:27] jkandasa commented on #146
Once every 30 minute MyController will send alive request. you can see that

[2016-03-01 22:39] WimVerhaert commented on #146
Rebooting my sensor should do the trick as well, not?
I do not seem to get my resource log back :(
Can the alive requests also be increased in frequency?

[2016-03-01 22:40] jkandasa commented on #146
create some dummy node with sensors like switch and do action on that

[2016-03-01 22:46] WimVerhaert commented on #146
negative :(
created node -dimmer -> actionboard -> toggle on/off => nothing in resource log

[2016-03-01 22:48] jkandasa commented on #146
do you see any error log in mycontroller.log? `Status-->MyController server log` or in server `mycontroller/logs/mycontroller.log`

[2016-03-01 22:50] WimVerhaert commented on #146
got it,... problem was 'user error', I already turned the setting->system->Resources logs levelTrace to ERROR, ... now at 'trace' it is filling up again.
Sorry for the trouble :)

[2016-03-01 22:50] #146 closed

[2016-03-01 22:51] jkandasa commented on #146
no problem :)

[2016-03-02 03:56] manusovich opened #147 "Sensors naming rules in case if name is not defined"
1. When controller discover sensor for the first time and we are adding that to the graph, graph has null for sensor name. Item in agenda is looking like null-Temperature. Also you can see this null in sensor picker.

2. After we edit sensor information and leave sensor name field empty we don't have null in sensor name anymore and it is looking like "-Temperature". That is another bug - when sens

[2016-03-02 11:03] jkandasa commented on #147
@manusovich Can you add screenshot?

[2016-03-02 18:01] arturmon opened #148 "Add control via pushbullet"
Add the ability to control the switches through pushbullet remotely.

[2016-03-03 17:30] WimVerhaert opened #149 "Post processing a raw datavalue"
It would be interesting to do some post processing on an incoming value, eg raw data of a air quality= 60%, which I translate into air = good (green).

[2016-03-03 17:41] WimVerhaert opened #150 "Different widget"
As an end-user
I would like to have a widget on my dashboard that displays the data of a sensor as :

- a gauge/dial (eg http://www.visokio.com/files/Resources/OUGuide/381_ViewsRef/15-DialView492/492_DialViewSpeedometer_272x264.png) with a range indication

[2016-03-03 17:42] WimVerhaert commented on #149
maybe even use the incoming value to change a user-defined variable.

[2016-03-03 17:50] WimVerhaert commented on #149
Simple example is:

- My sensor sends value 1000kWh
I want to show to the enduser = 1000kWh * (price kWh)  =1000 * 0.2 =200 $

-My sensor sends value 1000kWh
I want to add a base value to it since my meter already has 9000kWh on it before I added my sensor

[2016-03-03 17:54] WimVerhaert opened #151 "Rules"
Is it possible to create some 'rules' in MyController (cfr what openhab has).

Eg: when I get a sensor indicating a door opening I want to turn on a light on an other sensor.

This would be different than forwarding a payload.

[2016-03-03 17:57] WimVerhaert opened #152 "refresh button on 'resources logs'"
As an admin user I want to monitor incoming events/sensor data in the resources logs without having to hit browser refresh all the time.

Is it possible to do an automatic refresh of the this log?

[2016-03-03 18:08] WimVerhaert commented on #151
Just noticed this to be in the Alarms,...
Maybe rename Alarms into Rules :)

[2016-03-03 18:17] jkandasa commented on #151
Yes, It's good to rename `alarm` to `Rules` and `Notifications` to `Actions`

[2016-03-03 18:18] jkandasa commented on #152
It is a good request already we have global page refresh attribute, I will implement to this page.

[2016-03-03 19:10] WimVerhaert commented on #149
Maybe it could be useful to allow the user to create custom variables in the Variables Mapper table, Variables that can be used elsewhere (as a fake sensor?).

[2016-03-03 19:12] WimVerhaert opened #153 "Variables Mapper should be alphabetical"
As an admin I would like to be able to easily find a variable by sorting it.
Can the Variables Mapper table be sorted?

[2016-03-03 20:30] gbrd commented on #140
My sensors implements "REQ" msgType (=2).  I use it to manualy ask an update.
Would be great to be able to choose msgType too when sending message on a custom button or in a "notification" / "send payload"

[2016-03-03 21:01] #145 closed

[2016-03-03 21:04] jkandasa commented on #145
New widget will be available in the name of `Display image file`. Set image location under `Settings-->System-->MyController-->Widget image files disk location`

This widget supports local disk image as well as with remote image with http url.

[2016-03-03 21:13] jkandasa commented on #153
Giving sort by might be not required for this page. however I have add default sorting by  alphabetical order on both list and edit page.

[2016-03-03 21:13] #153 closed

[2016-03-04 02:43] manusovich commented on #145
I see that there is 1MB limit for image size. Is it possible to change this
limit? 1MB for image is very small size. All my images for example between
2MB and 4.

Alex

On Thu, Mar 3, 2016 at 3:04 PM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2016-03-04 06:58] jkandasa commented on #145
@manusovich if we put more than 1 MB limit leads out of memory exception as are using only 40 MB for JVM. we should increase JVM heap space in this case. I will find a way to do that.

[2016-03-04 08:12] jkandasa commented on #145
@manusovich Increased file size limit to 7 MB!

Changes:
- supports up to 7 MB file size.
- will not list files if the size is more than 7 MB
- list files include sub directory also
- Returns only first 500 files, if we have more than that we should change base directory to narrow down file counts.

in upcoming release we may need to increase JVM heap size. Currently it is 40 MB.

[2016-03-04 08:36] #152 closed

[2016-03-04 08:38] jkandasa commented on #152
Added refresh button and included auto refresh. Auto refresh will happen based on global page refresh time. Default is 30 seconds, we can change this under settings-->system

[2016-03-04 11:32] jkandasa commented on #145
@manusovich When we use `disk` option, without authentication no one take your image outside world as it is passing throw validations and returns as REST object. limitations are required when it is passing throw JVM.

But with `url` option you can serve without limitation of the size.
If you put your images under `mycontroller/www/` can access via url.

Example: create a directory under `mycontrol

[2016-03-04 14:35] Thar0l commented on #151
Another solution is to add scripts support. It allow not only send constant payload but modify original. (e.g. calculate average temp from some sensors and turn on/off heater. (Current facility with alarm/notifications doesn`t allow such actions))

[2016-03-04 14:41] WimVerhaert commented on #151
These new  'Rules' would probably go hand in hand with the enhancement in https://github.com/mycontroller-org/mycontroller/issues/149

[2016-03-04 23:41] jkandasa commented on #149
To address this, have to implement [JSR223](https://www.jcp.org/en/jsr/detail?id=223) by default it comes with `javascript` support. We can also add `python`, `ruby`, `groovy` support easily

[2016-03-05 09:00] WimVerhaert commented on #149
without just copying what openhab has,.... they have a similar implementation (i even saw the jsr223 in their core directory)
cfr:https://github.com/openhab/openhab/wiki/Scripts

[2016-03-05 13:22] avoloshyn79 opened #154 "MySQL database"
Please, add the ability to use MySQL

[2016-03-05 13:23] arturmon commented on #154
then it is better HSQLDB

[2016-03-05 22:54] jkandasa commented on #154
@avoloshyn79 @arturmon to implement MySql, HSQLDB, other databases, we have to check `ormlite` support and `flywaydb` support. also other factors.

May I know what leads to move out from `h2` db?

[2016-03-06 07:40] gbrd commented on #154
If you change database,  why not something more modern and fun like mongodb or another nosql database ;)  ?  (An online db as a service would be fun too but it would make us less independent)

[2016-03-06 09:05] jkandasa commented on #154
@gbrd Right now our design with RDBMS. We may switch easily between RDBMS vendors. But to switch to NoSql databases more changes needed.

[2016-03-06 12:14] anarro opened #155 "Issue with restore a Backup"
Hi jkandasa,
I think that we have an issue with the Backup/Restore.., Today I tried update your app.

First I checked that we had some Backup files, then I stopped the services (./stop.sh script), that´s ok, and I erased and copied a new files and I started the service (./start.sh script), clicked in "Settings -> Backup" and clicked in "Action->Restore" and I accepted the message dialog and the Ap

[2016-03-06 12:17] arturmon commented on #155
run the recovery from the menu. after the upgrade you need to manually start (start.sh). Let it be for now.

[2016-03-06 12:19] jkandasa commented on #155
@anarro It is not an issue. After restore all services will be stopped. Hence you are seeing `NO RESPONSE` error. we have to start the service manually.

On the popup dialog we have mentioned server will be stopped after restore,

![mc-backup](https://cloud.githubusercontent.com/assets/1004403/13554055/c6827a9e-e3c3-11e5-81db-b2b496c99e6a.png)

[2016-03-06 12:23] anarro commented on #155
Sorry !! Oo, I had not read it.
Thank you.

[2016-03-06 12:23] #155 closed

[2016-03-06 12:25] arturmon commented on #155
my this is just not enough. start the service after the restore. and as I understand it is more dependent on the operating system it is running mycontroller/

[2016-03-06 12:56] anarro commented on #143
Hi,
Yes,I think thats a good idea.

[2016-03-06 16:47] WimVerhaert commented on #154
Is it possible to get easy access to the H2 database, which app do you use?

[2016-03-06 16:49] WimVerhaert opened #156 "Purge sensor data"
As a user I want to remove some old (invalid) data that is shown in my graphs.
Is it possible to purge sensor data, maybe select some criteria like 'before date x'?

[2016-03-06 17:41] jkandasa commented on #154
@WimVerhaert [download](http://www.h2database.com/html/main.html) from h2 website. you can use it as web console or command line console.

in MyController.org h2 db is running in embedded mode. Which means while MyController.org is running you cannot access database. You can see all the data when you extract your backup file.

[2016-03-06 17:43] jkandasa commented on #156
@WimVerhaert right now we do not have any option to purge. It is good feature request.

[2016-03-08 19:56] arturmon commented on #151
It may be necessary to add Node-RED?

[2016-03-10 12:24] WimVerhaert opened #157 "Extra filter for resource logs"
As an admin I want to troubleshoot messages coming in from my node.
Since the resource log contains many messages, I also want to be able to filter on Resource ( src of my messages).

[2016-03-11 20:06] Werwolfx opened #158 "Get data from custom url"
Nice work, thank you.

may be you add function to get data from custom url, custom site?
for example get data from weather site, parse value temperature and store it to database and show it in dashboard.

sorry for my english.

[2016-03-12 05:39] manusovich opened #159 "Bug: Node state is down all the times"
Hi there, please check MySensorsMessageEngine.executeMessage in case when it is receiving C_SET message, it doesn't look like it is setting node state back to UP if it was DOWN before. recordSetTypeData method from this class is not doing that. Some of messages (with type internal) like I_BATTERY_LEVEL are setting node state = UP by calling updateNode(node) but doesn't look like we are doing that

[2016-03-12 05:41] manusovich opened #160 "Enhancement: Dashboards routing"
Please consider to add angular routing for dashboards. Right now all of them have url /dashboard and in case if some of us have auto page refresh in browser it is always loading first dashboard after refresh even if another has been opened. That will be nice to have dashboard id in url also.

[2016-03-12 05:46] manusovich commented on #147
Sure. Attached
<img width="192" alt="screen shot 2016-03-03 at 8 25 21 pm" src="https://cloud.githubusercontent.com/assets/2063812/13721172/4dfce194-e7e3-11e5-843f-118389a28b24.png">
<img width="572" alt="screen shot 2016-03-03 at 8 25 12 pm" src="https://cloud.githubusercontent.com/assets/2063812/13721173/4e0c7104-e7e3-11e5-8da2-a79662bc0179.png">
<img width="491" alt="screen shot 2016-03-11 at 1

[2016-03-12 05:58] manusovich opened #161 "Bug: Grouped sensors graph js error"
1. I am creating new grouped sensors chart. Choosing 2 temp sensors. They both are displayed fine on two separate graphs
2. Grouped sensors char is not displayed because of JS error.

**Error**
`TypeError: Cannot read property 'length' of undefined
    at SVGGElement.<anonymous> (nv.d3.js:5712)
    at d3.min.js:3
    at H (d3.min.js:1)
    at Array.ka.each (d3.min.js:3)
    at SVGGElement.<anonymo

[2016-03-12 08:49] jkandasa commented on #159
@manusovich nice catch!

[2016-03-12 09:02] jkandasa commented on #160
@manusovich Thanks for reporting this. we does not have url with dashboard id. however dashboard was designed to store last selected dashboard in local cookies and displays selected one, until we logout. But it is not working. we have to fix this.
https://github.com/mycontroller-org/mycontroller/blob/0.0.3-alpha1/src/main/package/www/controllers/dashboard.js#L27

[2016-03-12 09:03] jkandasa commented on #161
@manusovich can you clear your browser cache and check this once again? or with private browser?

[2016-03-14 02:10] manusovich commented on #161
Same error :(
<img width="1463" alt="screen shot 2016-03-12 at 12 00 42 pm" src="https://cloud.githubusercontent.com/assets/2063812/13733365/f923abb6-e95f-11e5-9ca6-59ef5453953c.png">

[2016-03-15 09:24] jkandasa commented on #161
@manusovich can you come to https://gitter.im/mycontroller-org/mycontroller I want ask few configurations.

[2016-03-16 21:30] jkandasa commented on #161
manusovich Mar 16 23:39 - from gitter chat

--------------------
That was easy  chart requires key defined in each charData item. So if it is not defined - we are getting this error. Key will not be define if user didn't set sensor name (all my sensors with empty name by default)

[2016-03-17 07:52] jkandasa commented on #161
add some reference when sensor name is null,
https://github.com/mycontroller-org/mycontroller/blob/0.0.3-alpha1/src/main/java/org/mycontroller/standalone/api/jaxrs/MetricsHandler.java#L306

[2016-03-18 01:26] manusovich opened #162 "Enhancement: Dashboards header"
Please consider remove header on dashboards page "Dashboards". We already have Dashboards in main menu and there is no need to have that on the page as well:
<img width="235" alt="screen shot 2016-03-17 at 8 22 16 pm" src="https://cloud.githubusercontent.com/assets/2063812/13865876/2af99ff8-ec7e-11e5-8ea9-ce1b8c650de7.png">

For example on resources page we don't have "Resources" header:
<img widt

[2016-03-18 01:47] manusovich opened #163 "Enhancement: Optional main header"
Please consider to have option in settings which is hiding main header (where is logo, language, help & user buttons). Profile is always available from settings.
That will make mycontroller.org usage on terminals much more user friendly. Now it is taking vertical space + if user clicking on logo it is loading external site in terminal frame. In case if terminal doesn't have buttons it become probl

[2016-03-18 01:50] manusovich opened #164 "Enhancement: More dashboards layouts"
We have now:
12/4-4-4
12/6-6

Please add:
4-4-4/12
6-6/12

[2016-03-18 02:00] manusovich opened #165 "Bug: Metrics order in mixed graphs"
In mixed graph mode not possible to choose what metric will be on left side and what is on right. It is selected automatically based on order of sensors list in chart graph. You can see that on the following picture there are two charts and temperature metric on different sides:
<img width="1187" alt="screen shot 2016-03-17 at 8 51 10 pm" src="https://cloud.githubusercontent.com/assets/2063812/138

[2016-03-18 07:22] jkandasa commented on #162
@manusovich we are using patternfly.org for GUI framework. If we remove submenu, it looks dark black in that location. So I kept `Dashboards` as sub menu. I will try to figure out the way to remove this duplicate menu.

[2016-03-18 07:30] jkandasa commented on #165
@manusovich we may introduce `left axis variable` and `right axis variable` in widget configuration.

[2016-03-18 07:51] jkandasa commented on #163
@manusovich how about implementing vertical navigation.

https://rawgit.com/patternfly/patternfly/master/tests/vertical-navigation.html

[2016-03-19 05:05] manusovich commented on #163
@jkandasa It is still takes space. IMHO navigation right now is great. This proposal only about header above navigation with logo, support & user links.

[2016-03-25 10:49] jkandasa commented on #151
Node-RED not supported. But scripting will be supported for conditions and operations. Add changes in development branch

[2016-03-25 20:31] jkandasa opened #168 "state rule migration failed"
when we migrate from `0.0.3-alpha1` to `0.0.3.Alpha2` alarms are converted to rules. state related alarms will be converted as Rule with state condition type.

This type of alarms are not converted properly. Throws exception.

[2016-03-27 02:29] manusovich commented on #161
Hi @jkandasa,

I just checked latest code in development branch. So now i am getting NPE

[code]

request Request URL /mc/rest/metrics/metricsData?chartType=lineChart&timestampFrom=1458959153358&variableId=1&variableId=4&variableId=6&variableId=7

[2016-03-30 20:17] mannkind opened #169 "Modular core-functionality?"
I love MyController. I find it extremely useful for managing my MySensors nodes - assigning IDs, remote reboots, and OTA firmware updates.

However, since I already have a large/complex automation setup that MyController isn't able to replicate (lots of non-MySensors stuff) there is a lot of unused MyController core-functionality:  alarms, groups, rooms, data collection, charts, etc.

Are there an

[2016-03-31 20:58] jkandasa commented on #169
@mannkind thank you! recently I have changed to support multiple providers. base ready to support for multiple vendors. However for now it supports only for `MySensors`.
https://github.com/mycontroller-org/mycontroller/tree/development/modules/core/src/main/java/org/mycontroller/standalone/provider/

Can you update your requirement?

[2016-04-01 21:55] jkandasa commented on #163
@manusovich added option to show hide main menu, this will create more space on dashboard.
https://github.com/mycontroller-org/mycontroller/commit/676c29386d6ba0ea921e4aafd175d21d72320461

[2016-04-01 21:56] #163 closed

[2016-04-01 21:57] jkandasa commented on #162
For now we are not going to remove this field. However by hide main menu we can save some space. In future if we get any solution we can fix this layout. https://github.com/mycontroller-org/mycontroller/commit/676c29386d6ba0ea921e4aafd175d21d72320461

[2016-04-01 22:01] jkandasa commented on #159
https://github.com/mycontroller-org/mycontroller/commit/4edcf6a3c883340561e27b29d2829abae796251a fixes this issue. Kindly reopen this issue if you face.

[2016-04-01 22:02] #159 closed

[2016-04-02 12:13] #143 closed

[2016-04-02 13:35] #164 closed

[2016-04-02 14:33] jkandasa commented on #161
@manusovich I have added new fix for this. `SensorId + SensorVariableTypeName`. Kindly check and update.

[2016-04-02 15:03] manusovich commented on #161
Hi @jkandasa, Looks like it is fixed. Now i have this:
<img width="636" alt="screen shot 2016-04-02 at 9 59 23 am" src="https://cloud.githubusercontent.com/assets/2063812/14227078/ea7d7a10-f8b9-11e5-8147-f217a9de23c0.png">

We have here only 2 graphs because all my temp sensors have the same sensor id. So i think that is my issue and i have to make all sensors with unique ids.

[2016-04-02 15:03] #161 closed

[2016-04-02 15:24] anarro commented on #143
Hi, where I can download this version?

[2016-04-02 15:27] jkandasa commented on #161
@manusovich No, there is a possible to have same sensor id's in different nodes. I will add node id also to resolve this. Thank you!

[2016-04-02 15:30] jkandasa commented on #161
@manusovich can you check now and update?

[2016-04-02 15:34] jkandasa commented on #143
@anarro You can compile the source code locally. However I have uploaded SNAPSHOT version here https://oss.sonatype.org/content/repositories/snapshots/org/mycontroller/standalone/mycontroller-dist/0.0.3.Alpha2-SNAPSHOT/ You can download latest version from here. `.zip` and `.tar.gz` versions are available.

[2016-04-02 22:23] arturmon opened #170 "Add a choice of the number of the displayed information in the tables."
![1](https://cloud.githubusercontent.com/assets/7686999/14229351/789ea1ea-f93a-11e5-83e9-48858cd369ca.jpg)
Add this possibility wherever there is only a table ( gateways, nodes, sensors, etc )

[2016-04-02 22:28] jkandasa commented on #170
@arturmon I will add in global settings to change number of rows to display in tables.

[2016-04-02 22:52] manusovich commented on #161
Works! :) Thank you!

<img width="836" alt="screen shot 2016-04-02 at 5 51 58 pm" src="https://cloud.githubusercontent.com/assets/2063812/14229552/ab1e5302-f8fb-11e5-9d45-1d5af8cd042e.png">

[2016-04-03 08:41] arturmon commented on #57
not a full translation
![1](https://cloud.githubusercontent.com/assets/7686999/14231557/dce839ee-f990-11e5-9c1f-449ef8b31bed.jpg)
![2](https://cloud.githubusercontent.com/assets/7686999/14231558/dd03db18-f990-11e5-8dff-0ffc257ec2a6.jpg)
![3](https://cloud.githubusercontent.com/assets/7686999/14231559/dd17513e-f990-11e5-8b65-e37aa724353e.jpg)
![4](https://cloud.githubusercontent.com/assets/7686999/

[2016-04-03 10:13] jkandasa commented on #57
We could not change everything like `Sort By`, `A->Z` etc. those are all managed in addon's. I will change whatever possible from mycontroller.

[2016-04-04 07:02] #170 closed

[2016-04-05 17:59] mannkind commented on #169
It's neat that you're going to support different providers. I guess I was thinking that it'd be nice to be able to disable the functionality that I cannot utilize due to an pre-existing IoT solution. Ah well, it was just a thought! :)

[2016-04-05 17:59] #169 closed

[2016-04-06 19:26] Dietmar-Franken opened #172 "Get nonce response"
@jkandasa
I need a explanation to translate this please

[2016-04-06 20:03] jkandasa commented on #172
@Dietmar-Franken please refer https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/message/McMessageUtils.java#L114

[2016-04-06 21:20] WimVerhaert opened #174 "Node Alive Check"
My 'Noded alive check interval' is set to 20 minutes.
In the log I do see the messages being sent,
However my nodes are sleeping quite a lot but also sending data frequently.
Why are the nodes still showing as 'down'?

[2016-04-06 21:24] jkandasa commented on #174
@WimVerhaert This issue was fixed recently in https://github.com/mycontroller-org/mycontroller/issues/159

[2016-04-06 22:07] manusovich commented on #162
@jkandasa Thank you. That is cool feature.

[2016-04-06 22:13] Dietmar-Franken commented on #172
you don´t understood me,because i haven´t found anything at google nor any translator tool can help me.please give me a clue

[2016-04-07 01:29] manusovich commented on #162
@jkandasa there is bug with this. when user clicks hide menu - everything is fine (main content takes whole space). But if you will reload page after that, main content is not taken space where main menu was. See picture:

<img width="1181" alt="screen shot 2016-04-06 at 8 29 29 pm" src="https://cloud.githubusercontent.com/assets/2063812/14337755/4f8a2e92-fc36-11e5-8724-e2919e110994.png">

[2016-04-07 06:25] jkandasa commented on #162
@manusovich can you clear your browser cache and try again?

[2016-04-07 06:30] jkandasa commented on #172
@Dietmar-Franken it is a signing support of MySensors.rog. you can see more details here http://forum.mysensors.org/topic/1021/security-introducing-signing-support-to-mysensors

This request/response usually answered by Gateway. Never reach controller(controller do not know how to answer for this message). If it reaches controller we need to log it in our resources logs table.

[2016-04-07 07:55] Dietmar-Franken commented on #172
Thank you

[2016-04-07 07:55] #172 closed

[2016-04-07 21:17] #174 closed

[2016-04-07 21:18] manusovich commented on #162
Same issue

[2016-04-07 22:06] #162 closed

[2016-04-07 22:23] #160 closed

[2016-04-08 09:55] pgh70 opened #177 "Unused class"
The class: org.mycontroller.standalone.uidtag.UidTagMapper is never used.. error or can it be removed?

[2016-04-08 09:57] jkandasa commented on #177
@pgh70 We were using UID tag in earlier versions to give unique identifications number for each sensor variable. I will modify this feature to recent version.

Thanks to report this.

[2016-04-09 11:51] jkandasa commented on #177
first level correction https://github.com/mycontroller-org/mycontroller/commit/9e10496cd93bdf4c07936ecff2d3feaf4273b9c0

[2016-04-11 08:11] #177 closed

[2016-04-13 12:19] bpair opened #180 "Add generic http and https post notification"
When a sensor sends a SET message I like to post that data to a database (Grafana) via an http post. Can this be a new notification type? Ideally it would support basic authentication and also SSL.

[2016-04-13 16:05] gbrd commented on #180
+1
+ HTTP GET support  too (I like graphs of https://emoncms.org)

[2016-04-13 16:32] jkandasa commented on #180
@bpair

We may include this as send metrics data to Grafana as separate thread.

[2016-04-13 16:34] jkandasa commented on #180
@gbrd

I could not get this requirement exactly. Can you please elaborate bit more?

[2016-04-14 08:47] #47 closed

[2016-04-14 08:54] jkandasa commented on #47
![image](https://cloud.githubusercontent.com/assets/1004403/14522316/9971b3ca-024b-11e6-8300-1063a46add07.png)

Added as dashboard widget. Buttons detail should be in `JSON` format.
To create `json` configuration error free way use http://www.jsoneditoronline.org/
We can include button names as HTML or icons(recommended: font awesome icons)

In configuration `name` and `payload` are mandatory fiel

[2016-04-15 08:06] jkandasa commented on #140
Would be great to be able to choose msgType too when sending message on a custom button or in a "notification" / "send payload"

@gbrd Added new operation type `Request payload`. We can include `Operations` in `Timer` and/or in `Rules`
Version: `0.0.3-Alpha2`

##### Steps:
* Create `Operation`, type `Request payload`
* Configure created operation in `Timer` and/or in `Rules`

##### To create `Requ

[2016-04-15 14:25] githubcdr opened #181 "Sensors page fails to load with servo node"
Hi,

I noticed that a server node prevents the "sensors" tab from loading, after removing the servo node the sensors tab loads again.

[code]

Not sure why but other nodes seem to work fine.

Keep up the great work!

[2016-04-15 14:31] jkandasa commented on #181
@githubcdr do you see any error in `mycontroller/logs/mycontroller.log`.
Can you give some more detail to reproduce this issue like `sensor type` and `sensor variables` used

[2016-04-15 14:37] githubcdr commented on #181
Hi @jkandasa,

I notice the following;

[code]

[2016-04-15 14:58] jkandasa commented on #181
@githubcdr Thank you for the report. It looks like you are using old version of `MyController`. Can you please check version information once again? In the latest version will be printed in `mycontroller.log` file, when you start the server.

[2016-04-15 18:39] githubcdr commented on #181
Sorry for my mistake, it seems versions got mixed up, all is working again!

Thank you :)

[2016-04-15 19:00] jkandasa commented on #181
@githubcdr Thank you! I will close this issue. Please reopen if you face again.

[2016-04-15 19:00] #181 closed

[2016-04-16 10:44] #140 closed

[2016-04-16 10:54] jkandasa commented on #140
##### Send raw message
With `Send raw message` feature we can send any type of message to node/sensors.
Navigate to `Action board -> Send raw message`.
* Select a gateway
* Enter `Node EUI` and `Sensor id`
* Select `Type` and `Sub type`
* Select `Acknowledge` type
* `Payload` is optional
![image](https://cloud.githubusercontent.com/assets/1004403/14580573/c6e22df4-03ee-11e6-95ce-f2727b6cd514.png)

[2016-04-17 13:59] bpair opened #182 "Upgrade Instructions with Backup"
To upgrade from 0.0.3-alpha1 to 0.0.3-alpha2-SNAPSHOT I created a backup. Downloaded zip, extracted in new location and started the new mycontroller app. No backups were available because it is looking for backups in the new installation. It may be better to have the default backup location be in the user home directory and you should be able to search for existing backups to use.

[2016-04-17 14:02] bpair opened #183 "Last seen does not always update"
My sensor was loaded from a backup after upgrading and although the sensor value was being updated and the graph updated the "last seen" continued to say never.
![lastseennotupdating](https://cloud.githubusercontent.com/assets/11282848/14587590/6e1f55ee-0483-11e6-9c31-c0308da5a1b3.png)
![lastseenandnoalarm](https://cloud.githubusercontent.com/assets/11282848/14587592/70b98504-0483-11e6-9bfc-3de588

[2016-04-17 14:04] bpair opened #184 "Selected Row Highlight Makes Enabled appear as Disabled"
This was a bit confusing for me as I was troubleshooting why a rule was not triggering. The rule is enabled, but if I select the rule then it appears as disabled.
![highlightedrowchangesenabledicon](https://cloud.githubusercontent.com/assets/11282848/14587605/b7e38da8-0483-11e6-8e8d-27e1457cb0e4.png)

[2016-04-17 14:05] bpair opened #185 "Need documentation and examples for rules"
I could not get the rule to trigger for a binary/door sensor. I probably am configuring it incorrectly but the manual needs to explain the options and provide examples.
![ruleshardtodefinewoexamples](https://cloud.githubusercontent.com/assets/11282848/14587629/efa27614-0483-11e6-98b7-46ceb15a726b.png)

[2016-04-17 14:07] bpair opened #186 "Alarm/Rule Association does not appear on sensor"
I created a rule for a particular sensor but the sensor detail view does not show that rule being associated. Also the sensor detail view is using the term Alarm rather than Rule.
![lastseenandnoalarm](https://cloud.githubusercontent.com/assets/11282848/14587639/21ad0732-0484-11e6-964e-b774d9cc8e76.png)

[2016-04-17 14:10] bpair opened #187 "View of details allows updating of buttons"
Not sure how this works for roles but I think when viewing the details you want the user to have to click "edit" before having active elemen
![viewscreenallowsupdateofbuttons](https://cloud.githubusercontent.com/assets/11282848/14587670/9b009518-0484-11e6-8c6c-d15fc6815f35.png)
ts to edit. Currently the text fields are view only but the buttons are editable.

[2016-04-18 20:04] githubcdr opened #188 "New nodes keep getting NODE_BC as UID"
Hi,

I noticed something weird, new nodes do not get a new UID for some reason. I have reinstalled mycontroller and uploaded MYSbootloader again, but new nodes to not get an address.

Before I would power on a new node with MYSloader1.1 or 1.3 and it would appear with UID "NODE_BC" I click on it and assign an EUI and reboot the node.

When I change the EUI, I get another "NODE_BC", what am I doing

[2016-04-19 15:29] rollercontainer opened #189 "MQTT Broker Host suggests http:// but only accepts tcp://"
By creating or editing the Broker Host, you have to type tcp://.....

Shoudn't it be http:// ?

[2016-04-20 09:23] jkandasa commented on #182
@bpair User location also might not give proper solution for this. as user may change their location at anytime. I feel this is one time work setting correct backup location when we upgrade to new version.

[2016-04-20 09:24] jkandasa commented on #183
@bpair Thanks to report this issue. This might be a bug. Let me find out.

[2016-04-20 09:30] jkandasa commented on #184
@bpair It is design when we select a row in a table make all the text to `White` color. Disabled will be looking as circle and enabled will be like ball.

![image](https://cloud.githubusercontent.com/assets/1004403/14669854/50ad782e-0708-11e6-9f3c-f13ade74dea2.png)

I hope we can find out easily, Is in enabled or disabled state.

[2016-04-20 09:30] jkandasa commented on #185
@bpair Sure I will add it soon.

[2016-04-20 09:31] jkandasa commented on #186
@bpair Alarm definition no more mapped with resources. We have to remove this field from sensors detail. Thank you! I will remove it.

[2016-04-20 09:41] jkandasa commented on #187
@bpair I tried to make disable `state` button as disabled. But unable to make it. however if user changes button state, edit mode will be enabled automatically. And user should save to make change permanently.

[2016-04-20 09:42] jkandasa commented on #188
@githubcdr Thank you! good catch. This should be bug. I will confirm.

[2016-04-20 09:47] jkandasa commented on #189
@rollercontainer  As far as i know, MQTT protocol supports only `tcp://` and `ws://`. So we cannot use `http://`. Please correct me if I am wrong.

[2016-04-20 10:24] rollercontainer commented on #189
How about an IP input field without protocol info if it is fix?

[2016-04-20 10:27] jkandasa commented on #189
@rollercontainer  You should give IP or hostname with protocol and port information information, as `MQTT` supports for `tcp` and `ws`. Most of us using `tcp://`

[2016-04-20 10:35] rollercontainer commented on #189
Ok, close it. :-)

[2016-04-20 10:36] #189 closed

[2016-04-20 17:25] jkandasa commented on #188
It is bug! Thank you! Will fix it soon.

[2016-04-20 17:57] #188 closed

[2016-04-20 17:57] jkandasa commented on #188
@githubcdr Please reopen this issue, if you face this issue again.

[2016-04-20 18:04] jkandasa commented on #183
@bpair it looks like you are using old version. In recent version I do not see `Alarm definition` and `Timer` in sensor details page. can you please check once again?

[2016-04-20 18:05] jkandasa commented on #186
In recent version this details not all available. only shows `Resources groups`

[2016-04-20 18:05] #186 closed

[2016-04-21 20:38] #168 closed

[2016-04-22 16:47] jkandasa commented on #185
@bpair working on `Rules` documents http://forum.mycontroller.org/topic/24/rules-introduction

[2016-04-26 19:01] jkandasa commented on #183
@bpair I am unable to reproduce this issue. Please reopen this issue if you face this issue in recent version.

[2016-04-26 19:01] #183 closed

[2016-04-26 19:02] jkandasa commented on #182
@bpair we will document this approach.

[2016-04-26 19:02] #182 closed

[2016-04-27 17:58] #187 closed

[2016-04-27 17:58] #184 closed

[2016-04-27 22:32] jkandasa opened #190 "Add option to export data for various tables"
Allow user to export data from various tables.
- Resources logs
- Sensor variables data

[2016-05-01 10:22] #149 closed

[2016-05-01 10:38] jkandasa commented on #151
@Thar0l added script support. and renamed as new suggestions

[2016-05-01 10:38] #151 closed

[2016-05-01 10:43] jkandasa commented on #142
@arturmon We can use `Custom widget` to achieve this as follows,
Add your credentials in `script` and `template` to display IP cameras. With this widget IP camera should have public access, if you want to access from internet.

MyController server not doing anything with this approach.

[2016-05-01 10:46] jkandasa commented on #150
@WimVerhaert for now I do not see any widget like this in `NVD3` and in `c3`. We may use `bullet-graph` similar. However using `Custom widget` we may achieve this.

[2016-05-02 07:56] jkandasa commented on #158
@Werwolfx we are not going to store any data locally. but we can store template and configuration locally. We can achieve this with `Custom widget` in dashboard.

To add weather site see an example: http://blog.forecast.io/forecast-embeds/

[2016-05-02 07:56] #158 closed

[2016-05-02 10:48] #142 closed

[2016-05-04 16:57] jgate opened #191 "Error when adding gateway MySensors Arduino Library v2.0.0-beta"
Hi
I started testing the new release 0-0-3-alpha2. I started from scratch with an empty database. I'm using  MySensors Arduino Library v2.0.0-beta.

The attached contains the gateway entry that causes the issue
![2016-05-04 18_10_06-mycontroller org - resources-issue 1](https://cloud.githubusercontent.com/assets/3542189/15021895/7e1e4618-1229-11e6-8101-d1d6066b6e75.png)
See what is happening in th

[2016-05-04 17:02] jkandasa commented on #191
@jgate Thanks to report this issue. I will find out the root cause.

[2016-05-04 17:03] jgate opened #192 "Two wishes"
Hi

Is it possible to get a **Test connection** button when defining email host data:
![2016-05-04 17_49_41-mycontroller org - test-connection-button](https://cloud.githubusercontent.com/assets/3542189/15022171/ab9d584e-122a-11e6-9f21-04e12a99adf5.png)

and the edit button also on the top:
![2016-05-04 17_55_06-mycontroller org - metrics-edit-button](https://cloud.githubusercontent.com/assets/3542

[2016-05-04 17:05] jkandasa commented on #192
@jgate good request. Will try to address in 0.0.3.Alpha2

[2016-05-04 18:35] jgate opened #193 "Heatmap legend is not visible"
Hi

When I ckeck "Show legends", no legend is visible:
![2016-05-04 20_31_46-mycontroller org - heatmap-legend-propertie](https://cloud.githubusercontent.com/assets/3542189/15025023/9a0d08ec-1237-11e6-8665-d2e63a416740.png)
![2016-05-04 20_31_46-mycontroller org - heatmap-legend](https://cloud.githubusercontent.com/assets/3542189/15025030/a1565324-1237-11e6-83dd-c8642fd50b66.png)

Regards

[2016-05-04 18:38] jkandasa commented on #193
@jgate `Show legends` to display color data in bottom. here it is `Up, Unavailable, Down`
When you mouse over on the box, you will get tooltip of the box and when you click it will take you to the actual page.

[2016-05-04 18:47] jgate commented on #193
Sounds good thank for this information. But something like thid this would be helpful:
![2016-05-04 20_31_46-mycontroller org - heatmap-legend](https://cloud.githubusercontent.com/assets/3542189/15025403/665a5c78-1239-11e6-97d7-ffd03a5c2afd.png)

Regards

[2016-05-04 19:05] jkandasa commented on #193
@jgate I see tooltip, even it is available in demo site also. demo.mycontroller.org

![heat-map](https://cloud.githubusercontent.com/assets/1004403/15025910/3cb9f48a-1259-11e6-9fd4-277f7ef6efbc.png)

[2016-05-04 19:20] jgate commented on #193
Yes it is working on demo.mycontroller.org but not on my installation.

[2016-05-04 19:22] jkandasa commented on #193
what is your browser and operating system are you using?

[2016-05-04 19:24] jgate commented on #193
Windows 10 and Google Chrome Version 49.0.2623.112 m

[2016-05-04 19:26] jgate commented on #193
Sorry there was a pending restart for the browser after update. Restart browser solved the issue.

[2016-05-04 19:29] jkandasa commented on #193
@jgate great :+1:  no worries.

[2016-05-04 19:29] #193 closed

[2016-05-04 19:30] jkandasa commented on #193
@jgate Thanks to take time to analysis MyController.org and reporting issue :+1:

[2016-05-04 21:21] #191 closed

[2016-05-04 21:41] gbrd commented on #180
It would be a generic functionality that allows to send data through a customizable http request to an external database.

Emoncms is available "as a service ". It receives http get request (Rest api) with a personalkey and some temporal value (from  sensors from example). And that is able to plot several kind of graphs from all data.

[2016-05-04 22:20] #192 closed

[2016-05-05 11:33] jgate commented on #192
Many thanks for this, it is working.

[2016-05-05 13:40] jgate commented on #191
Thanks it is working now

[2016-05-05 14:37] jgate opened #194 "Unit button Save not change back to Edit after saving a change"
Hi

The button Save is not change back to Edit after saving. When you click on Cancel the button name is changing back to Edit.
![2016-05-05 16_27_13-mycontroller org - unit-issue](https://cloud.githubusercontent.com/assets/3542189/15046167/bcc19432-12de-11e6-8463-98c8a8a23b7a.png)

and also on this dialog it would be great when the Edit button is also available on the top of the page:
![2016-05-0

[2016-05-05 15:57] jkandasa commented on #194
@jgate we might remove this page permanently soon as units never change.
received feedback from @S0rc3r3r and finalized that, we can hard code units in code itself.

[2016-05-10 08:31] Werwolfx commented on #158
Thank you , great job .
Where can I download 0.0.3.Alpha2 for test ?

[2016-05-10 08:56] jkandasa commented on #158
@Werwolfx You can build `SNAPSHOT` builds locally. For now I have uploaded here https://oss.sonatype.org/content/repositories/snapshots/org/mycontroller/standalone/mycontroller-dist/0.0.3.Alpha2-SNAPSHOT/mycontroller-dist-0.0.3.Alpha2-20160510.085507-7-bundle.zip

[2016-05-11 12:38] Werwolfx opened #195 "Sort by Node EUI"
1. You can add more than 10 lines shown in the tables in the sensor sections and add a button to "Show all " .
![default](https://cloud.githubusercontent.com/assets/14030285/15181257/e0bfcf48-178e-11e6-9331-20645afcb37b.JPG)

2. And also add sorting by NODE EUI

[2016-05-11 21:29] jkandasa commented on #195
@Werwolfx for the comment 1. you can change this under `Settings >> System >> MyController >> Table rows limit`
I will add sort by `Node EUI`

[2016-05-12 07:33] Werwolfx commented on #195
Thank you/
i will rename issues to Sort by Node EUI

[2016-05-12 09:14] #195 closed

[2016-05-13 09:32] Werwolfx commented on #158
Please tell me how i add info to custom widget?
I create Templates in content
<html>
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Downtown Boston&color=#00aaff&font=Georgia&units=uk"> </iframe>

</html>

Select in custom widget this Template, but not see info =(
What i not correct do?

[2016-05-13 09:41] Werwolfx opened #196 "Add Preview button for Template HTML"
Can you add preview button in Templates HTML.
before save, user can preview HTML

[2016-05-13 21:17] jkandasa commented on #196
@Werwolfx Sure, This is good request!!

[2016-05-14 08:58] BSRasmussen opened #197 "Counters for daily kWh etc."
When monitoring the (cumulative) total kWh, it would be more convenient to look at hourly/daily/weekyl/monthly/yearly increase/counters in total kWh as bargraphs. As an example see https://forum.mysensors.org/uploads/upload-8db4363b-6c76-41fc-b4bc-02bbcb36b314.JPG from https://forum.mysensors.org/topic/469/energy-meter-not-updating-watts.

[2016-05-16 11:33] WimVerhaert opened #198 "Trace a specific node"
When troubleshooting I want to be able to trace a specific node.
Would it be possible to allow to trace just individual nodes instead of ALL nodes?

[2016-05-17 06:53] jkandasa commented on #198
@WimVerhaert With current approach, which is not possible. I will take this as feature requirement and implement it.

I believe this ticket relevant to this one #157

[2016-05-18 05:56] Takero1978 opened #199 "Calendar (Google) / For Event triggering (Feature Request)"
It would be nice if you implement an Calendar Plugin for Google .ics

- Usable for Rules
- Send Payload to a Node after triggering

Greetings

[2016-05-18 06:21] jkandasa commented on #199
@Takero1978 can you please explain bit more how will you use google calendar with MyConmtroller?

[2016-05-18 07:28] Takero1978 commented on #199
Of Course . .

Implementation of a personal ical Google Calendar e.g. Holliday or somthink else. The Controler read out the Header or Description of the Calendar and trigger an Event.

For Example:
If Calendar Event_Header "Holliday" started then set Lamp_holliday true

[2016-05-18 09:00] Takero1978 opened #200 "Group Button for Dashboard"
Add a Group-Button Widget for the Dashboards

To send Multiple Payloads.

[2016-05-18 12:00] #200 closed

[2016-05-18 13:00] Takero1978 opened #201 "Rules --> copy function"
On the Rule Page a possibility to copy/duplicate a rule.

Some Rules are more than one times needed, but only the SensorNode and the Title are different. A copy function make it a little bit easier to configure.

[2016-05-20 15:52] jkandasa commented on #194
removing edit unit not in near future list. fixed this issue in https://github.com/mycontroller-org/mycontroller/commit/a3787358f3ff681e7ee4f9907d4969dd52ac15f4

[2016-05-20 15:52] #194 closed

[2016-05-20 20:18] Takero1978 opened #202 "Group Logical State Operation (Feature Request)"
At the Moment all Groups are "AND" Related. It would be nice if it is possible to set up to an other relationship, e.g. "OR".

For Example:
- I have four Windows in one Living Room
- I have one LED to illuminate the State of my Windows in these one Living Room

Now i need an OR operation to get the State of my Windows and send the single Payload to my LED-Node.

[2016-05-21 22:24] jkandasa commented on #202
@Takero1978 Can you please elaborate bit more about this.  Which grouping you are pointing out.

We can achieve your requirement with scripts.

[2016-05-23 04:57] Takero1978 commented on #202
Ok i will try . .

I think the Problem or the Feature is maybe also a rules feature.

The Problem is, Groups are Working only in one direction. If you have an group with two lamps and u set the Group-Button to On/Off, everything is OK. But if you manually put Lamp1 and Lamp2 on separately, the group button will not intact with it.
In this case we need a compare of the group entries in booth direct

[2016-05-23 08:43] jkandasa commented on #202
@Takero1978 Thank you for the explanation. Let me find out a solution to fix this request.

[2016-05-23 09:07] arturmon opened #203 "are not displayed at the bottom of the sensor names in the topology"
cut off the names
![43423](https://cloud.githubusercontent.com/assets/7686999/15465754/e7c03f86-20de-11e6-9eef-469fd3222cbd.jpg)

[2016-05-23 09:19] WimVerhaert opened #204 "Core dump Java JRE"
Hi,

Since this weekend I am getting a core dump of my java JRE.
Started happening after adding an extra sensor...

Running on a rasp:
Linux raspberrypi_1 4.1.16+ #833 Wed Jan 27 14:29:11 GMT 2016 armv6l GNU/Linux
[coreJVM.txt](https://github.com/mycontroller-org/mycontroller/files/277178/coreJVM.txt)

Hope this info helps to troubleshoot,....

[2016-05-23 09:34] jkandasa commented on #204
@WimVerhaert What is the gateway type? and did you upgrade your system recently? Can you also send version information of MyController.org and `mycontroller/log/mycontroller.log`? You can email me.

[2016-05-23 10:18] WimVerhaert commented on #204
Gateway type is Serial using PiGatewaySerial from NRF24, is connected directly on the rasp.
I did not upgrade in the last few months,
 java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build 1.8.0-b132)
Java HotSpot(TM) Client VM (build 25.0-b70, mixed mode)

Mycontroller = 0.03-alpha1-SNAPSHOT db 1.01.05-SNAPSHOT

[mycontroller.zip](https://github.com/mycontroller-org/mycontroll

[2016-05-23 11:48] jkandasa commented on #204
I believe MyController may face problem with `PiGatewaySerial`. Can you change serial port driver to `jSerialComm` in MyController gateway serial port settings?

[2016-05-23 16:08] jkandasa commented on #204
@WimVerhaert looks like some issue with serial port. In recenet version fixed some issues related to serial port. Is it possible for you to try with latest version of MyController? If you are ok, please start email or chat, I will guide you to migrate.

[2016-05-23 19:24] turbatus opened #205 "Status page, resource log hangs when items per page set to 500"
When changing the number of items to display to 500, MyC runs very slow, hangs for few seconds. Tested on demo site and on local RPi2. System CPU load jumps to 100%.

[2016-05-23 19:39] jkandasa commented on #205
@turbatus Yes, loading more number of rows at a time will lead performance issue on server side as well as on client side (on browser).

[2016-05-24 06:11] turbatus commented on #205
Well, I kinda thought that way myself. But, since this can cause problems, is really needed to display 500 items at once? i think 250 will do just fine. my opinion...

[2016-05-24 06:38] jkandasa commented on #205
@turbatus I do not face hangs issue with our demo site as well as with RPi2. I hope you are running browser on low-end system.

For me it takes around ~3 seconds. My RPi2 running with `Raspbian` and no desktop installed on it. Java (oracle): 1.8.0_65-b17

[2016-05-24 07:36] WimVerhaert commented on #204
After upgrade I got a Migration Exception:

org.flywaydb.core.api.FlywayException: Validate failed. Migration Description mismatch for migration 1.01.05
-> Applied to database : SNAPSHOT
-> Resolved locally    : 0 0 3 alpha1
        at org.flywaydb.core.Flyway.doValidate(Flyway.java:1108) ~[mycontroller-dist-standalone-0.0.3.Alpha2-SNAPSHOT-single.jar:0.0.3.Alpha2-SNAPSHOT]
        at org.flywaydb

[2016-05-24 08:29] turbatus commented on #205
well, then it was a false alarm. I'll close this issue, then. Thank you.

[2016-05-24 08:29] #205 closed

[2016-05-24 08:38] jkandasa commented on #205
@turbatus Thank you!

[2016-05-25 16:54] WimVerhaert opened #206 "Showing NaN to NaN of 15 items"
under the tab action board =>sensors action => at bottom of page it shows
Showing **NaN** to **NaN** of 15 items.

sounds like an unknown value

[2016-05-25 17:08] jkandasa commented on #206
@WimVerhaert can you check `Settings >> System >> MyController >> Table rows limit`? You have to set this, if it is not set already.

[2016-05-25 17:38] WimVerhaert commented on #206
it seemed to have been set with value 10, but resetting it to value 11 it resolved the problem

[2016-05-25 17:38] #206 closed

[2016-05-25 18:32] jkandasa commented on #206
@WimVerhaert in that cause logout and login with browser refresh will help you

[2016-05-26 06:04] WimVerhaert opened #207 "subject in email not correct"
I have a rule to send an email upon a sensor value coming in.
The subject line according to the config under 'operations' should be
`CatDoor Motion detected`

However when I receive my email the subject shows:
`**#set(org.mycontroller.standalone.operation.Notification notification)**CatDoor Motion detected `

[2016-05-26 07:10] jkandasa commented on #207
@WimVerhaert recently I changed template engine from `httl` to `freemarker`, I forget to remove `httl` entries. I will fix this. Thank you!

[2016-05-26 07:31] pebri86 opened #208 "Implements pending command to node that uses smartSleep"
Please implements smartSleep feature on MySensors v2.0.0beta, all of mysensors nodes use this feature to save battery. This feature is really depends on controller support.

thanks,

[2016-05-27 16:21] turbatus opened #209 "Feature request - possibility to add an offset value for sensors"
Sometimes sensors are sending wrong data (non-calibrated sensors, different measurement range, etc) so adding an offset field to sensor edit form would be great. for example, I have a sensor that I know it sends slightly lower temperature readings than normal, so adding an offset value would correct this issue, without needing to flash a different sketch with individual offset correction on each s

[2016-05-28 18:47] BSRasmussen commented on #209
I concur. However another option that should be consideres would be to do this with variables in a sketch, perhaps recieved as V_VARx which could be sent from controller and perhaps stored in eeprom on each individual sensor. IMHO that gives greater flexibility when moving between controllers and including the possibility to to offset, slope and enen higher order calibrations.

[2016-05-28 18:51] BSRasmussen opened #210 "Feature request - remove datapoints from sensor data"
When outliers or mistakes in sensors/sketch cause reading with gross errors it would be nice to have an option to delete them as a time interval instead of having to remove all data from the specific sensor.

[2016-05-28 19:20] jkandasa commented on #209
@turbatus I like @BSRasmussen idea. It would be good. There is no change required in controller required. What do you think?

[2016-05-28 21:06] jkandasa opened #211 "Groovy scripting jsr223 gives out of memory exception after some time"
When we use `Groovy` script engine leads out of memory exception.

References:
BUG: https://issues.apache.org/jira/browse/GROOVY-7683
PR: https://github.com/apache/groovy/pull/219

[2016-05-29 17:25] BSRasmussen commented on #209
Handling with V_VARxs and in-sketch requires not change in controller. However there is still the problem with historic data. If you at some point find out that all your logged temps from one sensor is off by a few degrees you can correct with V_VARx offset/sketch and the new values will be okay. However I would like to adjust the historic values also, eg. by doing SQL UPDATE (similar to issue #15

[2016-05-29 18:20] #196 closed

[2016-05-29 18:20] #207 closed

[2016-05-30 08:19] turbatus commented on #209
@BSRasmussen 's ideea is one possible approach. But this maintains the need to modify all the sensor sketches. Will no longer be consistent with MySensors.org sketches. But, in the end, it is up to you if you modify the controller, or add V_VARx support. Then we need to come up with a MyController version of sketches to have this offset value explained.

[2016-05-30 20:52] BSRasmussen commented on #209
@turbatus You're right. If you want to use default MySensor.org sketches you have to do calibration in controller. I will try to write an proof-of-concept sketch in the weekend.
Do you know how calibration is handles in other controllers?

[2016-05-31 04:02] turbatus commented on #209
Well,  most of them just add an extra offset textbox to sensor properies,  and sensor displayed value is sensor read value plus offset value (given by the user).  It's stored either separately or just the displayed value,

[2016-05-31 07:35] jkandasa commented on #209
@turbatus, @BSRasmussen Thanks for the informative inputs.
It will be good to have offset value with controller `sensor variable`. We should not create complex on users sketch.
I am planing to go with the following approach. I need your input also.
* By default all the `sensor variable` should have `0.0` as offset value. When we receive data from sensor, update our offset value and store it in dat

[2016-05-31 07:39] turbatus commented on #209
Looks good.  This is what I was thinking in the first place.  :)

[2016-05-31 08:50] chrigui opened #212 "Feature: support for HTTP GET/Post"
it would be great to add support for HTTP GET and post to communicate with other web  devices/services.
this features will open support for a wide range of devices and online services.

thanks.

[2016-06-01 08:18] mariusvaida opened #213 "Time conditional rules"
First of all, thank you for this great controller. I love it!
However, i have a scenario for which i can't seem to find a solution:
A motion sensor which triggers a rule that is switches on a light or an alert. Over certain hours i would like to bypass this sensor, but i didn't found a way to do so.

[2016-06-01 08:21] jkandasa commented on #213
@mariusvaida you mean you want to disable this rule for a particular time period?
If yes, we do not have direct control in rule. however we can create timer to `Enable` or `Disable` this rule.

[2016-06-01 08:23] mariusvaida commented on #213
Ups, you right! :)
Thank you very much, i really didn't noticed that.

[2016-06-01 15:29] #213 closed

[2016-06-01 15:37] mariusvaida opened #214 "Rules seconds missing"
When i set a rule, i cannot set the seconds, however when i'm saving it, it puts a value for them
![seconds](https://cloud.githubusercontent.com/assets/19683063/15715613/c7c97102-2827-11e6-9a5d-e313c44a3f65.jpg)
![missing seconds](https://cloud.githubusercontent.com/assets/19683063/15715612/c7c3458e-2827-11e6-96d0-05d654427363.jpg)

It is the expected behavior? If so, it's not a big issue, but at

[2016-06-01 21:16] jkandasa commented on #214
@mariusvaida https://github.com/patternfly/angular-patternfly not supported yet for `angular-ui` version 1.x. Hence I am unable to give support for seconds. I will make seconds to zero `0` by default. When this issue fixed in https://github.com/patternfly/angular-patternfly we will allow to change seconds also.

[2016-06-02 09:42] jkandasa commented on #204
@WimVerhaert I hope everything alright now. Please close this issue if you do not face JVM core dump error.

[2016-06-06 08:50] WimVerhaert commented on #204
I have not had a core recently,... will close for now

[2016-06-06 08:51] WimVerhaert opened #218 "date not showing"
On my dashboard I have a graph tha does not show the timestamp in human readable format,.. .other graphs are fine ,...
![image](https://cloud.githubusercontent.com/assets/17579415/15816751/a1ebf224-2bd4-11e6-9c16-21f2c2962ac1.png)

[2016-06-06 08:56] WimVerhaert opened #219 "Timestamp last communication"
Is it possible to add a timestamp in the dashboard to indicate the last communication of a sensor node or a sensor variable?
Now I always have to scroll over a graph to see the last communication of the node or go to the action board,... would be nice to just add it to the dashboard.

[2016-06-06 10:48] jkandasa commented on #218
@WimVerhaert Yes, it is kind of issue with NVD3 graph, We have to find out a workaround for this.

When we uncheck ` Use interactive guide line` will show proper timestamp.

**Note:** I have seen many times that, `Y1` and `Y2` sensors data will not match properly with `X` access timestamp. This is also issue with NVD3

![image](https://cloud.githubusercontent.com/assets/1004403/15819641/182b3a44-2

[2016-06-06 10:50] jkandasa commented on #219
@WimVerhaert We can use custom widget for this requirement. I will update any example

[2016-06-07 07:37] jkandasa commented on #219
@WimVerhaert here is the example for node `last seen`

##### Java script
---
[code]

##### HTML Template
[code]
You can add remove the columns whatever you want.

In dashboard select `Custom widget` (by default `-1` will not get refresh, change `-1` to some value, example: `30` seconds) then, select your script file and template file.

**Note:** you should use the latest version of MyController

[2016-06-07 07:53] WimVerhaert commented on #219
thx for the quick feedback,..

I tried it on the demo site and it works,
On my site however it is giving error "TypeError: org.mycontroller.standalone.api.NodeApi@186110c has no such function "getAll" in  at line number 9"

Mycontroller version is ,...
![image](https://cloud.githubusercontent.com/assets/17579415/15849906/319cd210-2c95-11e6-85ad-06ab10610a9e.png)

also can I do the same thing for s

[2016-06-07 07:58] jkandasa commented on #219
@WimVerhaert Yes, I have added some changes in code, you have to use latest version of MyController

For latest version check, https://gitter.im/mycontroller-org/mycontroller?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-06-07 12:11] jkandasa commented on #219
@WimVerhaert Here is sample code for sensors last seen status,

##### Java script
---
[code]

##### HTML code(template)
---
[code]
![image](https://cloud.githubusercontent.com/assets/1004403/15857053/ee6f9198-2cd6-11e6-83f9-ffe05c6d1667.png)
---
![image](https://cloud.githubusercontent.com/assets/1004403/15857046/e18a86b8-2cd6-11e6-91a9-7477a030cfa7.png)

[2016-06-07 12:40] mariusvaida opened #220 "Future Request - Sensors widget items order"
In a sensors widget with multiple items i cannot set order of the items, which is a bit confusing if you have the lights grouped by sets in rooms.
If a drag&drop solution would be complicated, it would help an numerical "order" field in database for sensors and the widget to order items by that value, so the user to be able to enter there freely the values.

Thanks again for such a great controlle

[2016-06-07 13:55] mariusvaida commented on #214
This solves is. Thanks!

[2016-06-07 13:55] #214 closed

[2016-06-08 09:52] aldepas opened #221 "Button to save changes in the "My_controller" section"
0.0.3.Alpha2-SNAPSHOT

When I want to edit the configuration "My_controller", the "Save" button is disabled.
![mysensor](https://cloud.githubusercontent.com/assets/19816779/15890313/30a49872-2d6f-11e6-92f5-370c64b1f914.JPG)

[2016-06-08 11:06] aldepas opened #222 "Improved Topology"
1-When I see the topology graphically names are not displayed. When I select "Display names" and "Refresh", the names do not appear automatically. In order to display the names have to click the icons that represent to disable and re-enable them.

![captura5](https://cloud.githubusercontent.com/assets/19816779/15891908/2548f1c8-2d77-11e6-93c8-054180872a80.JPG)

2- The name of the sensors are never

[2016-06-09 16:30] jkandasa commented on #222
@aldepas Thank you very much for the great time with MyController!

Good catch, when we do not have name for some resources, this problem occurs, I will fix this

:+1: Will fix this issue

I guess https://forum.mysensors.org/topic/2669/gateway-ready-message-with-sensor-id-0-v-1-6-beta/9 leads this issue. Which version of MySensors are you using?

I believe with the current version of topology desi

[2016-06-09 16:34] jkandasa commented on #221
@aldepas It is because I made `Widget image file disk location` as mandatory field. I will make this field as optional or add default location.

Thank you!

[2016-06-09 17:02] jkandasa opened #223 "Python script "Run now" leads StackOverflowError"
When we do python script "Run now" throws StackOverflowError. Due to `JSON` conversion. But it is working good normally.
[code]

[2016-06-10 05:46] #223 closed

[2016-06-10 12:09] jkandasa commented on #219
@WimVerhaert I made some changes, kindly check and report if you face any error. Thank you.

[2016-06-12 09:33] WimVerhaert commented on #219
thx for this update...

I updated the version to the alpha2-snapshot,... and everything works,...
great work.

Question: where can I find information on how to write these javascripts,
I'd like to request the info for a specific  node or sensor instead of doing a getAll....

[2016-06-12 14:36] jkandasa commented on #219
@WimVerhaert I am working on the document for scripts. You can see API details here, but you may expect slight change before release, http://www.mycontroller.org/files/docs/javadoc/apidocs/index.html?org/mycontroller/standalone/api/package-summary.html

To filter specific node/sensor, you can pass the following filters,

##### For Node
[code]

##### For Sensor
[code]

[2016-06-13 10:33] WimVerhaert commented on #204
Still getting a sporadic core,...
`#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGILL (0x4) at pc=0xb6de79dc, pid=1224, tid=2907919456
#
# JRE version: Java(TM) SE Runtime Environment (8.0-b132) (build 1.8.0-b132)
# Java VM: Java HotSpot(TM) Client VM (25.0-b70 mixed mode linux-arm )
# Problematic frame:
# C  [libc.so.6+0x789dc]  strncpy+0x0
#
# Failed to write core d

[2016-06-14 01:19] jkandasa commented on #204
@WimVerhaert Can you add small configuration to generate heap dump on crash?

Modify `bin/start.sh` line number 59 as follows, `-XX:+HeapDumpOnOutOfMemoryError`
[code]

Send me the dump file, when you get

[2016-06-14 08:22] aldepas commented on #222
Thank you very much to you for the great work you are developing.

1.5 - Latest Release

[2016-06-16 08:21] aldepas opened #224 "Mixed and Grouped sensor graph: Variable sensor empty (es)"
Hello, Thank you for "Mycontroller".
I found the following:

When I want to create a "Grouped sensors graph
or "Mixed sensors graph" with "myController" in Spanish. The "variable Sensor" option is empty

![missing](https://cloud.githubusercontent.com/assets/19816779/16109722/96c73196-33aa-11e6-9966-afa477208491.JPG)

By creating the same graph in English, I can select "Variable Sensor"

![ok](http

[2016-06-16 17:37] #224 closed

[2016-06-17 16:44] jkandasa commented on #150
@WimVerhaert I am closing this issue, as we can use this with "Custom widget" in dashboard.

[2016-06-17 16:44] #150 closed

[2016-06-24 01:13] #221 closed

[2016-06-24 01:15] jkandasa commented on #219
@WimVerhaert I am closing this issue. Please reopen if you face any problem on this.

[2016-06-24 01:15] #219 closed

[2016-06-24 01:18] jkandasa commented on #204
@WimVerhaert Did you get core dump on crash?

[2016-06-24 01:20] jkandasa commented on #203
@arturmon It is by design. Name of the sensor will be shown on bottom. If we see in small screen will be looking like this. However we can drag the sensor and can get complete view. Please reopen this issue if you cannot drag.

[2016-06-24 01:20] #203 closed

[2016-07-01 14:26] #220 closed

[2016-07-01 14:26] #218 closed

[2016-07-01 14:26] #209 closed

[2016-07-01 14:27] #201 closed

[2016-07-01 14:27] jkandasa commented on #201
There is an option called `clone` for `Rules`, `Timers` and `Operations`

[2016-07-01 14:28] jkandasa commented on #197
@BSRasmussen Added option to support for counter, We have to change metric type to `Counter`

[2016-07-03 18:47] rayvenwalker opened #225 "Binary Sensors on Chrome for Android"
When I use my phone to toggle a binary sensor (one of four) from the a dashboard the physical sensor is toggled but the webpage shows the one above it changed.

[2016-07-03 18:54] rayvenwalker opened #226 "mycontroller webpage on raspberrypi (Web 3.8.2)"
When i use the default browser on the raspberrypi (Web 3.8.2) the cells of the dashboard appear only 100px or so tall.  I can see a bit of what is on the top line.

[2016-07-04 04:24] jkandasa commented on #225
@rayvenwalker Current web page is developed for desktop. For android we have to develop new app. Can you check sensor order in both webpag and on your mobile?

[2016-07-04 04:25] jkandasa commented on #226
@rayvenwalker Browser supports angularJS and patternfly will work smoothly. For not supported browsers we may see some difficulties. Can you put screenshot?

[2016-07-16 03:55] jkandasa commented on #222
@aldepas Yes, in 1.5 release we have this issue, Which is fixed in `MySensors` 2.0.0 version.

[2016-07-16 03:56] #222 closed

[2016-07-16 03:57] jkandasa commented on #225
@rayvenwalker I am closing this issue, as current web UI not developed for android browser.

[2016-07-16 03:57] #225 closed

[2016-07-16 03:58] jkandasa commented on #226
@rayvenwalker I am closing this issue, as current web UI not developed for android browser.

[2016-07-16 03:58] #226 closed

[2016-07-16 03:58] jkandasa commented on #204
@WimVerhaert We can close this issue, if we cannot reproduce this issue.

[2016-07-19 07:48] jkandasa commented on #180
@bpair can you point out API documentation to post data to  database (Grafana)?

[2016-07-19 11:01] WimVerhaert opened #227 "IllegalArgumentException"
Getting a mysensor crash after an illegalArgumentexception

version is 0.0.3.Alpha2-SNAPSHOT
[code]

[2016-07-19 12:01] bpair commented on #180
Grafana is a graphing/web app that fronts a database like Graphite or InfluxDB. The link below explains the http api for influxDB. For pushing data it is pretty simple, database name, measurement name, key, value. You can optionally pass the time. So for me:    -the database name is fixed     -the measurement is really the type of data (Temperature),     -key is my node_id (50) sensor_id(1) identi

[2016-07-25 08:56] jkandasa commented on #180
https://github.com/mycontroller-org/mycontroller/commit/bffa84207bc934351a2838fd5bc31b44ecb7b0ad supports for POST data to,
- influxDB (v0.13.0)
- https://emoncms.org/
- https://data.sparkfun.com / phant.io

[2016-07-25 08:56] #180 closed

[2016-07-25 11:45] jkandasa commented on #212
@chrigui We could nit give generic support. However we can develop small amount of code to achieve specific service.

I have implemented https://data.sparkfun.com support on https://github.com/mycontroller-org/mycontroller/commit/bffa84207bc934351a2838fd5bc31b44ecb7b0ad

[2016-07-29 18:01] #212 closed

[2016-07-29 18:01] #185 closed

[2016-08-02 02:17] mozzbozz opened #230 "Fresh install won't work with 0.0.3.Alpha2 (Migration Exception)"
Afterwards I tried a 0.0.3.Alpha1 fresh install which works without any problems.

Anyway, here's the error log:

[code]

[2016-08-02 10:10] jkandasa commented on #230
@mozzbozz i don't see this issue.  can you post your os and java version details.  also post if have changed DB settings.
Thank you

[2016-08-02 15:25] mozzbozz commented on #230
I haven't done any changes to the config files, it's the default one which ships within the zip archive.

My OS and kernel versions:
[code]

I could workaround this issue now: First I installed `0.0.3.Alpha1`, played around with it, backed it up, compeletely removed the installation directory and unziped `0.0.3.Alpha2` in exactly the same way. This time everything would work as expected. I guess t

[2016-08-02 18:49] mozzbozz commented on #230
Well, after restoring my backup, I get a similar error message again...:

[code]

[2016-08-02 21:00] cimba007 opened #231 "[Improvement] Rule Trigger Throtteling"
One thing I noticed is somewhat unclear to me. If some rules tripp an action. e.g. "Send a mail" .. is there a way to specify how often this should happen? I see an option to completely disable the rule after one time trigger but it would be nice to have a way to reset this.

e.g.

1. rule is triggered
2. mail is send
3. rule is disable
4. after configurable time elapsed (1 hour?) the rule is auto

[2016-08-03 02:05] jkandasa commented on #230
@mozzbozz I tried in my raspberry PI and I'm unable to reproduce this issue.
I do not get any clue on this issue in your environment :( MyController is using `H2DB` database, will be stored at `mycontroller/conf/mycontroller.h2db`. Extract MyController Alpha2 version and run it. If you face this issue again stop and remove `mycontroller/conf/mycontroller.h2db` and start it again. If you still face

[2016-08-03 02:32] jkandasa commented on #231
@cimba007 This is good feature request! I can implement this one.
For now we have workaround for this option.
Create a `rule` for your sensor with auto disable option.
Create a simple `timer` with one hour interval (`3600` seconds) and repeat count as `1`

- Create the following operations,

1. Send email for your work email
2. Enable your rule
3. Enable your timer

Now map operations like mention

[2016-08-03 08:53] #231 closed

[2016-08-03 08:53] jkandasa commented on #231
Addressed this feature request on the above commit,
![image](https://cloud.githubusercontent.com/assets/1004403/17359800/df4c09ae-5985-11e6-9984-a49f3d8620f4.png)

[2016-08-03 09:44] jkandasa commented on #227
@WimVerhaert I am unable to reproduce this issue. Can you guide me to reproduce this one?

looks like `IllegalArgumentException` not a root cause for this issue. Notice log timestamp. It happens few minutes before shutdown.

[2016-08-03 14:39] mozzbozz commented on #230
Thank you for your effort! I've manually added the gateway, sensors and stuff again, so I didn't need to apply the backup. Now everything is working (and wow, the interface, just everything is way more polished and functional than I thought it would be in an alpha release, so great work :+1: - just didn't want to always only mention the negative things ;) ).

I'm not closing this issue for now as

[2016-08-03 15:08] jkandasa commented on #230
@mozzbozz Thank you!

Every time you have to add your gateway manually. To add available sensors and nodes automatically, you can select your gateway and click on `Actions >> Discover` (supports only for MySensors network)

Yes, MyController will recreate the file(`mycontroller/conf/mycontroller.h2db`) again if it is not available on given location..

[2016-08-04 07:13] ragflyer opened #232 "Test setup shows ERROR: MqttException, Reload this gateway when MQTT Broker comes UP"
Just built a simple setup of
0.0.3.Alpha2 for Win64, everything set on default
Mysensors MQTT Gateway on Nodemcu board, IP 192.168.2.109
Mysensors Binary switch sensor

GW Serial output:
Starting gateway (RNNGE-, 2.0.0)
0;255;3;0;9;TSM:INIT
0;255;3;0;9;TSM:RADIO:OK
0;255;3;0;9;TSM:GW MODE
scandone
state: 0 -> 2 (b0)
state: 2 -> 3 (0)
state: 3 -> 5 (10)
add 0
aid 3
cnt

connected with TP-LINK_2D01B

[2016-08-04 08:53] jkandasa commented on #232
@ragflyer It looks like you are running `Ethernet gateway` **NOT** `MQTT gateway`. If you are running `MQTT gateway` you have to configure your MQTT broker details on your gateway too.

To configure `Ethernet gateway`,

![image](https://cloud.githubusercontent.com/assets/1004403/17396029/f2d91164-5a4e-11e6-8af8-dc5ac6a38de8.png)

[2016-08-04 09:01] jkandasa opened #233 "Give friendly option to reset admin's password"
Right now there is no direct option to reset admin password. For non technical people it is difficult to reset admin password with database access. Add an option to reset admin password without touching database.

[2016-08-04 09:49] #233 closed

[2016-08-04 09:53] jkandasa commented on #233
With this fix to reset password for a user(user can be admin also), follow the mentioned steps,

- Create a file with the name `password` or `password.txt` under `mycontroller/conf/`
- File should contain username and password with comma separated **Without space**, example: `admin,admin`
- Save your file.
- Stop and Start MyController
- After started successfully you can see a line in `mycontroll

[2016-08-04 10:20] cimba007 opened #234 "Resubscribe after hibernate"
This might only be a small point as in an actual productive environment this would probably not happen.

After running the server on Windows 8.1 64bit and hibernating and resuming my pc the gateways seems to be recognized correctly but subscribing/processing of individual sensors-date is not working.

I am 100% positive this can be solved by restarting the application.

On the first picture you ca

[2016-08-04 14:45] jkandasa commented on #234
@cimba007 It might be a known issue for MQTT client with Java. You may resolve this issue by reloading your gateway, `Resources >> Gateway` select your gateway and do `Actions >> reload`.

We can fix this issue in MyController by running a thread to identify, Is your computer walk up from sleep/hibernate, if so do `reload` automatically. However what I feel is we will not use MyController server i

[2016-08-04 21:11] ragflyer commented on #232
Correct, sorry my mistake. I changed the type to Ethernet which seems to work and will try MQTT after gaining some experience, thanks for pointing that out so quickly!

[2016-08-04 21:11] #232 closed

[2016-08-05 04:47] jkandasa opened #235 "Just a suggestion: for Operation"
Reported by @cimba007  at https://forum.mysensors.org/topic/4431/mycontroller-0-0-3-alpha2-released/15
![image](https://cloud.githubusercontent.com/assets/1004403/17426463/909d63e0-5af5-11e6-88c1-57d89c67e224.png)

Send notification would include all further kinds of notifications you might include but grouping this is not that important. The current way it is is already very easy to understand so

[2016-08-05 10:29] cimba007 commented on #234
This was exactly my thought. Might not be a big problem as the mycontroller server probably never would go to hibernate.

I was just wondering why the gateways was detected after hibernate but not the sensors.

Thank you for the tip with the workaround. This was just some thought - maybe this is a quick fix. No need to run extra resource occupying slots.

Feel free to close this issue.

[2016-08-05 19:26] cimba007 opened #236 "Variables Graphical View doesn't show up on raspberry pi"
As I said I don't get the "variable graphical view" to work, neither as widget nor in the sensor-details:

Log stays empty as well, maybe increase the loggerlevel? But I don't know which one:
[code]

PS: This only affects the "Variables graphical view". Other graphical widgets are working fine. This issues affects dashboard and sensor-detail view stuff.

[2016-08-05 19:48] cimba007 commented on #236
Well I found the solution .. blocked by "ublock origin"

[2016-08-05 19:53] cimba007 commented on #236
Maybe remap this path? "metrics/metrics" get blocked on at least "my" adblocker:

![image](https://cloud.githubusercontent.com/assets/3453121/17448909/1c167194-5b57-11e6-8833-4c8a421d0f32.png)

[2016-08-05 20:12] jgate opened #237 "Ressources -> Rooms"
It is not possible to have a room called kitchen on different foors.

This is what I tried to configure:

Floor-1
Floor-1 -> Kitchen

Floor-2
Floor-2 -> Kitchen

![image](https://cloud.githubusercontent.com/assets/3542189/17449141/e6ab0bf8-5b58-11e6-8ee8-7887b82a8b73.png)

Here the error when I try to add kitchen on floor-2

![image](https://cloud.githubusercontent.com/assets/3542189/17449188/3f5c

[2016-08-06 06:46] jkandasa commented on #234
@cimba007 For now I'm closing this request. If we have any other request similar to this, we can merge this request also along with new one.

Thank you!

[2016-08-06 06:46] #234 closed

[2016-08-06 06:53] jkandasa commented on #236
@cimba007 Are you running browser on Raspberry PI? No one reported `metrics/metrics` blocked by ad blocker. This is the first time. Which Ad blocker are you using? I'm using [AdBlock](https://getadblock.com) and I never face issues like this.

[2016-08-06 06:53] jkandasa commented on #237
@jgate Nice catch!

[2016-08-06 10:57] cimba007 commented on #236
I am using "uBlock Origin". mycontroller is running on my raspberry and I browse from my main computer running chrome.

The /metrics/metrics gets blocked by an adblock list named:

![image](https://cloud.githubusercontent.com/assets/3453121/17456350/258e6a00-5bd5-11e6-8388-de90f422588a.png)

No big dead as the only thing I had to do was to whitelist my raspberry .. but I remember some1 else having

[2016-08-06 11:05] cimba007 commented on #236
Nevertheless .. I noticed the loading time of the graphic is very long on one particular graph.

6 hours .. 1 measurement per seconds = 3600*6 = 21600 to display/calculate average .. where does the caluclation of the graph happen? Does the client calculate the average/min/max over 21600 points or the server? The graph is very slow on my raspberry and on my i5-3570k@4,2ghz so I guess there has to b

[2016-08-06 12:01] jkandasa commented on #236
@cimba007

It looks like if we have repeated name in url, `uBlocks` blocks it. I will fix this one.

It should not happen. Did you change default settings of `Settings >> Metrics >> Data retention settings`?

All calculation happens on server side. That too with separate thread. When we query takes metric data from database without any calculation. Oracle java is recommended for Raspberry PI.

Thi

[2016-08-06 12:04] jkandasa opened #238 "Changes needed for metrics calculation"
For now the default metrics calculations happens as follows,

![image](https://cloud.githubusercontent.com/assets/1004403/17456615/cc91d85c-5bfb-11e6-88d2-089ad9efd8a3.png)

There is no overlap happen between ranges. But we should need overlap on all data. When we load data for some time we should not mix all the range. It gives improper data points in graph. To avoid this we have to keep metrics

[2016-08-06 12:33] cimba007 commented on #236
Nothing changed here. I narrowed down the issue a little bit:

Have a very close look at the first picture. **This is already all data!!! Only the visualization is compressed to 1cm.** After the named time 5-10seconds the graph "expands" .. showing exactly the same data but now only normal. Maybe this is an issue with the width-detection of the window? I am not sure.

![1](https://cloud.githubuser

[2016-08-06 12:38] jkandasa commented on #236
@cimba007 Yes, there is an issue with graph. In our controller source it is located at https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/controllers/sensors.js#L409

Actual issue: https://github.com/krispo/angular-nvd3/issues/40

I will check a way and fix this one. Thank you!

[2016-08-06 12:41] cimba007 commented on #236
If you have an idea how to fix this feel free to contact me if you need some1 to test the fix. I like your project very much .. looks like a lot of work and dedication went into this project.

[2016-08-06 21:08] cimba007 commented on #231
Perfect!!! I wish I could test the current snapshot build ;-)

[2016-08-07 07:43] jkandasa commented on #231
For now I'm sharing SNAPSHOT build on G drive: https://goo.gl/WTrK6v

I will try to automate this one.

[2016-08-08 11:02] cimba007 opened #239 "Random crash (0.0.3.Final-SNAPSHOT)"
[code]

I am not totally sure if this might be hardware related but an unhandelt exception seems like a software problem.

[2016-08-08 11:12] cimba007 commented on #239
Might be related to this?

Gateway -> action -> discover (Server Error 500)
`
2016-08-08 13:11:16,516 INFO [Acme.Utils.ThreadPool(5)-PooledThread: Acme.Serve.Serve$ServeConnection@19987d4] [org.mycontroller.standalone.gateway.mqtt.MqttGatewayImpl:70] MQTT Gateway[tcp://localhost:1883] connected successfully..
2016-08-08 13:11:25,696 ERROR [Acme.Utils.ThreadPool(5)-PooledThread: Acme.Serve.Serve$Se

[2016-08-08 19:15] jkandasa commented on #239
@cimba007 Thanks to report this exception.  I will check this

[2016-08-09 18:53] #237 closed

[2016-08-10 08:44] jkandasa commented on #236
@cimba007 I'm unable to reproduce this issue. Can you check by changing value from `1000` to `1500` in your comtroller code on https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/www/controllers/sensors.js#L415

in installed location >> `mycontroller/www/controllers/sensors.js#L415`

[2016-08-10 08:45] jkandasa commented on #230
Unable to reproduce this issue, closing now. We can reopen later if this issue exists.

[2016-08-10 08:45] #230 closed

[2016-08-10 09:58] jkandasa commented on #239
@cimba007 can you check with recent build?

[2016-08-10 10:00] #204 closed

[2016-08-10 10:01] jkandasa commented on #227
Unable to reproduce this issue. Closing this.

[2016-08-10 10:01] #227 closed

[2016-08-11 13:51] mozzbozz commented on #230
Well, I have no idea what went wrong.

Now after my new SD-card arrived, I installed a fresh Raspbian, configured the locales etc., installed Oracle Java and followed the exact same steps in the installation instructions again. Everything works fine now... Sorry and thank you for your effort! So yes, this issue can be closed.

[2016-08-11 16:54] yd1234 opened #241 "JRE crash"
Hello,
I'm trying last release of my controller.org and after fresh installation on my raspberry PI 2 running raspbian jessie and gateway configuration (serial type) I had a crash on JRE:

[code]

Can you please help me?
Thanks and regards.

[2016-08-11 17:23] cimba007 commented on #236
I haven't run my sensor node for the last few days. Just started collections values a few hours ago. I will check when I have at least enough values to fill the 6hour window.

[2016-08-11 17:30] jkandasa commented on #241
@yd1234 What type of serial gateway are you using on Raspberry PI(RPI)?

* NRF24L01+ directly connected with RPI?
* Connected your arduino with RPI Tx/Rx?
* Connected arduino with USB to TTL connection?

[2016-08-11 17:57] yd1234 commented on #241
Hi,
I'm using an arduino with ATmega328 microprocessor and RFM69 radio connected to RPI  UART Tx/Rx directly.

Regards

[2016-08-11 18:05] jkandasa commented on #241
@yd1234 By default `RPI` serial port will be used for console service. You have to disable default settings for serial port.

You may follow [this tutorial](http://www.irrational.net/2012/04/19/using-the-raspberry-pis-serial-port/)

[2016-08-11 18:15] yd1234 commented on #241
It's already done on my RPI. When using minicom I can see messages sent and received by the gateway.

[2016-08-11 18:23] jkandasa commented on #241
@yd1234 can you post `mycontroller/logs/mycontroller.log`? you can email me `jkandasa at gmail dot com`

[2016-08-11 19:09] yd1234 commented on #241
Hi please find my log file

Thanks and regards.

Y. Diop

[2016-08-11 19:18] yd1234 commented on #241
Hi
please find this other log

thanks and regard

Y. Diop

[2016-08-12 01:35] jkandasa commented on #241
@yd1234 Thank you for the log file. From your log I could not get what could be the exact problem on your environment. But few things I noted,

* Looks like already your running a `MQTT broker` on your raspberry PI or some other application running on the port `1883` and/or `7080`. You may disable inbuilt `MQTT broker` on GUI `Settings >> MQTT broker`
* And looks like your `RPI` is in heavy load,

[2016-08-12 10:04] cimba007 commented on #236
Currently I cannot reproduce the issue. The graph shows the first cm and now after a split seconds will show the rest (as opposed to 30 sec delay when I opened the issue).

[2016-08-12 11:07] jkandasa commented on #190
As we have backup feature dropping this request

[2016-08-12 11:07] #190 closed

[2016-08-12 16:56] #147 closed

[2016-08-13 10:45] yd1234 commented on #241
HI
thanks for your quick reply.

- I disabled the MQTT broker

- make some clean to unload my RPI

- Installed the JDK as you advise
Seems better now, no more crash.
I'd setup the gateway, one node and the temp sensor attached to it but I had no result in my controller. Log entries:
`Exception in thread "Thread-150" java.lang.NumberFormatException: For input string: ",pt=1,l=,pt=0,l==1,pt=0,t=4,l=

[2016-08-13 12:51] jkandasa commented on #241
@yd1234 looks like you are sending node `Battery level` message with string payload like mentioned on the error, `t=1,pt=0,pt=1,l=,pt=0,l==1,pt=0,t=4,l=4,MSG:READ6`

To narrow down this issue could you please enable following debug (`DEBUG`) logs on MyController?

File name: `mycontroller/conf/logback.xml`

*  ` <logger level="DEBUG" name="org.mycontroller.standalone.message" />`
* ` <logger level

[2016-08-13 13:07] yd1234 commented on #241
please find below the log content:
`2016-08-13 13:04:57,165 INFO [main] [org.mycontroller.standalone.db.DataBaseUtils:154] Application information: [Version:0.0.3.Alpha2, Database version:1.02.10 - 2016 Jul 29]
2016-08-13 13:04:59,269 DEBUG [Thread-4] [org.mycontroller.standalone.message.MessageMonitorThread:82] MessageMonitorThread new thread started.
2016-08-13 13:04:59,292 DEBUG [Thread-4] [org

[2016-08-13 13:45] jkandasa commented on #241
@yd1234 You have received a invalid message from your MySensors node.
[code]

`254;255;3;0;0;,pt=1,l=,pt=0,l==1,pt=0,t=4,l=4,MSG:READ2` It says,
* you have received a message the node `254`
* Message type: `3` -> `internal`
* Sub type: `0` -> `I_BATTERY_LEVEL`
* Payload: `,pt=1,l=,pt=0,l==1,pt=0,t=4,l=4,MSG:READ2`, which is invalid, it should be either integer or double value.

Which version of My

[2016-08-13 14:00] yd1234 commented on #241
I'm using 2.0.0 release of mysensors.
Here an example of serial port using minicom:
;255;3;0;9;TSP:SG:READ 254-2540 s=255,c=3,t=11,pt=0,l14,sg=0:MockMySensors
54;255;3;0;11;MockMySensors
0;255;3;0;9;TSP:MSG:READ 254-254-0 s=255,c=3,t=12,pt=0,l=4,sg=0:v0.5
254;255;3;0;12;v0.5
0;255;3;0;9;TSP:SANCHK:OK
0;255;3;0;9;TSP:MSG:READ 254-254-0 s=7,c=0,t=6,pt=0,l=16,sg=0:House Temperarue
254;7;0;0;6;House T

[2016-08-13 14:03] jkandasa commented on #241
@yd1234 Thank you for the report. Problem with MyController. I will find the root case and fix it soon.

Thank you so much!

[2016-08-13 14:11] jkandasa commented on #241
@yd1234 Can you change serial driver from `Auto` to `jSerialComm`? And check do you face this issue?

[2016-08-13 14:49] yd1234 commented on #241
When changing to JSerialComm, then new nodes automatically appears in nodes pages (node id 23, 24 and 0), same for sensors page (one sensor with nodded 24, sensorid 7)
I got the battery status but no temperature data.
Log below:
`2016-08-13 14:46:06,446 DEBUG [Thread-4] [org.mycontroller.standalone.message.RawMessageQueue:60] Removed a message, Queue size:0, Message:[RawMessage(gatewayId=1, data=2

[2016-08-13 15:01] jkandasa commented on #241
@yd1234 are you sharing serial port with some other process/application? it looks like MyController receiving corrupted dada.

[2016-08-13 17:13] yd1234 commented on #241
[mycontroller.log.txt](https://github.com/mycontroller-org/mycontroller/files/416669/mycontroller.log.txt)

[2016-08-14 18:51] cimba007 opened #242 "Minor improvement: Save sorting on Gateways, Sensors, Nodes view"
Is it possible to remember the last selected sorting method? Sorting by name seems weird to me. Maybe save the sort-order in a cookies?

Sorting by sensor name doesn't seem to intuitive for me - at least save the setting if the user changes it.

![image](https://cloud.githubusercontent.com/assets/3453121/17651148/d455849c-6260-11e6-9c74-93620239a04c.png)

[2016-08-14 20:04] cimba007 commented on #242
PS: https://raspi:8443/#/status/resourceslogs//

Resourcelogs seems to already "remember" the selected number of items per page.

[2016-08-15 10:26] cimba007 opened #243 "Show last "xxx days" on Nodes->Battery usage is broken"
e.g. https://raspi:8443/#/resources/nodes/detail/5

Chaning the dropdown to last week or so is unresponsive and does nothing. In contrast the SensorView picker for last "xxx days" is working fine.

![image](https://cloud.githubusercontent.com/assets/3453121/17662086/6d980bf2-62e3-11e6-996b-41edcc16fe6e.png)

[2016-08-15 11:09] cimba007 commented on #235
Hello, on my current configuration the rules system does not show any meaningfull values on "autocomplete".

![image](https://cloud.githubusercontent.com/assets/3453121/17662904/2cf7390a-62e9-11e6-976f-a59d77326801.png)

Althrough I have one node with 2 sensors which I would like to check against some threshold.

![image](https://cloud.githubusercontent.com/assets/3453121/17662923/3f47ecda-62e9-11

[2016-08-16 03:01] jkandasa commented on #242
@cimba007 Yes, it is possible to store in cookies.

[2016-08-16 03:23] #243 closed

[2016-08-16 20:37] cimba007 opened #244 "constraint primary index"
Probably nothing grave but just in case I thought I might drop this error. As I am constantly removing my nodes and let them get "redetected".
[code]

[2016-08-17 16:51] cimba007 commented on #238
I am not sure if this is what you meant but if so it would depict the insonsistent behaviour:

![image](https://cloud.githubusercontent.com/assets/3453121/17745282/88b134f8-64ab-11e6-9034-f53fdc8de592.png)

My default retention settings look a bit different, but are consistent with the "missing" min/max/avg separation in the "last 6 hour"

![image](https://cloud.githubusercontent.com/assets/345312

[2016-08-18 10:24] jkandasa commented on #238
@cimba007 Yes, this problem related to this feature request. For now there is no uniform result.

In your report, for last 12 hours, showing 5 minutes sample for 6 hours and 1 minute sample for next six hours. Which leads this confusion. I will make it uniform to avoid this.

Thanks to report this one!

[2016-08-18 14:19] ragflyer opened #245 "MQTT: Unable to process this rawMessage:RawMessage"
I'm trying to receive data from an ESP8266 through the inbuilt MQTT Broker and get a lot of these:

[code]
Hopefully it has nothing to do with the topic (I set humidity to -in and temperature to -out on the sensor as I had no idea which one mycontroller expects).

Relevant code from the .ino:

[code]

Will mycontroller automatically create the sensors from received MQTT messages or do I have to se

[2016-08-19 02:01] jkandasa commented on #245
@ragflyer you can not send directly like you have mentioned. Currently MyController supports only for MySensors network type MQTT. You have to follow [MySensors format](https://www.mysensors.org/download/serial_api_20).

Your topic should be like as follows,

Topic format: `node-id/child-sensor-id/message-type/ack/sub-type`
You have to post all the values on the topic `mygateway-out`.
[code]

You

[2016-08-19 05:56] #238 closed

[2016-08-19 06:16] jkandasa commented on #244
@cimba007 This error not related to Node deletion/creation.

You are sending multiple values for a single millisecond. Here it is `1471356147829`. Check your arduino code. How long once are you sending `Photoresistor GL5549 (v4)` value?

[2016-08-19 06:18] jkandasa commented on #236
I'm closing this issue. We can reopen if we can reproduce.

[2016-08-19 06:18] #236 closed

[2016-08-19 10:26] cimba007 commented on #244
This might be a duplicated packet caused by packetloss .. still the retry takes at least 4ms so even if it is a retryed value it should not arrivae at the same time .. anyway .. nice to know .. so I might reduce my update rate. The minimum updateinterval should be 8seconds.

So nothing to worry for now, thanks

[2016-08-19 10:26] #244 closed

[2016-08-19 12:12] rayvenwalker opened #246 "Reached Maximun limit: 1000"
The server webpage wouldn't respond this morning.  I power cycled the raspberrypi and started the server again and am receiving this message repetedly.

`2016-08-19 08:07:53,856 WARN [pi4j-single-executor-0] [org.mycontroller.standalone.message.RawMessageQueue:52] Reached Maximun limit: 1000, Unable to add new message. Dropped`

[2016-08-19 12:17] jkandasa commented on #246
@rayvenwalker could you please attach logs from `mycontroller/logs`?

[2016-08-19 12:48] rayvenwalker commented on #246
[mycontroller.zip](https://github.com/mycontroller-org/mycontroller/files/426977/mycontroller.zip)

[2016-08-19 17:31] ragflyer commented on #245
Dear Jeeva,
that was very helpful for my understanding of things but unfortunately I still cannot get it right.
For testing I also tried variations in the message with the MQTT.fx client but none got parsed correctly. Just the error message changes to when I set the topic to just "mygateway-out" and move all ids and data to the message itself.
ERROR [nioEventLoopGroup-5-1] [io.moquette.server.nett

[2016-08-19 17:37] jkandasa opened #247 "Unable to change firmware type id and version id"
When changing `Firmware`'s `version id` and `type id` are not updated on database.

[2016-08-19 17:49] jkandasa commented on #245
@ragflyer By default `Allow anonymous` will be disabled, Enable it. Will be looking as follows,
![image](https://cloud.githubusercontent.com/assets/1004403/17818839/d5b1a50e-6662-11e6-9614-38b1072597d6.png)

And your gateway should look as follows,
![image](https://cloud.githubusercontent.com/assets/1004403/17818937/49f0a014-6663-11e6-8bda-d51c32e17ad1.png)

Now try with this settings, it should w

[2016-08-19 17:51] #247 closed

[2016-08-19 17:57] jkandasa commented on #246
@rayvenwalker How many nodes/sensors do you have attached with MyController?

[2016-08-19 17:57] jkandasa commented on #241
@yd1234 Still are you facing issue on your environment?

[2016-08-19 18:00] cimba007 opened #248 "More errors and exceptions .."
Sensor page totally unresponsive ..

I didnt even touch the node that sends battery informations .. my current "experimental" node just sends simpel values VAR1 and VAR2

http://pastebin.com/6LPXjXJ0

additional error from browser console:

![image](https://cloud.githubusercontent.com/assets/3453121/17819421/17ed79cc-6648-11e6-9056-a1c5c4420d19.png)

[2016-08-19 18:07] jkandasa commented on #248
@cimba007 Looks like database corrupted.

Stop MyController and run database recovery tool.

To run database recovery tool,

* [download h2db](http://www.h2database.com/h2-2014-04-05.zip)
* Extract
* `cd` to `mycontroller/conf/`
* run `java -cp /path/to/h2/bin/h2-*.jar org.h2.tools.Recover`

If you are unable to recover, You have to start from fresh installation :(

[2016-08-19 18:10] jkandasa commented on #248
I always recommend you to configure auto backup, you can restore When there is a situation like this.

![image](https://cloud.githubusercontent.com/assets/1004403/17819601/49a33506-6666-11e6-8959-88fb53a922fc.png)

[2016-08-19 18:42] cimba007 commented on #248
No problem about data loss, nothing very "important" to loose. I just post these issues to improve the software ;-) But I will try out the backup, ty

[2016-08-19 19:45] rayvenwalker commented on #246
6 Nodes, 35 Sensors

[2016-08-19 20:14] ragflyer commented on #245
Awesome, my mistake was in the 'network type' of the gateway, thanks a lot!

I can see the sensors now, the log still shows errors though:

2016-08-19 21:28:31,601 ERROR [nioEventLoopGroup-5-2] [io.moquette.server.netty.NettyMQTTHandler:84] Bad error in processing the message
java.lang.NullPointerException: null
        at io.moquette.spi.impl.ProtocolProcessor.route2Subscribers(ProtocolProcessor.

[2016-08-20 01:16] jkandasa commented on #248
@cimba007 Thanks to report this issue. For database corruption we may not find out the issue at first site. This is the first time I'm seeing this issue. We will look in to this issue if it happens again.

You can enable backup on sub-folder or where MyController have write access. Yes, 7 days backup with 1 day interval will be good to go with minimum safety.

I'm closing this issue, We will reope

[2016-08-20 01:16] #248 closed

[2016-08-20 01:25] jkandasa commented on #245
@ragflyer Yes, this is because no one subscribed `mygateway-in` topic. In your ESP8266 you are not subscribing any topic. But in MyController it is mandatory to update topic to publish(which is `mygateway-in`).

I hope you are using `MyController v0.0.3.Aplha2` which is using `moquette v0.8`. This issue was fixed on `moquette v0.8.1`, I have updated on `MyController v0.0.3.Final-SNAPSHOT`.

For no

[2016-08-20 14:31] jkandasa commented on #246
Queue size increased from 1000 to 7000.
https://github.com/mycontroller-org/mycontroller/commit/fba818f969bc475c72975d6f34faf6c53e937ba7

[2016-08-22 05:46] #156 closed

[2016-08-22 05:49] #245 closed

[2016-08-22 05:49] #246 closed

[2016-08-22 05:50] #241 closed

[2016-08-22 05:50] #239 closed

[2016-08-22 05:51] jkandasa commented on #210
https://github.com/mycontroller-org/mycontroller/commit/3c74888dee76b55c36b5f36d01377696bbddde92

[2016-08-22 05:51] #210 closed

[2016-08-22 16:44] cimba007 opened #249 "[Minor Improvement request] Sensor-Detail page could need an autorefresh"
To improve user excperience I suggest a possibility to adjust auto-refresh settings.
These is nothing that should receive "high" priority but I thought it is still noteworthy.

![image](https://cloud.githubusercontent.com/assets/3453121/17862935/c5163278-6897-11e6-84a8-a3c951a11c79.png)

Several pages could profit from autorefresh.

If you stay on this page the time marked parts will increase over

[2016-08-22 18:55] yd1234 commented on #241
Hi,
I restart from scratch with a new RPI, reinstall everything and it seems to work, no more issue since last time.

Thanks

[2016-08-22 20:36] cimba007 commented on #208
Just to sum up what smartSleep does (according to the mysensor-code):

int8_t smartSleep(unsigned long ms) {
	int8_t ret = sleep(ms);
	// notifiy controller about wake up
	sendHeartbeat();
	// listen for incoming messages
	wait(MY_SMART_SLEEP_WAIT_DURATION);
	return ret;
}

As mycontroller does not know if the node is using smartsleep the following should be done:

- Publish commands to the MQTT-B

[2016-08-22 20:43] cimba007 opened #250 "Question: RSSI and variable mapping"
Does the RSSI-field have any functunallity? I think it is not yet implemented in mysensor but it would be nice if it could be implemented like the battery leavel.

Would it be possible to map specific mysensor-message types to a mycontroller-message-type RSSI?

Like Mapping mysensors VAR5 to mycontroller RSSI? I would love to implement some custom RSSI measurement .. even if it would be just a per

[2016-08-22 20:52] cimba007 opened #251 "[(minor) cosmetical issue] Missing connection on topology graph"
![image](https://cloud.githubusercontent.com/assets/3453121/17871242/fd8b8482-68ba-11e6-91f8-59af808058f3.png)

I would expect the nodes to be connected with the gateway. Just a minor issue ;-)

[2016-08-23 03:25] jkandasa commented on #251
@cimba007 This is expected in MySensors network. If you **unchecked**  `Realtime` you will see the topology diagram based on relations ships in database. When you check `Realtime` It will show you how nodes connected on real time. Every 30 minutes once real time graph will be updated. You can update manually by calling `Discover` on gateway page.

**Important:** This feature supports only on MySen

[2016-08-23 09:27] jkandasa commented on #250
@cimba007 `RSSI` was introduced for ESP8266. This is not yet implemented on MyController. I will try to address this soon. Thank you!

[2016-08-23 11:24] cimba007 commented on #250
Make sure it is customizable. For example in my setup (RF24) I don't have a RSSI availalbe, only a combination of (IS RSSI > -64db) and the # of failed transmissions. So something like a float with at least 2-3 decimalpoints would be needed if I wanted to show a number like 0-100.000%

Thanks for your hard work

[2016-08-23 11:32] jkandasa commented on #250
@cimba007 MyController will not do anything on `RSSI`. receives and displays what you sent.

you have to send `RSSI` message as follows from MySensors,
[code]

**IMPORTANT:** `message-type` should be `set`, `sub-type` should be `V_VAR5` and `payload` should starts with `rssi:` (**lowercase**)

[2016-08-23 13:35] cimba007 commented on #250
Thanks, that sounds very promising. I will try it out and report back, thank you ;-)

[2016-08-23 15:14] cimba007 commented on #238
![image](https://cloud.githubusercontent.com/assets/3453121/17897513/bfd1cf76-6954-11e6-9b03-3260b93e2cfd.png)

In the current snapshot I am no longer able to have a look at the "raw" values. In the current version (0.0.3.Alpha2) the last 6 minutes where pretty close to raw data .. is it possible to include a new time intervall "raw" to check raw data?

[2016-08-23 15:21] cimba007 opened #252 "Change Timezone?"
![image](https://cloud.githubusercontent.com/assets/3453121/17897847/f5552386-6955-11e6-9c79-ccd72fed81c2.png)

![image](https://cloud.githubusercontent.com/assets/3453121/17897860/fa483d2e-6955-11e6-934d-35bb8c8be9b9.png)

Maybe I am missing something grade but is there an option to change to "local timezone"? Couldn't find a hint the in web interface or the manual ( http://www.mycontroller.org/#

[2016-08-23 16:04] jkandasa commented on #238
@cimba007 I will introduce last 5 minutes without any aggregation.

[2016-08-23 16:07] jkandasa commented on #252
@cimba007 Can you try to logout and login once. I hope you might logged in before changing timezone. it stores timzone and some other conf while doing login.

[2016-08-23 16:19] cimba007 commented on #252
yep, this solved the issue, thanks ;_)

I received my new microsd-card and had to reinstall my raspberry

[2016-08-23 16:19] #252 closed

[2016-08-23 16:20] cimba007 commented on #238
Yeah, that would be really nice. ;-)

[2016-08-23 17:37] jkandasa commented on #249
@cimba007 refresh problem addressed with the above commit. These pages are get refreshed based on `Global refresh` time.

[2016-08-23 17:37] #249 closed

[2016-08-24 16:09] cimba007 opened #253 "mycontroller snapshot 22.08.2016 - unresponsive -> errorlog"
Running the latest snapshot I got some random errors ..

http://pastebin.com/u25D52Pi

The interface is very unresponsive (up to 5seconds before a page loads) .. my raspberry pi just got freshly installed so there should be very little that should be wrong with the hardware.

[2016-08-24 16:45] jkandasa commented on #253
@cimba007 Thanks to report this error. Looks like my recent change on database `ormlite` version break this. We will check it. I have reverted to old version(database - ormlite). https://github.com/mycontroller-org/mycontroller-parent-pom/commit/ba4839a110e49916432aa856cebfc5c7d2ef0026

You can download latest version from [google drive](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6dXZ5

[2016-08-24 18:58] cimba007 commented on #253
Thanks, I will try out the snapshot at once!

[2016-08-24 19:44] cimba007 commented on #250
rssi feature is working very good for now. I did some slightly abuse of the "db"-value

![image](https://cloud.githubusercontent.com/assets/3453121/17945266/71b95832-6a43-11e6-9b52-b58365006341.png)

Using my custom wrapper class for sending messages I try to keep track of some stuff:

[code]

in combination with your code snippet:

[code]

With this I can keep track of #lost messages thus providi

[2016-08-24 20:05] gbrd opened #254 "bad emoncms calls: values in key"
Mycontroller creates some strange inputs on emoncms :
![c1](https://cloud.githubusercontent.com/assets/1265055/17946058/e9957c02-6a46-11e6-8415-b878d82cf3d8.jpg)

[2016-08-24 20:14] gbrd opened #255 "ERROR log: Unique index or primary key violation"
I have this error in logs :

[code]

[2016-08-24 20:15] cimba007 commented on #254
Hi gbrd,

could you provide more information about your setup? Are you processing topics from the MQTT-Broker in emcons cms?

[2016-08-24 20:21] cimba007 commented on #255
Hello gbrd, can u provide a full log file or copy the content of "~/mycontroller/logs/mycontroller.log" to a site like http://pastebin.com/

To not make the data public on pastebin select "Paste Exposure: Unlisted"

[2016-08-24 20:22] cimba007 commented on #251
Jep, working perfectly, my mistake ;-)

[2016-08-24 20:22] #251 closed

[2016-08-24 22:57] cimba007 commented on #253
Sometimes browsing the mycontroller page becomes still unresponsive ..
Could it be that exception/warning handling takes a lot of time and thus make messages "queue" up? When queued messages are processed they gare processed too fast resulting in time stamp collision? just a wild guess.

[code]

[2016-08-25 01:18] jkandasa commented on #254
@gbrd could you post screen shot of `External servers` settings for `emoncms` without write API key?

[2016-08-25 01:19] jkandasa commented on #253
@cimba007 how many nodes/sensors are you using and what is the gateway are you using?

[2016-08-25 01:37] jkandasa commented on #250
I guess MyController will not send any ack response. Let me check the code and update you.

[2016-08-25 09:55] cimba007 commented on #250
I use this code and mycontroller or the gateways (don't know) is sending mysensor software ack and this is working very reliable!!
[code]

[2016-08-25 09:58] cimba007 commented on #253
I am currently running 2 nodes. The one node only sends data very sparse, i would guess only once every 10 seconds.

My second node is an microwave motion sensor I am building and currently very frequently sending messages. I would say every 200ms. Ofc. this will result in lots of messages (15.000 per hour?) Is this too much? I thought that 1ghz quadcore with 1gb ram would be enough to process lik

[2016-08-25 11:29] cimba007 commented on #253
please rename to "*.zip" .. although github says that it supports ZIP it somehow does not

[logfiles.zip.pdf](https://github.com/mycontroller-org/mycontroller/files/436835/logfiles.zip.pdf)

[2016-08-25 16:22] jkandasa commented on #253
@cimba007 Thank you for the log. Looks like you do not face issue when debug mode is enabled. I believe due to `System.currentTimeMillis()` accuracy, we are facing this issue. I will find out a solution.

[2016-08-25 16:59] cimba007 commented on #253
Still the website seems unresponsive and the cpu load is high? Somestimes 250% (top). Is this normal?

[2016-08-25 17:00] jkandasa commented on #253
@cimba007 No, this is not normal. I never face issue like this. We have to find out the root cause.

[2016-08-25 17:03] jkandasa commented on #253
@cimba007 can you check on your PRI, does MyController eats all the resource? or someone else there?

[2016-08-25 17:12] cimba007 commented on #253
What can I do to track it down?

I double checked my code and I am sure my node sends 2 messages every 300ms-500ms .. having a closer look athe the debug output:

It seems the values are added multiple times to the queue? (line 17-25)
Im addition to the processing time of 22ms per message with only 300/2 = 150ms between messages might there be some congestion?

Queue size:2584, suggests there are

[2016-08-25 17:14] cimba007 commented on #253
![image](https://cloud.githubusercontent.com/assets/3453121/17978799/032e1492-6af8-11e6-9aff-add12df81160.png)

mycontroller (java) is eating quite some resources. load-average is 1.66 .. nothing is running as the rpi is frehsly installed.

[2016-08-25 17:31] cimba007 commented on #253
I rolled back to 0.0.3alpha2 and noticed something similar.

No node sending:

![image](https://cloud.githubusercontent.com/assets/3453121/17979301/2b252cae-6afa-11e6-9756-7182098bc82f.png)

One node sending 2  messages per 300ms ..

![image](https://cloud.githubusercontent.com/assets/3453121/17979319/3c9ab10c-6afa-11e6-9ce2-76659982a781.png)

I still guess processing the messages takes too long.

[2016-08-25 17:37] jkandasa commented on #253
@cimba007 can you try with inbuilt MQTT broker? Inside it's using `QOS = 0`.

[2016-08-25 17:39] cimba007 commented on #253
ok, i will try with inbuild mqtt brokrer

[2016-08-25 18:08] jkandasa commented on #253
@cimba007 Yes, Already everything on multi thread. I will make some changes on logger and log message on db. I will check locally and update you.

Thank you for your great effort!

[2016-08-26 13:36] jkandasa opened #256 "Problem with send payload operation with delay time"
When we have a `Send payload` operation **with delay** and configured on multiple rules. operations leads this error.
[code]

[2016-08-26 15:08] cimba007 opened #257 "Requestengine not available (python)"
Connected to my post here:

http://forum.mycontroller.org/topic/44/question-example-script-like-operation-send-mail

I just get the following error with the example for python from the documentation:

[code]

For now I am testing pushbullet! Seems to be very nice!

[2016-08-26 15:51] cimba007 opened #258 "[FeatureRequest] Login with Username/Password in URL?"
I propose a feature where u can login with the credentials in an URL or without credentials at all.

The purpose would be a static, dedicated device (tablet/handy) to simply display a dashboard.

The Dashboard in my case would only happen to have one button:

ARM / DISARM .. to use mycontroller as an burgler detection system ("sort of").

Logging in should  be as simple as possible .. best case sc

[2016-08-26 16:13] cimba007 opened #259 "[Minor Bug] Rename gateway is not possible (EUI 0)"
![image](https://cloud.githubusercontent.com/assets/3453121/18012129/71760c3c-6bb8-11e6-91cc-3e1574d94eaa.png)

My gateway has only one virtual sensor (ARMED / BYPASSED) Renaming the node is not possible due to the error shown.

[2016-08-26 16:15] cimba007 opened #260 "[Errorlog] Entrys in errorlog"
I see no problems as of features not working .. but I thought I might share my errorlog as it is always full of surprises ;-)

rename file to *.log

[mycontroller.log.pdf](https://github.com/mycontroller-org/mycontroller/files/439674/mycontroller.log.pdf)

[2016-08-26 16:25] cimba007 opened #261 "[Improvement] Multiple Conditions and/or Multiple Operations at the same rule"
Currently it is not possible to disable multiple rules with the same operation.

At the same time it is not possible to check multiple values in rules:

If Sensor1\Value > X AND Sensor2\Value < Y .. not possible at the moment. To enable more complex rules /operations it should be possible to "checked" and/or "modified" multiple rules/values whatever at the same time.

The same applies to operation

[2016-08-26 16:34] cimba007 opened #262 "[Improvment] Pushbullet "Friends""
Currently you can only notify deviced linked to your own account. Is it possible to add a list of friends that should also be notified? For Example if there is something important going on I want to notifie all family memberes?

My Suggestion is an additional (optional) field with email-addresses of friends just like statet here:

https://docs.pushbullet.com/#create-push

If it is already possible

[2016-08-26 17:10] #259 closed

[2016-08-26 17:10] #260 closed

[2016-08-26 17:21] jkandasa commented on #253
@cimba007 I have added some improvements on performance. For now MyController supports ~48 messages per second on RPI.
![image](https://cloud.githubusercontent.com/assets/1004403/18013947/3df29706-6bde-11e6-8ba8-d4c4e7872abf.png)

I do not face any huge latency on page load. Just now remember that in RPI we should use `Oracle JDK` NOT Open JDK. With open JDK on RPI MyController works too slowly. Y

[2016-08-26 17:28] jkandasa commented on #257
@cimba007 MyController supports for `Python` scripts. But by default it's not shipped with Python-Java support engine which is www.jython.org

You have to add it manually. For more details please refer MyController documents

##### Steps to add new script engine

Download jar file and place it under `mycontroller/lib/` and restart MyController services.
For example if you want to add `Python` supp

[2016-08-26 17:38] jkandasa commented on #261
@cimba007 You can create multiple operations to disable multiple rules and can add all the operations to a rule/timer.

yes, for now MyController won't support multiple value on GUI. However you can use script for Rule also. You can check whatever you want and return true or false to rule.

[2016-08-26 17:39] jkandasa commented on #262
@cimba007 I will check this and update you.

[2016-08-26 20:07] cimba007 commented on #253
Okay .. I did some further testing .. sadly the improvement was not that big as I expected. I tried to narrow down the issue.

First observation: CPU load increases drom 10-20% to 100% or more every minute for 20seconds. This repeats every 60 seconds.

I recorded 2 videos. On the right side you can see CPU utilization graph .. every minutes it goes up .. then down .. then up again. Clicking on the

[2016-08-26 21:27] cimba007 commented on #249
Just noticed the 5 minutes option! Very nice!!!

![image](https://cloud.githubusercontent.com/assets/3453121/18020964/916aed9c-6be4-11e6-9265-2ce9fdb15fe5.png)

Now I can easylie debug my sensor

[2016-08-27 09:46] cimba007 commented on #257
I switched over to pushbullet which is working fine. At the same time I don't know if yowsup will be supported after 31.12.2016 as even my official blackberry whatsapp client will no longer work in 2017.

[2016-08-27 09:46] #257 closed

[2016-08-27 09:47] cimba007 commented on #250
Is working very good at the moment. Thanks ;-)

[2016-08-27 09:47] #250 closed

[2016-08-27 10:00] cimba007 commented on #235
I noticed the option to enable/disable operations via operations is not possible. With this I would very conveniently enable/disable my notification mechanism.

![image](https://cloud.githubusercontent.com/assets/3453121/18026626/ca1646fa-6c4d-11e6-8cd9-09883e9ff505.png)

Rule and Timer is possible, Operations is missing.

[2016-08-27 10:14] cimba007 opened #263 "On the sensor page it is not possible to select individual sensor and go to detail view"
Starting today I can no longer select individual sensors. Hovering the sensor the background (blue) starts to flicker and leftclick is not working.

Currently I can't reproduce this but this happend a few times earlier today.

[2016-08-27 13:14] cimba007 opened #264 "[Bug?] Response to mysensor request is wrong"
Gateway: Nodeid 0
Sensor: Nodeid 20

Sensor uses the following code:

[code]

The result received is the V_ARMED value of the sensor node .. not as originally requested the one of gateway.

The button toggle is working as expected. Only if i change the value on the sensor node on mycontroller then the real sensor received the update.

If i change the switch on mycontroller of the gateway .. no mes

[2016-08-27 13:20] cimba007 commented on #156
I decided that I no longer need the V_ARMED variable on my sensor node. Hitting purge will clearn all data but the button/graph will not disappear. **Please remove all data if hitting purge without a timelimit.**

[2016-08-27 13:51] jkandasa commented on #263
@cimba007 Can you clear your browser cache? and try. If it happens report back with browser and OS details. Thank you!

[2016-08-27 13:52] jkandasa commented on #264
@cimba007 Is this happen all the time? or sometimes only?

[2016-08-27 13:59] cimba007 commented on #264
I will try an simple test sketch to verify!

[2016-08-27 14:12] cimba007 commented on #263
I will close this for now as it appears to only happend once. I assume that the session somehow timed out.

If you hover over the sensor I think there is a background request for the time but if the controller does not respond somehow the line gets deselected. To keep the issue section clean i will close this for now.

[2016-08-27 14:12] #263 closed

[2016-08-27 15:56] jkandasa commented on #246
from this commit message queue moved to of-heap. Now there is no fixed limit for messages queue. However it is limited as Integer.MAX_VALUE.

https://github.com/mycontroller-org/mycontroller/commit/6cd8da74471e82c7fa04022df5f8c6ffb67e5f21

[2016-08-27 15:56] jkandasa commented on #253
From this commit message queue moved to of-heap. Now there is no fixed limit for messages queue. However it is limited as Integer.MAX_VALUE.

https://github.com/mycontroller-org/mycontroller/commit/6cd8da74471e82c7fa04022df5f8c6ffb67e5f21

[2016-08-27 15:58] jkandasa commented on #253
@cimba007 Thank you for the detailed analysis. i can see the issue from your videos. But I could not reproduce in my RPI. Still working on code level for improvements. Thank you for your great time with performance analysis :+1:

[2016-08-27 16:58] jkandasa commented on #264
@cimba007 AFAIK, earlier version of MySensors.org does not support any sensors. It was acting only as a gateway. never control any sensors. `request` feature was designed that time. It was designed as, if some one request data from gateway(default), it will forward the request to controller. If do a request from other than gateway (other destination - like you have mentioned) it will be forwarded

[2016-08-27 17:42] cimba007 commented on #253
I will now try a clean installation of mycontroller and observe every step i make and the impact on load spikes:

EVERYTHING VANILLA FROM LATEST SNAPSHOT as of 27.09.2016 19:12
default java vm of latest raspbian image

CPU = max cpu usage noticed over several minutes (without peaks by actively browsing the webpage with the exception of 20seconds refresh intervall of statistics)
spikes = 10-15secon

[2016-08-27 17:47] cimba007 commented on #253
In the latest snapshot the resourcelog is broken?!

![image](https://cloud.githubusercontent.com/assets/3453121/18029102/0e2f967a-6c8f-11e6-8907-0c39ec072738.png)

[2016-08-27 17:55] jkandasa commented on #253
@cimba007 Great! Thank you! I have checked in my `raspberry pi 2 model b` performance of MyCOntroller. It is able to perform `30~40 messages` per second without any delay. I sent 50 messages per second for 2:30 hours. around 30K messages was in queue. I stopped message sending and it takes about 10 minutes to insert queued messages(30K messages). So it looks like in RPI 30~40 messages recommended

[2016-08-27 18:02] cimba007 commented on #253
Clearing the cache solved the issue. Thanks!

[2016-08-27 18:41] jkandasa commented on #253
@cimba007

You can always backup your old database and use it for new version. backup and restore supported between SNAPSHOT versions too. In this way you can have countable data immediately.

[2016-08-27 18:42] cimba007 commented on #264
Thanks for the very good explanation at the mysensor.net forum.

From all I have tested and read the best solution (at least I think) would be to clearly differentiate between request from controller and request from node/gateway.

[2016-08-27 18:56] cimba007 commented on #253
Okay .. I have a short update .. I bombarded mycontroller with 42messages per second for like 30minutes. I now got 132713 items in the database. Even after lowering the rate to ~6messages per seconds I started again to notice spikes.

Every 60 seconds for 10-15seconds.

My only conclusion is that mycontroller performs some kind of task every 60 seconds to aggregate data or something like this and

[2016-08-27 19:00] jkandasa commented on #253
@cimba007 can you find out the exact time rage when CPU spikes? Aggregation happening on every 5th second.

[2016-08-27 19:02] cimba007 commented on #253
From my observation the spikes begin every minutes at around 45seconds and last 15seconds.
Even in my latest fresh installation with the changes noted before the spikes come again every minute at around 45seconds (+/- 2 seconds). I could even calibrate my clock from this :D

[2016-08-27 19:04] jkandasa commented on #253
@cimba007 Thank you for the info. `ResourcesLogs Aggregation Job` is running on every 45th second. I will think about this.

[2016-08-27 19:06] cimba007 commented on #253
This might be a very good lead! The ResourceLogs is very big in my case (130.000messages). Maybe every 45second the whole resourcelog is processed and not only the data that changed since the last aggregation?!

[2016-08-27 19:13] jkandasa commented on #253
@cimba007 You you input and hard-work helped me lot to narrow down the issue. Thank you so much! You are awesome!!

You may change Resources log level to `Warning` to avoid bulk insertion. (I will findout some other solution for this).

![image](https://cloud.githubusercontent.com/assets/1004403/18029545/6fe00890-6cb8-11e6-92a0-d85f980e4cee.png)

[2016-08-27 19:17] cimba007 commented on #253
I changed the settings and purged the log again to start very clean.

But now it is late, I will have a look tomorrow again ;-)

Thanks for your hard work!! Make mycontroller.org even better is very satisfying

[2016-08-28 17:59] gbrd commented on #254
I used default settings

![image](https://cloud.githubusercontent.com/assets/1265055/18035640/d52d0850-6d59-11e6-94d7-62ba1a6421a3.png)

[2016-08-28 21:43] cimba007 opened #265 "[Compability] Mobile phones"
Is the mycontroller website compatible with mobile phones? I tested different browsers on a spare (old) android phone running android 2.3.6 and all browsers just return MYCONTROLLER.ORG {{ 'APP.DESCRIPTION' ...

I have to note that the loading time is very large (10-15seconds) and thus the website's ajax might run into some timeouts. MIght this be the cause?!

[2016-08-28 21:47] cimba007 commented on #261
Thank you,I will try this out.

[2016-08-28 21:47] #261 closed

[2016-08-28 21:54] cimba007 commented on #265
Edit: I tested this on my latest tablet with android 5.X and latest chrome browser .. it is working. So either the browsers for android 2.3.6 are too old or the timeout (as the phone is is slow) might be an issue.

[2016-08-28 22:27] cimba007 commented on #235
I tried a workaround with scripts but I have no idea how to list all operations with their correspondig ID so I could use a script to disable the specific operation via scripting.

Could you provide a very small example on how to list all operations with ID and how to disable/enable an operation? Thank you in advance!

[2016-08-28 22:42] cimba007 opened #266 "[Improvement] Dashboard -> Jump to detail view"
I would like to see a link from this:

![image](https://cloud.githubusercontent.com/assets/3453121/18037331/557f42a8-6d81-11e6-8fb8-41bee5c3a2b9.png)

by clicking the eye-icon or some other "yet to implement icon" to this view:

![image](https://cloud.githubusercontent.com/assets/3453121/18037337/6b9763d6-6d81-11e6-9488-c11a94adb06e.png)

[2016-08-29 04:39] jkandasa commented on #253
@cimba007 I have done some changes on resources logs aggregation and general aggregation and retrieval. Hope with this change we can see some level of performance improvements.

By default resources logs retention will be 60 minutes. If you want to change this level. have a look at,
![image](https://cloud.githubusercontent.com/assets/1004403/18040932/9a0e3f74-6dd0-11e6-8040-275fc8b2fd0e.png)

Than

[2016-08-29 05:33] #266 closed

[2016-08-29 05:33] jkandasa commented on #266
@cimba007 implemented this one. Also added support from single graph and bullet chart.

[2016-08-29 05:37] jkandasa commented on #265
@cimba007 MyController GUI is based on angularjs and designed for desktop/laptop devices. I believe android 2.x does not have this support. It may work if you install chrome browser on android 2.x

NOTE: We have an feature request for mobile version UI for MyController. https://github.com/mycontroller-org/mycontroller/issues/56

[2016-08-29 06:25] jkandasa commented on #254
@gbrd I am unable to reproduce this issue. Could you try with [latest version](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6dXZ5THdURUc1blU)?
For me it is working as expected,
![image](https://cloud.githubusercontent.com/assets/1004403/18042445/0a8424b8-6ddf-11e6-91f1-2f450cbcfecb.png)

[2016-08-29 08:05] #262 closed

[2016-08-29 08:08] jkandasa commented on #262
@cimba007 Added option to send Pushbullet with `device idens` , `emails`, `channel tags`. You can use single of multiple fields.

![image](https://cloud.githubusercontent.com/assets/1004403/18044958/e966f3e6-6ded-11e6-8f5d-9fc61f85bb72.png)

[2016-08-29 09:13] cimba007 commented on #266
Very nice! That was very quick ;-)

[2016-08-29 09:23] cimba007 commented on #265
The problem is that chrome browser is no longer supported on android 2.X. Current version from playstore requires android 4.X.

Developing an separate android client might be a lot of work. Android 5 with latest chrome is working very good on the mobile site. It would be much more comfortable if there would be a direct login like proposed on https://github.com/mycontroller-org/mycontroller/issues/

[2016-08-29 09:25] cimba007 commented on #262
You are working very fast ;-) With this feature it is easy to notifie everybody on my household if something important happens ;-)

[2016-08-29 09:52] jkandasa commented on #235
@cimba007

Operations inside operation might create recursive loop, hence I disable that option.

#### To list operations on Dashboard.
##### Script: `JavaScript`
[code]

##### Template:
[code]

#### To enable/disable list of operations:
##### JavaScript
**Script bindings:** `{options:{name:"operation-name", enable:false}}`
**Important**: It is important to pass `Script bindings` when executing th

[2016-08-29 09:53] jkandasa commented on #262
@cimba007 Kindly check this and close if everything works as expected.

[2016-08-29 09:59] cimba007 commented on #235
Thank you very much. This looks much more refined as my little "hack" :D

[2016-08-29 10:28] cimba007 commented on #266
I would gladly test but the changes are not incoporated in latest snapshot yet?

[2016-08-29 10:29] jkandasa commented on #266
@cimba007 It should be. Could you refresh your browser(F5) as it has UI changes?

[2016-08-29 10:32] cimba007 commented on #266
Indeed!! That damn caching ;-)

[2016-08-29 10:57] cimba007 commented on #258
With the possibilty to use an mqtt client on android I think this is no longer needed

[2016-08-29 11:56] cimba007 opened #267 "A fatal error has been detected by the Java Runtime Environment"
[code]

hs_err_pid702.log

http://pastebin.com/U9fetXm2

![image](https://cloud.githubusercontent.com/assets/3453121/18050849/62c862a8-6df1-11e6-8d54-4db2d7cfa7bb.png)

[2016-08-29 12:10] cimba007 commented on #267
Currently I am starting mycontroller manually through the ./start.sh

Is it possible to write a service that (even if it crashes) will be immediatly restartet?