[2017-10-25 18:39] cimba007 commented on #407
Everything fine for now .. I will have to gather some data again (7days) and compare performance in regards the version without index.

[2017-10-25 18:42] jkandasa commented on #411
@cimba007 Thank you, I have updated the on this [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) build. Kindly inform back.

[2017-10-25 18:56] cimba007 commented on #411
Somhow I now have trouble getting rules working at all. Rule get fired up but not the corresponding operation. Nothing on the logfile .. I think will do a restore first. Maybe the error posted above might have caused some further issues.

[2017-10-25 19:21] cimba007 commented on #411
@jkandasa Apparently the script is not called if the binding is like this:

[code]

[code]

[2017-10-26 05:40] jkandasa commented on #411
@cimba007 can you post your complete script?

[2017-10-26 05:42] jkandasa commented on #412
@njbuch can you give some example? what are all the data you want to fetch from wunderground? and how to do via url?

[2017-10-26 07:13] njbuch commented on #412
Using this url: [http://api.wunderground.com/api/dcf3babc70b77e58/geolookup/conditions/q/46.9646492,9.8069447.json](http://api.wunderground.com/api/dcf3babc70b77e58/geolookup/conditions/q/46.9646492,9.8069447.json)

You get this:
`
{
  "response": {
  "version":"0.1",
  "termsofService":"http://www.wunderground.com/weather/api/d/terms.html",
  "features": {
  "geolookup": 1
  ,
  "conditions": 1

[2017-10-26 15:29] lucacalcaterra opened #414 "Translation test"
Hi, i've translated to italian, but need to test. I copied the file json to languages folders but can't see italian language from dropdown list.

What can i do ? Tnx

[2017-10-26 15:56] jkandasa commented on #414
@lucacalcaterra Thank you for your support, I will add this on the drop-down menu.

[2017-10-26 16:28] lucacalcaterra commented on #414
@jkandasa Ok! I'll test its ... some translations are not ok or give no sense of phrase...

[2017-10-26 16:36] jkandasa commented on #414
@lucacalcaterra Updated on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version. Kindly confirm

[2017-10-26 16:44] lucacalcaterra commented on #414
Still doesn't show Italian language!

[2017-10-26 16:46] jkandasa commented on #414
@lucacalcaterra Kindly do logout and login. If didn't work follow this: https://forum.mycontroller.org/topic/47/gui-caching-issue-problem

[2017-10-26 16:50] lucacalcaterra commented on #414
@jkandasa Yeah! It's ok!!!

[2017-10-26 16:53] jkandasa commented on #414
@lucacalcaterra cool, Thank you for your contribution!

[2017-10-26 16:53] #414 closed

[2017-10-26 16:56] lucacalcaterra commented on #414
@jkandasa :-) I'll check translation... Ask if you need other help ! Luca

[2017-10-26 17:14] jkandasa commented on #414
@lucacalcaterra Sure, you are welcome!

[2017-10-27 09:10] jkandasa commented on #412
@njbuch Included support for WUnderground. Kindly have a look on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version and let me.
Thank you!

Gateway:

![image](https://user-images.githubusercontent.com/1004403/32096638-a9b8848c-bb24-11e7-8de8-0384c36dd173.png)

[2017-10-27 10:27] njbuch commented on #412
Super Jeeva, looks very promising, will take it for a spin. Please note
that my WunderGround API key is now deleted as it was used more than the
allowed quota, please create your own for further testing...

Thanks again... :)

On Fri, Oct 27, 2017 at 11:10 AM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2017-10-27 19:22] cimba007 commented on #411
- As you can see 'notification' is not in locals() and not in globals() of the python script and thus not accssible.
- If I write it like in my previous post I get syntaxx error
- If I write "${notification.actualValue}" with quotes it does not work and is logged 1:1 as it is.

[code]
Logfile
[code]

[2017-10-27 19:24] njbuch commented on #412
Jeeva, this is amazing! Works exactly as expected. No glitches found, will keep using from now.

[2017-10-27 19:24] #412 closed

[2017-10-27 19:26] toygame commented on #410
thank you for you suggest sir. i dont know it has Re-Enable feature lol then i will try this feature and reply soon.

[2017-10-27 19:26] #410 closed

[2017-10-27 19:27] #380 closed

[2017-10-30 12:48] cimba007 commented on #407
I chopped down the binary retention time to 3 days and this is my current result:

[code]

I still strongly recommend having my "solution 3" implemented as it makes the sensor-view much more responsive. Even fetching tenthousands of datapoints for one day causes a lot of load with most the values being duplicates.

Even showing this graph causes 200% cpu load and sometimes doesnt complete before t

[2017-10-30 12:50] cimba007 commented on #407
I get this log entry just by refreshing the above graph:

[code]

[2017-10-30 12:53] jkandasa commented on #407
@cimba007

Thank you for the detailed report. Yes, Solution 3 should be good choices. I will implement it as follows,
 * By default ignore duplicates
 * If a user wants duplicates, they need to enable it under edit `sensor variable`.

[2017-10-30 15:21] OPI-0 opened #415 "Groups widget layout / alignment of items"
Hi,

Was adding a groups widget to one of the dashboards, it seems that the text and icons are not aligned correctly.
( would be nice to switch the lights on and off using the mysensors-2-433mhz gw node)

![screenshot 2017-10-30 at 15 55 42](https://user-images.githubusercontent.com/26340735/32178896-3b445bd6-bd8e-11e7-95b7-f1caabce9c17.png)

The button itself works like a charm, just the layout.

[2017-10-30 15:24] jkandasa commented on #415
@OPI-0 What is the screen resolution of your computer? What is the layout are you using? try to set it on next biggest layout. I hope currently you might use it `3-9` layout and this widget placed on `3` side.

Example:
![image](https://user-images.githubusercontent.com/1004403/32179049-5605c9e8-bdb4-11e7-88bd-5ca977fd5e53.png)

[2017-10-30 15:57] jkandasa commented on #415
@OPI-0

Yes, that's true. But on low-resolution screen with a small layout, it is a big challenge to fit. You may use `4-4-4/12` layout. or you may request new layout as per your requirement(I can add it). I hope this will fit nicely when we go with the size `4` and above.

[2017-10-30 16:05] cimba007 commented on #407
@jkandasa

This would be very nice! Just remember this .. if there is a new value that is no duplicate a opposite value has to be inserted just before the new value. (on binary)

Imagine this:

![image](https://user-images.githubusercontent.com/3453121/32181361-783554d6-bd94-11e7-825d-be5e5436981a.png)

Black = actually inserted value
orange = duplicates that are ignored
green = "dummy"-value that

[2017-10-30 17:20] OPI-0 commented on #415
Fits nice with 4 and above, look:

12/6-6
![screenshot 2017-10-30 at 18 14 28](https://user-images.githubusercontent.com/26340735/32184983-4023b704-bd9e-11e7-93d3-59c4f4282c06.png)

4-4-4/12
![screenshot 2017-10-30 at 18 15 38](https://user-images.githubusercontent.com/26340735/32185033-5e1e625e-bd9e-11e7-8cf2-f72e5304d7ab.png)

3-9
![screenshot 2017-10-30 at 18 17 21](https://user-images.githubus

[2017-10-30 18:05] #415 closed

[2017-10-30 19:24] cimba007 commented on #407
It might be even better to not insert new values and update the most recent one's timestamp if it has the same value as the new one.

[2017-11-01 14:51] cimba007 opened #416 "[Question] Jython unicode"
@jkandasa

This is no "bug" in mycontroller but still somehow related.

[code]

The critical code is this

[code]

Do you have any idea how to solve the encoding problem?

[2017-11-01 15:09] cimba007 commented on #416
I solved my issue:

[code]

[2017-11-01 15:09] #416 closed

[2017-11-02 20:09] cimba007 commented on #392
My graphs are quite responsive (2-3 seconds). Can you tell us something about the graph? If it is a binary graph it might be related to the retention technique.

All graphs should get aggregated and as such have a reduced number of total datapoints (except binary graph).

[2017-11-02 21:54] seant100 commented on #392
@cimba007
All graphs are slow ... Dashboard, sensor details etc. The greater the time period the slower it is ...
The issue happens both on page load and when changing the time period in the dropdown selection or the min/max button for the graph.

Examples of what I mean by slow :
Last 5 minutes: Graph appears after about 5 seconds
Last 10 minutes : Graph appears after about 10 seconds
Last 6 hour

[2017-11-02 22:57] cimba007 commented on #392
@seant100

I am no pro but my assumption is that the C.H.I.P. has only one single-core with 1ghz. As opposed to that I use an raspberry pi 2 with a Quadcore (4x 1ghz) and sometimes get more 2 cores fully loaded.

Could you try to check the idle system-load with "top" from the linux console?

Just for reference I got 5-25% on java. In addition to that the load-avg is interesting (top right corner a

[2017-11-02 23:04] cimba007 commented on #392
In addition could you check this custom widget?

https://github.com/mycontroller-org/mycontroller/issues/253#issuecomment-242796728

It can give us some insights on message-processing performance and the queue of messages.

[2017-11-02 23:22] seant100 commented on #392
@cimba007

As per previous comment I moved from CHIP to Raspberry Pi Model B. Here is screenshot showing both top and free -h

**Screenshot without accessing via web interface (i.e. no graphs loading etc)**

![pi-mycontroller-top-and-free](https://user-images.githubusercontent.com/637145/32354708-91f151b2-c033-11e7-9a62-ed907c47e693.png)

**Screenshot with accessing web interface on sensor page sh

[2017-11-03 11:47] cimba007 commented on #392
Looks pretty normal to me. Normal CPU load and plenty of free ram. Only thing I don't understand is the high # of messages in the queue. From my understanding this should be always zero or close to zero.

I got some of the SSL errors too but only just after startup of mycontroller server.

![image](https://user-images.githubusercontent.com/3453121/32372305-926c72b4-c094-11e7-82c2-0615e913f935.png)

[2017-11-03 13:26] seant100 commented on #392
@cimba007

I've zipped up the mycontroller folder - I removed all backups to reduce the size.
You can download from here :http://sites.za.org/myc/myc.zip
Its a 44MB file.

Thanks for the help

[2017-11-03 13:58] seant100 commented on #392
@cimba007 Please let me know once you have the file so I can remove it from the server. Thanks

[2017-11-03 14:11] cimba007 commented on #392
Got it, will try it out

[2017-11-03 15:03] cimba007 commented on #392
@seant100
- Do a backup of your current database
- Update to latest snapshot from here (https://forum.mycontroller.org/topic/58/download-snapshot-build)
- Replace your database with this: https://mega.nz/#!21gHWTob!fBx2XyLn8pJDb7fNam1BO1QC_yvB4ea5ylhNzdG69cU

I will remove the db when I come back from cinema if you got it by then

[2017-11-03 15:09] seant100 commented on #392
@cimba007 Thanks. Will try it out now. I have downloaded the db so you can remove it now

[2017-11-03 15:11] cimba007 commented on #392
ok, link removed

[2017-11-03 15:24] seant100 commented on #392
@cimba007 Setup and running latest snapshot with db you provided in link. So far working great! Graphs are super fast now. And for the first time ever I can actually view a whole day of data. Even 1 year works very fast now.
Thank a million.
What was the issue?

[2017-11-03 19:12] cimba007 commented on #392
I hope I can explain the issue in an easy way.

A database is organized as follows:
- A database contains multiple so called tables (something like excel sheets)
- Each table contains multiple columns (like timestamp, sensorid, value ...)

If the table grows and contains more and more rows it becomes more difficulty for the programm to find the "right" ones. In the worst case the database software

[2017-11-03 20:29] seant100 commented on #392
@cimba007
I do know what an index is. Just I am not familiar with the type of database used by mycontroller and no idea what admin tools are available for it.
And yes - it would be ideal if this can be part of the next database update / migration script. Otherwise i assume i might have to add the index manually again if I update mycontroller.
Thanks again for the fix. Its working perfectly now

[2017-11-03 20:34] cimba007 commented on #392
@seant100
mycontroller uses a h2-database which is some kind of java flat database. I don't know too much of the details but is seems to work like a sql-database.

- https://mvnrepository.com/artifact/com.h2database/h2/1.4.196
- "java -jar h2-1.4.196.jar"

This opens a small builtin webserver ..

![image](https://user-images.githubusercontent.com/3453121/32394756-801d5e76-c0de-11e7-831f-7683a4f578

[2017-11-04 10:58] jkandasa commented on #392
@seant100 @cimba007 Thank you for the great support on this issue! :+1:

@cimba007 These are all the index's should to be covered?
[code]

[2017-11-04 11:24] seant100 commented on #392
@cimba007 For what reason are you issuing the 3rd sql statement - to delete metrics before a certain date?
Also would it not be beneficial to add an index on 2 fields - the sensorvariableid and the timestamp

[2017-11-04 11:37] cimba007 commented on #392
These commands are just an EXAMPLE of what you can do with the h2-1.4.196.jar "console".

@jkandasa

**Index 1:**
[code]
This should speed up all querys with charts.

**Index 2:**
[code]
This should speed up aggregation jobs with querys like this:
[code]

[2017-11-04 11:38] cimba007 commented on #392
@seant100 The 3rd query was just a test to manually purge binary metrics. I did this to do a quick check if a reduced number of values would impact the query speed.

[2017-11-04 12:25] seant100 opened #417 "Send Raw Message - Internal not showing sub-types"
On latest snapshot release when going to Action Board -> Send Raw message and selecting Internal, no sub-types are listed and hence cannot send a reboot command

[2017-11-04 15:44] cimba007 commented on #417
@seant100
Something similar happened last time when I did a "dirty update" just replacing the *.jar file. Did you replace the content of the *www subfolder too?

If so did you try to clear the browser cache as mycontroller seems to be quite persistent with caching.

[2017-11-04 18:05] seant100 commented on #417
@cimba007

I replaced the entire mycontroller directory - excluding backups folder and then replaced the database file with the one you provided for the slow graph issue.

In chrome I used "Empty Cache and Hard Reload" option and issue remains.
I tried chrome in a "New Private Window" and same issue.
I tried another browser (Firefox) and same issue.

Note: The other "Types" all show "Sub-Types" -

[2017-11-04 18:12] cimba007 commented on #417
@jkandasa

[code]

[2017-11-04 18:12] seant100 commented on #417
@cimba007 Here is a screenshot of showing console error in chrome that occurs when selecting "Internal" - It gives Internal server error : Http 500 error response

![untitled](https://user-images.githubusercontent.com/637145/32408183-70c77d9e-c19c-11e7-9b95-addcfb18bd66.jpg)

[2017-11-04 18:17] cimba007 commented on #417
Maybe related to this?

[code]

[2017-11-05 00:51] jkandasa commented on #417
@seant100 @cimba007 Thank you! Yes, it is bug I will fix it soon.

[2017-11-05 18:25] jkandasa commented on #417
@cimba007 @seant100 fix added on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6dXZ5THdURUc1blU) version. Kindly check it and report back. Thank you!

[2017-11-05 18:47] seant100 commented on #417
@jkandasa Yes the sub-types for Internal are working in new Snapshot. Thank you

[2017-11-05 23:15] #417 closed

[2017-11-06 20:47] seant100 opened #418 "Delete Duplicate / Invalid Sensor Variable"
Hi

I have 2 Sensor Variables of type Volume on the same Sensor.
I am not sure how this happened but I would like to delete the extra one as its causing confusion.
I see the trash icon is for Purge only and purging all data does not delete the actual Sensor Vairable itself. So how can I now delete this Sensor Variable?

![image](https://user-images.githubusercontent.com/637145/32463072-58447ade-c3

[2017-11-06 21:06] seant100 commented on #393
@jkandasa The browser memory problem seems to have resolved itself. The issue seems to be solved with the fixing of the slow graphs issue. To resolve the slow graphs I updated to the latest Snapshot and also @cimba007 provided the updated database with the indexes added.
I will let you know if the issue returns - but so far the memory leak seems to be solved for me

[2017-11-06 21:25] cimba007 commented on #393
I would assume that auto refresh kicks in after 30 second while the first result has yet to return which might create some kind oft memory leak

Am 6. November 2017 22:06:51 MEZ schrieb Sean <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2017-11-07 04:33] jkandasa opened #419 "Add support for aREST framework"
https://github.com/marcoschwartz/aREST

[2017-11-07 04:36] jkandasa commented on #418
@seant100 When you edit the sensor, you can select unselect sensor variables. But it is not possible to create more than one type on the same sensor. Can you check the type by editing sensor variables?

[2017-11-07 04:41] jkandasa commented on #393
@seant100 I guess what @cimba007 saying might be true. I do not see this issue in my environment. I am using Linux(Fedora) with chrome browser.

@seant100 @devicter can you confirm still are you facing this issue?

[2017-11-07 06:24] seant100 commented on #393
@jkandasa

Seems fine for me now.

I think @cimba007 is correct and it had something to do with slow queries taking more than the 30 seconds and then the page refresh kicks in and that ends up in an endless loop if webpage is kept open.

[2017-11-07 06:37] seant100 commented on #418
@jkandasa Both the Sensor Variables are type Volume. I checked on the Edit page for each Sensor Variable.
I did what you said above and deselected "Volume" on Sensor edit page but now its lost all data for the sensor variable it was logging to ! This was what I was trying to avoid as I wanted to keep a history of my water usage

[2017-11-07 06:48] jkandasa commented on #418
@seant100 restore from your last backup. to retrieve your data. I need your database to fix this issue.

[2017-11-07 07:56] seant100 commented on #418
@jkandasa don't worry. i will be ok with data loss for this sensor for now.

[2017-11-07 07:56] #418 closed

[2017-11-07 09:07] jkandasa commented on #418
@seant100 ok, thank you! It is a corner case. I do not know how to reproduce this issue. If you send your database(with this issue) I may check is there any issue with MyController.

[2017-11-07 10:18] seant100 commented on #418
@jkandasa Sent via email a copy of old database with the issue in it still. As per email there is another sensor with duplicate sensor variables as well. Hope it helps figure out what causes this problem.

[2017-11-07 13:54] jkandasa commented on #418
@seant100 I see that lot of database unique checks removed from your database. I do not know how?

this statement not available on your database.
[code]

And I do not see these entries,
[code]

[2017-11-07 15:41] seant100 commented on #418
@jkandasa I am not sure why those would be missing. I am mostly running the latest snapshot release and update that version every now and then when i look and see a new version is available.
Should I run all those statements on my database here?

[2017-11-07 15:47] jkandasa commented on #418
@seant100 No, do not run these statements. I will fix #349, soon. so that we can import export from one database to another database easily.

[2017-11-07 15:49] seant100 commented on #418
@jkandasa Ok. Thank you. I will wait then for the import/export feature

[2017-11-08 11:54] coderpop opened #420 "Display location name from settings instead of lat/lon."
As requested,,,,

Please can we change the sunrise/sunset widget to display the name entered by the user under settings instead of the lat/lon?

"London", "Home" etc is a lot easier to remember and if you have multiple myc installs at different sites it would be much easier!

[2017-11-09 21:17] njbuch opened #421 "Merging data from several nodes in Wunderground case"
I have been running with the new feature of having Wunderground gateway collect data and feed it into my influxdb. It works, but I am realizing that its slightly sub-optimal.

As you can see on the funny image, this gateway has exploded into many different nodes with seperate sensor-nodes, making it impossible to make rules and draw graphs without cleaning the data.

I suspect its a feature from w

[2017-11-10 02:30] jkandasa commented on #421
@njbuch you want to merge all the stations into one node?

[2017-11-10 02:57] jkandasa commented on #420
Fix added on [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) build. Kindly have a look.

[2017-11-10 03:01] jkandasa commented on #411
@cimba007 sorry for the late response. I missed it somehow.

This script executed by operation right? If you execute manually, it won't work.

[2017-11-10 10:30] seant100 commented on #393
@jkandasa It seems there is still a problem. Its not as bad as before but the browser still has a memory leak. If I leave the browser open for a few hours the chrome tabs memory is still hitting over 1GB

[2017-11-10 10:41] njbuch commented on #421
Yes, that would make sense to have the catch-all nodename as an option on the config window...

[2017-11-10 13:10] devicter commented on #393
yes, the problem remains

[2017-11-10 15:41] cimba007 commented on #411
On the latest snapshot I can use this:

[code]
Which will write the follwing output to "myfile".

[code]

I would consider this issue closed! Thanks for your work!

[2017-11-10 15:41] #411 closed

[2017-11-11 08:30] jkandasa commented on #421
@njbuch added fix for this request. Kindly have a look at [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

[2017-11-13 21:02] njbuch commented on #421
Took the SNAPSHOT from 3 days ago, and tested with the new improvements, I see this:
`2017-11-13 21:35:47,624 ERROR [Thread-428] [org.mycontroller.standalone.exernalserver.model.ExternalServerInfluxdb:114] Failed to send data to remote server! Status Code:400, Is Success:false, Error Message:-, Raw Entity:{"error":"unable to parse 'wu_node_Wind,host=mycontroller,location=skur value=From the WSW at

[2017-11-14 03:17] jkandasa commented on #421
@njbuch looks like in influxdb, `value` has been defined as boolean. Did you touch influxdb manually?

[2017-11-14 06:42] njbuch commented on #421
No, not at all.

On Tue, Nov 14, 2017 at 4:17 AM, Jeeva Kandasamy <notifications@github.com>
wrote:

[2017-11-14 19:10] njbuch commented on #421
I am still having problems with the wind, in sending to the external server there was no luck. Its only the direction when I refer to the Wind in Influxdb. I have made there seperate sensors vars transfer to external server:
![image](https://user-images.githubusercontent.com/6631425/32799372-d09b60fe-c977-11e7-97d2-ee949274fb94.png)

[2017-11-15 05:44] jkandasa commented on #421
@njbuch issue found on influxdb write query section for string data. fixed it. Now I can see all the data.

[code]

To send all the data, you can use a gateway. No need to use separate entry.

fix is available on [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

Where have you hosted influxdb? In RasbperryPI? how is the performance?

[2017-11-15 05:50] jkandasa commented on #420
@coderpop kindly have a look and update.

[2017-11-15 16:47] cimba007 commented on #392
@jkandasa Could you be so kind and add the index in an "fix" so this issue could be closed for now?

[2017-11-15 22:18] cimba007 opened #422 "Mixed Sensor Graph (Some little bugs)"
There seem to be some little glitches with the Mixed Sensor Graph.

![image](https://user-images.githubusercontent.com/3453121/32863188-eec6ef2e-ca5a-11e7-94de-2d67aba3bab6.png)

The colors between the two graphs are just "mixed" up ..

@jkandasa How comes that one time Marc's is blue and the other time Marc's is orange?

Sometimes the colors just change (like orange changed to blue)

![image](htt

[2017-11-15 22:27] cimba007 commented on #422
Seems to be related to the sensor_id naming scheme from the mycontroller example.

[2017-11-15 22:27] #422 closed

[2017-11-16 19:13] cimba007 opened #423 "Graphs are bugged"
The graphs seem to be bugged (latest chrome)

![image](https://user-images.githubusercontent.com/3453121/32910791-8173fbaa-cb0a-11e7-8c53-c678726ac2ec.png)

Just by moving the mouse multiple bubbles appear and sometimes even the color changes.

[2017-11-16 19:47] cimba007 commented on #423
PS: I updated to nvd3-1.8.7 and angular-nvd3-1.0.9

Still no change after deleting cache

[2017-11-16 19:50] njbuch commented on #421
Hi again, its not working for me.

The serverlog:
`2017-11-16 20:43:05,420 ERROR [Thread-5345] [org.mycontroller.standalone.exernalserver.model.ExternalServerInfluxdb:115] Failed to send data to remote server! Status Code:400, Is Success:false, Error Message:-, Raw Entity:{"error":"partial write: field type conflict: input field \"value\" on measurement \"wu_node_Barometer\" is type string, alread

[2017-11-16 19:53] njbuch commented on #421
Regarding performance. I am running mycontroller and influxdb on a decent linux-server, so performance is not an issue for me.

Sidenote: It could be nice to have an update script to get the SNAPSHOT version installed easily in a docker container.

[2017-11-17 18:04] danielefrigo commented on #56
any news about this?

[2017-11-17 21:56] cimba007 commented on #423
It has something to do with some kind of timer fired up ...

![image](https://user-images.githubusercontent.com/3453121/32970743-7d39ccdc-cbea-11e7-81c5-f8800d33f419.png)

[2017-11-17 22:06] cimba007 commented on #423
@jkandasa I think the "MyController time" widget is the culprit. Everytime the "second" updates a dot is created and a lag orrcurs. After removing the time-widget everything works fine!!

[2017-11-17 23:21] cimba007 opened #424 "[FeatureRequest] Sort dashboards by name"
By accident I deleted my "main" dashboard. Now I have my debug dashboard as default. Would it be possible to rearrange the order order sort them by name?

![image](https://user-images.githubusercontent.com/3453121/32973198-6fc9a160-cbf6-11e7-9a7b-74e74bd77c5b.png)

[2017-11-18 12:57] cimba007 commented on #393
Still there :D can't use the dashboard as a "dashboard"

[2017-11-18 13:06] cimba007 opened #425 "[Bug] Present omitted if initial mqtt connection fails"
If I upload a new sketch the mqtt-client does not logoff from the mqtt-server (buildin mycontroller).
On next sketch run presentation is skipped:

[code]

[2017-11-18 16:40] jkandasa opened #426 "Null pointer exception when adding a new user"
Source: https://forum.mycontroller.org/topic/223/null-pointer-exception-when-adding-a-new-user

Reported by: Daniele and Tag.
Hi,
I successfully set up MyController on a Raspberry Pi 3 B, connected to MySensors network through MQTT gateway.

I'm trying to add a news user for MQTT, just to avoid using admin user in MQTT gateway configuration.

Every time I try to add a new user, I get a null pointe

[2017-11-18 16:43] jkandasa commented on #425
@cimba007 Could you please elaborate this issue?

[2017-11-18 16:48] jkandasa commented on #56
@danielefrigo Just started learning http://ionicframework.com/ hopefully we can expect first mobile version in a couple of months.

[2017-11-18 16:51] jkandasa commented on #421
@njbuch Can you try with a fresh database in influxdb? or drop existing tables?

[2017-11-18 17:02] cimba007 commented on #425
I will try .. assume I upload my sketch to the esp8266 and everything is working as expected.

Now I want to upload a new sketch .. the upload process resets the esp8266 and leaves an open mqtt-connection on the broker (the client just vanished and did no proper logoff). Now the new sketch is uploaded .. and tries to connect again to the broker.

[code]

The connection fails .. but succeeds after

[2017-11-18 17:13] cimba007 commented on #425
I am not good with github and pull requests but I suggest to change this:

[code]
to

[code]

in void MyController::checkMqtt() {

[2017-11-18 17:15] jkandasa commented on #425
@cimba007 Yes, thank you for the detailed information. I understand that I need fix this issue on https://github.com/mycontroller-org/MyControllerDevice

moving to https://github.com/mycontroller-org/MyControllerDevice/issues/15

[2017-11-18 17:15] #425 closed

[2017-11-18 17:18] cimba007 commented on #426
From my experience this only happens if not all fields are filled (e.g. the email is omitted).

[2017-11-18 18:09] OPI-0 commented on #426
agree, only seen then not all fields are filled

[2017-11-18 18:33] njbuch commented on #421
I tried to drop the series and the measurements.... did not work.

Found this: https://github.com/influxdata/influxdb/issues/8649

Which indicates a problem with influxdb that seems to keep some typing and data despite series being dropped. I have now dropped the whole database, lets see what happens.

[2017-11-19 06:37] njbuch commented on #421
Nope, it did not work after dropping the whole database. Errors are still:
`2017-11-19 07:21:01,114 ERROR [Thread-110740] [org.mycontroller.standalone.exernalserver.model.ExternalServerInfluxdb:115] Failed to send data to remote server! Status Code:400, Is Success:false, Error Message:-, Raw Entity:{"error":"partial write: field type conflict: input field \"value\" on measurement \"wu_node_Wind\"

[2017-11-19 06:48] jkandasa commented on #421
@njbuch what is the version of InfluxDB are you using?

[2017-11-19 09:15] njbuch commented on #421
The most recent. Will check exactly when I am back.

[2017-11-25 10:33] cimba007 opened #427 "Mycontroller just stopped working"
Nothing unusual in the logfile

https://pastebin.com/VdWGTUJB

It just stopped to respond ~12 hours ago. Process was still running.

Could not call the website too ..

[2017-11-25 10:38] cimba007 commented on #427
.. aparently my dyndns service just didn't refresh ..

[2017-11-25 10:38] #427 closed

[2017-11-26 21:40] cimba007 commented on #393
@jkandasa This problem has to be fixed asap. Everytime I forget to close the dashboard and let it run in the background the tab crashes. Currently I am unable to use the dashboard as a dashboard ...

[2017-11-27 11:51] danielefrigo commented on #290
@jkandasa is there any news about this?
I love MyController, but I'm trying to control a relay and without an ack I cannot be sure if the payload arrived at the node.

[2017-11-27 18:58] njbuch commented on #421
I was using 1.3.5 and now I tried with 1.3.7 which has the same problem....

I have found this page in the documentation: [https://docs.influxdata.com/influxdb/v1.3/write_protocols/line_protocol_reference/#example-2-write-the-field-value-1-as-a-float-to-influxdb](url) which might give you some hints as to how the java formats the line.

[2017-11-28 12:33] jkandasa commented on #290
@danielefrigo so far no timeline for this issue. We need to refactor complete messaging queue to activate ack.

[2017-11-28 12:33] jkandasa commented on #421
@njbuch let me have a look thank you!

[2017-11-28 12:34] jkandasa commented on #393
@cimba007 Sorry to hear this. So far I do not get root cause. I will try to fix this soon, if possible.

[2017-11-28 12:47] cimba007 commented on #393
It is very difficult for me too ;-( Could you point out where the "refresh" happens and where new data is set in the chart?

My assumption for now is the following:

AAAAAAAAAAAAAAAAAAA
  BBBBBBBBBBBBBBBBBBBBBB
  CCCCCCCCCCCCCCCCCCCCD

A Is the initial chart-data
B After the refresh interval (30seconds) a new set of data is put into the chart.
C the data might be duplicated as it did not change fr

[2017-12-07 01:41] zhangzc opened #428 "sendemail"
I had installed v1.0 a  few days ago. There are two issues.
1.  Incorrect reference to angular.js, in www/libs/angular only angular.min.js .
2. Could you please add setCharset("utf-8")
 to the file mycontroller/modules/core/src/main/java/org/mycontroller/standalone/email/EmailUtils.java?
I found that couldn't use Chinese in the email body.

Thank you

[2017-12-08 15:59] njbuch commented on #421
Any news on this?

[2017-12-13 20:45] dakipro opened #429 "Cannot add nodes via MQTT"
Hi,
trying to install the controller but I cannot add the nodes at all. I use openhab and it works fine, but MyController is struggling with nodes discovery/adding.
When I add them manually, everything is green and looks fine, but no data is comming. I see that it gets info about the nodes in the log, but throws an exception

[code]

[2017-12-14 03:13] jkandasa commented on #429
@dakipro can you list your gateway details?

[2017-12-14 21:42] dakipro commented on #429
Sure, from the Gateway page?

Name  MySensors
Enabled  Enabled
Tx message processing delay  0 Milliseconds
Type   MQTT
Network type  MySensors
Connection details   BrokerHost:tcp://192.168.1.30:1883, ClientId:mycontroller-client
Status   Up
Status since  a minute ago
Status message  Connected Successfully

[2017-12-15 02:59] jkandasa commented on #429
@dakipro for some reason. your gateway id not updated in raw message. can you restart mycontroller and try again?

[2017-12-15 07:17] dakipro commented on #429
I tried that, several restarts and update of the node info and other available actions, but there is so many exceptions in the log I do not think anything is helping. It is publishing data to mqtt, so it is connected, but every time some node sends the info to mqtt, exceptions like from the original message appear.
I also tried deleting the gateway several times but no luck. Can I manually add gat

[2017-12-15 07:36] jkandasa commented on #429
@dakipro ok, Send the log file(mycontroller.log) to my email address. Let me have look, is there any hint. jkandasa at gmail dot com

[2017-12-15 17:10] jkandasa commented on #428
@zhangzc Where do you find incorrect angular.js referance?

[2017-12-15 17:39] #426 closed

[2017-12-15 17:58] jkandasa commented on #420
@coderpop kindly reopen if you see the fix notworking

[2017-12-15 17:58] #420 closed

[2017-12-15 18:03] jkandasa commented on #421
@njbuch I am unable to reproduce this issue locally.
I am using docker influxdb version 1.4.1
[code]

[2017-12-15 18:05] jkandasa commented on #413
@cimba007 workaround:

remove renable option

[2017-12-17 14:23] dakipro commented on #429
I've sent you log to email. I now downloaded previous version of myController and filled same gateway info, and main node is added automatically, also I did 'discover" and other nodes appeared automatically. So it seems to work in previous version of mycontroller.
Hopefully that helps, as mqtt doesn't seem to work in stable version

[2017-12-18 22:39] njbuch commented on #421
Ok, I have upgraded to 1.4.1 and started on a fresh install. Still exactly the same issue. Can you point me to more detailed debugging options?

[2017-12-19 11:06] jkandasa commented on #421
@njbuch can you post your external server page screenshot?

[2017-12-19 11:13] njbuch commented on #421
![image](https://user-images.githubusercontent.com/6631425/34154436-d324e3be-e4b5-11e7-9510-35f0a7df8908.png)

[2017-12-19 11:23] jkandasa commented on #421
@njbuch can you send this page?
![influxdbsettings](https://user-images.githubusercontent.com/1004403/34154807-d5c29e00-e4dc-11e7-85f6-4d92872f169c.png)

Also about page, to know the version details. I would like to replicate locally. to reproduce this issue.
Give me Wunderground gateway page detail too. api ley not required. I can create one.

[2017-12-19 12:43] jkandasa commented on #421
@njbuch Thank you for the screenshots. I identified the problem.
On the influxDB configuration, **Measurement**  field should be unique to the field which has a different type of value field.

When we use Measurement field as sensorName, leads problem for other string fields. Also, I request to force **Alphabetical key case** to Lowercase. Which will make easier when we do a query on influxdb.

Ki

[2017-12-20 21:27] njbuch commented on #421
It works! Thanks for the effort buddy! Not sure what to do without the sensorname though...

[2017-12-20 21:27] #421 closed

[2017-12-21 02:07] jkandasa commented on #421
@njbuch You can use sensor name, still variableType is required. You may go something like this if you want sensor name. `$noceEui_sensorName_$variableType`. In this case, I do not see any difference between `sensorName` and `sensorId`

[2017-12-22 11:59] jkandasa commented on #428
@zhangzc I am closing this issue. First one fixed, second one unable to find out. Reopen this issue. I you see this error.

[2017-12-22 11:59] #428 closed

[2017-12-22 12:00] jkandasa commented on #424
@cimba007 this fix is available in SNAPSHOT version.

[2017-12-22 12:00] #424 closed

[2017-12-26 05:12] jkandasa opened #431 "Automatic backup is not working if the interval is more than 10 hours"
For detailes: https://forum.mycontroller.org/topic/243/automatic-backup

[2018-01-02 01:12] ka7iu commented on #280
Null

[2018-01-03 16:53] wanvo opened #433 "Add "$variableName" in function "getVariableKey""
Please add "$variableName" to the function ["getVariableKey".](https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/exernalserver/model/ExternalServer.java#L106)
It is necessary for this:[VariableName to InfluxDB](https://forum.mycontroller.org/topic/251/variablename-to-influxdb)

[2018-01-03 17:13] jkandasa commented on #433
https://forum.mycontroller.org/topic/251/variablename-to-influxdb

[2018-01-06 02:55] jkandasa commented on #433
@wanvo this fix is available in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version. Kindly check it and close this issue, if it works as you expected.

[2018-01-08 16:00] wanvo commented on #433
Thank you so much! Everything works well.

[2018-01-08 16:00] #433 closed

[2018-01-09 18:17] cimba007 commented on #423
@jkandasa Just wanting to let you know I am still here. If you could point me to the function where the graph is filled with new data then I might help you find this thing out.

In addition it would be nice to know where the refresh of the "clock" is happening.

[2018-01-10 05:08] jkandasa commented on #423
@cimba007 When I enable ` Use interactive guide line` I do not see this issue. Seems we need some fix on refresh.
![image](https://user-images.githubusercontent.com/1004403/34756607-22323acc-f5f2-11e7-8a6d-e3389f85214a.png)

Yes, your contribution welcome. Please have a look widgets at [this location](https://github.com/mycontroller-org/mycontroller/tree/development/dist/src/main/package/www/contr

[2018-01-12 05:52] jkandasa commented on #429
@dakipro Have you tried this in recent version? 1.1.0?

[2018-01-15 17:49] cimba007 commented on #423
Can confirm your workaround .. tooltip seems to be lot more smooth

[2018-01-31 22:03] njbuch commented on #381
I am supporting this feature request. Currently some of it is coming, but more could be nice!

[2018-01-31 22:06] njbuch opened #434 "Wunderground sometimes looses connection"
Have used Wunderground extensively and has experienced a recurring problem in relation to the Gateway. Sometimes it reaches a state where the Wunderground API just returns: Key not found.

And I think it is because the name of the closest weatherstation is saved in the Node, and sometimes a weatherstation goes offline, and therefore the request actually goes to another weatherstation which conflic

[2018-02-01 17:13] wanvo opened #435 "Add the ability of the node to report to MyController that it uses "sleep mode" when registering nodes"
Please add this feature. This feature is needed to automatically register new nodes.

[2018-02-06 12:58] jkandasa commented on #290
Kindly have a look on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version

[2018-02-06 13:40] jkandasa commented on #434
@njbuch I did a major change in [1.2.0-SNAPSHOT](https://forum.mycontroller.org/topic/263/mycontroller-1-2-0-snapshot-version-with-major-provider-changes-and-supports-for-ack) version. Can you check with this version?

[2018-02-06 13:42] jkandasa commented on #435
@wanvo If I receive, `I_PRE_SLEEP_NOTIFICATION`, Shall I change it as a sleeping node? Is that looks good?

[2018-02-06 14:37] wanvo commented on #435
Jeeva,
I'm not a MySensors library developer, so I can not exactly answer. I'll try to see how the function "sleep" is realized in the "MySensors" library and then I can give an answer. I think some message should be sent before going to sleep. Or do you think you need to make a standalone mechanism for determining the sleeping node, and it will have to send a special message during the presentati

[2018-02-06 14:52] jkandasa commented on #435
@wanvo I have created a [discussion](https://forum.mysensors.org/topic/8981/is-there-any-uniqueness-parameter-to-find-a-sleep-node-from-controller-side) on MySensors forum.

[2018-02-06 14:54] wanvo commented on #435
I think this is what you need. The documentation for the MySensors library states that the I_PRE_SLEEP_NOTIFICATION message is sent from the node before it goes to sleep. This is indicated [here.](https://www.mysensors.org/apidocs-beta/group__MyMessagegrp.html#ggaa6f265dd19e9cad90979fef252e17a87a105639edd79e6f1d0104986aa6370de7)

[2018-02-06 14:56] wanvo commented on #435
Jeeva, ok. Let's wait for the community to say.

[2018-02-08 16:23] nikolac opened #436 "[FeatureRequest] Batch push sensor data once network is available"
Originally posted to: https://forum.mycontroller.org/topic/260/batch-push-sensor-data-once-network-is-available

I'm running MyController on an orangePi on my local network at home. It's working great at home and I'd like to build a similar network in my old Jeep. I would run an orangePi with a separate mycontroller install in the Jeep. When the Jeep is within range of my home wireless network, it

[2018-02-10 03:55] #290 closed

[2018-02-10 03:58] jkandasa commented on #429
@dakipro I am unable to reproduce this issue in recent version. Kindly check it with the recent version. Re-open if you see this error.

[2018-02-10 03:58] #429 closed

[2018-02-10 03:59] #402 closed

[2018-02-10 16:54] #413 closed

[2018-02-11 04:49] #431 closed

[2018-02-14 16:20] wengjjpaul opened #437 "RPI Hang"
Symptom: After a random time of server running, MyController Server went down. RPI ssh hangs at password. Winscp apparently is still working. Require reset RPI.

System:
Version 1.2.0-SNAPSHOT
Database schema revision 1.04.01 - 2017 Oct 25
Database type H2 database embedded
Database version 1.4.194 (2017-03-10)
Git commit:branch 1c15af69fb2183fde0b1789d20e20fa0ab4aa813:development
Built on 2018-01

[2018-02-14 16:47] jkandasa commented on #437
@wengjjpaul on your next hang can you send the following logs. Take these logs before do restart.

1. `mycontroller/logs/mycontroller.log`
2. Run `dmesg -T > /tmp/dmesg.log`

to my email address: jkandasa at gmail dot come

[2018-02-15 04:08] wengjjpaul commented on #437
1. Ok. Will do so when it hangs.
2. I am not able to access ssh when it hangs

[2018-02-16 06:56] Gouds opened #438 "In App Upgrade"
Be able to update myController from within the app. Backup prior and download the required files and update. (May have a Beta option too)

This will save having to log into to the RPi terminal and manualy gather files - Extract and Update.

[2018-02-18 06:55] jkandasa commented on #407
@cimba007 I have added to avoid duplicate binary points. I just update the timestamps. Changes available on the [SNAPSHOT](https://forum.mycontroller.org/topic/263/mycontroller-1-2-0-snapshot-version-with-major-provider-changes-and-supports-for-ack/28) build. Kindly update your findings.

When user wants duplicate values, they can simply edit the binary sensor variable and uncheck the `Ignore dupl

[2018-02-19 16:02] jkandasa commented on #437
[code]

^^ This issue will be fixed in next version of [MQTT broker](https://github.com/andsel/moquette).
https://github.com/andsel/moquette/issues/292

[2018-02-22 22:28] toygame opened #439 "Send raw message Error 400 Bad Request"
![image](https://user-images.githubusercontent.com/8748521/36567687-d8f7ad94-1859-11e8-889e-4c974c9e30cb.png)
![image](https://user-images.githubusercontent.com/8748521/36567710-f1813d62-1859-11e8-8050-0d253bf8c1d0.png)

What should i do sir?
- I have 2 Serial Gateway and 4 node
- I use mycontroller version mycontroller-dist-standalone-1.2.0-SNAPSHOT-bundle

[2018-02-23 01:44] jkandasa commented on #439
@toygame This issue has been fixed in [SNAPSHOT](https://forum.mycontroller.org/topic/263/mycontroller-1-2-0-snapshot-version-with-major-provider-changes-and-supports-for-ack) version.

[2018-02-23 01:44] jkandasa commented on #439
https://github.com/mycontroller-org/mycontroller/commit/ed81f68481c4b969ecbceb29eeabbc5bdfbb8295

[2018-02-23 04:32] jkandasa commented on #407
@cimba007 If you see this issue kindly reopen.

[2018-02-23 04:32] #407 closed

[2018-02-23 04:33] jkandasa commented on #439
@toygame If you see this issue kindly reopen

[2018-02-23 04:33] #439 closed

[2018-02-23 04:57] jkandasa opened #441 "1.3.0.Final"

[2018-02-23 04:57] #441 closed

[2018-02-24 12:04] toygame commented on #439
Thank you very much sir!!

[2018-02-24 16:10] wengjjpaul commented on #437
Updated RPI to stretch raspbian. And the latest snapshot of MyController. Seems to be working fine so far.

[2018-02-24 16:10] #437 closed

[2018-03-02 17:36] soloam opened #442 "[FeatureRequest] Telegram support to Operation"
Hi, it would be nice if MyController supported Telegram as notification, this allows to send all notifications to Telegram and having all information in one place.

Thank You for the great work

[2018-03-12 23:36] adulovic opened #443 "(FOTA) java.lang.IllegalArgumentException:null value"
Hi, not sure what is causing this error but it seems to prohibit FOTA from happening on my system...

# Server log
[code]

# Resources logs detail
[code]
The above two lines just keep on repeating every couple of seconds. Not sure if that means the node is in a reboot loop...

# Typos ?
procressFirmwareRequestMySensors -> processFirmwareRequestMySensors
Discover respone -> Discover response

# Nod

[2018-03-13 04:20] jkandasa commented on #443
@adulovic Thanks for reporting this issue. I have reformated your comment to easily read.

We have changed a lot about internal design to communicate with the gateway. Can you try the version `1.2.0.Final`? Kindly report back.

Thanks for the typos finding. I have updated it.

[2018-03-14 04:09] jkandasa commented on #443
@adulovic Thanks for reporting back. I did minor update and change is available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.
Could you please try with SNAPSHOT version?

If you see a warning message something like this `Requested firmware is not available in MyController server...` kindly upload your firmware once again to MyController server and check ag

[2018-03-14 15:36] adulovic commented on #443
Updated MyController to Version 1.3.0 snapshot

Actions and findings as follows

I get a lot of these errors... makes debugging a little more difficult.
Notice it still says "Discover respone" here instead of "Discover response"
<pre>
2018-03-14 10:39:22,670 ERROR [mc-th-pool-0] [org.mycontroller.standalone.provider.EngineAbstract:261] Throws exception while processing!, [MessageImpl(gatewayId=1,

[2018-03-14 16:49] adulovic commented on #443
One hour later:

- No  changes to node 111, still shows original version 111 instead of assigned firmware (version 333).
- Most of my other nodes are now reported offline, but that might be unrelated.
- Rebooting node 111 via MyController causes multiple Firmware config response/request lines in Resource Log, with no related errors in Server Log.

[2018-03-15 07:26] jkandasa commented on #443
@adulovic Thank you to narrow down the issue. I will fix it soon.

this is the root cause: "Discover respone" here instead of "Discover response"

I have fixed this and update on [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) build.

**NOTE:** This time snapshot version contains major change for REST clients. Not tested fully.

[2018-03-15 15:28] adulovic commented on #443
Progress: Nodes are properly associating and reporting online again.
No change for Node 111 - rebooted from MyController, it exchanges 4-7 firmware config requests and responses, then boots up reporting the same version.

[2018-03-15 15:32] jkandasa commented on #443
@adulovic

I guess the problem on node side for this case. MyController just responds to node's request. Maybe communication issue(RF).

[2018-03-15 15:35] adulovic commented on #443
The node is in the same room as the gateway, and it reports battery and rssi properly and consistently.

[2018-03-15 15:46] adulovic commented on #443
I edited the node just now, and changed the firmware version to v.222.
After rebooting, I get:
<pre>
  | Mar 15, 2018 11:39:51 | Notice | Node | AD_gateway   111:111 Battery, RSSI, FOTA | Sent | Stream | [Firmware config response] 010002004003790A
  | Mar 15, 2018 11:39:51 | Notice | Node | AD_gateway   111:111 Battery, RSSI, FOTA | Received | Stream | [Firmware config request] 0100030040031651010

[2018-03-15 16:37] adulovic commented on #443
The bootloader was burned (a few times) using USBasp.  http://a.co/j2UVEEK
Burning the bootloader is not an issue at this (testing) stage.

The Arduino Nano is a V3.0 ATmega328P 5V 16MHz http://a.co/3I88Epp
It is powered via usb cable, stable 5.0V.

The NRF24L01+ http://a.co/6mtYr0Q is powered by 3.3V from the arduino itself, and the radio power is set to HIGH (also tried with LOW, MID and MAX). I

[2018-03-16 00:57] adulovic commented on #443
found: (in ...\libraries\MySensors/drivers/PubSubClient/PubSubClient.h)
#define MQTT_MAX_PACKET_SIZE 128

trying to override it with:
#define MQTT_MAX_PACKET_SIZE 512 in the sketch

seeing progress now...

...and it worked, finally!

[2018-03-16 04:42] jkandasa commented on #443
@adulovic Great finding. But firmware request/response should be less than 128 bytes. We need to check with MySensors community.
MyController supports [native device](https://github.com/mycontroller-org/MyControllerDevice) via MQTT, There I am using 512 bytes. As MyController sends more than 128 bytes there.

When you enable(checked) ack, MyController expects an acknowledgment from the node.If the

[2018-03-16 14:18] adulovic commented on #443
You're right... It only worked the first time. The second test failed.
I will experiment with different radio powers and packet sizes over the weekend (if time permits) and let you know what I find.
Thanks for the support, it's appreciated!

[2018-03-27 08:57] pebri86 opened #445 "add status e.g fw updating when node on fota progress"
This is should be labelled as enhancement. I think it would be nice if node in progress of updating it's fw via fota a status appear e.g updating in progress with percentage progress.

[2018-03-30 16:06] seant100 commented on #388
I am also interested in this feature being added. Any idea if it will be at some stage?

[2018-03-30 16:08] seant100 commented on #198
I assume this means filtering Resource Logs by sensor. That would be a great feature to add.

[2018-03-30 16:13] seant100 opened #446 "Status changes on send and should wait for status received"
The status of a sensor is changed immediately when an update is sent to a node. This means even when a node is offline - it still shows the status of a relay as "on". Can you please change this to only change the statuses after a value is received from the node.
For example: A relay is off. On dashboard I turn on relay. Keep relay as "OFF" on dashboard until "ON" is received by the node. Even bett

[2018-04-27 01:30] jkandasa commented on #393
Another reporter: https://forum.mycontroller.org/topic/294/long-running-dashboard-blows-up-in-chrome

[2018-04-29 12:18] wanvo opened #447 "MyController on OrangePiZero after a while stops working"
Hi Jeeva.
MyController installed on OrangePiZero.
After some reboots, I can not access the frontend MyController.
I tried different boards OrangePiZero, different SD Cards, different version Linux(Debian and Ubuntu), different version MyController(1.2.0 Final and 1.3.0 SNAPSHOT).
When I start ./start.sh I get a normal response about starting.
But at https:\\\MyControllerIP:8443 I do not get any re

[2018-04-30 05:56] jkandasa commented on #447
@wanvo Thanks to reporting this issue, for some reason dbmap persistent store corrupted.

[code]

[2018-04-30 05:57] #447 closed

[2018-04-30 06:01] jkandasa commented on #447
@wanvo I have added an option clean dbmap persistent store clear job on start up. I hope this will address your issue. Kindly check it on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version and report back if you face this issue.

[2018-04-30 06:02] jkandasa commented on #447
@wanvo I have added an option clean dbmap persistent store clear job on start up. I hope this will address your issue. Kindly check it on [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version and report back if you face this issue.

[2018-04-30 06:44] linadesteem opened #448 "More simple and modern logo"
Hi.
I try to make more simple and modern logo for this project. here is my design:
![controller](https://user-images.githubusercontent.com/35618068/39417116-5d658212-4c7c-11e8-994f-7dd07aa8afb2.png)
![controllerbw](https://user-images.githubusercontent.com/35618068/39417244-142a257a-4c7d-11e8-9549-e36568b44b6c.png)
![controll_1](https://user-images.githubusercontent.com/35618068/39417302-8614ee18-

[2018-04-30 19:05] wanvo commented on #447
@jkandasa thank you, MyController works well now. However there was another problem: sometimes does not start Linux after the command "reboot". If you do reset the power, always starts. But this bug is probably not related to the activities of MyController.

[2018-05-02 02:15] jkandasa commented on #7
This feature has been addressed via [serial2mqtt](https://github.com/mycontroller-org/serial2mqtt)

[2018-05-03 07:42] AnduriI opened #449 "extract structured information from xml"
Hey,

I imported a xml file, but the information in it can not be read in any structured way. Maybe we can find a way to select a single information from this xml via it's hierarchy.
(discussed in https://forum.mycontroller.org/topic/193/possible-to-read-xml-file-in-custom-widget/5)

Best regards,
Anduril

[2018-05-03 09:44] #449 closed

[2018-05-03 10:01] jkandasa commented on #449
@AnduriI Feature available in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version.

you can read xml content by xpath. To know more about xpath do google or have a look on https://www.w3schools.com/xml/xpath_intro.asp

Function/Method: `mcApi.utils().readXmlByXpath(uri, xpath)`  - Returns `String`
* uri - can be local disk path or http url
* xpath - should b

[2018-05-04 03:38] jkandasa commented on #449
@AnduriI new methods are introduced,

* `mcApi.xml().read(uri, xpath)` - Returns `String`
  * `uri` - can be local disk path or http url
  * `xpath` - should be a valid xpath
* `mcApi.xml().readAsList(uri, xpath) ` - Returns `List<Map<String, String>>`
  * `uri` - can be local disk path or http url
  * `xpath` - should be a valid xpath
* `mcApi.xml().update(uri, xpath, value) `
  * `uri` - should

[2018-05-09 19:17] coderpop opened #450 "Implement Reboot/Poweroff of pi from within MYC"
As per forum post request.....

Implement this feature by executing direct Linux command. Add an API to execute OS commands and provide an example to add custom buttons on the dashboard.

[2018-05-11 08:59] ragflyer commented on #392
@cimba007 Can you tell me if this is fixed in the snapshot downloaded today? Not sure about the METRICS_BINARY_TYPE_DEVICE. Screenshot of the db structure below:
![myc-snapshot-2018-05-11](https://user-images.githubusercontent.com/17216447/39916274-4866470c-550a-11e8-80f4-eae1cd3ab35d.png)

[2018-05-15 08:11] #445 closed

[2018-05-15 08:13] jkandasa commented on #445
@pebri86 Now OTA update status will be available in Node details page.

Screenshot:
![image](https://user-images.githubusercontent.com/1004403/40044719-e37998f0-5845-11e8-91dc-142dc4420888.png)

[2018-05-21 15:58] Avamander commented on #392
I'm encountering poor graph performance on 1.2.0.Final (Database schema revision: 1.04.01 - 2017 Oct 25 on PostgreSQL) too, it takes about 8 seconds on average to update a graph with 10 variables (last hour) but the requested update interval was 1 second. What is weird is that there are so few values in the finally sent graph too, I should be seeing one reading per sensor per second but there's li

[2018-05-22 01:51] pebri86 commented on #445
@jkandasa Great.. i will try it soon thanks

[2018-05-22 11:58] Avamander opened #451 "InfluxDB and Grafana"
Could you please add support for InfluxDB for storing sensor readings and the possibility of using Grafana inside mycontroller dashboards?

[2018-05-22 12:18] njbuch commented on #451
I am forwarding all sensor readings to influxdb and have separate Grafana dashboards. But not in the mycontroller dashboards directly though.

[2018-05-22 14:14] rayvenwalker commented on #337
Is this still a possibility?

[2018-05-23 03:36] jkandasa commented on #451
@Avamander we have an option to select InfuxDB as metric engine. When we select influxDB as metric engine all the metric data will be moved to influxDB. Will not be stored in internal db.

You may add grafana dashboard as iframe in MyController Dashboard.

![image](https://user-images.githubusercontent.com/1004403/40402271-4f4ac1ee-5e68-11e8-87c4-b59d58ec70c6.png)

[2018-05-23 19:29] Avamander commented on #451
Thank you for providing that information and I'm definitely going to use it but it would be really nice to have built-in integration.

[2018-05-25 01:07] Avamander commented on #451
I tried switching to InfluxDB the way you described but MyController just froze, as I didn't care about the data (yet) I just created a new postgres database and switched with that. It seemed to work but I can't see any sensor readings in the influxdb database, do I have to do anything else?

[2018-05-25 03:20] jkandasa commented on #451
@Avamander Can you post or email [jkandasa at gmail dot com] your influx db settings?

[2018-05-25 11:38] Avamander commented on #451
InfluxDB config (removed every line that was commented out, it's basically the default except HTTP is enabled):

[code]

I googled around a bit and someone wrote that I have to add an external server, but that fails with the stacktrace below:
[code]

[2018-06-01 11:53] rayvenwalker opened #452 "Selecting Topology tab gives null pointer exception."
This happens everytime I select the topology tab.  This started after a backup restore.  I backed up my raspberrypi mycontroller and restored it to a computer running ubuntu.  Both running the same version of mycontroller.org

Database schema revision 1.04.01 - 2017 Oct 25
Database type H2 database embedded
Database version 1.4.194 (2017-03-10)
Git commit:branch a10694ff1bff40cfb9988cec48e6569ec51

[2018-06-02 18:16] #452 closed

[2018-06-02 18:18] jkandasa commented on #452
@rayvenwalker Fix updated in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version, kindly reopen this issue. if you see this issue

[2018-06-03 10:38] rayvenwalker commented on #452
Will do, keep up the good work!

[2018-06-12 13:52] #443 closed

[2018-06-12 13:55] jkandasa commented on #443
@adulovic I have moved firmware data from DB to disk in this fix. can you verify it in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version?

[2018-06-15 00:08] mczerski opened #453 "smartSleep for mysensors 2.2.0"
Hi,

I can't get smartSleep to work properly with mycontroller.
first it seems that mysensors 2.2.0 sends different message type from smartSleep before going to sleep. I_PRE_SLEEP_NOTIFICATION instead of I_HEARTBEAT_RESPONSE. As I understand, for mycontroller to handle properly sleeping nodes the message must be I_HEARTBEAT_RESPONSE ? So I added seandHeartbeat(); before smartSleep(); But this is n

[2018-06-15 00:09] mczerski commented on #453
Oh, and ofcourse I checked the "Smart sleep enabled" checkbox on this sleeping node

[2018-06-17 11:15] mczerski commented on #453
hmm, as I debug the issue it seems that MyController actually supports mysensors 2.2.0 (it is aware of I_PRE_SLEEP_NOTIFICATION). The issue is that the messages are not put into the smartSleepQueue. I use MQTT and I'm afraid that it is the cause. I set the "Ack enabled' option in the gateway configuration but this is not helping.

[2018-06-17 12:15] mczerski commented on #453
it seems like smartSleep is not taken into account when using "send raw message" tab. So how do I send a message to the node from the mycontroller ?

[2018-06-17 12:27] mczerski commented on #453
OMG, I have to add a room, to which I add the sensor and only then I can send something to that node using smartSleep functionality ...

[2018-06-17 12:28] mczerski commented on #453
after that it works

[2018-06-17 13:43] jkandasa commented on #453
@mczerski great! Thank you for the updates!

[2018-06-17 13:43] #453 closed

[2018-06-27 12:19] AnduriI commented on #449
Again, a big thanks. The thing you implemented works great.
Can I also use dynamic names for the uri or xpath statement? I tried to use a variable to define the file path, but that didn't worked:
```mcApi.xml().update("D:/Downloads/${filename}.xml", "//ID" , 10);```
```java.net.MalformedURLException: unknown protocol: c```

[2018-06-30 06:54] jkandasa commented on #451
@Avamander Sorry for the late response. If you still looking solution for this issue,
looks like some table sequence creation missing in your database. Are you using H2DB or some other SQL database with MyController?

[2018-06-30 12:40] Avamander commented on #451
@jkandasa I am using PostgreSQL.

[2018-07-01 03:10] #451 closed

[2018-07-01 03:11] jkandasa commented on #451
@Avamander I have added a fix in the [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version. Kindly check it and report back. Thanks!

[2018-07-02 07:07] #442 closed

[2018-07-02 07:17] jkandasa commented on #442
@soloam This feature is implemented in the [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

Add telegram bot `token` from your bot(`BotFather`) into MyController notifications settings.
I followed this [link](https://www.youtube.com/watch?v=hJBYojK7DO4) to setup a bot in my telegram account.
![image](https://user-images.githubusercontent.com/1004403/42149953-cd

[2018-07-02 07:54] jkandasa commented on #57
closing this issue, in this release(1.x), we are not going to localization 100%. Some of the dependency libraries not supporting.

[2018-07-02 07:54] #57 closed

[2018-07-02 07:57] jkandasa commented on #323
@devicter I could not reproduce this issue locally. We have some changes on SNAPSHOT version regards OTA. Can you try it now?

[2018-07-02 16:35] jkandasa commented on #448
@linadesteem Thank you for the logo design. It looks nice! Unfortunately, at this time we are not looking new logo. If you want to contribute on logo design kindly create a topic on [MyController forum](https://forum.mycontroller.org), based on users reaction we will react on this topic.

[2018-07-02 16:35] #448 closed

[2018-07-02 17:02] #435 closed

[2018-07-02 17:05] jkandasa commented on #435
@wanvo I have added an implementation in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version. Can you please check it and report back?

[2018-07-02 17:23] #401 closed

[2018-07-02 17:24] jkandasa commented on #401
@cimba007 I have added a fix in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version, can you check it and report back?

[2018-07-02 17:30] jkandasa commented on #391
@BogusException I am closing this issue, as currently, we do not have a custom query to for select. Everything handled by ORMLite.

[2018-07-02 17:30] #391 closed

[2018-07-02 17:40] #375 closed

[2018-07-02 17:41] jkandasa commented on #375
@S0rc3r3r Implementation available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version. Kindly check it and report back your feedback. Thank you!

[2018-07-03 09:10] wanvo commented on #435
@jkandasa I can not test this snapshot now unfortunately. I left for the wild mountainous terrain, and the internet is very slow and expensive here.

[2018-07-03 09:40] jkandasa commented on #435
@wanvo no problem. When you back, test this and report the status. Thank you!

[2018-07-04 07:35] jkandasa commented on #24
not going to add the document for 1.x, REST API's are written with mixing. It is difficult to add doc.
We will add the document for 2.x releases

[2018-07-04 07:35] #24 closed

[2018-07-04 07:36] jkandasa commented on #56
We are not going to create a mobile client for 1.x version.
The mobile client will be added for 2.x version

[2018-07-04 07:36] #56 closed

[2018-07-08 16:55] Avamander commented on #451
@jkandasa I tried getting MyController running again but it doesn't seem to like the mesh I've built in the time between (no clue what's that about) as I decided to use Home Assistant then OpenHab and then Domoticz to get this thing working. So I can't tell if your fix actually worked, but I didn't at least get that stacktrace any longer.

[2018-07-08 18:08] Avamander commented on #451
Here's the stacktrace(s):
[code]

[2018-07-08 18:08] Avamander commented on #451
But it seems certain values do end up in influxdb.

[2018-07-08 20:30] Avamander commented on #333
@Tristan79 Create an user for mycontroller, then use "User=" and it should work, it works for me.

[2018-07-08 22:11] Avamander commented on #451
Okay now I'm getting a new stacktrace and all nodes are offline.
[code]
And this stacktrace repeats itself all the time.

[2018-07-09 10:50] jkandasa commented on #333
@Tristan79 Do you change anything here?
https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/conf/mycontroller.properties#L90

[2018-07-09 10:54] jkandasa commented on #451
@Avamander can you send complete `mycontroller/logs/mycontroller.log` to my email address? jkandasa at gmail dot com.
can you list hardware configuration of the server? If it is a Linux, have you enabled desktop?

[2018-07-09 17:19] coderpop opened #455 "Distance measurement units make user selectable"
Can you please add an option for user to select unit for use in measurements.

mm,cm,m,km should do!

Thanks

[2018-07-10 04:26] jkandasa opened #456 "Disable HeartBeat for smartSleep node"
For smart sleep node, MyController heartBeat generates overhead. Disable this feature for SmartSleeping node.

[2018-07-10 04:29] #456 closed

[2018-07-10 04:33] jkandasa commented on #456
Change is available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

[2018-07-10 16:17] coderpop opened #457 "Air pressure display"
Hi,

Whilst connecting a BMP air pressure/temperature/forecast sensor the forecast shows correctly in the node or sensor view, but on the dashboard the forecast is labelled with the same label as the pressure reading. i.e. both pressure and forecast are showing as pressure.

[2018-07-10 16:20] coderpop opened #458 "graph issue"
Whilst we can set graph borders in dashboard, this is not used in 'sensor' mode (node->sensors) and therefore info is lost on some borders.

Can the graphs used in the sensor display take on the properties of the dashboard graphs (if such exists) to solve this minor issue?

[2018-07-10 19:50] Avamander commented on #451
@jkandasa Done, sent you the logs. The controller is a standard rPI 3B. The installation does not contain an X server.

[2018-07-11 05:34] jkandasa commented on #457
@coderpop can you add some screenshot, will be easy to understand? Thank you!

[2018-07-11 05:35] jkandasa commented on #458
@coderpop can you add a screenshot for UI issues?

[2018-07-11 05:44] jkandasa commented on #455
@coderpop it is a bit complicated to update new unites for `distance` at this time. For now, it supports only for `cm`. I will implement this change sometime later.

[2018-07-11 10:14] Avamander commented on #451
@jkandasa Thank you for your work!

About 80 per minute.

As far as I know, all of them should be sent?

Will test the new version out now.

[2018-07-11 11:50] Avamander commented on #451
It would be nice if mycontroller allowed setting log file location that's displayed in the webui, currently it's hardcoded in `McServerFileUtils.java` to `../logs`.

[code]

[2018-07-11 11:53] Avamander commented on #451
When the serial gateway is disabled I'm getting no errors in the log, but if it's enabled the entire log wills with:
[code]

[2018-07-11 12:01] Avamander commented on #451
I switched everything to `DEBUG` level of logging and sent you the generated log file, hope that helps a bit.

[2018-07-11 12:19] jkandasa commented on #451
@Avamander Thank you!
Can you perform the following action and send me the server log?

* Stop MyController
* Delete everything under the directory `mycontroller/conf/persistent_stores/`
     Command: `rm -rf mycontroller/conf/persistent_stores/*`
* Start MyController

[2018-07-11 14:20] jkandasa commented on #451
@Avamander That's great! Do you see entries in influxdb properly?

[2018-07-11 15:17] jkandasa commented on #451
@Avamander Added fix for dynamic log location
and [reset](https://github.com/mycontroller-org/mycontroller/commit/73b34c14885bf3b0902c2d2828b8fd42e180fa7d) `mycontroller/conf/persistent_stores/mc`, if the following lines are `true` in `mycontroller.properties`,
[code]

[2018-07-11 15:20] Avamander commented on #451
@jkandasa
It stores a bit of data and then it starts to time out:
[code]

It's so weird that it times out because manually inserting with curl works fine but mycontroller times out (doesn't store) at the same time.

[2018-07-11 15:24] Avamander commented on #451
I reset what you asked again and I'm waiting for the logs to collect for a bit.

[2018-07-11 15:29] jkandasa commented on #451
@Avamander

and reset mycontroller/conf/persistent_stores/mc, if the following lines are true in mycontroller.properties,

Here I mentioned reset will happen automatically. No need to do manual reset. I try to say that, from now every time this directory will be removed on MyController restart(if both `mcc.clear.*` are enabled).

Sorry for the confusion :(

[2018-07-11 15:36] jkandasa commented on #451
@Avamander Can you test influxdb as mentioned on this issue?
https://github.com/influxdata/influxdb/issues/3349

[2018-07-11 15:36] Avamander commented on #451
@jkandasa
I used:
`curl -i -XPOST 'http://localhost:8086/write?db=mycontroller&u=mycontroller&p=mycontroller' --data-binary 'mc_resource_double,internal_id=2 value=1337'`
and I nicely see the value(s) in Grafana.

[2018-07-11 16:15] Avamander commented on #451
Okay, so, I launched in parallel 8 of `while :; do curl -i -XPOST 'http://localhost:8086/write?db=mydb&precision=ms' --data-binary "mc_resource_double,internal_id=2 value=$(date +%s)"; done` with average request time of ~0,25s meaning at minimum a throughput of 32 readings/s which confirms how OpenHAB2 worked. Though a tiny amount of these requests take a bit longer and an ever tinier amount times

[2018-07-11 16:47] Avamander commented on #451
After restarting it for the n-th time and checking the results it seems to me that indeed, high disk (or sd-card) activity causes influxdb and postgresql both have longer response times which causes workers to hang which causes no further readings end up in the database.

Maybe a forced, configurable, timeout to workers could help with that?

[2018-07-12 03:06] jkandasa commented on #451
@Avamander

I will see posible options for this workers.

Meantime, Can you change the following settings will remove some of the performance hits,
* Disable `DEBUG` in your MySensors gateway
* Switch `Resource logs level` to `Warning`,
![image](https://user-images.githubusercontent.com/1004403/42610268-5c379a22-85ae-11e8-88b0-5e9a77528863.png)

[2018-07-12 10:32] Avamander commented on #451
@jkandasa

I did all what you asked. Situation is still as it was before, after restart only a few readings end up in the database and then nothing else gets added, manual insertion still works (and is fast).

[2018-07-12 10:40] jkandasa commented on #451
@Avamander Thank you for the update. I make this setup locally and test it tonight.

[2018-07-13 14:04] adulovic commented on #443
Sorry man, was away from home for a few months...
Will probably find some time for the home automation this weekend.
What needs to be checked/verified?

Cheers,
Aleksandar Dulović

On Tue, Jun 12, 2018 at 9:55 AM Jeeva Kandasamy <notifications@github.com>
wrote:

[2018-07-13 14:16] jkandasa commented on #443
@adulovic  I have moved firmware data from database to disk. Hope this time firmware update(OTA) will work properly for you in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version.

[2018-07-14 10:01] Avamander commented on #451
@jkandasa Did you succeed in reproducing or can I do something more to help diagnose the reason why values do not end up in the database after a while.

[2018-07-14 17:19] jkandasa commented on #451
@Avamander I tested this with my laptop. I do not have Raspberry PI with me at this time.
I tried to insert 10000 data into influxdb via MyController. Everything works great without any issue. In MyController side it takes around 60 seconds to insert everything.

Looks like you have some performance issue with your Raspberry PI.

If I get my Raspberry PI back by tomorrow, I will test this on my ra

[2018-07-14 17:41] Avamander commented on #451
@jkandasa That is for sure that it sometimes struggles. I kept mycontroller running for these few last days and it seems _some_ values do end up in the database in addition to the initial ones after startup. About 10-20min worth of data ends up in the database and then there are no insertions for 40-120min.

But is there a way to list all the database workers and their status? Or a way to increase

[2018-07-14 17:51] jkandasa commented on #451
@Avamander Yes you can change `MAXIMUM_POOL_SIZE` to any number that you want. Keep in mind when we increase this count, you may endup with out of memory issue.
For now, `MAXIMUM_POOL_SIZE` = 70, https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/McThreadPoolFactory.java#L36

**I can propose another solution for you.**
* Disable

[2018-07-14 17:55] Avamander commented on #451
@jkandasa Thank you again for spending time on this issue, it is very much appreciated. Will test out the alternative solution you proposed and report back.

[2018-07-16 14:39] Avamander commented on #451
@jkandasa
I am pretty sure I figured out the difference, please do correct me if I'm wrong, but mycontroller doesn't batch sensor readings while OpenHAB2 does, correct?

[2018-07-23 22:16] mczerski opened #459 "[Feature request] refresh button for sensor values"
I think it would be nice feature to be able to refresh a sensor value by sending request command to the node. It could be implemented as a refresh button in "Sensor details" page.

[2018-07-30 06:07] jkandasa commented on #323
looks like reporter not interested on this issue.

[2018-07-30 06:07] #323 closed

[2018-08-02 18:56] jkandasa opened #461 "Grouped sensors graph not working for kWh"
Originally reported here: https://forum.mycontroller.org/topic/327/issues-with-group-sensor-graph/3

![image](https://user-images.githubusercontent.com/1004403/43604620-d91a8372-96b3-11e8-9f5f-490b21e23d06.png)

[2018-08-06 20:27] jl277013 commented on #442
I followed the example above.  When I put in the Telegram token, the is bot, Firstname and Username automatically populated fine (FYI, this didn't work in Chrome but was ok in Edge).  I put my Telegram username (is this the same as Channel username?) in the operation as the example above, I got the following error (I substituted my username with "telegram_username" below) from the MyController log

[2018-08-07 02:08] jkandasa commented on #442
@jl277013 can you follow [this video](https://www.youtube.com/watch?v=hJBYojK7DO4)
* join your bot to a group, from 04:20 to 05:52
* to get channel username(chat id), from 09:20 to 13:20.

And I do not see any problem with Chrome browser.

[2018-08-07 02:34] jkandasa opened #462 "settings VALUE2 VARCHAR(5000) limitation leads failure to save dashboard configuration"
Originally reported in https://forum.mycontroller.org/topic/326/i-can-t-add-a-widget-to-a-dashboard

When we have more numbers of widgets, configuration content size of the dashboard goes beyond 5000 chars, which leads failure to save changes from the user.

[code]

[2018-08-07 03:34] jl277013 commented on #442
Thanks for the info!  I enabled Allow Groups.  I also enabled Group Privacy.  I was mistakenly used the bot id from the rest api from the description above.  After some digging, I found a page with the following excerpt:

"I dumped the error response and it was 403 "Forbidden: bot can't send messages to bots".
The solution was to go to Telegram and search for the bot called "userinfobot" with the

[2018-08-09 05:29] #462 closed

[2018-08-09 05:33] jkandasa commented on #462
This change is available in the [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

[2018-08-14 10:40] Boggie opened #463 "Node ID/EUI should be shown on the topology chart"
When viewing the topology chart for a network with several nodes sharing the same sketch (repeaters, temperature sensors and other standard nodes) it is not possible to see which node on the chart corresponds to which node id.

It would be nice to have the node id / eui shown in the tooltop.

Discussion that lead to this issue can be found here: https://forum.mycontroller.org/topic/330/node-eui-on

[2018-08-19 12:38] #463 closed

[2018-08-19 12:40] jkandasa commented on #463
@Boggie This change available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

![image](https://user-images.githubusercontent.com/1004403/44308872-22188e00-a3db-11e8-8202-ec7623a3abeb.png)

![image](https://user-images.githubusercontent.com/1004403/44308873-28a70580-a3db-11e8-94e7-c49cee979436.png)

[2018-09-03 03:29] seant100 opened #464 "Custom node name"
When a node presents itself then MyController will set the Node name to the sketch name in the presentation.
I now have 2 nodes running the same sketch with auto id.
I can then set a custom node name by editing each of the nodes.
However when I reboot the node or click on the "refresh node info" under actions then the name resets back to the sketch name as sent by the presentation.

[2018-09-03 16:24] seant100 opened #465 "Gateway Last Seen"
The gateway last seen is never updated and after some time it says the gateway is "Down" with the red icon. All other sensor nodes are working.

[2018-09-06 11:53] jkandasa commented on #465
@seant100 I have added a fix for this issue. You can check with [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

When a gateway node(node Id: 0), goes down. Gateway will be reloaded. Status updated wrongly. I hope I have fixed this wrong status update.

[2018-09-11 03:19] jkandasa opened #466 "Special operation blocks normal payload to sensor variable"
Source: https://forum.mycontroller.org/topic/339/v_hvac_flow_state-issue

MyController `Operation` has special features, it supports special operations. When the user wants to send one of this special operation string, it blocks and redirected to special operation.

Root cause: https://github.com/mycontroller-org/mycontroller/blob/development/modules/core/src/main/java/org/mycontroller/standalone/

[2018-09-11 03:30] #466 closed

[2018-09-11 03:43] jkandasa commented on #466
From this fix, special operations should be updated manually,

Example:
Old version: `toggle`, new version: `sp:toggle`

`sp:` should be included in front if you want to treat payload as special operation.

[2018-09-11 04:59] jkandasa commented on #466
This fix is available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.

From now, if you want to use special operation like `ADD`, `TOGGLE`, etc., use `sp:` infront of operation. It will be considered as special operation.

[2018-09-11 05:02] jkandasa commented on #465
@seant100 I tested this in my environment for the last 5 days. works well. If you see this issue in your environment kindly reopen this issue.

[2018-09-11 05:02] #465 closed

[2018-09-11 20:02] shajek opened #467 "java.lang.IllegalArgumentException"
Hi
i have Mycontroller 1.3.0 and 1.4.0 snapshot,too but i have this error:
[code]
I have  ESP8266 mqtt gateway on mosquitto broker. It is fully working with HomeAssistant. But when i try manage nodes with Mycontroller i have only that error (multiple times).  I add gateway correctly but no nodes, and status since dont update (i think because that error). Can you help me ? Thanks
PS: i use Java 9 (

[2018-09-11 21:14] nikolac commented on #464
+1 this fix my biggest annoyance

[2018-09-12 06:36] jkandasa commented on #467
@shajek can you post your hardware library details? Are you using MySensors library?
Also, can you post your gateway settings in MyController page?

[2018-09-14 16:55] seant100 commented on #465
@jkandasa Sorry for the delay. I installed the latest snapshot today and checked 2 hours later and the Gateway node is down. So the problem is still there.
Also, you state you trigger a reload when the node goes down. I have rules setup that send me an email if a node goes down. So that method means I will still get Gateway is down emails.
Can you not assume a Gateway is working if any of its Node

[2018-09-14 17:28] seant100 opened #468 "Graph time range and comparison charts"
Is it possible to to rather use start and end dates and times in the graph views. As opposed to only having the limited presets as there are currently - 5 minutes, 1 hour, 6 hours etc

Also if a custom date range can be set it would also be great if you could compare to another range.
I.e. Compare this weeks temperature to last weeks, or this month to last month etc

[2018-09-15 08:07] shajek commented on #467
Hi, i look at it over time, and i make huge mistake, i choose MyController gateway, not MySensors. I change it and all is allright now. Thank you

[2018-09-15 11:34] #467 closed

[2018-09-18 12:41] seant100 opened #469 "Nodes with duplicate ID's"
I occasionally get new nodes appearing that have the same EUI as an existing node. See attached screenshot of example.
![image](https://user-images.githubusercontent.com/637145/45688146-e21b0700-bb50-11e8-81d3-084b93f96b84.png)

[2018-09-18 12:45] jkandasa commented on #469
@seant100 If you do not mind, can you send your database backup to my email?
jkandasa at gmail dot com

[2018-09-19 03:18] jkandasa commented on #464
@seant100 @nikolac I have added a fix in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.
Kindly check it and update.

When editing a node you should add `"lockNode": true` property in node properties. If you have more number of fields in properties, at the end add comma and attach this property.
**NOTE:** Should not use `"` for the value. It should be `true` or

[2018-09-19 11:11] seant100 commented on #464
@jkandasa Tried this and seems to be working. If any revert back to the sketch name I will let you know. Otherwise all is ok now.
Thank you !

[2018-09-19 11:17] seant100 commented on #464
@jkandasa Just want to know why this cannot be the default behaviour? If a new node presents itself then it can set the name using the sketch name. After that it should NEVER override the name.

[2018-09-19 11:45] seant100 commented on #469
@jkandasa I added the missing unique key constraints in my database and updated to latest snapshot. Will inform if this happens again.
Thank you

[2018-09-19 12:09] jkandasa commented on #464
@seant100 Sometimes a user wants to rename node name via sketch. So I kept sketch name as default. Users like you can lock the node name.

[2018-09-22 04:26] jkandasa opened #470 "Request: Within a graph, sensor variables should have consistent color"
Source: https://forum.mycontroller.org/topic/355/request-within-a-graph-sensor-variables-should-have-consistent-color

Originally reported by @nikolac

**Problem**
I have a graph that displays events for ~12 motion/door sensors within the last 12 hours. Events for Sensor-5 might be blue, or orange, or red...depending on how many other sensors were tripped in that same time frame.

Example: I look

[2018-09-22 04:27] jkandasa opened #471 "Request: Make all graph x-axis a consistent range [current time - (hour,day,week...), current time]"
Source: https://forum.mycontroller.org/topic/354/request-make-all-graph-x-axis-a-consistent-range-current-time-hour-day-week-current-time

**Problem**

I have a chart that shows triggers (motion sensors, doors) in the "last 12 hours" . Every time I look at the chart, I have to look at the first and last point on the chart to determine how big of a window I'm looking at.

Right now, it appears the

[2018-10-03 11:35] coderpop opened #472 "Allow user to change icon for any data"
Add Option for users to change/add icon for any data on graph or dashboard.

[2018-10-09 16:05] jkandasa opened #473 "Add raw logs from gateway in a file"
add raw logs from the gateway in a file. will be used for debugging purpose

[2018-10-09 18:38] #473 closed

[2018-10-17 15:54] nagurao opened #474 "Telegram API for scripting"
Can we have API for Telegram on similar lines of PushBullet?

[2018-10-23 22:33] seant100 opened #475 "Purge not working"
Purge data for a sensor does not work. Perhaps it is only clearing the raw data, but it should also purge the data for all time range graphs (eg weekly, yearly etc) based on the conditions and date range set to purge data for.

[2018-10-23 22:37] seant100 commented on #455
@jkandasa @coderpop  This is a similar request that I made here : https://github.com/mycontroller-org/mycontroller/issues/379

[2018-10-24 08:48] jkandasa commented on #475
@seant100 Can you list the MyController version details?

[2018-10-25 04:10] seant100 commented on #475
@jkandasa screenshot attached

![image](https://user-images.githubusercontent.com/637145/47475631-a264d080-d81c-11e8-9869-a6ea8b53e7ca.png)

[2018-10-25 09:10] jkandasa commented on #475
@seant100 I have modified the source code and updated in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version. Can you check with this change? Kindly confirm with least priority sensor variable.

NOTE: https://forum.mycontroller.org/topic/362/google-analytics-enabled-from-version-1-4-0

[2018-10-26 12:34] Avamander commented on #447
Just commenting in case anyone else has encounters this stacktrace:
[code]

The logs show that the issue is that mycontroller doesn't have permissions to create the DB file.

[2018-10-26 17:44] seant100 commented on #475
@jkandasa Updated to latest snapshot. Tried to purge with condition = >60 and all dates and when I select "Year" graph it still shows values of 90+. So purge is still not working.
Also the latest snapshot gives lots of errors and is incredibly slow for everything. So I have to now revert back to the previous snapshot version I was using.
For interest I have attached the log file showing errors wit

[2018-10-27 16:55] seant100 commented on #469
@jkandasa It appears logs have many issues trying to read data and then that fails and so it tries to insert a new node. Here is a snippet from the logs where I suspect it is doing this ....
Obviously now the fake sensors are not appearing as the new node fails to insert now due to the unique constraint. But this does seem to indicate some underlying issue.

`2018-10-27 18:04:38,438 ERROR [mc-th-p

[2018-10-27 17:52] seant100 opened #476 "Firmware update keeps restarting"
The firmware update is restarting what seems to be every 1 minute.
From moitoring the resource logs, it seems to all be working fine then suddenly after what seems like 1 minute (every time its around 1 minute), the node sends a Firmware Request about 5 times for the same block. Mycontroller does not send the packet and then the node restarts with a Firmware Config Request.

[2018-10-27 17:55] seant100 opened #477 "Gateway ACK Enabled setting not working"
When I enable ACK on the Gateway settings for a MySensors MQTT gateway, setting the ACK enabled setting to on seems to prevent any message being sent. When I enable that the resource logs show no messages being sent anymore. And the mycontroller.log file shows messages like this
`2018-10-27 19:35:53,646 INFO [mc-th-pool-0] [org.mycontroller.standalone.provider.EngineAbstract:232] Seems like failed

[2018-10-27 18:07] seant100 opened #478 "Additional Resource Log Filter"
Please could you add Sensor and Node specific filtering to the resource logs. Normally when looking at resource logs I am checking a specific node or sensor. This is the "Resource" column on the page.

[2018-10-27 22:59] seant100 commented on #476
@jkandasa I've updated to latest snapshot release and also updated my gateway to latest mysensors library . Now the firmware updates do seem to be working but they are incredibly slow. It seems each block takes 3 seconds as if there is a deliberate delay added.

[2018-10-30 08:18] jkandasa commented on #475
@seant100 can you try with the most recent version? I have added a fix.

New option: only for double type data
* when you pass value alone it will purge `avg` data alone. ie. `>=45.6`
* we can specify min, max and avg with comma separated. ie. `min>=45.6,max>=78.2,avg>=56.3`

Can you check with the most recent version?

[2018-10-30 08:20] jkandasa commented on #476
@seant100 it is all about node request. If you use MQTT gateway, you may feel a bit slow.
I request you to disable `Stream ack enabled` in your gateway settings, if enabled

[2018-10-30 08:30] seant100 commented on #475
@jkandasa Thank you. I will give it a try asap.

[2018-10-30 08:31] jkandasa commented on #476
@seant100 At this moment I'm having only dual optiboot bootloader with RFM69HW and MySensors 2.3.0, I do not see any issue with OTA.

[2018-10-30 08:31] seant100 commented on #478
@jkandasa Can you not do a "string" filter on "Resource" like you do for the  "Message"

[2018-10-30 08:34] jkandasa commented on #473
enable raw message debugging in mycontroller/conf/logback.xml, by default this logger will be in INFO mode. change it to level="DEBUG"

[code]
You will get debug logs on `mycontroller/logs/raw_message_gw_*.log`.

[2018-10-30 08:34] seant100 commented on #476
@jkandasa I am using MySBootloader with RF24 radios and updated gateway and a node to MySensors 2.3.0 and this combination seems to not work at all for firmware updates. Downgrading to MySensors 2.2.0 seems to work but I am still testing.

[2018-10-30 08:35] jkandasa commented on #477
@seant100 No, no actions required in MySensors library.

Can you enable debug and verify? refer: https://github.com/mycontroller-org/mycontroller/issues/473

[2018-10-30 08:36] jkandasa commented on #475
@seant100 kindly report back the observations.

[2018-10-30 08:37] jkandasa commented on #478
@seant100 good point let me check the possibilities.

[2018-10-30 08:40] jkandasa commented on #476
@seant100 I guess `MySBootloader` does not dependent with MySensors library.
It is a separate library, My guess MySensors version will not affect `MySBootloader`.

https://github.com/mysensors/MySensorsBootloaderRF24

[2018-10-30 09:49] seant100 commented on #476
@jkandasa I have enabled debug logging of gateway messages and see that MyController fails to send a packet and hence the firmware update is restarted.
See logged messages here :
`2018-10-30 11:38:02,448 Rx: mygateway1-out/162/255/4/0/2 [02004C00F701]
2018-10-30 11:38:02,461 Tx: mygateway1-in/162/255/4/0/3 [02004c00f701F280FF2009F48DC0EC01808181114EC0]
2018-10-30 11:38:02,518 Rx: mygateway1-out/16

[2018-10-30 10:34] seant100 commented on #476
@jkandasa CPU is periodically hitting 100% on raspberrypi. It does that for a 10+ seconds then drops down again to around 20/30% and stays in that range for a few minutes then back to 100% for probably 10+ seconds. If the time the CPU is 100% is too long then the firmware response is failing to be sent/processed in time. I suspected some sort of metric aggregation kicking in and reduced the "Raw d

[2018-10-30 14:13] seant100 opened #479 "ACK messages sent prevent "default" relay node code working"
MyController is sending ACK messages that look like "set" commands in the receive function of a node.

from the raw gateway logs I see this as an example
2018-10-30 15:32:12,785 Tx: mygateway1-in/2/10/1/1/2 [1]
2018-10-30 15:32:13,491 Tx: mygateway1-in/2/10/1/1/2 [0]
2018-10-30 15:32:14,017 Tx: mygateway1-in/2/10/1/1/2 [0]
2018-10-30 15:32:14,609 Tx: mygateway1-in/2/10/1/1/2 [0]

Here I set a rela

[2018-10-30 15:34] #464 closed

[2018-10-30 15:49] seant100 commented on #475
@jkandasa Thank you. That works. I would suggest to add some "hints" or "usage examples" onto the purge page

[2018-10-30 16:21] jkandasa commented on #479
@seant100 MyController will not change the payload, It tries to send a payload with ack request(if ack enabled). If there is no response(ack) from the node, resends again after `Ack wait time`.

In my setup, I see as follows,
[code]

Note: I do not change anything in MySensors code. using as is.
Can you verify have you enabled any other rules/scripts to the specific relay? They may send something

[2018-10-30 16:34] jkandasa commented on #476
@seant100 nice finding! Looks like some performance hit on aggregation job or somewhere.
Are you running scripts?
Do you see any hit from mycontroller.log?

[2018-10-30 16:36] seant100 commented on #479
@jkandasa There should be no rule that triggered. And if there was it would be a normal message, not an ACK message. So, as per my workaround the message is an "ACK" message and hence the need to identify it as an ACK message in the receive function. It is not a normal set state message being sent. From the logs this is definitely being sent from MyController.

[2018-10-30 16:56] seant100 commented on #476
@jkandasa
I did not see anything in mycontroller.log to identify the issue.

I am running some scripts - they should not be doing anything major enough to cause this though. There are 4 scripts. 3 of them run when  a distance measurement comes in from a water tank ultrasound sensor and calculates and sets 2 virtual sensors for percentage and litres. The other script runs every 30 minutes - checks

[2018-10-30 17:01] seant100 commented on #476
@jkandasa Perhaps one option is to not do any aggregation jobs when a firmware update is in progress !

[2018-10-30 17:10] seant100 commented on #479
@jkandasa I will be building a new relay node soon, if time allows ! Then I can also check with a new relay node.

[2018-10-30 18:22] seant100 commented on #479
@jkandasa It seems the problem is MySensors.
I checked another example called "SecureActuator" and that example contains a check for ACK messages.
So it seems MySensors example for "RelayActuator" is not correct.
This is therefore not an issue with MyController !

Code from "RelayActuator" is : No mention or check here for ACK messages
[code]

Code from Examples > SecureActuator - Here they specif

[2018-10-31 08:08] jkandasa commented on #476
@seant100 disabling aggregation job might be super expensive when we enable it back.
I will find out other ways. Is it possible to send your database backup file? I want to check the available index.

[2018-10-31 08:42] seant100 commented on #476
@jkandasa I have emailed the database backup to you

[2018-11-01 07:15] seant100 commented on #197
@jkandasa Where can I find the "Counter" setting for "metric type"? Does this exist in the latest version?

[2018-11-02 22:12] guillebot opened #480 "Topology: How to know which node connects to gateway?"
When I use Real Time I can see the connection between nodes, but can't see which one of them is near to the gateway in term of hops.

When I toggle Real Time off, I see all the nodes connected directly to the gateway.

So I really can't know my real topology from here. It is something wrong on my configuration?

Thanks

![2018-11-02_19-09-14](https://user-images.githubusercontent.com/1145561/47943

[2018-11-03 02:18] jkandasa commented on #480
@guillebot If you turn off `Real time` you see a virtual view. It will show as all the nodes connected to the gateway node.

In real-time mode, it will show the actual setup. In your case, you are seeing some nodes are unconnected. can you select the gateway and run `Discover`, and check the topology page once again. If still, it is unconnected, you may have a sleeping node in your topology(may no

[2018-11-03 07:54] danielefrigo commented on #480
I can see exactly this behavior, and I like it.
If I can suggest a change, I'd like to see the last path to gateway for
sleeping nodes.

Il giorno sab 3 nov 2018, 03:19 Jeeva Kandasamy <notifications@github.com>
ha scritto:

[2018-11-06 00:40] jkandasa commented on #480
@guillebot looks like seems all good.
Can you select your gateway and run `Discover` once again and check the topology page?
Enable display names and send the screenshot.

My topology page looks as follows, Are you looking this kind of topology?

![image](https://user-images.githubusercontent.com/1004403/48035571-a385ee00-e18a-11e8-83ed-0866e15da650.png)

[2018-11-07 06:17] jkandasa commented on #480
@guillebot can you send your gateway Arduino sketch?

[2018-11-07 11:20] jkandasa commented on #480
@guillebot Thank you for the sketch. Can modify your presentation function as follows and try again?

[code]

[2018-11-07 11:28] jkandasa commented on #480
@guillebot If you still(after the above steps), do not see the `node 0` in MyController nodes page. Add it manually.

[2018-11-07 11:32] #480 closed

[2018-11-07 15:42] Avamander opened #481 "PostgreSQL 10"
I'm trying to switch to PostgreSQL 10 on my RPi and it seems that MyController really doesn't like that:
[code]

[2018-11-07 15:50] Avamander opened #482 "Java 11"
I tried running MyController with Java 11 and I think the startup script should include flags to disable forbidden reflection or not reflect like that:
[code]
and
[code]
and
[code]

[2018-11-08 08:02] jkandasa commented on #482
@Avamander Thanks for the input. In which platform are you using? Is Java 11 default on your environment?

[2018-11-09 23:29] Avamander commented on #482
I'm using it on my Raspberry Pi 3B, Java 11 is not yet the default but I'm pretty sure some security changes that break MyController are already in Java 9, which means next time a distribution bumps their java version default MyController will probably break.

[2018-11-11 15:48] benhubert commented on #482
I see the same exceptions under Java 9
[code]

[2018-11-18 15:52] #338 closed

[2018-11-21 09:37] seant100 opened #484 "Invalid nodes, sensors and variables appearing"
If the database fails to read / fetch node details, sensor details etc then new items are created and appear randomly.
It therefore appears error handling for database reads does not prevent code from continuing to execute.
This is causing all sorts of false nodes, sensors and variables to appear in the resources list.

[2018-11-26 08:13] jkandasa commented on #484
@seant100 good catch!

[2018-11-28 04:31] jkandasa commented on #484
@seant100 I have added a fix for this issue, could you please check it in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version?

[2018-11-28 11:21] seant100 commented on #484
@jkandasa Thank you. I have installed the new snapshot version. I will monitor over next few days

[2018-11-28 11:49] seant100 commented on #484
@jkandasa Logs showing a lot of errors. Not sure if all are related to this issue. Here is log :

` 2018-11-28 13:09:24,955 INFO [main] [org.mycontroller.standalone.StartApp:101]

****************************************** Data Processing Agreement *******************************************
By using this software you agree that the following non-PII (non personally identifiable information data
w

[2018-11-28 12:29] jkandasa commented on #484
@seant100 Thanks for the log file, I see two errors related to this change.

* Rule engine failed with database error,
[code]

* A message failed with database error,
[code]

Seems you have some issue with one of your MQTT gateway,
[code]

Other errors related to UI. I hope these errors will go off, when you reload your page on the browser.

[2018-11-28 13:10] seant100 commented on #484
@jkandasa What sort of issue could I have with MQTT gateway? I have 2 gateways setup. Both seem to be working fine.

It seems to me the key here is "null pointer exception". As this appears on all of those issues. This to me indicates some object is not being instantiated properly.

[2018-11-28 13:36] seant100 commented on #484
@jkandasa Here is a snippet of the logs some more errors.

[code]

[2018-11-28 13:38] jkandasa commented on #484
@seant100 seems like your RPI works under heavy load?
more frequently database throws the exception.

[2018-11-28 13:43] seant100 commented on #484
@jkandasa I only have 7 nodes. One node is setup as a 2nd gateway so as to use an ESP8266 without radio. If I disable this gateway it still logs errors and CPU is sometimes still stuck on 100%.

On the Raspberry Pi I am only running Mycontroller and its dependencies. Plus node-red for sending data to weather underground.

Is MyController limited to less than 7 nodes ?

![image](https://user-images

[2018-11-28 13:47] jkandasa commented on #484
@seant100 No, MyController is not limited to 7 nodes.
* Have you enabled desktop in your RPI?
* How much CPU will be taken by node-red? by the way, "weather underground" also supported by MyController
* Does Java takes 100% CPU?
* can you post your Metrics "Data retention settings" settings screenshot? "Settings >> Metrics >> Data retention settings"

[2018-11-28 13:53] seant100 commented on #484
@jkandasa

1. I am running headless - no desktop
2. not much CPU / resources is used by node-red. All is taken by Java / MyController. See screenshot below.
 WeatherUnderground is not properly supported ... see issue i logged here : https://github.com/mycontroller-org/mycontroller/issues/381
3. Yes
4. Screenshot attached

![image](https://user-images.githubusercontent.com/637145/49156182-634b0300-

[2018-11-28 13:58] jkandasa commented on #484
@seant100
* Are you seeing 100% CPU usage all the time?
* Do you receive binary data very often? I see you are keeping binary data for 1 year(It may eat a lot of resources if you receive binary data often)
* How many rules, timers and scripts are available in your MyController?
* Which java version are you using? Oracle Java or OpenJDK?

[2018-11-28 14:08] seant100 commented on #484
@jkandasa

- yes, most of the time
- I am not too sure what is "binary" data. I assumed on/off values from "binary" value sensors. This I want to keep for a lot longer than the default setting was set to. I have high and low water sensors inside my borehole. Other than that - only one relay is a "binary" sensor. See screenshot of my sensors
 - I have 1 timer. 18 rules. 5 scripts
 - Oracle Java as

[2018-11-28 14:12] seant100 commented on #484
@jkandasa Perhaps also there is something wrong with my database. Here is says "Column "registrationState" not found"

[code]

[2018-11-28 14:15] jkandasa commented on #484
@seant100 Thank you for your patience and quick response,
Binary data: Yes, ON/OFF data
Looks like all ok, other than the binary data, Seems like you are receiving very often and keeping it for a year may lead slow database.

Can you send your database backup to my email address? (remove sensitive information)
jkandasa at gmail dot com

can you increase [java heap](https://github.com/mycontroller-

[2018-11-28 14:17] seant100 commented on #484
@jkandasa Where do i put the "-Xmx512m" ? is that in the start.sh script?

[2018-11-28 14:21] jkandasa commented on #484
@seant100 Yes, in the [start.sh](https://github.com/mycontroller-org/mycontroller/blob/development/dist/src/main/package/bin/start.sh#L29)

[2018-11-28 14:45] seant100 commented on #484
@jkandasa I've emailed database backup to you and increased the heap MAX setting in start.sh

[2018-11-28 23:06] jkandasa commented on #474
@nagurao this feature added in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version.
Following api's will be available for Telegram,
[code]

[2018-11-29 04:05] jkandasa commented on #469
@seant100 I guess this issue related to https://github.com/mycontroller-org/mycontroller/issues/484

[2018-11-29 04:52] jkandasa commented on #461
Fix is available in [SNAPSHOT](https://forum.mycontroller.org/topic/58/download-snapshot-build) version

[2018-11-29 04:54] #461 closed

[2018-11-29 06:39] jkandasa commented on #481
@Avamander I am unable to reproduce this issue.
I do not have any backup in postgresql 9.x. Just I tried fresh installation with postgres 10.6 docker. all works as expected. I did not see a single error on the log file.

![image](https://user-images.githubusercontent.com/1004403/49203657-0e63c700-f3cf-11e8-97a4-3f4b7df182ea.png)

Docker command:
[code]
Create `mycontroller` database:
[code]

MyCon

[2018-12-02 00:49] Avamander commented on #481
Hmm, I guess it's the Java 11 that causes the PostgreSQL library to break.

[2018-12-02 02:11] jkandasa commented on #481
@Avamander Maybe, ok I will keep this issue. and will check it in Java 11.

[2018-12-03 07:33] seant100 commented on #484
@jkandasa With the new snapshot it is still creating random nodes, sensors and sensor variables

[2018-12-04 04:44] seant100 commented on #484
@jkandasa It is not only new nodes - see screenshot. MyController is created invalid sensors and invalid sensor variables.
The "200" and "201" sensors at the top that are invalid are not sent from a gateway and "SENSOR_BC" I have no idea what that means.
![image](https://user-images.githubusercontent.com/637145/49419487-b7277300-f78f-11e8-8025-b57224214ce8.png)

[2018-12-04 05:04] jkandasa commented on #484
@seant100 ah, looks like we have an issue with MyController. Can you send mycontroller.log to my email address?

[2018-12-04 05:09] seant100 commented on #484
@jkandasa I've sent the log file via email.

[2018-12-07 04:10] jkandasa opened #485 "Set of node goes DOWN after a while"
Seems alive check job has some issue. Some of the nodes go DOWN after a while.

Originally reported in https://forum.mycontroller.org/topic/375/node-eui-0-question

[2018-12-07 06:46] #485 closed

[2018-12-31 09:44] #474 closed

[2019-01-02 03:21] ycy1991 opened #487 "how to start on idea"
hi jkandasa:
   After I built the project in win10 64, how to start the project with idea? when I started StartApp.class, the program exited directly without running.Can you give me some advice?
  Thanks

[2019-01-10 22:11] benhubert opened #488 "Allow to send battery level to InfluxDB"
As far as I see, it's not possible at the moment to forward the battery level of a sensor node to InfluxDB. In the resources data settings I only see the sensor values, not the battery level.

One workaround is to send the battery level as additional multimeter sensor value. But this requires changes in the code and costs additional power.

Since the sensor nodes already send this data as `I_BATTE

[2019-01-19 11:30] jpink opened #489 "Upload gateway firmware via USB"
Hi,

I have many thin client PCs in my LAN with Arduinos connected on them via USB. Arduinos are "hard" to detach get it to my laptop, do firmware update with Arduino IDE (even small config change) and put it back to its place.

It would be great if I can update my gateway firmware also via UI like the node firmware. Documentation says that node must have `MYSBootloader` or `DualOptiboot`-bootload

[2019-01-19 11:43] jpink opened #490 "Gateway relay"
Hi,

I have multiple PC:s (MyController) in my LAN and they all have Arduino (Gateways) connected via USB-serial. There is need to some kind of relay/proxy/repeater application that runs on PC and connects all Gateways to single controller in Ethernet. Protocol can be MQTT (Homie), HTTP (openAPI), etc. Any ideas?

I know this setup can be replaced by RF-connections, but I think there is too few wi

[2019-01-22 15:03] danielefrigo commented on #361
@jkandasa did you have a chance to think about this export data API?
different idea for more or less the same use case: is it possible to define a simple csv as an external server, i.e. simply append new data to a file?

[2019-01-23 07:32] #469 closed

[2019-01-23 07:40] #475 closed

[2019-01-23 10:54] jkandasa commented on #297
@wengjjpaul This feature implemented and available from 1.4.0 version,
Enable confirmation on sensors settings,

![image](https://user-images.githubusercontent.com/1004403/51601759-3da83780-1f2b-11e9-8217-4cd7fc5173b4.png)

Confirmation model,
![image](https://user-images.githubusercontent.com/1004403/51601786-50bb0780-1f2b-11e9-93dd-6ec425a158f8.png)

[2019-01-23 10:57] #297 closed

[2019-01-24 19:18] nikolac opened #492 "[Enhancement] Possible to install or upgrade MyController via apt package manager?"
It would be much simpler and easier to upgrade MyController with apt. Not that the existing install method is that difficult, it would just be nice for it to follow a very common pattern.

[2019-01-25 21:22] jimmyEllis opened #493 "Adding lightlevel (lux) unit"
Is it possible to add a unit for lightlevel in lux as aposed to %

[2019-01-27 17:07] jkandasa commented on #492
@nikolac I do not know much about `apt` pattern. I will check this and let you know.

[2019-01-27 17:09] jkandasa commented on #490
@jpink  If your Gateways are MySensors gateway, you can run [serial2mqtt](https://github.com/mycontroller-org/serial2mqtt) adaptor on your PC's and target to a single MyController instance with multiple gateways.

[2019-01-27 17:11] jkandasa commented on #489
@jpink Thanks for the great idea! I do an investigation with MyController and let you know.

[2019-01-27 17:19] jkandasa commented on #487
@ycy1991 can you post your questions on [the forum?](https://forum.mycontroller.org/)

You can see your build under `mycontroller/dist/target/`,
Files: `mycontroller/dist/target/mycontroller-dist-standalone-1.4.0.Final-bundle.tar.gz` or `mycontroller/dist/target/mycontroller-dist-standalone-1.4.0.Final-bundle.zip`, extract either one and run it.

[2019-01-28 16:05] jpink commented on #490
That adapter seems to be just what I'm looking for. Thank you very much!

[2019-01-28 16:05] #490 closed

[2019-01-30 12:23] jpink commented on #477
Ack doesn't also work with my MyController - Embedded MQTT Broker - serial2mqtt adapter - USB - Arduino - Relay -setup. When I change switch state, I soon get following error:
![400](https://user-images.githubusercontent.com/4598272/51980917-240e6f00-249a-11e9-89ba-7c2c0055401f.png)
And the switch state doesn't chance. It changes automatically after 30 s by automatic refresh.

Earlier setup: MyCon

[2019-02-01 16:05] danielefrigo opened #494 "Adding notification on ack failure"
The controller log yet shows when a message ack is missing
It would be nice having the ability to receive these events as notifications, as an example configuring an operation in the gateway configuration page

[2019-02-08 03:13] mitchmitchell opened #495 "com.sun.management.internal.GarbageCollectorExtImpl.getLastGcInfo() inaccessible. module jdk.management does not "exports com.sun.management.internal" to unnamed module @28701274"
I am periodically seeing the following logged in the mycontroller log file:

`2019-02-07 21:08:10,615 ERROR [Acme.Utils.ThreadPool(2)-PooledThread: Acme.Serve.Serve$ServeConnection@55f9f447] [org.mycontroller.standalone.api.jaxrs.utils.StatusJVM:67] Error,
java.lang.reflect.InaccessibleObjectException: Unable to make public com.sun.management.GcInfo com.sun.management.internal.GarbageCollectorExtI

[2019-02-08 03:15] mitchmitchell commented on #482
I logged a similar issue:  https://github.com/mycontroller-org/mycontroller/issues/495

[2019-02-18 03:35] #337 closed

[2019-02-18 03:35] MacGyver1 commented on #337
Abandoned this project.

[2019-03-07 13:46] lejn commented on #393
Hi, I have the same issue also with the new "1.4.0.Final" version.
I am using Windows 10 and tested this in Firefox, Chrome, Edge browsers, all with the same result. After some time, the browser memory increases and tab crashes.

[2019-03-11 17:45] githubcdr opened #496 "Google Analytics disable still tries to load analytics"
Hi,

I noticed that I receive timeouts when reloading a page at random, after inspecting this issue I found that this code is still present and active even when disabling Google Analytics in the properties file;

[code]

Since I block Google analytics in DNS this seems to cause a long page load (5+ seconds), please note that I'm not 100% sure but previous versions did not have this issue.

[2019-03-14 08:20] nielbierman opened #497 "Adding units for water volume and flow"
Will it be possible to add the following units of measure to the variables:

Water Flow :          m^3/h (cubic meter per hour)  and l/h (liter per hour) and Kl/h (kilo liter per hour)
Water Volume :     m^3 (cubic meter) and l (liter) and Kl (kilo liter)

[2019-03-15 03:56] jkandasa commented on #496
@githubcdr can you clear cache on your browser and try again?

[2019-03-16 09:23] seant100 opened #498 "Set sensorvariable value on server only (without transmit)"
Refer : https://forum.mycontroller.org/topic/146/how-to-set-sensor-value-with-javascript/6

I have "virtual"/"fake" sensor variables which calculate percentage and litres based on the distance sent. I need to be able set those in javascript without MyController sending a payload. This is especially important with ACK enabled as when ACK is enabled it causes more issues.

Thanks

[2019-03-22 09:14] Ryanmt-Deep3 opened #499 "New operation to add support for pushover"
An enhancement not a bug, Pushover is a low cost push notification tool for desktop/ios/android etc https://pushover.net/

I was pondering writing a script to perform pushover messages but if the projects open to 3rd party PRs and would be interested it doesn't look too complicated for me to build it into the current list of operations and make a PR?

[2019-03-24 00:19] githubcdr commented on #496
Hi, I tried but this does not seem to resolv the issue, it might be related to the load on my docker host, I'll have to investigate.

[2019-04-09 10:34] jkandasa commented on #499
@Ryanmt-Deep3 you are welcome to submit a PR :)

[2019-04-09 10:37] jkandasa opened #500 "onetime reset file execution on startup"
For now, on MyController startup, we have only a password reset option.

The following option will be useful,
* purge sensor data
    [ ] - all
    [ ] - sensor
    [ ] - node
    [ ] - gateway
* reset battery data
    [ ] - all
    [ ] - node
* reset password
   [ ] - user/password

[2019-04-10 10:38] jkandasa commented on #148
we are not going to support control via pushbullet

[2019-04-10 10:38] #148 closed

[2019-04-10 10:39] jkandasa commented on #157
@WimVerhaert we may add this feature in 2.x, but we are not going to address this in 1.x version

[2019-04-10 10:39] #157 closed

[2019-04-10 10:41] jkandasa commented on #198
https://github.com/mycontroller-org/mycontroller/issues/473 may address part of the issue. we are not going to support fully in 1.x

[2019-04-10 10:41] #198 closed

[2019-04-10 10:43] jkandasa commented on #202
@Takero1978 if you still interested in this feature, reopen this issue

[2019-04-10 10:43] #202 closed

[2019-04-10 10:45] jkandasa commented on #342
if you guys still interested on this change, kindly reopen this issue

[2019-04-10 10:45] #342 closed

[2019-04-10 10:46] jkandasa commented on #341
Maybe we can add this in the next major restructure.

[2019-04-10 10:46] #341 closed

[2019-04-10 10:49] #339 closed

[2019-04-10 10:50] jkandasa commented on #333
seems creator not interested anymore on this issue.

[2019-04-10 10:50] #333 closed

[2019-04-10 10:51] jkandasa commented on #332
we are not going to implement this feature in 1.x

[2019-04-10 10:51] #332 closed

[2019-04-10 10:52] jkandasa commented on #330
@devicter we are not going to add this feature in 1.x

[2019-04-10 10:52] #330 closed

[2019-04-24 03:16] mtiutiu opened #501 "sendRawMessage REST API call for smart sleep nodes"
It seems that the sendRawMessage REST api call doesn't take into account smart sleep enabled nodes. From the tests that I did so far it just seems to send the message right away without putting it into the waiting queue.

Environment used:
 1. MySensors back-end with a serial gateway
 2. MyController version 1.4.0.

[2019-04-24 04:38] jkandasa commented on #501
@mtiutiu I have updated in [SNAPSHOT](https://drive.google.com/drive/u/0/folders/0BzuumrtRA7p6Z0hCX2V6cVh2ckU) version, could you please confirm?

[2019-04-25 06:59] mtiutiu commented on #501
@jkandasa
Tested and it works as expected now!! This ticket can be closed now. Thanks.

[2019-04-25 06:59] #501 closed

[2019-07-02 09:30] aneantisor opened #502 "hybrid sleep"
on a solar/batterie powered node, i execute kind of hybrid sleep.
Arduino actually control the charge, so it check the voltage every 4 second and sleep beetween this.
Every 2 minutes, the node send the sensors value and then i execute a smartsleep.
I use smartsleep to send firmware update, and i can change the charging voltage to.
MYSController actually wait for the pre sleep message and it work e

[2019-07-04 13:30] jkandasa commented on #502
@aneantisor can you increase [MY_SMART_SLEEP_WAIT_DURATION_MS](https://github.com/mysensors/MySensors/blob/2.3.1/MyConfig.h#L1223)? may be `1000`?

[2019-07-04 21:28] aneantisor commented on #502
It was that. I updated the node and set MY_SMART_SLEEP_WAIT_DURATION_MS 2000. And now it's perfectly working. Thank you

[2019-07-05 02:23] jkandasa commented on #502
@aneantisor please note. now your node consumes more power. As it awakes 2000ms instance of 500ms

[2019-07-05 02:26] #502 closed

[2019-07-12 12:00] #500 closed

[2019-07-12 12:01] #487 closed

[2019-07-30 13:56] gnomex commented on #482
I'm having the same issue

[code]

running on ubuntu with openjdk 11.0.3

[2019-09-01 10:42] bmanos opened #503 "My sensors Names disappering every time"
Hello @jkandasa  as I said to the forum I have the following issue
I change the name of my sensors from ex:1.1 to Temperature and after a while the 1.1 appears again.
You told me that this is the normal behavior but it would be nice once the sensors are discovered and you set some values like the name to be able to keep them and not to have to enter them each time.
Thanks Emmanuel

[2019-09-07 06:06] aneantisor commented on #503
Did you give a name in the MySensors arduino sketch? Because every time a node restart, it or every time a presentation request occurs, it erase the name entered in mycontroller, and if you did not set a name in the sketch, it simply replace it by nothing.

[2019-09-26 20:51] seant100 commented on #503
see : https://github.com/mycontroller-org/mycontroller/issues/464

[2019-11-23 19:46] Emmpunkt commented on #482
Any News on this?

[2019-11-25 01:48] jkandasa commented on #482
@Emmpunkt Planing to start version 2.x in the near future. So no plan to upgrade to Java 11.
However, pull requests are welcome.

If you need a docker image with version openjdk 1.8, let me know I can produce a docker image.

[2019-12-08 20:10] Jordan-Szwejda commented on #484
I also experienced such problems on my RPI. At certain point of time mycontroller started eating all CPU time. Mycontroller's web server became unresponsive because of that. It looked like problem with corrupted database. I transferred this database into my laptop and there also observed significantly high CPU consumption on a temporarily configured mycontroller. I did not succeed in recovering th

[2019-12-11 05:42] jkandasa commented on #361
I have added an export feature on 1.5.0 version

[2019-12-11 05:42] #361 closed

[2019-12-26 11:09] ProudElm opened #505 "New metric unit"
Hello,

Is it possible to add gigajoule (GJ) as unit? Perhaps to make thins nicer also Megajoule (MJ) and Joule (J) it self?
I'm not sure if i can add them myself?

[2020-01-04 21:16] herm opened #506 "start.sh fails for Java versions != 1.8"
The version check in start.sh fails for OpenJDK:
[code]
OpenJDK seems to be unsupported but the error message could be clearer.

[code]

[2020-01-06 04:33] jkandasa commented on #506
@herm MyController does not support java > 1.8.
What is your OS?

[2020-01-06 14:45] herm commented on #506
I also figured out that everything > 1.8 does not work. It works fine with OpenJDK 8.

However the version check and the statement in the README is misleading.
The version check in start.sh say "Mycontroller.org server required java version 1.7 or later".
The [README](https://github.com/mycontroller-org/mycontroller/blob/development/README.adoc) says "Java : 1.8 or later".
And it seems like the ac

[2020-01-06 15:13] jkandasa commented on #506
@herm ah thanks! I will update the doc/start.sh file

[2020-03-09 03:29] Avamander opened #507 "Folder creation issues should be FATAL"
For example `03:27:36.187 [main] ERROR org.mycontroller.standalone.AppProperties - Unable to create directory location: /var/www/html/_configurations` should probably be FATAL because it's a showstopper to the operation of mycontroller.

Thanks again for the work, I still like mycontroller over a lot of other solutions.

[2020-03-14 09:23] HiFiJ commented on #342
Hi everyone,

I second this (a last seen status on the dashboard) strongly.
Just my personal use case: I am learning MySensors and building own PCBs/sensors and am constantly interested in the stability of the sensor network (e.g. as I test different battery options/PMICs/antenna designs and so on) and find myself constantly tapping on my phone to get into the node details to check if the nodes ar

[2020-04-10 07:34] potier97 commented on #482
Hola tengo el mismo error y me dice que mi version tiene que ser 1.7 o mayor. Y yo tengo la versión 11. Cómo se podria arreglar eso? Gracias

[2020-05-04 19:33] zoomx opened #508 "RFlink WINDIR message generate a Java NumberFormatException: Infinite or NaN"
I get this error
2020-05-04 18:56:15,612 ERROR [Thread-27] [org.mycontroller.standalone.gateway.serial.SerialDataListenerjSerialComm:201] Exception, RawMessage:[20;25;Alecto V1;ID=0005;WINDIR=0008;WINGS=0005;BAT=OK;\r]
java.lang.NumberFormatException: Infinite or NaN
	at java.math.BigDecimal.<init>(BigDecimal.java:898)
	at java.math.BigDecimal.<init>(BigDecimal.java:875)
	at org.mycontroller.stand

[2020-06-26 02:08] jkandasa opened #509 "GPS Sensor values not formatted correctly."
Source: https://forum.mycontroller.org/topic/143/no-position-or-time-from-mysensors-gps-sensor/7

I ran into the same issue.
the format is correct and the serial gateway receives and acknowledge correctly:
[code]
I have edited the real location on purpose, but I guarantee that they are correct.

-----

I have some additional information.

I added a S_INFO child to the GPS sensor and sent the posit

[2020-06-27 00:13] gothormr commented on #503
The same here. Using `"nameLocked":true` in the node properties, successfully lock the node name, but I find no way to lock sensors names.
[code]

[2020-07-23 19:39] danielefrigo opened #510 "Adding "timeout" on sensor variables or nodes"
It would be nice to have a configurable "timeout" on sensors variables (or maybe even at node level) and automatically void variable value after that timeout.
The idea is: I know that my Arduino node should send updates every X minutes, if after Y minutes (greater than X) I did not receive a new value, then this means there's some issue on the node or the gw, but anyway that value is not up to dat

[2020-09-06 17:08] jkandasa opened #511 "Remove default limit on dropdown list size"
Source: https://forum.mycontroller.org/topic/468/forward-payload-list-too-short

[2020-09-06 17:48] #506 closed, assigned to nobody

[2020-09-07 02:55] jkandasa commented on #511
Confirmed by the requester. works as expected.

[2020-09-07 02:55] #511 closed, assigned to jkandasa

[2021-01-24 11:17] Jordan-Szwejda opened #512 "Ethernet driver is going down in case of NumberFormatException"
Hi,

At very beginning I would like to say thank you for you excellent work. I have been using mycontroller for a few years for doing my simple home automation by using mysensors with nrf23l01 module and esp8266. Among many other home automation controllers I appreciate that your controller is written in java and the code is very tidy. Perfect job, congratulations!!

Recently I have been working o

[2021-01-25 10:20] jkandasa commented on #512
@Jordan-Szwejda Thanks for the words about MyController and to be a community member of MyController.
And thanks for your fix.
I would say if you create pull request with your changes.
You will be in MyController contribution history.
If you need a help to create PR: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2021-01-25 17:24] Jordan-Szwejda commented on #512
Done. Pull Request:
https://github.com/mycontroller-org/mycontroller-v1-legacy/pull/513

[2021-01-26 00:53] #512 closed, assigned to nobody

[2021-05-25 10:38] coderpop commented on #420
Works well here - thank you very much for adding this feature!

[2022-11-28 15:29] #482 closed

[2022-11-28 15:32] #507 closed, assigned to jkandasa